<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout/sub_layout.html}">
<body>
    <div layout:fragment="content">   

        <main class="sub press-view">
            <div class="board board-type1">
              <div class="column">
                <h1>Press</h1>
                <p class="desc">
                  한화로보틱스가 만들어가는<br />더 나은 세상을 보여드립니다
                </p>
              </div>
        
              <div class="column">
                <div class="board_title"></div>
                <div class="board_date"></div>
                <div class="board_contents"></div>
        
                <div class="board_files"></div>
        
                <div class="board_prev">
                    <a href="javascript:history.back()" >
                      목록으로
                    </a>
                </div>
              </div>
            </div>
          </main>
    </div>

</body>

    <th:block layout:fragment="script">
        <script>  
            $(document).ready(function () {  
              getData(); 
            }); 

            function getData(){
              var paths = window.location.pathname.split('/')

              COMM.ajax({
                url : "/newsroom/notice/" + paths[paths.length-1],
                success : function(data) {
                  if(data.code === 200){
                        console.log(data)
                        if(data.data == null){
                            alert("해당 게시물은 존재하지 않습니다.");
                            window.history.back();
                        }else{
                            $('.board_title').html(data.data.title);
                            $('.board_date').html(data.data.createDt.replaceAll('-','.'));
                            $('.board_contents').html(data.data.content);

                            if(data.data.files != null && data.data.files.length > 0){
                                var template = $("#files-tmpl").html();
                                var rendered = Mustache.render(template, {'list' : data.data.files});
                                $('.board_files').html(rendered);
                            }
                        }
                  }
                },
                error : function(jqXHR, textStatus, errorThrown){
                  console.log(jqXHR.status, jqXHR);
                }
              });
            }
        </script>
    </th:block>
</html>