<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout/sub_layout.html}">
<body>
    <div layout:fragment="content">   

        
        
    <main class="sub press-list">
        <div class="board board-type1">
        <div class="column">
            <h1>Press</h1>
            <p class="desc">
            한화로보틱스가 만들어가는<br />더 나은 세상을 보여드립니다
            </p>
        </div>

        <div class="column board_list">
            <div class="thumbs">
                <div class="thumb">
                    <div class="thumb_wrap">
                        <div class="thumb_title" style="min-width:350px"></div>
                        <div class="thumb_contents" style="margin-left:20px">조회 결과가 없습니다.</div>
                        <div class="thumb_title" ></div>
                    </div>
                </div>
            </div>

            <div class="paging">
            </div>
        </div>
        </div>
    </main>       


        <form id="form" >
            <input type="hidden" name="size" id="size"  value="10"/>
            <input type="hidden" name="page" id="page"  value="1"/>
        </form>

        <script id="list-tmpl" type="x-tmpl-mustache" class="hide">
            {{#list}}
                <div class="thumb">
                    <a href="/newsroom/press/{{newsroomNo}}" >
                        <div class="thumb_wrap">
                            <div class="thumb_title">{{title}} </div>
                            <div class="thumb_contents">{{{content}}}</div>
                            <div class="thumb_date">{{createDt}}</div>
                        </div>
                        {{#filePath}}
                            <div class="thumb_img">
                                <img src="{{filePath}}" alt="" />
                            </div>
                        {{/filePath}}
                    </a>
                </div>
            {{/list}}
            {{^list}}
                <div class="thumbs">
                    <div class="thumb">
                        <div class="thumb_wrap">
                            <div class="thumb_title" style="min-width:350px"></div>
                            <div class="thumb_contents" style="margin-left:20px">조회 결과가 없습니다.</div>
                            <div class="thumb_title" ></div>
                        </div>
                    </div>
                </div>
            {{/list}}
        </script>

    </div>

</body>

    <th:block layout:fragment="script">
        <script>  
            $(document).ready(function () {   
                    //뒤로가기 or 새로고침시 검색어 유지 
                    setQueryStringParams();
                    getList(); 
            }); 

            function getList(page){
                if(typeof page != "undefined" && page != null) $('#page').val(page);
                
                COMM.ajaxPagingList({
                        url : "/newsroom/press"
                    },
                    function success(data){
                        // console.log(data)
                        var template = $("#list-tmpl").html();
                        var rendered = Mustache.render(template, {'list' : data.contents});
                        $('.thumbs').html(rendered);

                        if(data.totalElements != 0){
                            setPagination(data, $('.paging'));
                        }

                    }
                );

            }
        </script>
    </th:block>
</html>