<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body data-gnb-target="robot">
<div layout:fragment="content">

    <main class="sub products robots">
        <section class="section_1">
            <div class="group group1">
                <div class="title" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">Products</div>
                <div class="txt1" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">
                    한화로보틱스의 HCR 시리즈는 정밀 설계, <br/>제어 기술 기반의 고품격 협동로봇 브랜드입니다.
                </div>
            </div>
            <button type="button" class="inquiry products">
                구매/견적 문의
                <span><strong>+</strong></span>
            </button>
        </section>

        <aside class="products-main-bg">
            <picture>
                <source srcset="../images/pc/robots_main_bg_mobile@3x.webp" media="(max-width: 765px)" />
                <img src="../images/pc/robots_main_bg@3x.webp" alt="" />
            </picture>
        </aside>

        <section class="products-section2">
            <div class="products-section2-title">
                <div class="products-section2-title-item">
                    <div>
                        <h2>Cobot</h2>
                    </div>
                    <p>
                        협동로봇은 사람과 같은 작업 공간을 공유할 수 있는 로봇입니다. 작업자 보호를 위해 안전펜스를 설치해야 하는 산업용 로봇과 달리 협동로봇은 펜스 설치가 최소화되거나 필요하지 않아 작업의 공간, 공정 및 시간 효율성을 높일 수 있습니다.
                    </p>
                </div>
                <div class="products-section2-title-item">
                    <div>
                        <h2>HCR</h2>
                        <span>(Hanwha Collaborative Robots)</span>
                    </div>
                    <p>
                        한화로보틱스의 HCR은 한화로보틱스의 정밀 설계, 제어 기술 기반의 고품격 협동로봇 브랜드입니다.<br/>
                        다양한 산업 분야에서 자동화를 지원하는 신뢰성 높은 제품과 솔루션을 제공하고 있습니다.
                    </p>
                </div>
            </div>
            <div class="products-section2-contents">
                <div class="robots-section2-slider">
                    <div class="robots-slider-item">
                        <div class="robots-slider-item-wrapper">
                            <a href="/robot/hcr-3a" class="robots-slider-item-text">
                                <span>HCR-3A</span>
                                <img src="../images/pc/ic_robots_arrow.svg" alt="" />
                            </a>
                            <div class="robots-slider-item-img">
                                <img src="../images/pc/robots_list_3a.webp" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="robots-slider-item">
                        <div class="robots-slider-item-wrapper">
                            <a href="/robot/hcr-5a" class="robots-slider-item-text">
                                <span>HCR-5A</span>
                                <img src="../images/pc/ic_robots_arrow.svg" alt="" />
                            </a>
                            <div class="robots-slider-item-img">
                                <img src="../images/pc/robots_list_5a.webp" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="robots-slider-item">
                        <div class="robots-slider-item-wrapper">
                            <a href="/robot/hcr-12a" class="robots-slider-item-text">
                                <span>HCR-12A</span>
                                <img src="../images/pc/ic_robots_arrow.svg" alt="" />
                            </a>
                            <div class="robots-slider-item-img">
                                <img src="../images/pc/robots_list_12a.webp" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="robots-slider-item">
                        <div class="robots-slider-item-wrapper">
                            <a href="/robot/hcr-14" class="robots-slider-item-text">
                                <span>HCR-14</span>
                                <img src="../images/pc/ic_robots_arrow.svg" alt="" />
                            </a>
                            <div class="robots-slider-item-img">
                                <img src="../images/pc/robots_list_14.webp" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="products-section3 robots">
            <div class="products-section3-title">
                <h2>왜 한화 HCR을 선택해야 할까요?</h2>
            </div>
            <div class="robots-section3-content">
                <div class="robots-section3-certi-wrapper">
                    <div class="robots-section3-certi">
                        <div class="robots-section3-certi-top">
                            <h5>품질 및 내구성</h5>
                            <img src="../images/pc/robots_certi_01.svg" alt="" />
                        </div>
                        <p class="robots-section3-certi-text">
                            하이엔드 감속기, 검증된 부품 및 메탈 소재를 적용하여 높은 신뢰성 확보
                        </p>
                    </div>
                    <div class="robots-section3-certi">
                        <div class="robots-section3-certi-top">
                            <h5>높은 정밀도 및 사용성</h5>
                            <img src="../images/pc/robots_certi_02.svg" alt="" />
                        </div>
                        <p class="robots-section3-certi-text">
                            자체 개발한 제어 및 운영 SW를 기반으로 높은 제어 성능과 유연한 운용 환경 제공
                        </p>
                    </div>
                    <div class="robots-section3-certi">
                        <div class="robots-section3-certi-top">
                            <h5>안전/환경 인증</h5>
                            <img src="../images/pc/robots_certi_03.svg" alt="" />
                        </div>
                        <p class="robots-section3-certi-text">
                            국내외 안전 인증 및 협동로봇 중 가장 높은 등급 (ISO Class 2)의 클린룸 인증 획득
                        </p>
                    </div>
                </div>
                <div class="robots-section3-bottom">
                    <h3 class="robots-section3-bottom-title">HCR과 함께 제공하는 한화로보틱스의 첨단 기술력을<br/> 적용해 자동화 효율을 높여 보세요.</h3>
                    <div class="robots-section3-certi-wrapper">
                        <div class="robots-section3-certi">
                            <div class="robots-section3-certi-top">
                                <h5>RAIV(Robot AI Vision)</h5>
                                <img src="../images/pc/robots_certi_04.svg" alt="" />
                            </div>
                            <p class="robots-section3-certi-text">
                                AI 및 딥러닝 기반의 3D Vision 솔루션으로 다양한 크기와 형태의 물체 인식 가능
                            </p>
                        </div>
                        <div class="robots-section3-certi">
                            <div class="robots-section3-certi-top">
                                <h5>Visual Safety</h5>
                                <img src="../images/pc/robots_certi_05.svg" alt="" />
                            </div>
                            <p class="robots-section3-certi-text">
                                이중화된 3D 카메라와 기능 안전을 기반으로 펜스 없이 안전하게 로봇 구동
                            </p>
                        </div>
                        <div class="robots-section3-certi">
                            <div class="robots-section3-certi-top">
                                <h5>2D Marker Positioning</h5>
                                <img src="../images/pc/robots_certi_06.svg" alt="" />
                            </div>
                            <p class="robots-section3-certi-text">
                                2D 비전과 마커를 기반으로 이동식 협동로봇에서 로봇암의 위치 보정
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="robots-section4">
            <h3>Application</h3>
            <div class="robots-section4-slider">
                <div class="robots-section4-slider-item">
                    <div>
                        <img src="../images/pc/robots_application_item_01.webp" alt="" />
                        <p>Assembly</p>
                    </div>
                </div>
                <div class="robots-section4-slider-item">
                    <div>
                        <img src="../images/pc/robots_application_item_02.webp" alt="" />
                        <p>Mold Handling</p>
                    </div>
                </div>
                <div class="robots-section4-slider-item">
                    <div>
                        <img src="../images/pc/robots_application_item_10.webp" alt="" />
                        <p>Dispensing</p>
                    </div>
                </div>
                <div class="robots-section4-slider-item">
                    <div>
                        <img src="../images/pc/robots_application_item_03.webp" alt="" />
                        <p>Packaging</p>
                    </div>
                </div>
                <div class="robots-section4-slider-item">
                    <div>
                        <img src="../images/pc/robots_application_item_11.webp" alt="" />
                        <p>Food & Beverage</p>
                    </div>
                </div>
                <div class="robots-section4-slider-item">
                    <div>
                        <img src="../images/pc/robots_application_item_03.webp" alt="" />
                        <p>Palletizing</p>
                    </div>
                </div>
                <div class="robots-section4-slider-item">
                    <div>
                        <img src="../images/pc/robots_application_item_04.webp" alt="" />
                        <p>Inspection</p>
                    </div>
                </div>
                <div class="robots-section4-slider-item">
                    <div>
                        <img src="../images/pc/robots_application_item_05.webp" alt="" />
                        <p>Pick & Place</p>
                    </div>
                </div>
                <div class="robots-section4-slider-item">
                    <div>
                        <img src="../images/pc/robots_application_item_06.webp" alt="" />
                        <p>Machine Tending</p>
                    </div>
                </div>
                <div class="robots-section4-slider-item">
                    <div>
                        <img src="../images/pc/robots_application_item_07.webp" alt="" />
                        <p>Polishing/Grinding</p>
                    </div>
                </div>
                <div class="robots-section4-slider-item">
                    <div>
                        <img src="../images/pc/robots_application_item_12.webp" alt="" />
                        <p>Welding</p>
                    </div>
                </div>
                <div class="robots-section4-slider-item empty">
                    <div>
                        <div></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="robots-section5">
            <div class="robots-section5-title">
                <h3>Case Studies</h3>
                <div>
                    <p>한화 협동로봇 HCR의<br/>
                        다양한 실제 사용 사례가 알고 싶으신가요?</p>
                    <button type="button" class="inquiry products robots">
                        Case studies
                        <span><strong>+</strong></span>
                    </button>
                </div>
            </div>
            <div class="robots-case-studies-content">
                <div class="robots-case-studies-item">
                    <div class="robots-case-studies-item-text">
                        <h3>팔레트 적재</h3>
                        <p>팔레트 적재는 제품을 전용 케이스 위에 정렬하여 쌓는 공정입니다.</p>
                    </div>
                </div>
                <div class="robots-case-studies-item">
                    <div class="robots-case-studies-item-text">
                        <h3>폴리싱</h3>
                        <p>폴리싱 공정은 금속 가공, 가구 제작 등에서 품질을 결정하는 중요한 공정입니다.</p>
                    </div>
                </div>
                <div class="robots-case-studies-item">
                    <div class="robots-case-studies-item-text">
                        <h3>포장</h3>
                        <p>다양한 규격의 제품포장이 가능하며, 빠르고 정확하게 수행하여 포장의 생산성 및 품질을 향상시킵니다.</p>
                    </div>
                </div>
            </div>
        </section>

        <a href="/contact/inquiry" class="products-inquiry-link">
            <span>구매/견적 문의</span>
        </a>
    </main>






</div>
</body>

</html>