<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body data-gnb-target="robot">
  <div layout:fragment="content">

  <main class="sub products solutions" th:if="#{header.nation} == 'EN'">
    <section class="section_1">
      <div class="group group1">
        <div class="title" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">Solutions</div>
        <div class="txt1" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">
          다양한 산업 분야에서 자동화를 지원하는 <br/>신뢰성 높은 솔루션을 만나보세요.
        </div>
      </div>
    </section>

    <section class="solutions-content">
      <div class="solutions-content-item">
        <div class="solutions-content-item-text">
          <div class="solutions-content-item-title">
            <h2>RAIV <span>(Robot AI Vision)</span></h2>
            <p>자체 개발한 AI 및 딥러닝 기반 Vision 솔루션으로 다양한 물체를 Pick & Place 하는 작업이 가능합니다.</p>
          </div>
          <ul class="solutions-content-item-list">
            <li><span>▪︎</span>AI RGBD Preprocessing: AI를 활용, RGB 이미지를 기반으로 거리 정보를 파악하는 RGBD(RGB depth) 기술을 활용해 데이터를 최적화할 수 있습니다.</li>
            <li><span>▪︎</span>AI Bin Picking: 물체의 3D 이미지를 학습한 AI를 활용해 다양한 형태의 물체를 Pick & Place 할 수 있습니다.</li>
            <li><span>▪︎</span>3D Model Picking: 3D 모델링 데이터를 활용해 물체를 분석, 지정된 위치를 Picking하여 물체를 쉽게 정렬할 수 있습니다.</li>
          </ul>
        </div>
        <div class="solutions-content-item-icon">
          <img src="../images/pc/solutions_item_01.svg" alt="" />
        </div>
      </div>
      <div class="solutions-content-item">
        <div class="solutions-content-item-text">
          <div class="solutions-content-item-title">
            <h2>Visual Safety</h2>
          </div>
          <ul class="solutions-content-item-list">
            <li><span>▪︎</span>이중화된 3D 카메라와 기능 안전(Functional Safety)을 기반으로 가상의 안전 펜스를 구축하여 효과적으로 공간을 관리하고 작업자의 안전을 지킬 수 있습니다.</li>
            <li><span>▪︎</span>로봇 중심으로부터의 거리를 기준으로 로봇의 동작 속도를 늦추는 Yellow Zone, 로봇을 정지시키는 Red Zone을 설정해 안전사고를 예방할 수 있습니다.</li>
          </ul>
        </div>
        <div class="solutions-content-item-icon">
          <img src="../images/pc/solutions_item_02.svg" alt="" />
        </div>
      </div>
      <div class="solutions-content-item">
        <div class="solutions-content-item-text">
          <div class="solutions-content-item-title">
            <h2>2D Marker <br/>Positioning</h2>
          </div>
          <ul class="solutions-content-item-list">
            <li><span>▪︎</span>이동식 협동로봇(Mobile Manipulator, 모바일 로봇에 협동로봇을 장착)으로 작업을 수행하는 경우 매번 같은 위치로의 정차가 까다로워 동일한 작업의 반복 수행이 어렵습니다. 한화로보틱스의 이동식 협동로봇은 2D 비전을 활용하여 X, Y, Z의 3차원 좌표뿐만 아니라 축별 회전 각도를 인식해 동일한 위치에서의 정밀 작업이 가능합니다.</li>
          </ul>
        </div>
        <div class="solutions-content-item-icon">
          <img src="../images/pc/solutions_item_03.svg" alt="" />
        </div>
      </div>
    </section>
  </main>


    <main class="sub products solutions" th:unless="#{header.nation} == 'EN'">
      <section class="section_1">
        <div class="group group1">
          <div class="title" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">Solutions</div>
          <div class="txt1" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">
            Discover reliable solutions that support<br/>
            automation in various industries.
          </div>
        </div>
      </section>

      <section class="solutions-content">
        <div class="solutions-content-item">
          <div class="solutions-content-item-text">
            <div class="solutions-content-item-title">
              <h2>RAIV <span>(Robot AI Vision)</span></h2>
              <p>Utilizing AI and deep learning-based vision solutions developed by Hanwha Robotics, RAIV feature enables the pick and place jobs of various objects.</p>
            </div>
            <ul class="solutions-content-item-list">
              <li><span>▪︎</span>AI RGBD Preprocessing: Leveraging AI, this technology optimizes data using RGBD (RGB depth), a technique that measures distance information based on RGB images.</li>
              <li><span>▪︎</span>AI Bin Picking: Using AI trained on the 3D images of objects, RAIV can pick and place objects of various shapes.</li>
              <li><span>▪︎</span>3D Model Picking: By analyzing objects using 3D modeling data, RAIV can easily arrange objects by picking them at specified locations.</li>
            </ul>
          </div>
          <div class="solutions-content-item-icon">
            <img src="../images/pc/solutions_item_01.svg" alt="" />
          </div>
        </div>
        <div class="solutions-content-item">
          <div class="solutions-content-item-text">
            <div class="solutions-content-item-title">
              <h2>Visual Safety</h2>
              <p>By employing dual 3D cameras and functional safety features, Visual Safety establishes a virtual safety fence, effectively managing the workspace and ensuring the safety of workers. This feature helps prevent accidents in the working environment.</p>
            </div>
            <ul class="solutions-content-item-list">
              <li><span>▪︎</span>Yellow Zone: A zone that slows down the robot's movement speed based on the distance from the robot's center, providing an early warning area.</li>
              <li><span>▪︎</span>Red Zone: A zone that triggers a complete stop of the robot, acting as an emergency stop area.</li>
            </ul>
          </div>
          <div class="solutions-content-item-icon">
            <img src="../images/pc/solutions_item_02.svg" alt="" />
          </div>
        </div>
        <div class="solutions-content-item">
          <div class="solutions-content-item-text">
            <div class="solutions-content-item-title">
              <h2>2D Marker <br/>Positioning</h2>
            </div>
            <ul class="solutions-content-item-list">
              <li><span>▪︎</span>When performing tasks with a Mobile Manipulator (a mobile robot equipped with a collaborative robot), it is challenging to stop at the exact same position for repetitive tasks. Hanwha Robotics' Mobile Manipulator utilizes 2D vision not only to recognize 3 dimensional coordinates (X, Y, Z) but also to identify rotational angles of each axis. This feature allows for precise operations at the same location, enabling the sophisticated operations at the consistent stopping point.</li>
            </ul>
          </div>
          <div class="solutions-content-item-icon">
            <img src="../images/pc/solutions_item_03.svg" alt="" />
          </div>
        </div>
      </section>
    </main>




  </div>
</body>

</html>