
<html lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="aside(asideId)">
<aside th:id="${asideId}">
   <div class="more_btn">
      <button class="inquiry" onclick="layerInquiryBtn()" th:utext="#{inquiry}"></button>
      <a class="distributor" onclick="layerInquiryBtn(1)" th:utext="#{distributor}"></a>
      <!-- <button class="inquiry" onclick="layerInquiryBtn()">
         문의하기
      </button>
      <a class="distributor" onclick="layerInquiryBtn(1)">
         대리점 모집
      </a> -->
   </div>
</aside>
</html>
