
<html lagn="ko" 
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="commonHead">

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
        <meta name="google-site-verification" content="wqf8tEmY7_34-_37qAtBLT3-Sv-0DcLkfVzqEQSEXbQ" />
        
        <title>한화로보틱스</title>
        <link rel="shortcut icon" th:href="@{/images/favicon.png}">
        
        <link rel="preconnect" href="https://ajax.googleapis.com" />
        <link rel="preconnect" href="https://cdn.jsdelivr.net" crossOrigin="anonymous" />
        <link rel="preconnect" href="https://fonts.googleapis.com" crossOrigin="anonymous" />
        
        <meta name="description" content="한화로보틱스는 기술 품질과 신뢰를 경영의 제1원칙으로 설정해 미래를 내다보는 차별화된 기술과 솔루션을 제공하겠습니다." />
        <meta name="keywords" content="한화로보틱스" />
        
        <meta property="og:title" content="한화로보틱스" />
        <meta property="og:description" content="한화로보틱스는 기술 품질과 신뢰를 경영의 제1원칙으로 설정해 미래를 내다보는 차별화된 기술과 솔루션을 제공하겠습니다." />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        
        <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />
        
        <script text="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <script text="text/javascript" th:src="@{/utils/common.js}"></script>
        <script text="text/javascript" th:src="@{/utils/mustache.min.js}"></script>
</html>