<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="header(headerClass)">
<header id="header" th:class="${headerClass}">
  <!-- th:fragment = header()함수, th:fragment="header(headerClass)의 headerClass와 <header id="header" th:class="${headerClass}"> 의 headerClass 맞춰줌. 왜 한 거지??? sub_layout.htmldml header('sub_header')"로 두 개의 html을 만들지 않고 클래스만 지정해줘서 하나의 html로 해결하기 위해.
    common.js 보면 $('header .gnb_layer').addClass('active');처럼 그냥 header를 호출해서 js 적용하고 있음. 그래서 header태그를 넣어줘야 함. -->
  <div class="header_wrapper">
    <div class="header_inner">
      <div class="logo">
        <a href="/" class="logo_link">
          <!-- <span>한화로보틱스</span> -->
          <span th:utext="#{hanwharobotics.large}"></span>
        </a>

        <div class="txt">
          <!-- <a href="/contact/inquiry" >
            한화로보틱스와 함께 할 파트너를 찾습니다.
            <span>
              more
              <strong></strong>
            </span>
          </a> -->
          <a href="/contact/inquiry" th:utext="#{header.banner}"></a>
        </div>
      </div>

      <div class="gnb_layer"></div>

      <div class="gnb_right">
        <div class="gnb_menu">
          <div class="logo">
            <a href="/" class="logo_link">
              <!-- <span>한화로보틱스</span> -->
              <span th:utext="#{hanwharobotics.large}"></span>
            </a>
          </div>

          <button class="btn_close">
            <span></span>
          </button>

          <ul class="header__nav__items">
            <li>
              <!-- <a class="header__nav__link active" href="/about.html" target="_blank">ABOUT</a> -->
              <span class="header__nav__link" data-gnb="about">ABOUT</span>

              <ul class="header__nav__items_sub">
                <li>
                  <a href="/about" class="header_about" th:utext="#{header.hanwharobotics}"></a>
                  <!-- <a href="/about" class="header_about">한화로보틱스</a> -->
                </li>
                <li>
                  <a href="/about/managementPolicy" class="header_about"
                     th:utext="#{header.managementPolicy}"></a>
                  <!-- <a href="/about" class="header_about">경영방침</a> -->
                </li>
                <li>
                  <a href="https://www.hanwhain.com" target="_blank">Recruit</a>
                </li>
                <!-- <li>
                  <a href="#" target="_blank">연혁</a>
                </li>
                <li>
                  <a href="#" target="_blank">경영</a>
                </li>
                <li>
                  <a href="#" target="_blank">채용</a>
                </li> -->
              </ul>
            </li>
            <li>
              <span class="header__nav__link" data-gnb="robot">ROBOT</span>
              <ul class="header__nav__items_sub">
                <li>
                  <a href="javascript:void(0)"
                     onclick="window.location.href='/robot'">Products</a>
                  <!--                                    <a th:unless="#{header.nation} == 'EN'" href="javscript:void(0)"-->
                  <!--                                       onclick="window.open('about:blank').location.href='https://o.hanwharobotics.com/'"-->
                  <!--                                       target="_blank">Products</a>-->
                </li>
                <li>
                  <a href="/robot/solutions">Solutions</a>
                </li>
                <li>
                  <a href="/eco/main">Ecosystem</a>
                </li>
                <!-- <li>
                  <a href="#" target="_blank">Case Study</a>
                </li> -->
              </ul>
            </li>

            <li>
              <span class="header__nav__link" data-gnb="agv/amr">AGV/AMR</span>

              <ul class="header__nav__items_sub">
                <li>
                  <a href="javascript:void(0)"
                     onclick="window.location.href='/agv-amr'">Products</a>

                </li>
                <!-- <li>
                  <a href="#" target="_blank">Case Study</a>
                </li> -->
              </ul>
            </li>


            <li>
              <!-- <a class="header__nav__link" href="/newroom.html" target="_blank">NEWSROOM</a> -->
              <span class="header__nav__link" data-gnb="newsroom">NEWSROOM</span>

              <ul class="header__nav__items_sub">
                <li>
                  <a href="/newsroom/press" class="header_press">Press</a>
                </li>
                <li>
                  <a href="/newsroom/ir" class="header_ir">IR</a>
                </li>
                <li>
                  <a href="/newsroom/notice" class="header_notice">Notice</a>
                </li>
              </ul>
            </li>
            <li>
              <!-- <a class="header__nav__link" href="/newroom.html" target="_blank">CONTACT</a> -->
              <span class="header__nav__link" data-gnb="contact">CONTACT</span>

              <ul class="header__nav__items_sub">
                <li>
                  <a href="/contact/inquiry" class="header_inquiry">Sales Inquiry</a>
                </li>

                <li>
                  <a href="/qna" class="header_inquiry">Q&A</a>
                </li>
              </ul>


          </ul>
        </div>

        <a href="/login-page" th:if="${#request.userPrincipal == null}">

                        <span class="login">
                            <span>login</span>
                        </span>

        </a>


        <span class="login" th:if="${#request.userPrincipal != null}">
                        <span>login</span>

                        <span class="login-tooltip" th:if="${#request.userPrincipal != null}">
                            <div class="login-tooltip-content">
                              <a href="/member/profile"
                                 th:text="#{header.nation} == 'EN' ? '마이페이지' : 'View Profile'"></a>
                              <div></div>
                              <button onclick="window.location.href='/member/logout'" type="button"
                                      th:text="#{header.nation} == 'EN' ? '로그아웃' : 'Sign Out'"></button>
                            </div>
                        </span>
                    </span>


        <a class="selected_country" id="languageSelect" th:if="#{header.nation} == 'EN'" value="en">
          <!-- <a><span id="languageSelect">국가</span></a> -->
          <span th:utext="#{header.nation}"></span>
        </a>
        <a class="selected_country" id="languageSelect" th:unless="#{header.nation} == 'EN'"
           value="ko">
          <span th:utext="#{header.nation}"></span>
        </a>

        <div class="btn_menu">
          <button>
            <div class="icon-top"></div>
            <div class="icon-bottom"></div>
          </button>
        </div>
      </div>

    </div>
    <script>


      var allowedEnDomains = [
        'https://hanwharobotics.com:8090/',
        'https://hanwharobotics.com/',
        'https://www.hanwharobotics.com:8090/',
        'https://www.hanwharobotics.com/',
        'http://localhost:8081/'
      ];

      $(document).ready(function () {

        // 영문도메인으로 바로 접근시 영문사이트 변경 
        var lang = getCookieLangDefualtNull();
        if (lang === null && allowedEnDomains.includes(window.location.href)) {
            changeLang('en', '?lang=en');
        }

        // 영문사이트 변경 후 ?lang=en 제거 -> 고객사 요청 
        if (allowedEnDomains.includes(window.location.origin) && window.location.origin.pathname === '/' && window.location.search === '?lang=en') {
            //  location.href = (window.location.href).replace(window.location.search, '');
            history.replaceState({},'','/');
        }

        $('#languageSelect').click(function () {
          const selectedLanguage = $(this).attr('value');
          const param = "lang=" + selectedLanguage;
          const path = window.location.pathname;
          let url;
          if (path === "/") {
            url = "?" + param;
          } else {
            url = path + "?" + param;
          }
          changeLang(selectedLanguage, url);
        });

      });


      function changeLang(lang, path) {
        const ajaxOptions = {
          type: 'GET',
          url: lang === "en" ? '/lang/en' : '/lang/kr',
          data: {
            path
          },
          success: function (responseData) {
            const redirectUrl = responseData.redirectUrl;
            if (redirectUrl) {
              window.location.href = redirectUrl;
            }
          }
        };
        ajaxOptions.xhrFields = {
          withCredentials: true
        };
        $.ajax(ajaxOptions);
      }


    </script>
  </div>
</header>
</html>
