<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="div(layerInquiryClass)">
<div th:class="${layerInquiryClass}">

    <div class="layer_inner" th:if="#{header.nation} == 'EN'">
        <div class="pwd-edit-popup">
            <div class="text-group">
                <button class="btn_close" onclick="closeInquiryLayer()"><span>close</span></button>
                <h1>비밀번호를 변경하기 위해<br/>기존 비밀번호를 먼저 입력해주세요.</h1>
                <input type="password" name="pwd" id="pwd" placeholder="기존 비밀번호 입력" />
            </div>
            <div class="btn-group">
                <button type="button" class="round-btn pwd-edit-step-1" onclick="checkPasswordChange()">확인</button>
            </div>
        </div>
    </div>

    <div class="layer_inner" th:unless="#{header.nation} == 'EN'">
        <div class="pwd-edit-popup">
            <div class="text-group">
                <button class="btn_close" onclick="closeInquiryLayer()"><span>close</span></button>
                <h1>Please enter your current password to change your password.</h1>
                <input type="password" name="pwd" id="pwd" placeholder="Current Password" />
            </div>
            <div class="btn-group">
                <button type="button" class="round-btn pwd-edit-step-1" onclick="checkPasswordChange()">Confirm</button>
            </div>
        </div>
    </div>

</div>
</html>