<html lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="div(layerInquiryClass)">
<div th:class="${layerInquiryClass}">
<div class="layer_inner">


	<!-- progress bar -->
	<div id="loading-prograss" class="loading-prograss" style="display: none;position: fixed;left: 50%;top: 48%;" >
    <div class="container-spinner">
      <div class="spinner"><i class="fas fa-spinner fa-5x" ></i></div>
    </div>
	</div>
  <style>
    .container-spinner {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .spinner {
        animation: spin 2s linear infinite;
      }
      @keyframes spin {
        from {
          transform: rotate(0);
        }
        to {
          transform: rotate(360deg);
        }
      }
    @keyframes spin {
        from {
          transform: rotate(0);
        }
        to {
          transform: rotate(360deg);
        }
      }
  </style>
	<!-- /progress bar -->

  <button class="btn_close" onclick="closeInquiryLayer()"><span>close</span></button>

  <!-- <div class="title">문의하기</div> -->
  <div class="title" th:utext="#{inquiry}"></div>
<!--
  <p class="desc">
    아래 신청폼을 통해서 궁금하신 점을 문의해주시면 기입하신 연락처로<br />각 담당자분들이 연락드립니다.
  </p> -->

  <form>
    <div class="form_row">
      <div class="form_input">
        <label for="name" th:utext="#{name}"></label>
        <!-- <label for="name">이름<span>*</span></label> -->
        <input type="text" name="name" id="name" />
      </div>
      <div class="form_input">
        <label for="company" th:utext="#{company}"></label>
        <!-- <label for="company">회사명<span>*</span></label> -->
        <input type="text" name="company" id="company" />
      </div>
      <div class="form_input">
        <label for="position" th:utext="#{job}"></label>
        <!-- <label for="position">직급<span>*</span></label> -->
        <input type="text" name="position" id="position" />
      </div>
      <div class="form_input">
        <label for="email" th:utext="#{email}"></label>
        <!-- <label for="email">이메일<span>*</span></label> -->
        <input type="text" name="email" id="email" />
      </div>
      <div class="form_input">
        <label for="tel" th:utext="#{mobile}"></label>
        <!-- <label for="tel">연락처<span>*</span></label> -->
        <input type="text" name="tel" id="tel" />
      </div>
      <!-- <div class="form_input" style="display: none;">
        <label for="inquiryType">문의유형<span>*</span></label>
        <input type="text" name="inquiryType" id="inquiryType" readonly/>
      </div> -->
      <div class="form_input">
        <label for="inquiryType" th:utext="#{inquiry.type}"></label>

        <select class="inquiry_select" name="inquiryType" id="inquiryType">
          <option value="">선택</option>
          <option value="제품 문의">제품</option>
          <option value="대리점 문의">대리점</option>
          <option value="사업협력/제휴 문의">사업협력/제휴</option>
          <option value="교육 문의">교육</option>
        </select>
      </div>
      <div class="form_input">
        <label for="inquiry" th:utext="#{inquiries}"></label>
        <!-- <label for="inquiry">문의내용<span>*</span></label> -->

        <div class="inquiry">
          <textarea name="inquiry" id="inquiry"></textarea>
        </div>
      </div>
    </div>

    <div class="terms">
      <!-- <div class="sub_title">
        개인정보 수집 및 이용동의
      </div> -->
      <div class="sub_title" th:utext="#{inquiry.privacy}"></div>

      <div class="terms_box">
        <div class="terms_inner">
          한화 로보틱스는 이용자의 문의 대응 및 더 나은 서비스 제공을 위한 이용 분석 등을 위해 이용자의 개인정보를 수집합니다. 아래 내용을 자세히 읽어 보시고 동의 여부를 체크하여 주시기 바랍니다.<br /><br />
          <strong>수집의 목적</strong><br />
          한화 로보틱스는 이용자의 문의 대응 및 더 나은 서비스 제공을 위한 이용 분석 등을 위해 이용자의 개인정보를 수집합니다. 아래 내용을 자세히 읽어 보시고 동의 여부를 체크하여 주시기 바랍니다.<br /><br />
          한화 로보틱스는 이용자의 문의 대응 및 더 나은 서비스 제공을 위한 이용 분석 등을 위해 이용자의 개인정보를 수집합니다. 아래 내용을 자세히 읽어 보시고 동의 여부를 체크하여 주시기 바랍니다.<br /><br />
        </div>
      </div>

      <div class="form_input">
        <input type="checkbox" name="agree" id="agree" />
        <label for="agree" th:utext="#{inquiry.agree}"></label>
        <!-- <label for="agree">개인정보 수집 및 이용동의 문구를 확인하였고, 이에 동의합니다..</label> -->
      </div>

      <div class="btn_group">
        <button type="button" class="btn btn--block btn--orange" onclick="validate()" th:utext="#{inquiry.submit}"></button>
        <!-- <button type="button" class="btn btn--block btn--orange" onclick="validate()">보내기</button> -->
        <button type="button" class="btn btn--block btn--gray"  onclick="closeInquiryLayer()" th:utext="#{inquiry.cancel}"></button>
        <!-- <button type="button" class="btn btn--block btn--gray"  onclick="closeInquiryLayer()">취소</button> -->
      </div>
    </div>
  </form>

</div>

<div class="footer">
  <div class="sub_title">
    <strong th:utext="#{footer.salesRepresentatives}"></strong>
    <!-- <strong>영업 담당자</strong> -->
  </div>
  <div class="contents">
    <!-- <p>대표 E-MAIL : robot_inquiry@hanwha.com</p> -->

    <p th:utext="#{inquiry.salesMail}"></p>
    <p th:utext="#{inquiry.distributorMail}"></p>
    <p th:utext="#{inquiry.businessMail}"></p>
    <p th:utext="#{inquiry.educationMail}"></p>
    <!-- <p>제품 구매 문의: rbt_sales@hanwha.com</p>
    <p>대리점 문의: rbt_distributor@hanwha.com</p>
    <p>사업제휴/협업 문의: rbt_business@hanwha.com</p>
    <p>교육 문의: rbt_education@hanwha.com</p> -->
  </div>
</div>
  <script>
    function validate(){
      if($('#name').val() == ''){
        alert("[[#{alert.checkName}]]");
        $('#name').focus();
        return;
      }else if($('#company').val() == ''){
        alert("[[#{alert.checkCompany}]]");
        $('#company').focus();
        return;
      }else if($('#position').val() == ''){
        alert("[[#{alert.checkPosition}]]");
        $('#position').focus();
        return;
      }else if($('#email').val() == ''){
        alert("[[#{alert.checkEmail}]]");
        $('#email').focus();
        return;
      }else if($('#tel').val() == ''){
        alert("[[#{alert.checkPhone}]]");
        $('#tel').focus();
        return;
      }else if($('#inquiryType').val() == ''){
        alert("[[#{alert.checkInquiryType}]]");
        $('#inquiryType').focus();
        return;
      }else if($('#inquiry').val() == ''){
        alert("[[#{alert.checkInquiryContent}]]");
        $('#inquiry').focus();
        return;
      }else if($('#agree').is(':checked') == false){
        alert("[[#{alert.checkAgree}]]");
        $('#agree').focus();
        return;
      }else{
        sendMail();
      }
    }

    function sendMail(){
      var temp = {
        name: $('#name').val(),
        company : $('#company').val(),
        position : $('#position').val(),
        email: $('#email').val(),
        tel: $('#tel').val(),
        inquiryType: $('#inquiryType').val(),
        inquiry : $('#inquiry').val()
      }
          COMM.ajax({
                url : "/contact/inquiry/send",
                headers: {'Content-Type': 'application/json'},
                data: JSON.stringify(temp),
                success : function(data) {
                      if(data.code === 200){
                        var alertSuccessInquiry = "[[#{alert.successInquiry}]]"
                        alert(alertSuccessInquiry)
                        closeInquiryLayer();
                      }
                },
                error : function(jqXHR, textStatus, errorThrown){
                      console.log(jqXHR.status, jqXHR);

                },
                beforeSend: function (){
                      $('#loading-prograss').show();
                },
                complete : function (){
                      $('#loading-prograss').hide();
                },
          });
    }
  </script>
</div>
</html>