<html lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="div(layerInquiryClass)">
<div th:class="${layerInquiryClass}">
<div class="layer_inner">


	<!-- progress bar -->
	<div id="loading-prograss" class="loading-prograss" style="display: none;position: fixed;left: 50%;top: 48%;" >
    <div class="container-spinner">
      <div class="spinner"><i class="fas fa-spinner fa-5x" ></i></div>
    </div>
	</div>
  <style>
    .container-spinner {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .spinner {
        animation: spin 2s linear infinite;
      }
      @keyframes spin {
        from {
          transform: rotate(0);
        }
        to {
          transform: rotate(360deg);
        }
      }
    @keyframes spin {
        from {
          transform: rotate(0);
        }
        to {
          transform: rotate(360deg);
        }
      }
  </style>
	<!-- /progress bar -->

  <button class="btn_close" onclick="closeInquiryLayer()"><span>close</span></button>

  <!-- <div class="title">문의하기</div> -->
  <div class="title" th:utext="#{inquiry}"></div>
<!--
  <p class="desc">
    아래 신청폼을 통해서 궁금하신 점을 문의해주시면 기입하신 연락처로<br />각 담당자분들이 연락드립니다.
  </p> -->

  <form>
    <div class="form_row">
      <div class="form_input">
        <label for="name" th:utext="#{name}"></label>
        <!-- <label for="name">이름<span>*</span></label> -->
        <input type="text" name="name" id="name" />
      </div>
      <div class="form_input">
        <label for="company" th:utext="#{company}"></label>
        <!-- <label for="company">회사명<span>*</span></label> -->
        <input type="text" name="company" id="company" />
      </div>
      <div class="form_input">
        <label for="position" th:utext="#{job}"></label>
        <!-- <label for="position">직급<span>*</span></label> -->
        <input type="text" name="position" id="position" />
      </div>
      <div class="form_input">
        <label for="email" th:utext="#{email}"></label>
        <!-- <label for="email">이메일<span>*</span></label> -->
        <input type="text" name="email" id="email" />
      </div>
      <div class="form_input">
        <label for="tel" th:utext="#{mobile}"></label>
        <!-- <label for="tel">연락처<span>*</span></label> -->
        <input type="text" name="tel" id="tel" />
      </div>
      <!-- <div class="form_input" style="display: none;">
        <label for="inquiryType">문의유형<span>*</span></label>
        <input type="text" name="inquiryType" id="inquiryType" readonly/>
      </div> -->
      <div class="form_input">
        <label for="inquiryType" th:utext="#{inquiry.type}"></label>

        <select class="inquiry_select" name="inquiryType" id="inquiryType">
          <option value="">선택</option>
          <option value="제품 문의">제품</option>
          <option value="대리점 문의">대리점</option>
          <option value="사업협력/제휴 문의">사업협력/제휴</option>
          <option value="교육 문의">교육</option>
        </select>
      </div>
      <div class="form_input">
        <label for="inquiry" th:utext="#{inquiries}"></label>
        <!-- <label for="inquiry">문의내용<span>*</span></label> -->

        <div class="inquiry">
          <textarea name="inquiry" id="inquiry"></textarea>
        </div>
      </div>
    </div>

    <div class="terms">
      <!-- <div class="sub_title">
        개인정보 수집 및 이용동의
      </div> -->
      <div class="sub_title" th:utext="#{inquiry.privacy}"></div>

      <div class="terms_box">
        <div class="terms_inner">
          한화로보틱스 주식회사(이하 "한화로보틱스")는 고객의 개인정보를 소중하게 생각하며, 정보통신망 이용촉진 및 정보보호 등에 관한 법률’, '개인정보 보호법' 등 관련법규를 준수하기 위해 '개인정보처리(취급)방침'을 제정하고 이를 준수하고 있습니다.한화로보틱스의 개인정보처리(취급)방침은 법률의 제•개정, 정부의 정책 변경, 회사 내부 방침의 변경에 따라 바뀔 수 있습니다.한화로보틱스는 개인정보처리(취급)방침을 개정하는 경우 한화로보틱스 웹사이트(www.hanwharobotics.co.kr) 공지사항을 통하여 공지(또는 개별공지)할 것입니다.
          한화로보틱스의 개인정보처리(취급)방침은 다음과 같은 내용을 담고 있습니다.
          <br /><br />
          <strong>
          제1조 총칙<br />
          제2조 수집하는 개인정보의 항목 및 수집 방법<br />
          제3조 개인정보의 수집 및 이용목적<br />
          제4조 개인정보의 이용•제공 및 공유<br />
          제5조 개인정보처리의 위탁<br />
          제6조 개인정보의 보유, 이용기간 및 파기<br />
          제7조 이용자 및 법정대리인의 권리•의무와 그 행사방법<br />
          제8조 개인정보 보호책임자<br />
          제9조 개인정보 보호를 위한 안전성 확보조치<br />
          제10조 개인정보 자동수집 장치의 설치, 운영<br />
          제11조 개인정보처리방침 변경에 따른 고지
          </strong>
          <br /><br />
          <strong>제1조 : 총칙</strong><br />
          1) 개인정보란 생존하는 개인에 관한 정보로서 당해 정보에 포함되어 있는 성명, 주민등록번호 등의 사항에 의하여 당해 개인을 식별할 수 있는 정보 (당해 정보만으로는 특정 개인을 식별할 수 없더라도 다른 정보와 용이하게 결합하여 식별할 수 있는 것을 포함)를 말합니다.<br />
          2) 한화로보틱스는 고객의 개인정보 보호를 매우 중요시하며, "정보통신망 이용촉진 및 정보보호 등에 관한 법률", "개인정보 보호법" 상의 개인정보 보호규정 및 행정안전부가 제정한 "개인정보 보호지침"을 준수하고 있습니다. 한화로보틱스는 개인정보처리(취급)방침을 통하여 고객께서 제공하시는 개인정보가 어떠한 용도의 방식으로 이용되고 있으며 개인정보 보호를 위해 어떠한 조치가 취해지고 있는지 알려 드립니다.
          <br /><br />
          <strong>제2조 : 수집하는 개인정보의 항목 및 수집 방법</strong><br />
          1) 한화로보틱스는 고객에게 다양하고 편리한 서비스를 제공하고, 고객 본인 확인을 위해 아래와 같이 관련 웹 사이트에서 개인정보를 수집하고 있습니다.필수항목 : 성명, 전화번호, 주소, 이메일, 회사명, 회사 전화번호, 성별, 직종, 소속국가, 아이핀 번호, 회사규모, 회사업태 등선택항목 : 회사명, 회사 주소, 회사 팩스번호, 회사 홈페이지 URL, 취미, 관심분야, 생년월일, 부서, 직책, 제품일련번호, 프로젝트 정보, 관심 콘텐츠 등<br />
          2) 한화로보틱스는 고객이 온라인상에서 직접 기입하는 방식으로 위와 같은 개인정보를 수집하고 있습니다. 단, 위 1항의 수집항목은 서비스의 목적과 종류에 따라 달라질 수 있으며, 개별 서비스별로 개인정보 수집이용 동의서 또는 이용약관 각각의 내용에 대한 "동의" 또는 "동의하지 않음"을 선택할 수 있는 절차를 마련하여, "동의"를 선택한 경우에 한하여 개인정보 수집에 대해 동의한 것으로 봅니다.<br />
          3) 제1항 및 제2항 이외에도 서비스 이용과정에서 아래 개인정보 항목이 자동으로 생성되어 수집될 수 있습니다.- 서비스이용기록, IP주소, 접속로그, MAC주소 등
          <br /><br />
          <strong>제3조 : 개인정보의 수집 및 이용목적</strong><br />
          1) 한화로보틱스는 만족스러운 서비스 제공을 위해 필요한 최소한의 범위 내에서 문의사항 답변 및 답변 정보 유지, 회원 관리 및 콘텐츠 제공, 광고성 정보 전송 및 마케팅 활동 등의 목적으로 개인정보를 수집하고 있습니다.<br />
          2) 단, 고객의 기본적 인권 침해의 우려가 있는 민감한 개인정보(인종 및 민족, 사상 및 신조, 출생지 및 등록기준지, 정치적 성향 및 범죄기록, 건강 상태 및 성생활 등)는 수집하지 않습니다.
          <br /><br />
          <strong>제4조 : 개인정보의 이용•제공 및 공유</strong><br />
          1) 한화로보틱스는 고객의 동의가 있거나 관련 법령의 규정에 의한 경우를 제외하고는 어떠한 경우에도 "제3조 개인정보의 수집목적 및 이용목적"에서 고지한 범위를 넘어 고객의 개인정보를 이용하거나 타인 또는 타기업·기관에 제공하지 않습니다. 다만 다음의 경우는 주의를 기울여 개인정보를 이용 및 제공하고 있습니다.<br />
          - 매각, 인수합병 등 서비스 제공자의 권리와 의무가 완전 승계, 이전되는 경우 반드시 사전에 정당한 사유와 절차에 대해 상세하게 고지할 것이며 고객의 개인정보에 대한 동의 철회의 선택권을 부여합니다.<br />
          - 이외에 고객의 개인정보를 제공하거나 공유하는 경우에는 고객에게 제공 받거나 공유하는 자, 제공 받거나 공유하는 자의 이용 목적, 제공 또는 공유되는 개인정보 항목, 동의를 거부할 권리가 있다는 사실 및 동의 거부에 따른 불이익의 내용 등에 대해 사전에 이메일 또는 서면 등을 통해 고지한 후 이에 대한 동의를 구합니다.<br />
          2) 다음의 경우에는 관련 법령의 규정에 의해 고객의 동의 없이 개인정보를 제공하는 것이 가능합니다.<br />
          - 관련 법령의 규정에 의하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우<br />
          - 통계작성, 학술연구나 시장조사를 위해 특정 개인을 식별할 수 없는 형태로 가공하여 제공하는 경우
          <br /><br />
          <strong>제5조 : 개인정보처리의 위탁</strong><br />
          1) 한화로보틱스는 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁·운영하고 있습니다.
          <br />
          ① 위탁업무 및 수탁업체
          <br />
          <table class="table">
            <tbody>
              <tr>
                <th>구분</th>
                <th>수탁업체</th>
                <th>위탁업무</th>
              </tr>
              <tr>
                <td>홈페이지 유지ㆍ보수</td>
                <td>조이팩토리</td>
                <td>한화로보틱스 홈페이지 유지ㆍ보수</td>
              </tr>
            </tbody>
          </table>
          <br />
          2) 한화로보틱스는 개인정보 위탁 시 위탁업무 수행목적 외 개인정보 처리금지, 기술적 ·관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리·감독, 손해배상 등 책임에 관한 사항을 명확히 하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다<br />
          3) 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보 처리(취급)방침을 통하여 공개하도록 하겠습니다.
          <br /><br />
          <strong>제6조 : 개인정보의 보유, 이용기간 및 파기</strong><br />
          1) 한화로보틱스는 개인정보의 수집목적 또는 제공받은 목적이 달성된 때 또는 고객의 파기 요청이 있는 때에는 고객의 개인정보를 지체 없이 파기합니다.<br />
          2) 단, 관계 법령 및 내부 방침에 의해 다음과 같이 개인정보를 보유해야 할 필요가 있을 경우에는 이를 일정기간 보유합니다.<br />
          ※ 관계법령(상법, 국세기본법, 법인세법, 전자상거래 등에서의 소비자 보호에 관한 법률, 통신비밀보호법 等)에 의한 정보보유<br />
          1. 홈페이지 회원 가입 및 관리 : 홈페이지 탈퇴시까지다만, 다음의 사유에 해당하는 경우에는 해당 사유 종료시까지<br />
          ① 관계 법령 위반에 따른 수사·조사 등이 진행 중인 경우 해당 수사·조사 종료시까지② 홈페이지 이용에 따른 채권·채무관계 잔존시 해당 채권·채무관계 정산시까지<br />
          2. 재화 또는 서비스 제공 : 재화·서비스 공급완료 및 요금결제·정산 완료시까지다만, 다음의 사유에 해당하는 경우에는 해당 기간 종료시까지<br />
          ① 「전자상거래 등에서의 소비자 보호에 관한 법률」에 따른 표시·광고, 계약내용 및 이행 등 거래에 관한 기록<br />
          - 표시•광고에 관한 기록 : 6개월<br />
          - 계약 또는 청약철회, 대금결제, 재화 등의 공급기록 : 5년<br />
          - 소비자 불만 또는 분쟁처리에 관한 기록 : 3년<br />
          ② 「통신비밀보호법」제41조에 따른 통신사실확인자료 보관<br />
          - 가입자 전기통신일시, 개시•종료시간, 상대방 가입자번호, 사용도수, 발신기지국 위치추적자료 : 1년<br />
          - 컴퓨터통신, 인터넷 로그기록자료, 접속지 추적자료 : 3개월<br />
          ③ 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」시행령 제29조에 따른 본인확인정보 보관 : 게시판에 정보 게시가 종료된 후 6개월<br />
          3) 파기 절차 및 방법<br />
          - 한화로보틱스는 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체 없이 해당 개인정보를 파기합니다.<br />
          - 고객으로부터 동의받은 개인정보 보유기간이 경과하거나 처리목적이 달성되었음에도 불구하고 다른 법령에 따라 계속 보존하여야 하는 경우에는, 해당 개인정보를 별도의 데이터베이스(DB)로 옮기거나 보관장소를 달리하여 보관합니다.<br />
          - 한화로보틱스는 전자적 파일 형태로 기록·저장된 개인정보는 기록을 재생할 수 없도록 파기하며, 종이 문서에 기록·저장된 개인정보는 쇄절 또는 소각하여 파기합니다.
          <br /><br />
          <strong>제7조 : 이용자 및 법정대리인의 권리•의무와 그 행사방법</strong><br />
          1) 고객은 언제든지 등록되어 있는 고객의 개인정보를 열람하거나 정정·삭제, 처리정지, 동의철회를 요청하실 수 있습니다. 개인정보 열람, 정정·삭제, 처리정지, 동의철회를 하고자 할 경우에는 아래의 담당 부서에 서면, 전화 또는 이메일로 연락하시면 확인 절차를 거쳐 지체 없이 조치하겠습니다.
          <br />
          ▶ 각 사업부문 개인정보 열람청구 접수•처리 부서

          <br />
          <table class="table">
            <tbody>
              <tr>
                <th>구분</th>
                <th>담당자 및 연락처</th>
              </tr>
              <tr>
                <td>인사팀</td>
                <td>
                  담당자: 하인구 대리<br />
                  연락처: 070-7147-6078, ingu.ha@hanwha.com
                </td>
              </tr>
            </tbody>
          </table>
          <br />
          2) 제1항에 따른 권리 행사는 고객의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 할 수 있으며, 이 경우 개인정보 보호법 시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.<br />
          3) 고객이 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 조치하겠습니다.<br />
          4) 한화로보틱스는 고객에 의해 삭제 요청된 개인정보를 적법한 보유·이용 기간 내에서 다른 법령에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.<br />
          5) 고객의 개인정보를 최신의 상태로 정확하게 입력하여 불의의 사고를 예방하여 주시기 바랍니다. 고객이 입력한 부정확한 정보로 인하여 발생하는 사고의 책임은 고객 자신에게 있으며 타인 정보의 도용 등 허위정보를 입력할 경우 회원자격이 상실되거나 관련법령에 의하여 처벌받을 수 있습니다.<br />
          6) 고객은 개인정보를 보호받을 권리와 함께 스스로를 보호하고 타인의 정보를 침해하지 않을 의무도 가지고 있습니다. 고객의 개인정보가 유출되지 않도록 조심하시고 게시물을 포함한 타인의 개인정보를 훼손하지 않도록 유의하여 주십시오. 만약 이 같은 책임을 다하지 못하고 타인의 개인정보 및 존엄성을 훼손할 시에는 관련법령에 의하여 처벌받을 수 있습니다.<br />
          7) 미성년자의 개인정보 보호<br />
          - 한화로보틱스는 고객이 미성년자일 경우 원칙적으로 개인정보를 수집하지 않습니다.<br />
          - 부득이 제품 관련 업무 등의 필요로 인해 미성년자의 개인정보를 수집할 때에는 사전에 법정대리인의 동의를 구하고 관련 업무가 종료됨과 동시에 정보를 지체 없이 파기하도록 하겠으며 업무가 진행되는 동안 개인정보를 철저히 관리하도록 하겠습니다.

          <br />
          <br />
          <strong>제8조 : 개인정보 보호책임자</strong><br />
          1) 한화로보틱스는 고객의 개인정보를 보호하고 개인정보와 관련한 불만사항 및 문의를 처리하기 위해 다음과 같이 각 사업부문의 개인정보 보호(관리)책임자 및 담당자를 지정하고 있습니다.

          <br />
          <table class="table">
            <tbody>
              <tr>
                <th></th>
                <th>개인정보 보호(관리)책임자</th>
                <th>개인정보 보호(관리)담당자</th>
              </tr>
              <tr>
                <td>소속부서</td>
                <td>
                  경영지원팀
                </td>
                <td>
                  인사팀
                </td>
              </tr>
              <tr>
                <td>직 급</td>
                <td>
                  상무
                </td>
                <td>
                  대리
                </td>
              </tr>
              <tr>
                <td>성명</td>
                <td>
                  이문한
                </td>
                <td>
                  하인구
                </td>
              </tr>
              <tr>
                <td>연 락 처</td>
                <td>
                  070-7147-6003
                </td>
                <td>
                  070-7147-6078
                </td>
              </tr>
              <tr>
                <td>이 메 일</td>
                <td>
                  ansgks@hanwha.com
                </td>
                <td>
                  ingu.ha@hanwha.com
                </td>
              </tr>
            </tbody>
          </table>
          <br />

          2) 기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.<br />
          - 개인분쟁조정위원회(www.1336.or.kr/1336)<br />
          - 개인정보침해신고센터(www.118.or.kr/118)<br />
          - 정보보호마크인증위원회(www.eprivacy.or.kr/02-580-0533~4)<br />
          - 대검찰청 인터넷범죄수사센터(icic.sppo.go.kr/02-3480-3600)<br />
          - 경찰청 사이버테러대응센터(www.ctrc.go.kr/02-392-0330)

          <br /><br />
          <strong>제9조 : 개인정보 보호를 위한 안전성 확보조치</strong><br />
          한화로보틱스는 고객의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 유출, 변조 또는 훼손되지 않도록 안전성 확보를 위해 다음과 같은 기술적, 관리적, 물리적 대책을 강구하고 있습니다.<br />
          1) 한화로보틱스는 중요 개인정보를 암호화하여 저장 및 관리하고 있습니다.<br />
          2) 해킹 등에 대비한 대책- 한화로보틱스는 해킹이나 컴퓨터 바이러스 등에 의해 고객의 개인정보가 유출되거나 훼손되는 것을 막기 위해 최선을 다하고 있습니다.<br />
          - 개인정보의 훼손에 대비하여 자료를 수시로 백업하고 있고, 최신 백신프로그램을 이용하여 고객의 개인정보나 자료가 유출되거나 손상되지 않도록 방지하고 있으며, 암호화 통신 등을 통하여 네트워크상에서 개인정보를 안전하게 전송할 수 있도록 하고 있습니다.<br />
          - 그리고 침입차단시스템을 이용하고 외부로부터 무단 접근을 통제하고 있으며, 기타 시스템적으로 보안성을 확보하기 위한 가능한 모든 기술적 장치를 갖추기 위해 노력하고 있습니다.<br />
          3) 취급 직원의 최소화 및 교육- 한화로보틱스는 개인정보의 취급을 담당자에 한정시키고 있고, 이를 위해 별도의 비밀번호를 부여하는 한편 이를 정기적으로 갱신하고 있으며, 담당자에 대한 수시 교육을 통해 개인정보를 안전하게 관리하고 있습니다.<br />
          - 개인정보 관련 취급자의 업무 인수인계는 보안이 유지된 상태에서 철저하게 이루어지고 있으며, 입사 및 퇴사 후 개인정보 사고에 대한 책임을 명확화하고 있습니다.<br />
          - 전산실 및 자료 보관실 등을 특별 보호구역으로 설정하여 출입을 철저히 통제하고 있습니다.<br />
          4) 개인정보보호 전담기구의 운영<br />
          - 사내 개인정보 보호 전담기구 등을 통해 개인정보 보호조치의 이행사항 및 담당자의 준수여부를 확인하여 문제가 발견되는 즉시 시정 조치하고 있습니다.<br />
          단, 고객 개인의 부주의나 인터넷 상의 문제로 개인정보가 유출되어 발생한 문제에 대해서는 한화로보틱스가 일체의 책임을 지지 않습니다.
          <br /><br />
          <strong>제10조 : 개인정보 자동수집 장치의 설치, 운영</strong><br />
          1) 한화로보틱스는 고객의 정보를 수시로 저장하고 찾아내는‘쿠키(cookie)’등을 운용합니다. 쿠키란 한화로보틱스의 웹사이트를 운영하는데 이용되는 서버가 고객의 브라우저에 보내는 아주 작은 텍스트 파일로서 고객의 컴퓨터 하드디스크에 저장됩니다. 한화로보틱스는 다음과 같은 목적을 위해 쿠키를 사용합니다.<br />
          • 쿠키 등 사용 목적회원과 비회원의 접속 빈도나 방문 시간 등의 분석, 이용자의 취향과 관심분야 파악 및 자취 추적, 방문 회수 파악 등을 통한 타겟 마케팅 및 개인 맞춤 서비스 제공<br />
          2) 고객은 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 고객은 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수도 있습니다. 단, 귀하께서 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다.<br />
          • 쿠키 설정 거부 방법 예(인터넷 익스플로러의 경우)웹 브라우저 상단의 '도구' > '인터넷 옵션' > '개인정보' 탭에서 '설정'을 이용, 상위레벨로 변경하여 "모든 쿠키차단" 으로 설정하시면 됩니다.
          <br /><br />
          <strong>제11조 : 개인정보처리(취급)방침 변경에 따른 고지</strong><br />
          • 1) 본 개인정보처리(취급)방침은 2011년 9월 30일 제정되었으며, 법률의 제·개정, 정부의 정책 변경, 한화로보틱스 내부방침의 변경 또는 보안기술의 변경에 따라 내용의 추가, 삭제 및 수정이 있을 시에는 개정 최소 7일 전부터 홈페이지를 통해 변경이유 및 내용 등을 공지하도록 하겠습니다.단, 개인정보를 제3자에게 제공하는 경우 또는 수집•이용목적 변경, 보유기간 변경 등 중요한 사항이 변경되는 경우에는 고객의 동의를 얻도록 하겠습니다.<br />
          • 2) 이전의 개인정보처리(취급)방침은 아래에서 각각 확인하실 수 있습니다.
          <br /><br />
          - 2014. 9. 26 ~ 2016. 6. 29 적용개인정보처리(취급)방침 시행일자 : 2016년 6월 30일
        </div>
      </div>

      <div class="form_input">
        <input type="checkbox" name="agree" id="agree" />
        <label for="agree" th:utext="#{inquiry.agree}"></label>
        <!-- <label for="agree">개인정보 수집 및 이용동의 문구를 확인하였고, 이에 동의합니다..</label> -->
      </div>

      <div class="btn_group">
        <button type="button" class="btn btn--block btn--orange" onclick="validate()" th:utext="#{inquiry.submit}"></button>
        <!-- <button type="button" class="btn btn--block btn--orange" onclick="validate()">보내기</button> -->
        <button type="button" class="btn btn--block btn--gray"  onclick="closeInquiryLayer()" th:utext="#{inquiry.cancel}"></button>
        <!-- <button type="button" class="btn btn--block btn--gray"  onclick="closeInquiryLayer()">취소</button> -->
      </div>
    </div>
  </form>

</div>

<div class="footer">
  <div class="sub_title">
    <strong th:utext="#{footer.salesRepresentatives}"></strong>
    <!-- <strong>영업 담당자</strong> -->
  </div>
  <div class="contents">
    <!-- <p>대표 E-MAIL : robot_inquiry@hanwha.com</p> -->

    <p th:utext="#{inquiry.salesMail}"></p>
    <p th:utext="#{inquiry.distributorMail}"></p>
    <p th:utext="#{inquiry.businessMail}"></p>
    <p th:utext="#{inquiry.educationMail}"></p>
    <!-- <p>제품 구매 문의: rbt_sales@hanwha.com</p>
    <p>대리점 문의: rbt_distributor@hanwha.com</p>
    <p>사업제휴/협업 문의: rbt_business@hanwha.com</p>
    <p>교육 문의: rbt_education@hanwha.com</p> -->
  </div>
</div>
  <script>
    function validate(){
      if($('#name').val() == ''){
        alert("[[#{alert.checkName}]]");
        $('#name').focus();
        return;
      }else if($('#company').val() == ''){
        alert("[[#{alert.checkCompany}]]");
        $('#company').focus();
        return;
      }else if($('#position').val() == ''){
        alert("[[#{alert.checkPosition}]]");
        $('#position').focus();
        return;
      }else if($('#email').val() == ''){
        alert("[[#{alert.checkEmail}]]");
        $('#email').focus();
        return;
      }else if($('#tel').val() == ''){
        alert("[[#{alert.checkPhone}]]");
        $('#tel').focus();
        return;
      }else if($('#inquiryType').val() == ''){
        alert("[[#{alert.checkInquiryType}]]");
        $('#inquiryType').focus();
        return;
      }else if($('#inquiry').val() == ''){
        alert("[[#{alert.checkInquiryContent}]]");
        $('#inquiry').focus();
        return;
      }else if($('#agree').is(':checked') == false){
        alert("[[#{alert.checkAgree}]]");
        $('#agree').focus();
        return;
      }else{
        sendMail();
      }
    }

    function sendMail(){
      var temp = {
        name: $('#name').val(),
        company : $('#company').val(),
        position : $('#position').val(),
        email: $('#email').val(),
        tel: $('#tel').val(),
        inquiryType: $('#inquiryType').val(),
        inquiry : $('#inquiry').val()
      }
          COMM.ajax({
                url : "/contact/inquiry/send",
                headers: {'Content-Type': 'application/json'},
                data: JSON.stringify(temp),
                success : function(data) {
                      if(data.code === 200){
                        var alertSuccessInquiry = "[[#{alert.successInquiry}]]"
                        alert(alertSuccessInquiry)
                        closeInquiryLayer();
                      }
                },
                error : function(jqXHR, textStatus, errorThrown){
                      console.log(jqXHR.status, jqXHR);

                },
                beforeSend: function (){
                      $('#loading-prograss').show();
                },
                complete : function (){
                      $('#loading-prograss').hide();
                },
          });
    }
  </script>
</div>
</html>