<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="div(layerInquiryClass)">
<div th:class="${layerInquiryClass}">

    <div class="layer_inner">
        <div class="qna-popup">
            <div class="text-group">
                <button class="btn_close" onclick="closeInquiryLayer()"><span>close</span></button>
                <h1 th:utext="#{qna.layerTitle}">FAQ 및 제품 메뉴얼을 확인하셨나요?</h1>
                <p th:utext="#{qna.layerContent}">
                </p>
            </div>
            <div class="btn-group">
                <a href="/newsroom/notice" class="round-btn" th:utext="#{qna.layerCheck}"></a>
                <a href="/qna/register" class="round-btn inquiry" th:utext="#{qna.layerSummit}"></a>
            </div>
        </div>
    </div>

</div>
</html>