<html lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="div(layerInquiryClass)">
<div th:class="${layerInquiryClass}">
<div class="layer_inner">
  <button class="btn_close" onclick="closeInquiryLayer()"><span>close</span></button>

  <div th:if="#{header.nation} == 'EN'">
    <div class="title">패밀리사이트</div>
    <div class="family">
      <ul>
        <li><a href="https://www.hanwha.co.kr/index.do">한화그룹</a></li>
        <li><a href="https://hec.hanwha.co.kr/main.do">한화에너지</a></li>
        <li><a href="https://www.hanwhafund.co.kr/webapp/hw_kor/hw_sys/hw_main.jsp">한화자산운용</a></li>
        <li><a href="https://www.hanwhacorp.co.kr/">㈜한화</a></li>
        <li><a href="https://www.hanwhaimpact.com/kr/index">한화임팩트</a></li>
        <li><a href="https://www.hanwhawm.com/main/main/index.cmd">한화투자증권</a></li>
        <li><a href="https://www.hanwhaaerospace.co.kr/kor/index.do">한화에어로스페이스</a></li>
        <li><a href="https://www.hanwhapowersystems.co.kr/">한화파워시스템</a></li>
        <li><a href="https://www.hanwhasbank.com/main.act">한화저축은행</a></li>
        <li><a href="http://www.hanwhaocean.com/">한화오션</a></li>
        <li><a href="https://www.htpchem.com/">한화토탈에너지스</a></li>
        <li><a href="https://www.hanwhalifefs.com/">한화생명금융서비스</a></li>
        <li><a href="https://www.hanwhasystems.com/kr/index.do">한화시스템</a></li>
        <li><a href="https://www.hwam.co.kr/">한화첨단소재</a></li>
        <li><a href="https://www.carrotins.com/">캐롯손해보험</a></li>
        <li><a href="https://www.hanwhavision.com/ko/">한화비전</a></li>
        <li><a href="https://www.yncc.co.kr/ko/index.do">여천NCC</a></li>
        <li><a href="https://www.hwrc.co.kr/hwrc/index.do">한화호텔&리조트</a></li>
        <li><a href="https://www.hanwha-pm.com/ko/">한화정밀기계</a></li>
        <li><a href="https://www.hanwhalife.com/index.jsp">한화생명</a></li>
        <li><a href="https://www.hanwhagalleria.co.kr/">한화갤러리아</a></li>
        <li><a href="https://www.hanwhasolutions.com/ko/">한화솔루션</a></li>
        <li><a href="https://www.hwgeneralins.com/">한화손해보험</a></li>
        <li><a href="https://www.hanwhaconnect.co.kr/">한화커넥트</a></li>
      </ul>
    </div>
  </div>
  <div th:unless="#{header.nation} == 'EN'">
    <div class="title">Family Site</div>
    <div class="family">
      <ul>
        <li><a href="https://www.hanwha.com/en.html">Hanwha</a></li>
        <li><a href="https://hec.hanwha.co.kr/eng/enMain.do">Hanwha Energy</a></li>
        <li><a href="http://eng.hanwhafund.co.kr/web/main/main.jsp">Hanwha Asset Management</a></li>
        <li><a href="https://www.hanwhacorp.co.kr/eng/index.jsp">Hanwha Corporation</a></li>
        <li><a href="https://www.hanwhaimpact.com/en/index">Hanwha Impact</a></li>
        <li><a href="https://www.hanwhawm.com/main/english/main/index.cmd">Hanwha Investment & Securities</a></li>
        <li><a href="https://www.hanwhaaerospace.co.kr/eng/whoweare/about.do">Hanwha Aerospace</a></li>
        <li><a href="https://www.hanwhapowersystems.com/">Hanwha Power Systems</a></li>
        <li><a href="http://www.hanwhaocean.com/">Hanwha Ocean</a></li>
        <li><a href="https://www.htpchem.com/en/">Hanwha TotalEnergies</a></li>
        <li><a href="https://www.hanwhasystems.com/en/index.do">Hanwha Systems</a></li>
        <li><a href="https://www.hwam.co.kr/en/index.do">Hanwha Advanced Materials</a></li>
        <li><a href="https://www.hanwhavision.com/en/">Hanwha Vision</a></li>
        <li><a href="https://www.yncc.co.kr/en/index.do">Yeochun NCC</a></li>
        <li><a href="https://www.hanwha-pm.com/en/index.asp">Hanwha Precision Machinery</a></li>
        <li><a href="https://www.hanwhalife.com/static/company/english/EN_0000000_P10000.htm">Hanwha Life</a></li>
        <li><a href="https://www.hanwhagalleria.co.kr/en/index.html">Hanwha Galleria</a></li>
        <li><a href="https://www.hanwhasolutions.com/en/">Hanwha Solutions</a></li>
        <li><a href="https://www.hwgeneralins.com/foreign/overview01.do">Hanwha General Insurance</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
</html>