<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="div(layerInquiryClass)">
<div th:class="${layerInquiryClass}">

    <div class="layer_inner" th:if="#{header.nation} == 'EN'">
        <div class="pwd-edit-confirm-popup">
            <div class="text-group">
                <button class="btn_close" onclick="closeInquiryLayer()"><span>close</span></button>
                <h1>새로운 비밀번호를 입력해주세요.</h1>
                <p>영문과 숫자를 조합하여 만들어주세요.</p>
            </div>
            <div class="input-group">
                <input type="password" name="pwd" id="pwd" class="newPassword" placeholder="새로운 비밀번호 입력" />
                <input type="password" name="pwd2" id="pwd2" class="newPassword2" placeholder="비밀번호 다시 입력" />
            </div>
            <div class="btn-group">
                <button type="button" class="round-btn pwd-edit-step-2" onclick="changePassword()">비밀번호 변경</button>
            </div>
        </div>
    </div>

    <div class="layer_inner" th:unless="#{header.nation} == 'EN'">
        <div class="pwd-edit-confirm-popup en">
            <div class="text-group">
                <button class="btn_close" onclick="closeInquiryLayer()"><span>close</span></button>
                <h1>Please enter a new password.</h1>
                <p>Please use a combination of letters and numbers for your password.</p>
            </div>
            <div class="input-group">
                <input type="password" name="pwd" id="pwd" class="newPassword" placeholder="New Password" />
                <input type="password" name="pwd2" id="pwd2" class="newPassword2" placeholder="Re-enter Password" />
            </div>
            <div class="btn-group">
                <button type="button" class="round-btn pwd-edit-step-2" onclick="changePassword()">Change Password</button>
            </div>
        </div>
    </div>

</div>
</html>