<!DOCTYPE html>
<html   lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <th:block th:replace="/layout/common_head :: commonHead"></th:block>
  <link rel="stylesheet" th:href="@{/css/common.css}" />
  <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body class="pc">
  <!-- <section class="inquiry_more"></section> -->
  <th:block th:replace="/layout/inquiry :: inquiry('inquiry_more')"></th:block>

  <!-- <header id="header" class="main_header"></header> -->
  <th:block th:replace="/layout/header :: header('main_header')" id="header" ></th:block>
  <!-- header라는 함수 호출 하면서 main_header라는 파라미터값을 넘기는 것. /layout/header보기 -->

  <!-- <aside id="aside"></aside> -->
  <th:block th:replace="/layout/aside :: aside('aside')"></th:block>

  <div layout:fragment="content"></div>

  <!-- <footer id="footer"></footer> -->
  <th:block th:replace="/layout/footer :: footer('footer')"></th:block>

  <!-- <div class="layer_wrap"></div> -->
  <th:block th:replace="/layout/layer :: div('layer_wrap')"></th:block>

  <script type="text/javascript" th:src="@{/js/aos.js}"></script>

  <script text="text/javascript" th:src="@{/js/gsap.min.js}"></script>
  <script text="text/javascript" th:src="@{/js/ScrollTrigger.min.js}"></script>

  <!-- 패럴렉스 -->
  <script type="text/javascript" th:src="@{/js/ScrollMagic.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/animation.gsap.js}"></script>

  <script th:src="@{/js/library.js}"></script>
  <script th:src="@{/js/common.js}"></script>
  <script th:src="@{/js/main.js}"></script>

  <!-- Add Google Analytics script here -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-D9CFYTN47J"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-D9CFYTN47J');
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var lang = getCookieLang()
      if (lang == 'ko') {
        if(localStorage.chk1Yn == undefined || localStorage.chk1Yn == null) {
            layerCookieOpenBtn();
        }
      }
    });
  </script>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M76R6HN5"
      height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

</body>
  <th:block layout:fragment="script"></th:block>
</html>