<!DOCTYPE html>
<html   lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <th:block th:replace="/layout/common_head :: commonHead"></th:block>

  <link rel="stylesheet" th:href="@{/css/aos.css}" />
  <link rel="stylesheet" th:href="@{/css/common.css}" />
  <link rel="stylesheet" th:href="@{/css/board.css}" />
  <link rel="stylesheet" media="screen and (min-width: 1500px)"  th:href="@{/css/pc.css}" />
  <link rel="stylesheet" media="screen and (max-width: 1499px)"  th:href="@{/css/tablet.css}" />
  <link rel="stylesheet" media="screen and (max-width: 1024px)"  th:href="@{/css/mobile.css}" />
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
</head>

<body class="pc">
  <section class="inquiry_more"></section>

  <header id="header" class="sub_header">
  </header>


  <div layout:fragment="content"></div>

  <footer id="footer">
  </footer>


  <div class="layer_wrap"></div>
  <script type="text/javascript" th:src="@{/js/aos.js}"></script>

  <script text="text/javascript" th:src="@{/js/gsap.min.js}"></script>
  <script text="text/javascript" th:src="@{/js/ScrollTrigger.min.js}"></script>

  <!-- 패럴렉스 -->
  <script type="text/javascript" th:src="@{/js/ScrollMagic.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/animation.gsap.js}"></script>

  <script th:src="@{/js/library.js}"></script>
  <script th:src="@{/js/common.js}"></script>
  <script th:src="@{/js/sub.js}"></script>

  <!-- 페이징 tmpl -->
  <th:block th:replace="/common/paging_tmpl :: pagingTmpl"></th:block>
  <th:block th:replace="/common/files_tmpl :: filesTmpl"></th:block>

</body>
  <th:block layout:fragment="script"></th:block>
</html>