<!DOCTYPE html>
<html   lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <th:block th:replace="/layout/common_head :: commonHead"></th:block>

  <link rel="stylesheet" th:href="@{/css/aos.css}" />
  <link rel="stylesheet" th:href="@{/css/common.css}" />
  <link rel="stylesheet" th:href="@{/css/board.css}" />
  <link rel="stylesheet" media="screen and (min-width: 1500px)"  th:href="@{/css/pc.css}" />
  <link rel="stylesheet" media="screen and (max-width: 1499px)"  th:href="@{/css/tablet.css}" />
  <link rel="stylesheet" media="screen and (max-width: 1024px)"  th:href="@{/css/mobile.css}" />
</head>

<body class="pc">
  <header id="header" class="sub_header">
  </header>


  <div layout:fragment="content"></div>

  <footer id="footer">
  </footer>

  <div class="layer_wrap"></div>

  <script text="text/javascript" th:src="@{/js/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/aos.js}"></script>

  <script text="text/javascript" th:src="@{/js/gsap.min.js}"></script>
  <script text="text/javascript" th:src="@{/js/ScrollTrigger.min.js}"></script> 

  <!-- 패럴렉스 -->
  <script type="text/javascript" th:src="@{/js/ScrollMagic.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/animation.gsap.js}"></script>

  <script th:src="@{/js/library.js}"></script>
  <script th:src="@{/js/common.js}"></script>
  <script th:src="@{/js/main.js}"></script>



  <!-- paging mustache start -->
  <script id="paginate-prev-tmpl" type="x-tmpl-mustache">
      <a href="#" class="button prev {{class}}" onclick="getList({{page}})">
          <span>이전</span>
      </a>
  </script>

  <script id="paginate-next-tmpl" type="x-tmpl-mustache">
      <a href="#" class="button next {{class}}" onclick="getList({{page}})">
          <span>다음</span>
      </a>
  </script>

  <script id="paginate-tmpl" type="x-tmpl-mustache">
      <span>
        {{#list}}
            <a href="#" class="{{class}}" onclick="getList({{page}})">{{page}}</a>
        {{/list}}
      </span>
  </script>
  <!-- paging mustache end -->

</body>

<th:block layout:fragment="script"></th:block>
</html>