<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body data-gnb-target="agv_amr">
<main layout:fragment="content" class="casestudies view ecosystem-template-01 type2">

  <section class="ecosystem-template-01-title">
    <a href="/agv-amr/case-studies">
      <img src="../images/pc/products_detail_arrow.png" alt=""/>
    </a>
    <h1>적용사례</h1>
  </section>

  <section class="product-info">
    <!-- 카테고리 -->
    <div class="product-category">
      <span th:utext="${robotResponse.categoryNm}"></span>
    </div>
    <!-- 타이틀 -->
    <div class="product-title" th:utext="${robotResponse.robotNm}"></div>
    <!-- 설명 -->
    <div class="product-desc" th:utext="${robotResponse.description}"></div>
  </section>


  <section class="product-image" th:if="${robotResponse.videoUrl != null and robotResponse.videoUrl != ''}">
    <!-- 썸네일 or 동영상 -->
    <th:block th:if="${robotResponse.videoUrl != null and robotResponse.videoUrl != ''}">
      <iframe
          th:src="@{${robotResponse.videoUrl}}"
          title="YouTube video player" frameborder="0" width="100%" height="100%"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
      </iframe>
    </th:block>
  </section>


  <section class="product-image" th:if="${robotFileList.size() != 0}">
    <th:block th:each="file : ${robotFileList}">
      <img th:src="@{${file.filePath}}" alt="로봇 이미지"/>
    </th:block>
  </section>


  <section class="product-spec">
    <span th:utext="${robotResponse.productSpac}"></span>
  </section>

  <section class="ecosystem-template-01-section">
    <div class="tab-nav">
      <div class="tab-nav-wrapper">
        <input type="radio" id="nav1" name="nav" checked/>
        <label for="nav1" class="ecosystem-nav1">
          <span>전체</span>
        </label>
        <th:block th:each="robotCategory, stat : ${robotCategory}">
          <input type="radio" th:id="'nav' + ${stat.index + 2}" name="nav"/>
          <label th:for="'nav' + ${stat.index + 2}"
                 th:data-category="${robotCategory.categoryNm}"
                 th:data-category-no="${robotCategory.categoryNo}">
            <span th:text="${robotCategory.categoryNm}"></span>
          </label>
        </th:block>

        <select class="tab-nav-mobile">
          <option value="" th:selected="true">전체</option>
          <th:block th:each="robotCategory, stat : ${robotCategory}">
            <option th:value="${robotCategory.categoryNo}"
                    th:text="${robotCategory.categoryNm}"></option>
          </th:block>
        </select>
      </div>
    </div>

    <div class="tab-content-wrapper">
      <!--      <div class="nav-content">-->
      <!--        <div class="casestudies-template-01-slider1">-->
      <!--        </div>-->
      <!--      </div>-->


      <div id="nav1-content" class="nav-content">
        <div class="casestudies-template-01-slider1" id="casestudies-template-01-slider1">
        </div>
      </div>

      <!--      <div id="nav2-content" class="nav-content">-->
      <!--        <div class="casestudies-template-01-slider1" id="casestudies-template-01-slider2">-->
      <!--        </div>-->
      <!--      </div>-->

      <!--      <div id="nav3-content" class="nav-content">-->
      <!--        <div class="casestudies-template-01-slider1" id="casestudies-template-01-slider3">-->
      <!--        </div>-->
      <!--      </div>-->

      <!--      <div id="nav4-content" class="nav-content">-->
      <!--        <div class="casestudies-template-01-slider1" id="casestudies-template-01-slider4">-->
      <!--        </div>-->
      <!--      </div>-->


    </div>


  </section>


  <form id="form">
    <input type="hidden" name="size" id="size" value="8"/>
    <input type="hidden" name="page" id="page" value="1"/>
  </form>

  <script id="slider-template" type="x-tmpl-mustache" class="hide">
    {{#items}}
      <a href="/agv-amr/case-studies/{{robotNo}}" class="casestudies-template-01-slider-item">
        <div class="casestudies-template-01-slider-item-img">
          <img src="{{thumbnailUrl}}" alt="{{robotNm}}" />
        </div>
        <p>{{robotNm}}</p>
        <span>{{description}}</span>
      </a>
    {{/items}}
    {{^items}} <p> 조회된 결과가 없습니다 </p>{{/items}}

  </script>


</main>
</body>

<th:block layout:fragment="script">
  <script type="text/javascript">

    let isReady = false;

    if (!isReady) {

      $(document).ready(function () {
        getList();
        updateCategoryName();

        $("input[name='nav']").off("change").on("change", function () {
          let categoryNo = $(this).next("label").data("category-no") || "";
          getList(categoryNo);
        });

        $(".tab-nav-mobile").off("change").on("change", function () {
          let categoryNo = $(this).val();
          getList(categoryNo);
        });
      });

    }


    function getList(categoryNo) {
      COMM.ajax({
        url: '/agv-amr/case-studies/category',
        type: 'POST',
        data: {
          boardType1: 'ROBOT_CASE',
          boardType2: 'AVG_AMR',
          categoryNo: categoryNo
        },
        dataType: 'json',
        success: function (data) {
          console.log("서버에서 받은 데이터:", data);
          const $slider = $('#casestudies-template-01-slider1');

          if ($slider.hasClass('slick-initialized')) {
            $slider.slick('unslick');// 기존 슬라이더를 완전히 비움
          }

          const template = $("#slider-template").html();
          const rendered = Mustache.render(template, {items: data.data});

          console.log("rendered", rendered);

          $slider.html(rendered);

          setTimeout(() => {
            initializeSlider();
          }, 100);
        },
        error: function (xhr, status, error) {
          console.error('ajax 요청 실패', status, error);
        }
      });
    }

    function initializeSlider() {
      console.log("슬라이더 초기화 시작");

      const $slider = $('#casestudies-template-01-slider1');

      $slider.slick({
        dots: true,  // 페이지네이션 노출 활성화
        arrows: true, // prev/next 버튼 활성화
        infinite: false,
        autoplay: false,
        slidesToShow: 4,
        prevArrow: "<button type='button' class='slick-prev'><img src='../images/pc/robots_slider_arrow_left.svg' alt='' /></button>",
        nextArrow: "<button type='button' class='slick-next'><img src='../images/pc/robots_slider_arrow_right.svg' alt='' /></button>",
        responsive: [
          {
            breakpoint: 1025,
            settings: {
              slidesToShow: 4,
            }
          },
          {
            breakpoint: 765,
            settings: {
              dots: true,
              infinite: false,
              slidesToShow: 1,
            }
          },
        ]
      });

      console.log("슬라이더 초기화 완료");

    }


    function updateCategoryName() {

      let selectedInput = $("input[name='nav']:checked");
      let selectedLabel = selectedInput.next("label");
      let selectedCategory = selectedLabel.data("category");

      console.log("선택된 카테고리:", selectedCategory);

      if (!selectedCategory) {
        selectedCategory = "전체";
      }

      $(".category-name").text(selectedCategory);
      console.log("category-name 업데이트됨:", $(".category-name").text());
    }

    $(document).ready(function () {
      console.log("페이지 로드 완료");
      updateCategoryName();

      $("input[name='nav']").on("change", function () {
        console.log("카테고리 변경 감지됨");
        updateCategoryName();
      });
    });


  </script>
</th:block>

</html>
