<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">

  <main class="ecosystem casestudies">

    <section class="ecosystem-title">
      <h2>이동로봇</h2>
      <h1>적용사례</h1>
      <p>한화 이동로봇의 다양한 실제 사용 사례를 알려 드립니다.</p>
    </section>

    <section class="ecosystem-section">
      <div class="tab-nav">
        <div class="tab-nav-wrapper">


          <input type="radio" id="nav1" name="nav" checked />
          <label for="nav1" class="ecosystem-nav1">
            <span>전체</span>
          </label>
          <th:block th:each="robotCategory, stat : ${robotCategory}">
            <input type="radio" th:id="'nav' + ${stat.index + 2}" name="nav" />
            <label th:for="'nav' + ${stat.index + 2}"
                   th:data-category="${robotCategory.categoryNm}"
                   th:data-category-no="${robotCategory.categoryNo}"
            >
              <span th:text="${robotCategory.categoryNm}"></span>
            </label>
          </th:block>


          <select class="tab-nav-mobile">
            <option value="nav_all" th:selected="true">전체</option>
            <th:block th:each="robotCategory, stat : ${robotCategory}">
              <option th:value="${robotCategory.categoryNo}" th:text="${robotCategory.categoryNm}"></option>
            </th:block>
          </select>


          <div class="tab-content-wrapper">

            <div id="nav1-content" class="nav-content">

              <div class="board-top">
                <div class="category-name"></div>
                <p>클린룸 인증을 받아 많은 F&B산업군에서 사용되고 있는 한화로보틱스의 협동로봇을 소개합니다.</p>
              </div>


              <div class="casestudies-main-slider1" id="casestudies-main-slider1">
                <script id="slider-template" type="x-tmpl-mustache" class="hide">
                  {{#items}}
                    <a href="/agv-amr/case-studies/{{robotNo}}" class="casestudies-main-slider-item">
                      <div class="casestudies-main-slider-item-img">
                        <img src="{{thumbnailUrl}}" alt="{{robotNm}}" />
                      </div>
                      <p>{{robotNm}}</p>
                      <span>{{description}}</span>
                    </a>
                  {{/items}}
                </script>
              </div>





            </div>


          </div>
        </div>
      </div>
    </section>


  </main>


</div>
</body>
<th:block layout:fragment="script">
  <script type="text/javascript">

    $(document).ready(function () {
      getList();
      updateCategoryName();

      $("input[name='nav']").on("change", function () {
        let categoryNo = $(this).next("label").data("category-no") || "";
        getList(categoryNo);
      });

      $(".tab-nav-mobile").on("change", function () {
        let categoryNo = $(this).val();
        getList(categoryNo);
      });

    });


    $(document).ready(async function() {
      $('#casestudies-main-slider1').not('.slick-initialized').slick({
        dots: true,
        arrows: true,
        infinite: false,
        autoplay: false,
        slidesPerRow: 3,
        // slidesToShow: 3,
        rows: 3,
        prevArrow: "<button type='button' class='slick-prev'><img src='../images/pc/robots_slider_arrow_left.svg' alt='' /></button>",
        nextArrow: "<button type='button' class='slick-next'><img src='../images/pc/robots_slider_arrow_right.svg' alt='' /></button>",
        responsive: [
          {
            breakpoint: 1025,
            settings: {
              slidesPerRow: 2,
              rows: 3,
            }
          },
          {
            breakpoint: 765,
            settings: {
              slidesPerRow: 1,
              rows: 3,
            }
          },
        ]
      })
    });


    function getList(categoryNo) {
      COMM.ajax({
        url: '/agv-amr/case-studies',
        type: 'POST',
        data: {
          boardType1: 'ROBOT_CASE',
          boardType2: 'AVG_AMR',
          categoryNo: categoryNo
        },
        dataType: 'json',
        success: function(data) {
          const $slider = $('#casestudies-main-slider1');

          if ($slider.hasClass('slick-initialized')) {
            $slider.slick('unslick');
          }

          const template = $("#slider-template").html();
          // if (!template) {
          //   console.error("템플릿을 찾을 수 없습니다. #slider-template 요소가 올바르게 로드되지 않았습니다.");
          //   return;
          // }

          const rendered = Mustache.render(template, { items: data.data });

          $slider.html(rendered);
          initializeSlider();
        },
        error: function(xhr, status, error) {
          console.error('AJAX 요청 실패', status, error);
        }
      });
    }



    function initializeSlider() {
      $('#casestudies-main-slider1').not('.slick-initialized').slick({
        dots: true,
        arrows: true,
        infinite: false,
        autoplay: false,
        slidesPerRow: 3,
        rows: 3,
        prevArrow: "<button type='button' class='slick-prev'><img src='../images/pc/robots_slider_arrow_left.svg' alt='' /></button>",
        nextArrow: "<button type='button' class='slick-next'><img src='../images/pc/robots_slider_arrow_right.svg' alt='' /></button>",
        responsive: [
          {
            breakpoint: 1025,
            settings: {
              slidesPerRow: 2,
              rows: 3,
            }
          },
          {
            breakpoint: 765,
            settings: {
              slidesPerRow: 1,
              rows: 3,
            }
          },
        ]
      });
    }


    function updateCategoryName() {
      let selectedInput = $("input[name='nav']:checked");
      let selectedLabel = selectedInput.next("label");
      let selectedCategory = selectedLabel.data("category");

      if (!selectedCategory) {
        selectedCategory = "전체";
      }

      $(".category-name").text(selectedCategory);
    }


    $(document).ready(function () {
      updateCategoryName();

      $("input[name='nav']").on("change", function () {
        updateCategoryName();
      });
    });







  </script>
</th:block>

</html>