<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">

  <main class="ecosystem casestudies">

    <section class="ecosystem-title">
      <h2>협동로봇</h2>
      <h1>적용사례</h1>
      <p>한화 협동로봇 HCR의 다양한 실제 사용 사례를 알려 드립니다.</p>
    </section>

    <section class="ecosystem-section">
      <div class="tab-nav">
        <div class="tab-nav-wrapper">
          <input type="radio" id="nav1" name="nav" checked />
          <label for="nav1" class="ecosystem-nav1">
            <span>전체</span>
          </label>
          <input type="radio" id="nav2" name="nav" />
          <label for="nav2" class="ecosystem-nav2">
            <span>F&B</span>
          </label>
          <input type="radio" id="nav3" name="nav" />
          <label for="nav3" class="ecosystem-nav3">
            <span>제조/공정</span>
          </label>
          <input type="radio" id="nav4" name="nav" />
          <label for="nav4" class="ecosystem-nav4">
            <span>유통/물류</span>
          </label>
          <input type="radio" id="nav4" name="nav" />
          <label for="nav4" class="ecosystem-nav4">
            <span>용접</span>
          </label>
          <input type="radio" id="nav5" name="nav" />
          <label for="nav5" class="ecosystem-nav5">
            <span>기타</span>
          </label>

          <select class="tab-nav-mobile">
            <option value="nav1" selected>전체</option>
            <option value="nav2">F&B</option>
            <option value="nav3">제조/공정</option>
            <option value="nav4">유통/물류</option>
            <option value="nav5">용접</option>
            <option value="nav6">기타</option>
          </select>

          <div class="tab-content-wrapper">
            <div id="nav1-content" class="nav-content">

              <div class="board-top">
                <div class="category-name">Food & Beverage</div>
                <p>클린룸 인증을 받아 많은 F&B산업군에서 사용되고 있는 한화로보틱스의 협동로봇을 소개합니다.</p>
              </div>

              <div class="casestudies-main-slider1" id="casestudies-main-slider1">
                <a href="#" class="casestudies-main-slider-item">
                  <div class="casestudies-main-slider-item-img">
                    <img src="../images/product/casestudies_thumb1.png" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="casestudies-main-slider-item">
                  <div class="casestudies-main-slider-item-img">
                    <img src="../images/product/casestudies_thumb1.png" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="casestudies-main-slider-item">
                  <div class="casestudies-main-slider-item-img">
                    <img src="../images/product/casestudies_thumb1.png" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="casestudies-main-slider-item">
                  <div class="casestudies-main-slider-item-img">
                    <img src="../images/product/casestudies_thumb1.png" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="casestudies-main-slider-item">
                  <div class="casestudies-main-slider-item-img">
                    <img src="../images/product/casestudies_thumb1.png" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="casestudies-main-slider-item">
                  <div class="casestudies-main-slider-item-img">
                    <img src="../images/product/casestudies_thumb1.png" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="casestudies-main-slider-item">
                  <div class="casestudies-main-slider-item-img">
                    <img src="../images/product/casestudies_thumb1.png" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="casestudies-main-slider-item">
                  <div class="casestudies-main-slider-item-img">
                    <img src="../images/product/casestudies_thumb1.png" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="casestudies-main-slider-item">
                  <div class="casestudies-main-slider-item-img">
                    <img src="../images/product/casestudies_thumb1.png" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="casestudies-main-slider-item">
                  <div class="casestudies-main-slider-item-img">
                    <img src="../images/product/casestudies_thumb1.png" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="casestudies-main-slider-item">
                  <div class="casestudies-main-slider-item-img">
                    <img src="../images/product/casestudies_thumb1.png" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="casestudies-main-slider-item">
                  <div class="casestudies-main-slider-item-img">
                    <img src="../images/product/casestudies_thumb1.png" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="casestudies-main-slider-item">
                  <div class="casestudies-main-slider-item-img">
                    <img src="../images/product/casestudies_thumb1.png" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="casestudies-main-slider-item">
                  <div class="casestudies-main-slider-item-img">
                    <img src="../images/product/casestudies_thumb1.png" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="casestudies-main-slider-item">
                  <div class="casestudies-main-slider-item-img">
                    <img src="../images/product/casestudies_thumb1.png" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
              </div>
            </div>

            <div id="nav2-content" class="nav-content">
              <div class="board-top">
                <div class="category-name">제조/공정</div>
                <p>제조/공정제조/공정제조/공정제조/공정제조/공정.</p>
              </div>
              <div class="casestudies-main-slider1" id="casestudies-main-slider2">
                <a href="#" class="casestudies-main-slider-item">
                  <div class="casestudies-main-slider-item-img">
                    <img src="../images/product/casestudies_thumb2.png" alt="" />
                  </div>
                  <p>PHD Pneu-Connect X2 Dual Pneumatic Grippers</p>
                  <span>PHD, Inc.</span>
                </a>
                <a href="#" class="casestudies-main-slider-item">
                  <div class="casestudies-main-slider-item-img">
                    <img src="../images/product/casestudies_thumb2.png" alt="" />
                  </div>
                  <p>Vacuum Gripper Unit ZXP-X1(Compatible with HCR-3A)</p>
                  <span>SMC Korea, Co.,Ltd</span>
                </a>
                <a href="#" class="casestudies-main-slider-item">
                  <div class="casestudies-main-slider-item-img">
                    <img src="../images/product/casestudies_thumb2.png" alt="" />
                  </div>
                  <p>Air Gripper Unit for Hanwha Collaborative Robots (JMHZ2-HWRB01)</p>
                  <span>SMC Korea, Co.,Ltd</span>
                </a>

                <a href="#" class="casestudies-main-slider-item">
                  <div class="casestudies-main-slider-item-img">
                    <img src="../images/product/casestudies_thumb2.png" alt="" />
                  </div>
                  <p>Soft Grippers</p>
                  <span>OnRobot</span>
                </a>

                <a href="#" class="casestudies-main-slider-item">
                  <div class="casestudies-main-slider-item-img">
                    <img src="../images/product/casestudies_thumb2.png" alt="" />
                  </div>
                  <p>3FG15</p>
                  <span>OnRobot</span>
                </a>

                <a href="#" class="casestudies-main-slider-item">
                  <div class="casestudies-main-slider-item-img">
                    <img src="../images/product/casestudies_thumb2.png" alt="" />
                  </div>
                  <p>Gecko SP</p>
                  <span>OnRobot</span>
                </a>
              </div>
            </div>
            <div id="nav3-content" class="nav-content">
              <div class="ecosystem-main-slider1" id="ecosystem-main-slider3">
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_05_thumb.png" alt="" />
                  </div>
                  <p>Pickit M-HD</p>
                  <span>Pickit 3D</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_09_thumb.png" alt="" />
                  </div>
                  <p>Pickit M</p>
                  <span>Pickit 3D</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_13_thumb.png" alt="" />
                  </div>
                  <p>Cognex In-Sight Vision Systems</p>
                  <span>Cognex Corporation</span>
                </a>
              </div>
            </div>
            <div id="nav4-content" class="nav-content">
              <div class="ecosystem-main-slider1" id="ecosystem-main-slider4">
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_02_thumb.jpeg" alt="" />
                  </div>
                  <p>Screwdriver</p>
                  <span>OnRobot</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_06_thumb.jpeg" alt="" />
                  </div>
                  <p>HCT-1200</p>
                  <span>Dymato Automation</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_10.jpg" alt="" />
                  </div>
                  <p>SRP Cobot Palletiser</p>
                  <span>RCO Mechatronics BV</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_14.jpg" alt="" />
                  </div>
                  <p>MT05 Loading Table</p>
                  <span>Mactech</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_17.jpg" alt="" />
                  </div>
                  <p>MT04 CNC ASSISTANT</p>
                  <span>Mactech</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_20_thumb.jpeg" alt="" />
                  </div>
                  <p>Hi400P</p>
                  <span>현대종합금속(주)</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_23_thumb.jpeg" alt="" />
                  </div>
                  <p>ATI Axia80 Force/Torque Sensor Kit</p>
                  <span>ATI Industrial Automation</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_26_thumb.png" alt="" />
                  </div>
                  <p>Asycube 50 & Asycube 80</p>
                  <span>Asyril SA</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_29_thumb.png" alt="" />
                  </div>
                  <p>Asycube 240</p>
                  <span>Asyril SA</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_32_thumb.png" alt="" />
                  </div>
                  <p>Asycube 380 & Asycube 530</p>
                  <span>Asyril SA</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_35_thumb.jpeg" alt="" />
                  </div>
                  <p>스마트 피더 에이브 2.0/3.0</p>
                  <span>주식회사 에이아이엠</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_38.jpg" alt="" />
                  </div>
                  <p>ABIROB W 300</p>
                  <span>Abicor Binzel</span>
                </a>
              </div>
            </div>
            <div id="nav5-content" class="nav-content">
              <div class="ecosystem-main-slider1" id="ecosystem-main-slider5">
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_03_thumb.png" alt="" />
                  </div>
                  <p>Magbot Automatic Tool Changer</p>
                  <span>UND</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_07.png" alt="" />
                  </div>
                  <p>Rodi-X software applications for ecosystem integration</p>
                  <span>Airgate</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_11.png" alt="" />
                  </div>
                  <p>MT01, MT02</p>
                  <span>Mactech</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_15.jpg" alt="" />
                  </div>
                  <p>Screen Protector</p>
                  <span>Drim Robotics Sp.z.o.o.</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_18_thumb.jpeg" alt="" />
                  </div>
                  <p>Robotmaster V7</p>
                  <span>Hypertherm Robotic Software Inc.</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_21_thumb.png" alt="" />
                  </div>
                  <p>AUTOMAPPPPS</p>
                  <span>Convergent Information Technologies GmbH</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_24_thumb.jpeg" alt="" />
                  </div>
                  <p>RoboDK Simulation Software</p>
                  <span>RoboDK</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_27_thumb.jpeg" alt="" />
                  </div>
                  <p>sBot-Speed</p>
                  <span>SICK</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_30_thumb.png" alt="" />
                  </div>
                  <p>Quick Changer</p>
                  <span>OnRobot</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_33.jpg" alt="" />
                  </div>
                  <p>CoPROTECT</p>
                  <span>CoRobotics</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_36.jpg" alt="" />
                  </div>
                  <p>HCR_Dresspack_2M/3M</p>
                  <span>만희기전</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_39_thumb.jpeg" alt="" />
                  </div>
                  <p>1A CoBot Dress Pack</p>
                  <span>REIKU GmbH</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_41.jpg" alt="" />
                  </div>
                  <p>FHS-SH-Set HCR Series</p>
                  <span>Murrplastik Systemtechnik GmbH</span>
                </a>
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_43.jpg" alt="" />
                  </div>
                  <p>NT 50-RS-EN</p>
                  <span>Hilscher Gesellschaft für Systemautomation mbH</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_45.jpg" alt="" />
                  </div>
                  <p>NT 100-RE-EN</p>
                  <span>Hilscher Gesellschaft für Systemautomation mbH</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_47.jpg" alt="" />
                  </div>
                  <p>NT 50-CC-EN</p>
                  <span>Hilscher Gesellschaft für Systemautomation mbH</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  </main>


</div>
</body>

</html>