<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body data-gnb-target="agv/amr">
<div layout:fragment="content" class="products-detail">


    <main th:if="#{header.nation} == 'EN'">
        <a href="/agv-amr" class="products-detail-prev">
            <img src="../images/pc/products_detail_arrow.svg" alt />
        </a>

        <section class="products-detail-title">
            <h1>Semiconductor<br/>Production Type</h1>
            <p>
                반도체 제조용 AGV는 DSP (Double Side Polishing)<br/>
                공정에서 생산된 웨이퍼를 수조에 담아 이송합니다.
            </p>
        </section>

        <section class="products-detail-video">
            <div class="products-detail-video-bg"></div>
            <div class="products-detail-video-slider">
                <div class="products-detail-video-slider-item">
                    <div>
                        <video class="products-detail-video-item" src="../videos/08_Wafer Production Type AGV2 - Trim.mp4" autoplay loop muted controls></video>
                    </div>
                </div>
            </div>
        </section>

        <section class="products-detail-info">
            <h3>주요 어플리케이션/<br/>산업군</h3>
            <div class="products-detail-info-wrapper">
                <div class="products-detail-info-item">
                    <img src="../images/pc/products_detail_info_9.svg" alt="" />
                    <span>반도체</span>
                </div>
                <div class="products-detail-info-item">
                    <div></div>
                </div>
                <div class="products-detail-info-item">
                    <div></div>
                </div>
                <div class="products-detail-info-item">
                    <div></div>
                </div>
                <div class="products-detail-info-item">
                    <div></div>
                </div>
                <div class="products-detail-info-item mo">
                    <div></div>
                </div>
            </div>
        </section>

        <section class="products-detail-spec">
            <h3>Specifications</h3>
            <div class="products-detail-spec-table">
                <div class="products-detail-spec-table-item">
                    <span>Hardware</span>
                    <div class="products-detail-spec-table-item-cell-container hardware">
                        <div class="products-detail-spec-table-item-cell">
                            <span>Stop Resolution</span>
                            <p>±10mm</p>
                        </div>
                        <div class="products-detail-spec-table-item-cell">
                            <span>Velocity</span>
                            <p>1.0m/s</p>
                        </div>
                        <div class="products-detail-spec-table-item-cell">
                            <span>Load Capacity</span>
                            <p>Max. 90kg</p>
                        </div>
                        <div class="products-detail-spec-table-item-cell">
                            <span>Lift</span>
                            <p></p>
                        </div>
                        <div class="products-detail-spec-table-item-cell">
                            <span>Battery</span>
                            <p>LiFePO4<br/>
                                Li-ion<br/>
                            </p>
                        </div>
                        <div class="products-detail-spec-table-item-cell">
                            <span>Conveyor velocity</span>
                            <p>80mm/s</p>
                        </div>
                    </div>
                </div>
                <div class="products-detail-spec-table-item">
                    <span>Software</span>
                    <div class="products-detail-spec-table-item-cell-container software">
                        <div class="products-detail-spec-table-item-cell">
                            <span>Navigation Type</span>
                            <p>Laser-Reflect Guide</p>
                        </div>
                        <div class="products-detail-spec-table-item-cell">
                            <span>Communication</span>
                            <p>Wireless LAN Control<br/>
                                PC-Base</p>
                        </div>
                        <div class="products-detail-spec-table-item-cell">
                            <span>Battery Charger</span>
                            <p>Opportunity Fast-Charging<br/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="products-detail-slider-container">
            <div class="products-detail-slider">
                <div class="products-detail-slider-item">
                    <a href="/agv-amr/reel-and-roll">
<!--                        <img src="../images/pc/product_detail_other_01.webp" alt="" />-->
                        <img src="../images/pc/product_item_01.webp" alt="" />
                        <p>Reel & Roll Type</p>
                    </a>
                </div>
                <div class="products-detail-slider-item">
                    <a href="/agv-amr/forklift">
                        <img src="../images/pc/product_detail_other_02.webp" alt="" />
                        <p>Forklift Type</p>
                    </a>
                </div>
                <div class="products-detail-slider-item">
                    <a href="/agv-amr/pallet-truck">
                        <img src="../images/pc/product_detail_other_03.webp" alt="" />
                        <p>Pallet Truck Type</p>
                    </a>
                </div>
                <div class="products-detail-slider-item">
                    <a href="/agv-amr/high-mast">
                        <img src="../images/pc/product_detail_other_04.webp" alt="" />
                        <p>High-mast Type</p>
                    </a>
                </div>
                <div class="products-detail-slider-item">
                    <a href="/agv-amr/conveyor">
                        <img src="../images/pc/product_detail_other_05.webp" alt="" />
                        <p>Conveyor Type</p>
                    </a>
                </div>
                <div class="products-detail-slider-item">
                    <a href="/agv-amr/semiconductor">
                        <img src="../images/pc/product_detail_other_06.webp" alt="" />
            <p>Glass Packaging Type</p>
                    </a>
                </div>
                <div class="products-detail-slider-item">
                    <a href="/agv-amr/wafer-production1">
                        <img src="../images/pc/product_detail_other_07.webp" alt="" />
                        <p>Wafer Production Type</p>
                    </a>
                </div>
                <div class="products-detail-slider-item">
                    <a href="/agv-amr/wafer-production2">
                        <img src="../images/pc/product_detail_other_08.webp" alt="" />
                        <p>Semiconductor<br/>Production Type</p>
                    </a>
                </div>
                <div class="products-detail-slider-item">
                    <a href="/agv-amr/amr">
                        <img src="../images/pc/product_detail_other_09.webp" alt="" />
                        <p>AMR</p>
                    </a>
                </div>
            </div>
        </section>

    </main>



    <main th:unless="#{header.nation} == 'EN'">
        <a href="/agv-amr" class="products-detail-prev">
            <img src="../images/pc/products_detail_arrow.svg" alt />
        </a>

        <section class="products-detail-title">
            <h1>Semiconductor<br/>Production Type</h1>
            <p>
                The Semiconductor production type-AGV transports wafers produced in<br/>
                the Double Side Polishing (DSP) process in the water-filled containers.
            </p>
        </section>

        <section class="products-detail-video">
            <div class="products-detail-video-bg"></div>
            <div class="products-detail-video-slider">
                <div class="products-detail-video-slider-item">
                    <div>
                        <video class="products-detail-video-item" src="../videos/08_Wafer Production Type AGV2 - Trim.mp4" autoplay loop muted controls></video>
                    </div>
                </div>
            </div>
        </section>

        <section class="products-detail-info">
            <h3>Applicable <br/>Industries</h3>
            <div class="products-detail-info-wrapper">
                <div class="products-detail-info-item">
                    <img src="../images/pc/products_detail_info_9.svg" alt="" />
                    <span>Semiconductors</span>
                </div>
                <div class="products-detail-info-item">
                    <div></div>
                </div>
                <div class="products-detail-info-item">
                    <div></div>
                </div>
                <div class="products-detail-info-item">
                    <div></div>
                </div>
                <div class="products-detail-info-item">
                    <div></div>
                </div>
                <div class="products-detail-info-item mo">
                    <div></div>
                </div>
            </div>
        </section>

        <section class="products-detail-spec">
            <h3>Specifications</h3>
            <div class="products-detail-spec-table">
                <div class="products-detail-spec-table-item">
                    <span>Hardware</span>
                    <div class="products-detail-spec-table-item-cell-container hardware">
                        <div class="products-detail-spec-table-item-cell">
                            <span>Stop Resolution</span>
                            <p>±10mm</p>
                        </div>
                        <div class="products-detail-spec-table-item-cell">
                            <span>Velocity</span>
                            <p>1.0m/s</p>
                        </div>
                        <div class="products-detail-spec-table-item-cell">
                            <span>Load Capacity</span>
                            <p>Max. 90kg</p>
                        </div>
                        <div class="products-detail-spec-table-item-cell">
                            <span>Lift</span>
                            <p></p>
                        </div>
                        <div class="products-detail-spec-table-item-cell">
                            <span>Battery</span>
                            <p>LiFePO4<br/>
                                Li-ion<br/>
                            </p>
                        </div>
                        <div class="products-detail-spec-table-item-cell">
                            <span>Conveyor velocity</span>
                            <p>80mm/s</p>
                        </div>
                    </div>
                </div>
                <div class="products-detail-spec-table-item">
                    <span>Software</span>
                    <div class="products-detail-spec-table-item-cell-container software">
                        <div class="products-detail-spec-table-item-cell">
                            <span>Navigation Type</span>
                            <p>Laser-Reflect Guide</p>
                        </div>
                        <div class="products-detail-spec-table-item-cell">
                            <span>Communication</span>
                            <p>Wireless LAN Control<br/>
                                PC-Base</p>
                        </div>
                        <div class="products-detail-spec-table-item-cell">
                            <span>Battery Charger</span>
                            <p>Opportunity Fast-Charging<br/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="products-detail-slider-container">
            <div class="products-detail-slider">
                <div class="products-detail-slider-item">
                    <a href="/agv-amr/reel-and-roll">
                        <img src="../images/pc/product_detail_other_01.webp" alt="" />
                        <p>Reel & Roll Type</p>
                    </a>
                </div>
                <div class="products-detail-slider-item">
                    <a href="/agv-amr/forklift">
                        <img src="../images/pc/product_detail_other_02.webp" alt="" />
                        <p>Forklift Type</p>
                    </a>
                </div>
                <div class="products-detail-slider-item">
                    <a href="/agv-amr/pallet-truck">
                        <img src="../images/pc/product_detail_other_03.webp" alt="" />
                        <p>Pallet Truck Type</p>
                    </a>
                </div>
                <div class="products-detail-slider-item">
                    <a href="/agv-amr/high-mast">
                        <img src="../images/pc/product_detail_other_04.webp" alt="" />
                        <p>High-mast Type</p>
                    </a>
                </div>
                <div class="products-detail-slider-item">
                    <a href="/agv-amr/conveyor">
                        <img src="../images/pc/product_detail_other_05.webp" alt="" />
                        <p>Conveyor Type</p>
                    </a>
                </div>
                <div class="products-detail-slider-item">
                    <a href="/agv-amr/semiconductor">
                        <img src="../images/pc/product_detail_other_06.webp" alt="" />
                        <p>Glass Packaging Type</p>
                    </a>
                </div>
                <div class="products-detail-slider-item">
                    <a href="/agv-amr/wafer-production1">
                        <img src="../images/pc/product_detail_other_07.webp" alt="" />
                        <p>Wafer Production Type</p>
                    </a>
                </div>
                <div class="products-detail-slider-item">
                    <a href="/agv-amr/amr">
                        <img src="../images/pc/product_detail_other_09.webp" alt="" />
                        <p>AMR</p>
                    </a>
                </div>
            </div>
        </section>

    </main>





</div>
</body>
</html>
