<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
  <meta name="google-site-verification" content="wqf8tEmY7_34-_37qAtBLT3-Sv-0DcLkfVzqEQSEXbQ" />
  
  <title>한화로보틱스</title>
  <link rel="shortcut icon" href="../images/favicon.png">

  <link rel="preconnect" href="https://ajax.googleapis.com" />
  <link rel="preconnect" href="https://cdn.jsdelivr.net" crossOrigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" crossOrigin="anonymous" />

  <meta name="description" content="한화로보틱스는 기술 품질과 신뢰를 경영의 제1원칙으로 설정해 미래를 내다보는 차별화된 기술과 솔루션을 제공하겠습니다." />
  <meta name="keywords" content="한화로보틱스" />

  <meta property="og:title" content="한화로보틱스" />
  <meta property="og:description" content="한화로보틱스는 기술 품질과 신뢰를 경영의 제1원칙으로 설정해 미래를 내다보는 차별화된 기술과 솔루션을 제공하겠습니다." />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  
  <link rel="stylesheet" rel="preload" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />
  <link rel="stylesheet" href="../css/aos.css" />
  <link rel="stylesheet" href="../css/common.css" />
  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="../css/board.css" />
  <link rel="stylesheet" media="screen and (min-width: 1500px)"  href="../css/pc.css" />
  <link rel="stylesheet" media="screen and (max-width: 1499px)"  href="../css/tablet.css" />
  <link rel="stylesheet" media="screen and (max-width: 1023px)"  href="../css/mobile.css" />
  <link rel="stylesheet" href="../css/slick.css" />
</head>

<body data-gnb-target="agv/amr">
  <section class="inquiry_more"></section>
  
  <header id="header" class="sub_header">
  </header>

  <main class="products-detail">
    <a href="/agv-amr" class="products-detail-prev">
      <img src="../images/pc/products_detail_arrow.svg" alt />
    </a>

    <section class="products-detail-title">
      <h1>High-mast Type</h1>
      <p>
        하이마스트 타입 AGV는 창고와 물류센터에서 최대 6.8M<br/>
        높이에 있는 팔레트를 로딩/언로딩하는 능력을 갖추고 있습니다.<br/>
        또한 AGV제품임에도 일반적인 지게차와 같이<br/>
        작업자가 탑승해 조작하는 기능을 지원합니다.
      </p>
    </section>

    <section class="products-detail-video">
      <div class="products-detail-video-bg"></div>
      <div class="products-detail-video-slider">
        <div class="products-detail-video-slider-item">
          <div>
            <video class="products-detail-video-item" src="../videos/05_High-mast Reach Forklift Type AGV - Trim.mp4" autoplay loop muted></video>
          </div>
        </div>
      </div>
    </section>

    <section class="products-detail-info">
      <h3>주요 어플리케이션/<br/>산업군</h3>
      <div class="products-detail-info-wrapper">
        <div class="products-detail-info-item">
          <img src="../images/pc/products_detail_info_1.svg" alt="" />
          <span>창고사업</span>
        </div>
        <div class="products-detail-info-item">
          <img src="../images/pc/products_detail_info_2.svg" alt="" />
          <span>물류센터</span>
        </div>
        <div class="products-detail-info-item">
          <div></div>
        </div>
        <div class="products-detail-info-item">
          <div></div>
        </div>
        <div class="products-detail-info-item">
          <div></div>
        </div>
        <div class="products-detail-info-item mo">
          <div></div>
        </div>
      </div>
    </section>

    <section class="products-detail-spec">
        <h3>Specifications</h3>
        <div class="products-detail-spec-table">
          <div class="products-detail-spec-table-item">
            <span>Hardware</span>
            <div class="products-detail-spec-table-item-cell-container hardware">
              <div class="products-detail-spec-table-item-cell">
                <span>Stop Resolution</span>
                <p>±10mm</p>
              </div>
              <div class="products-detail-spec-table-item-cell">
                <span>Velocity</span>
                <p>1.0m/s</p>
              </div>
              <div class="products-detail-spec-table-item-cell">
                <span>Load Capacity</span>
                <p>Max. 1000kg</p>
              </div>
              <div class="products-detail-spec-table-item-cell">
                <span>Lift</span>
                <p>6800mm Lift Stroke</p>
              </div>
              <div class="products-detail-spec-table-item-cell">
                <span>Battery</span>
                <p>LiFePO4<br/>
                  Li-ion<br/>
                  Lead Acid Battery</p>
              </div>
              <div class="products-detail-spec-table-item-cell">
                <span>Conveyor velocity</span>
                <p></p>
              </div>
            </div>
          </div>
          <div class="products-detail-spec-table-item">
            <span>Software</span>
            <div class="products-detail-spec-table-item-cell-container software">
              <div class="products-detail-spec-table-item-cell">
                <span>Navigation Type</span>
                <p>Laser-Reflect Guide</p>
              </div>
              <div class="products-detail-spec-table-item-cell">
                <span>Communication</span>
                <p>Wireless LAN Control<br/>
                  PC-Base</p>
              </div>
              <div class="products-detail-spec-table-item-cell">
                <span>Battery Charger</span>
                <p>Opportunity Fast-Charging<br/>
                  Automatic Battery Exchanger</p>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section class="products-detail-slider-container">
      <div class="products-detail-slider">
        <div class="products-detail-slider-item">
            <a href="/agv-amr/reel-and-roll">
                <img src="../images/pc/product_item@3x.webp" alt="" />
                <p>Reel & Roll Type</p>
            </a>
        </div>
        <div class="products-detail-slider-item">
            <a href="/agv-amr/forklift">
                <img src="../images/pc/product_item@3x.webp" alt="" />
                <p>Forklift Type</p>
            </a>
        </div>
        <div class="products-detail-slider-item">
            <a href="/agv-amr/pallet-truck">
                <img src="../images/pc/product_item@3x.webp" alt="" />
                <p>Pallet Truck Type</p>
            </a>
        </div>
        <div class="products-detail-slider-item">
            <a href="/agv-amr/high-mast">
                <img src="../images/pc/product_item@3x.webp" alt="" />
                <p>High-mast Type</p>
            </a>
        </div>
        <div class="products-detail-slider-item">
            <a href="/agv-amr/conveyor">
                <img src="../images/pc/product_item@3x.webp" alt="" />
                <p>Conveyor Type</p>
            </a>
        </div>
        <div class="products-detail-slider-item">
            <a href="/agv-amr/semiconductor">
                <img src="../images/pc/product_item@3x.webp" alt="" />
                <p>Semiconductor<br/>Packaging Type</p>
            </a>
        </div>
        <div class="products-detail-slider-item">
            <a href="/agv-amr/wafer-production1">
                <img src="../images/pc/product_item@3x.webp" alt="" />
                <p>Wafer Production<br/>Type #1</p>
            </a>
        </div>
        <div class="products-detail-slider-item">
            <a href="/agv-amr/wafer-production2">
                <img src="../images/pc/product_item@3x.webp" alt="" />
                <p>Wafer Production<br/>Type #2</p>
            </a>
        </div>
        <div class="products-detail-slider-item">
            <a href="/agv-amr/amr">
                <img src="../images/pc/product_item@3x.webp" alt="" />
                <p>AMR</p>
            </a>
        </div>
    </div>
    </section>

  </main>

  <footer id="footer"></footer>

  <div class="layer_wrap"></div>

  <script text="text/javascript" src="../js/jquery.min.js"></script>

  <script type="text/javascript" src="../js/aos.js"></script>

  <script text="text/javascript" src="../js/gsap.min.js"></script>
  <script text="text/javascript" src="../js/ScrollTrigger.min.js"></script> 
  
  <!-- Slick -->
  <script src="../js/slick.min.js"></script>

  <!-- 패럴렉스 -->
  <script type="text/javascript" src="../js/ScrollMagic.min.js"></script>
  <script type="text/javascript" src="../js/animation.gsap.js"></script>

  <script src="../js/library.js"></script>
  <script src="../js/common.js"></script>
  <script src="../js/sub.js"></script>

</body>

</html>