<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">

    <section class="inquiry_more"></section>

    <main class="sub products">
        <section class="section_1">
            <div class="group group1">
                <div class="title" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">Products</div>
                <div class="txt1" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">
                    한화로보틱스가 만들어가는 <br/>더 나은 세상을 보여드립니다
                </div>
            </div>
            <button type="button" class="inquiry products">
                구매/견적 문의
                <span><strong>+</strong></span>
            </button>
        </section>

        <aside class="products-main-bg">
            <picture>
                <source srcset="../images/pc/about_main_bg_mo@3x.webp" media="(max-width: 765px)" />
                <img src="../images/pc/products_main_bg@3x.webp" alt="" />
            </picture>
        </aside>

        <section class="products-section2">
            <div class="products-section2-title">
                <div class="products-section2-title-item">
                    <div>
                        <h2>AGV</h2>
                        <span>(Automated Guided Vehicle)</span>
                    </div>
                    <p>
                        공장이나 창고 등 물류 이송이 필요한 곳에서 경로를 안내하는 유도선, 장치 등의 도움을 받아 다른 기기와 신호를 주고 받으며 최적의 동선으로 안전하게 물품의 이/적재를 수행합니다.
                    </p>
                </div>
                <div class="products-section2-title-item">
                    <div>
                        <h2>AMR</h2>
                        <span>(Autonomous Mobile Robots)</span>
                    </div>
                    <p>
                        공장이나 창고 등 물류 이송이 필요한 곳에서 경로 안내 장치 없이 장애물을 스스로 인식하여 최적의 경로로 이동합니다.
                    </p>
                </div>
            </div>
            <div class="products-section2-contents">
                <div class="products-section2-slider">
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Reel & Roll Type</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Forklift Type</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Pallet Truck Type</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>High-mast Type</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Conveyor Type</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Semiconductor Packaging Type</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Wafer Production Type  #1</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Wafer Production Type  #2</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>AMR</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Reel & Roll Type</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Forklift Type</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Pallet Truck Type</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>High-mast Type</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Conveyor Type</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Semiconductor Packaging Type</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Wafer Production Type  #1</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Wafer Production Type  #2</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>AMR</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Reel & Roll Type</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Forklift Type</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Pallet Truck Type</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>High-mast Type</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Conveyor Type</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Semiconductor Packaging Type</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Wafer Production Type  #1</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Wafer Production Type  #2</p>
                    </a>
                    <a href="#" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>AMR</p>
                    </a>
                </div>
            </div>
        </section>

        <section class="products-section3">
            <div class="products-section3-title">
                <h2>왜 한화 AGV/AMR을 선택해야 할까요?</h2>
                <p>설계부터 CS까지 제공하는 턴키 서비스로 고객 현장에 최적화된 AGV/AMR을 제공합니다.</p>
            </div>
            <div>
                <div class="tab-nav">
                    <input type="radio" id="nav1" name="nav" checked />
                    <label for="nav1" class="products-nav1">
                        <span>고객 맞춤형 시스템</span>
                    </label>

                    <input type="radio" id="nav2" name="nav" />
                    <label for="nav2" class="products-nav2">
                        <span>안전성</span>
                    </label>

                    <input type="radio" id="nav3" name="nav" />
                    <label for="nav3" class="products-nav3">
                        <span>협동로봇 Collaboration</span>
                    </label>

                    <div id="nav1-content" class="nav-content">
                        <div class="tab-sub-nav">
                            <input type="radio" id="nav1-1" name="nav1-1" value="nav1-1" checked />
                            <label for="nav1-1" class="products-nav1-1">
                                <div class="nav1-1-bg"></div>
                                <span>위치인식기술</span>
                            </label>
                            <input type="radio" id="nav1-2" name="nav1-1" value="nav1-2" />
                            <label for="nav1-2" class="products-nav1-2">
                                <div class="nav1-2-bg"></div>
                                <span>다양한 배터리 충전 방식</span>
                            </label>
                            <input type="radio" id="nav1-3" name="nav1-1" value="nav1-3" />
                            <label for="nav1-3" class="products-nav1-3">
                                <div class="nav1-3-bg"></div>
                                <span>자체 관제 시스템</span>
                            </label>
                            <input type="radio" id="nav1-4" name="nav1-1" value="nav1-4" />
                            <label for="nav1-4" class="products-nav1-4">
                                <div class="nav1-4-bg"></div>
                                <span>무선 네트워크 시뮬레이션</span>
                            </label>
                        </div>
                        <div class="nav1-1-divider"></div>
                        <div id="nav1-1-content" class="nav1-1-content">
                            <div class="nav1-1-content-text-container">
                                <div class="nav1-1-content-text">
                                    <h4>1) Reflector-Guided Localization</h4>
                                    <p>2D-LiDAR(Light Detection and Ranging) 센서로 현장에 설치된 3개 이상의 반사판을 인식, 반사판 사이의 거리와 각도를 계산해 위치를 인식하는 기술로, 현존하는 위치 인식 기술 중 가장 신뢰성이 높습니다.</p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>2) SLAM (Simultaneously Localization and Mapping)</h4>
                                    <p>레이저 스캐너를 활용해 주변 환경 지도를 생성하여 스스로 위치를 인식하는 기술로, 반사판 설치가 필요하지 않다는 장점을 가지고 있습니다.</p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>3) SLAM-Reflector-Guided Hybrid Localization</h4>
                                    <p>Reflector Guided Localization과 SLAM 기술을 결합한 기술로, 일반적인 위치 인식은 SLAM 중심으로 진행하되 정밀한 위치 인식이 필요한 공간에는 반사판을 설치하여 주행 및 제어의 정밀도를 높인 기술입니다.</p>
                                </div>
                            </div>
                        </div>
                        <div id="nav1-2-content" class="nav1-1-content">
                            <div class="nav1-1-content-text-container">
                                <div class="nav1-1-content-text">
                                    <h4>1) 접촉식</h4>
                                    <p>AGV의 충전 단자를 충전기에 접촉시켜 충전하는 방식입니다.</p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>2) 비접촉식</h4>
                                    <p>충전 스테이션에 설치된 자기장을 이용해 단자 연결 없는 비접촉 방식으로도 충전이 가능합니다.</p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>3) 배터리 교환식 (충전 스테이션)</h4>
                                    <p>배터리를 상시 충전하는 스테이션을 구성하여 배터리 충전/교체 시간을 최소화하고, AGV/AMR의 사용
                                        효율성을 증대할 수 있습니다.</p>
                                </div>
                            </div>
                        </div>
                        <div id="nav1-3-content" class="nav1-1-content">
                            <div class="nav1-1-content-text-container">
                                <div class="nav1-1-content-text">
                                    <p>
                                        한화로보틱스가 자체 개발한 ACS (AGV Control System)를 적용하거나, 고객이 요구하는 ACS 를 적용해 고객 현장에 가장 효과적인 관제 시스템을 제공합니다.
                                    </p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>1) Job assign &amp; Control</h4>
                                    <p>새로운 업무를 진행할 때 해당 시점에 업무를 할당 받지 않은 AGV 탐색 후 가장 짧은 시간에 도착할 수
                                        있는 AGV에 업무를 할당합니다.</p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>2) 최적 경로 탐색 &amp; 트래픽 예측 알고리즘</h4>
                                    <p>설계된 동선 상에서 최단 이동 방법을 탐색(설계된 동선 위 장애물이 있다면 사전에 설계된 대체 동선
                                        활용)하고, 여러 AGV/AMR의 이동 경로를 예측해 특정 위치에서의 Traffic Jam을 방지합니다.
                                    </p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>3) 시뮬레이션</h4>
                                    <p>AGV/AMR 수량 및 Tact Time (수요를 맞추기 위해 필요한 제품 1개당 생산 시간), 단위 시간당 최대 반
                                        송량 등 정보 기반의 사전 시뮬레이션을 통해 물동량을 예측이 가능합니다.</p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>4) 이중화 솔루션</h4>
                                    <p>네트워크, 디스크, 전원 등 장애 발생 시 데이터를 예비 서버에 실시간 복제, 복구하여 서비스 운영의 안
                                        전성과 연속성을 보장합니다.</p>
                                </div>
                            </div>
                        </div>
                        <div id="nav1-4-content" class="nav1-1-content">
                            <div class="nav1-1-content-text-container">
                                <div class="nav1-1-content-text">
                                    <p>
                                        Wireless Network로 통신하는 AGV/AMR의 특성을 고려해 AGV/AMR의 원활한 가동을 위한 최적의
                                        네트워크를 마련합니다. AP (Access Point) 위치, 수량, 채널을 최적 설계하고 시뮬레이션을 통해 신호
                                        감소, 채널 간섭 등 트러블을 예측합니다. 시뮬레이션을 통해 신호 감도가 낮은 음영 지역을 확인하고
                                        문제 해결 솔루션을 제공합니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="nav2-content" class="nav-content">
                        <h4>국제 표준 안전 시스템 준수</h4>
                        <div class="nav2-content-text">
                            <p>
                                한화로보틱스 AGV/AMR은 미국 UL (Underwriters Laboratories Inc.,)와 유럽 CE (Conformité Européenne) 인증을 획득한 부품을 사용하며 완제품에 대하여도 수출 국가의 안전 인증을 획득하고 있습니다.<br/>
                                또한 내장된 Safety system은 국제표준인 ISO (International Organization for Standardization), PL (Performance Level, 성능요구수준), SIL (Safety Integrity Level, 안전 무결성 등급) 인증을 획득했습니다.
                            </p>
                            <p>
                                안전 기능을 관장하는 Safety Controller는 3개의 비상 정지 버튼 외에도 Safety Laser Scanner를 통해 장애물을 인식하고, Safety Encoder에서 인식한 정보를 기반으로 모터에 STO (Safety Torque Off) 시그널을 보내 속도를 모니터링 및 조정합니다.<br/>
                                <br/>
                                SLS (Safely Limited Speed) 기능으로 가상의 안전 구역을 설정, 장애물이 설계된 경로 인근에 진입했을 때 속도를 낮추거나 멈춰 안전 사고를 예방합니다.
                            </p>
                        </div>
                    </div>
                    <div id="nav3-content" class="nav-content">
                        <h4>모바일 매니퓰레이터</h4>
                        <div class="nav3-content-text">
                            <p>
                                한화로보틱스는 협동로봇과 AGV/AMR 관련 기술력을 보유하여 협동로봇과 AMR을 접목한 <br/>모바일 매니퓰레이터 (Mobile Manipulator)를 일원화된 설계와 어플리케이션 지원으로 <br/>고객의 니즈에 부합하는 최적의 솔루션을 제공합니다.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <a href="#" class="products-inquiry-link">
            <img src="../images/pc/products_inquiry_cta@3x.webp" alt="" />
        </a>
    </main>







</div>
</body>

</html>