<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body data-gnb-target="agv/amr">
<div layout:fragment="content">


    <main class="sub products" th:if="#{header.nation} == 'EN'">
        <section class="section_1">
            <div class="group group1">
                <div class="title" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">Products</div>
                <div class="txt1" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">
                    한화로보틱스의 모빌리티 로봇은 <br/>설계부터 CS까지 턴키 방식으로 고객 니즈에 <br/>최적화된 맞춤형 서비스를 제공하고 있습니다.
                </div>
            </div>
            <button type="button" class="inquiry products" onclick="layerInquiryBtn(2)">
                구매/견적 문의
                <span><strong>+</strong></span>
            </button>
        </section>

        <aside class="products-main-bg">
            <picture>
                <source srcset="../images/pc/products_main_bg_mobile@3x.webp" media="(max-width: 765px)" />
                <source srcset="../images/pc/products_main_bg_pad@3x.webp" media="(max-width: 1024px)" />
                <img src="../images/pc/products_main_bg@3x.webp" alt="" />
            </picture>
        </aside>

        <section class="products-section2">
            <div class="products-section2-title">
                <div class="products-section2-title-item">
                    <div>
                        <h2>AGV</h2>
                        <span>(Automated Guided Vehicle)</span>
                    </div>
                    <p>
                        공장이나 창고 등 물류 이송이 필요한 곳에서 경로를 안내하는 유도선, 장치 등의 도움을 받아 다른 기기와 신호를 주고 받으며 최적의 동선으로 안전하게 물품의 이/적재를 수행합니다.
                    </p>
                </div>
                <div class="products-section2-title-item">
                    <div>
                        <h2>AMR</h2>
                        <span>(Autonomous Mobile Robot)</span>
                    </div>
                    <p>
                        공장이나 창고 등 물류 이송이 필요한 곳에서 경로 안내 장치 없이 장애물을 스스로 인식하여 최적의 경로로 이동합니다.
                    </p>
                </div>
            </div>
            <div class="products-section2-contents">
                <div class="products-section2-slider">
                    <a href="/agv-amr/reel-and-roll-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item_01.webp" alt="" />
                        <p>Reel & Roll Type</p>
                    </a>
                    <a href="/agv-amr/forklift-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item_02.webp" alt="" />
                        <p>Forklift Type</p>
                    </a>
                    <a href="/agv-amr/pallet-truck-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item_03.webp" alt="" />
                        <p>Pallet Truck Type</p>
                    </a>
                    <a href="/agv-amr/high-mast-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item_04.webp" alt="" />
                        <p>High-mast Type</p>
                    </a>
                    <a href="/agv-amr/conveyor-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item_05.webp" alt="" />
                        <p>Conveyor Type</p>
                    </a>
                    <a href="/agv-amr/glass-packaging-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item_06.webp" alt="" />
                        <p>Glass Packaging Type</p>
                    </a>
                    <a href="/agv-amr/wafer-production-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item_07.webp" alt="" />
                        <p>Wafer Production Type</p>
                    </a>
                    <a href="/agv-amr/semiconductor-production-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item_08.webp" alt="" />
                        <p>Semiconductor Production Type</p>
                    </a>
                    <a href="/agv-amr/amr" class="products-section2-slider-item">
                        <img src="../images/pc/product_item_09.webp" alt="" />
                        <p>AMR</p>
                    </a>
                    <!-- <a href="/agv-amr/reel-and-roll-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Reel & Roll Type</p>
                    </a>
                    <a href="/agv-amr/forklift-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Forklift Type</p>
                    </a>
                    <a href="/agv-amr/forklift-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Pallet Truck Type</p>
                    </a>
                    <a href="/agv-amr/forklift-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>High-mast Type</p>
                    </a>
                    <a href="/agv-amr/forklift-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Conveyor Type</p>
                    </a>
                    <a href="/agv-amr/forklift-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Semiconductor Packaging Type</p>
                    </a>
                    <a href="/agv-amr/forklift-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Wafer Production Type  #1</p>
                    </a>
                    <a href="/agv-amr/forklift-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Wafer Production Type  #2</p>
                    </a>
                    <a href="/agv-amr/forklift-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>AMR</p>
                    </a>
                    <a href="/agv-amr/reel-and-roll-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Reel & Roll Type</p>
                    </a>
                    <a href="/agv-amr/forklift-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Forklift Type</p>
                    </a>
                    <a href="/agv-amr/forklift-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Pallet Truck Type</p>
                    </a>
                    <a href="/agv-amr/forklift-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>High-mast Type</p>
                    </a>
                    <a href="/agv-amr/forklift-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Conveyor Type</p>
                    </a>
                    <a href="/agv-amr/forklift-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Semiconductor Packaging Type</p>
                    </a>
                    <a href="/agv-amr/forklift-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Wafer Production Type  #1</p>
                    </a>
                    <a href="/agv-amr/forklift-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>Wafer Production Type  #2</p>
                    </a>
                    <a href="/agv-amr/forklift-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item@3x.webp" alt="" />
                        <p>AMR</p>
                    </a> -->
                </div>
            </div>
        </section>

        <section class="products-section3">
            <div class="products-section3-title">
                <h2>왜 한화 AGV/AMR을 선택해야 할까요?</h2>
                <p>설계부터 CS까지 제공하는 턴키 서비스로 고객 현장에 최적화된 AGV/AMR을 제공합니다.</p>
            </div>
            <div>
                <div class="tab-nav">
                    <input type="radio" id="nav1" name="nav" checked />
                    <label for="nav1" class="products-nav1">
                        <span>고객 맞춤형 시스템</span>
                    </label>

                    <input type="radio" id="nav2" name="nav" />
                    <label for="nav2" class="products-nav2">
                        <span>안전성</span>
                    </label>

                    <input type="radio" id="nav3" name="nav" />
                    <label for="nav3" class="products-nav3">
                        <span class="products-nav3-pc">협동로봇 Collaboration</span>
                        <span class="products-nav3-mo">협동로봇<br/>Collab-<br/>oration</span>
                    </label>

                    <div id="nav1-content" class="nav-content">
                        <div class="tab-sub-nav">
                            <input type="radio" id="nav1-1" name="nav1-1" value="nav1-1" checked />
                            <label for="nav1-1" class="products-nav1-1">
                                <div class="nav1-1-bg"></div>
                                <span>위치인식기술</span>
                            </label>
                            <input type="radio" id="nav1-2" name="nav1-1" value="nav1-2" />
                            <label for="nav1-2" class="products-nav1-2">
                                <div class="nav1-2-bg"></div>
                                <span>다양한 배터리 충전 방식</span>
                            </label>
                            <input type="radio" id="nav1-3" name="nav1-1" value="nav1-3" />
                            <label for="nav1-3" class="products-nav1-3">
                                <div class="nav1-3-bg"></div>
                                <span>자체 관제 시스템</span>
                            </label>
                            <input type="radio" id="nav1-4" name="nav1-1" value="nav1-4" />
                            <label for="nav1-4" class="products-nav1-4">
                                <div class="nav1-4-bg"></div>
                                <span>무선 네트워크 시뮬레이션</span>
                            </label>
                        </div>
                        <div class="nav1-1-divider"></div>
                        <div id="nav1-1-content" class="nav1-1-content">
                            <div class="nav1-1-content-text-container">
                                <div class="nav1-1-content-text">
                                    <h4>1) Reflector-Guided Localization</h4>
                                    <p>2D-LiDAR(Light Detection and Ranging) 센서로 현장에 설치된 3개 이상의 반사판을 인식, 반사판 사이의 거리와 각도를 계산해 위치를 인식하는 기술로, 현존하는 위치 인식 기술 중 가장 신뢰성이 높습니다.</p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>2) SLAM (Simultaneously Localization and Mapping)</h4>
                                    <p>레이저 스캐너를 활용해 주변 환경 지도를 생성하여 스스로 위치를 인식하는 기술로, 반사판 설치가 필요하지 않다는 장점을 가지고 있습니다.</p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>3) SLAM-Reflector-Guided Hybrid Localization</h4>
                                    <p>Reflector Guided Localization과 SLAM 기술을 결합한 기술로, 일반적인 위치 인식은 SLAM 중심으로 진행하되 정밀한 위치 인식이 필요한 공간에는 반사판을 설치하여 주행 및 제어의 정밀도를 높인 기술입니다.</p>
                                </div>
                            </div>
                        </div>
                        <div id="nav1-2-content" class="nav1-1-content">
                            <div class="nav1-1-content-text-container">
                                <div class="nav1-1-content-text">
                                    <h4>1) 접촉식</h4>
                                    <p>AGV의 충전 단자를 충전기에 접촉시켜 충전하는 방식입니다.</p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>2) 비접촉식</h4>
                                    <p>충전 스테이션에 설치된 자기장을 이용해 단자 연결 없는 비접촉 방식으로도 충전이 가능합니다.</p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>3) 배터리 교환식 (충전 스테이션)</h4>
                                    <p>배터리를 상시 충전하는 스테이션을 구성하여 배터리 충전/교체 시간을 최소화하고, AGV/AMR의 사용
                                        효율성을 증대할 수 있습니다.</p>
                                </div>
                            </div>
                        </div>
                        <div id="nav1-3-content" class="nav1-1-content">
                            <div class="nav1-1-content-text-container">
                                <div class="nav1-1-content-text">
                                    <p>
                                        한화로보틱스가 자체 개발한 ACS (AGV Control System)를 적용하거나, 고객이 요구하는 ACS 를 적용해 고객 현장에 가장 효과적인 관제 시스템을 제공합니다.
                                    </p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>1) Job assign &amp; Control</h4>
                                    <p>새로운 업무를 진행할 때 해당 시점에 업무를 할당 받지 않은 AGV 탐색 후 가장 짧은 시간에 도착할 수
                                        있는 AGV에 업무를 할당합니다.</p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>2) 최적 경로 탐색 &amp; 트래픽 예측 알고리즘</h4>
                                    <p>설계된 동선 상에서 최단 이동 방법을 탐색(설계된 동선 위 장애물이 있다면 사전에 설계된 대체 동선
                                        활용)하고, 여러 AGV/AMR의 이동 경로를 예측해 특정 위치에서의 Traffic Jam을 방지합니다.
                                    </p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>3) 시뮬레이션</h4>
                                    <p>AGV/AMR 수량 및 Tact Time (수요를 맞추기 위해 필요한 제품 1개당 생산 시간), 단위 시간당 최대 반송량 등 정보 기반의 사전 시뮬레이션을 통해 물동량 예측이 가능합니다.</p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>4) 이중화 솔루션</h4>
                                    <p>네트워크, 디스크, 전원 등 장애 발생 시 데이터를 예비 서버에 실시간 복제, 복구하여 서비스 운영의 안전성과 연속성을 보장합니다.</p>
                                </div>
                            </div>
                        </div>
                        <div id="nav1-4-content" class="nav1-1-content">
                            <div class="nav1-1-content-text-container">
                                <div class="nav1-1-content-text">
                                    <p>

                                        Wireless Network로 통신하는 AGV/AMR의 특성을 고려해 AGV/AMR의 원활한 가동을 위한 최적의
                                        네트워크를 마련합니다. AP (Access Point) 위치, 수량, 채널을 최적 설계하고 시뮬레이션을 통해 신호
                                        감소, 채널 간섭 등 트러블을 예측합니다. 시뮬레이션을 통해 신호 감도가 낮은 음영 지역을 확인하고 신호 간섭에 대한 문제 해결 솔루션을 제공합니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="nav1-content-mobile">
                            <div class="nav1-content-mobile-title">
                                <h4>위치인식기술</h4>
                                <img src="../images/pc/ic_arrow_down.svg" alt="" />
                            </div>
                            <div class="nav1-content-mobile-content">
                                <div class="nav1-content-mobile-content-text">
                                    <h5>1) Reflector-Guided Localization</h5>
                                    <p>2D-LiDAR(Light Detection and Ranging) 센서로 현장에 설치된 3개 이상의 반사판을 인식, 반사판 사이의 거리와 각도를 계산해 위치를 인식하는 기술로, 현존하는 위치 인식 기술 중 가장 신뢰성이 높습니다.</p>
                                </div>
                                <div class="nav1-content-mobile-content-text">
                                    <h5>2) SLAM (Simultaneously Localization and Mapping)</h5>
                                    <p>레이저 스캐너를 활용해 주변 환경 지도를 생성하여 스스로 위치를 인식하는 기술로, 반사판 설치가 필요하지 않다는 장점을 가지고 있습니다.</p>
                                </div>
                                <div class="nav1-content-mobile-content-text">
                                    <h5>3) SLAM-Reflector-Guided Hybrid Localization</h5>
                                    <p>Reflector Guided Localization과 SLAM 기술을 결합한 기술로, 일반적인 위치 인식은 SLAM 중심으로 진행하되 정밀한 위치 인식이 필요한 공간에는 반사판을 설치하여 주행 및 제어의 정밀도를 높인 기술입니다.</p>
                                </div>
                            </div>
                            <div class="nav1-content-mobile-title">
                                <h4>다양한 배터리 충전 방식</h4>
                                <img src="../images/pc/ic_arrow_down.svg" alt="" />
                            </div>
                            <div class="nav1-content-mobile-content">
                                <div class="nav1-content-mobile-content-text">
                                    <h5>1) 접촉식</h5>
                                    <p>AGV의 충전 단자를 충전기에 접촉시켜 충전하는 방식입니다.</p>
                                </div>
                                <div class="nav1-content-mobile-content-text">
                                    <h5>2) 비접촉식</h5>
                                    <p>충전 스테이션에 설치된 자기장을 이용해 단자 연결 없는 비접촉 방식으로도 충전이 가능합니다.</p>
                                </div>
                                <div class="nav1-content-mobile-content-text">
                                    <h5>3) 배터리 교환식 (충전 스테이션)</h5>
                                    <p>배터리를 상시 충전하는 스테이션을 구성하여 배터리 충전/교체 시간을 최소화하고, AGV/AMR의 사용
                                        효율성을 증대할 수 있습니다. </p>
                                </div>
                            </div>
                            <div class="nav1-content-mobile-title">
                                <h4>자체 관제 시스템</h4>
                                <img src="../images/pc/ic_arrow_down.svg" alt="" />
                            </div>
                            <div class="nav1-content-mobile-content">
                                <div class="nav1-content-mobile-content-text">
                                    <p>
                                        한화로보틱스가 자체 개발한 ACS (AGV Control System)를 적용하거나, 고객이 요구하는 ACS 를 적용해 고객 현장에 가장 효과적인 관제 시스템을 제공합니다.
                                    </p>
                                </div>
                                <div class="nav1-content-mobile-content-text">
                                    <h5>1) Job assign &amp; Control</h5>
                                    <p>새로운 업무를 진행할 때 해당 시점에 업무를 할당 받지 않은 AGV 탐색 후 가장 짧은 시간에 도착할 수
                                        있는 AGV에 업무를 할당합니다.</p>
                                </div>
                                <div class="nav1-content-mobile-content-text">
                                    <h5>2) 최적 경로 탐색 &amp; 트래픽 예측 알고리즘</h5>
                                    <p>설계된 동선 상에서 최단 이동 방법을 탐색(설계된 동선 위 장애물이 있다면 사전에 설계된 대체 동선
                                        활용)하고, 여러 AGV/AMR의 이동 경로를 예측해 특정 위치에서의 Traffic Jam을 방지합니다.
                                    </p>
                                </div>
                                <div class="nav1-content-mobile-content-text">
                                    <h5>3) 시뮬레이션</h5>
                                    <p>AGV/AMR 수량 및 Tact Time (수요를 맞추기 위해 필요한 제품 1개당 생산 시간), 단위 시간당 최대 반송량 등 정보 기반의 사전 시뮬레이션을 통해 물동량 예측이 가능합니다.</p>
                                </div>
                                <div class="nav1-content-mobile-content-text">
                                    <h5>4) 이중화 솔루션</h5>
                                    <p>네트워크, 디스크, 전원 등 장애 발생 시 데이터를 예비 서버에 실시간 복제, 복구하여 서비스 운영의 안전성과 연속성을 보장합니다.</p>
                                </div>
                            </div>
                            <div class="nav1-content-mobile-title">
                                <h4>무선 네트워크 시뮬레이션</h4>
                                <img src="../images/pc/ic_arrow_down.svg" alt="" />
                            </div>
                            <div class="nav1-content-mobile-content">
                                <div class="nav1-content-mobile-content-text">
                                    <p>
                                        Wireless Network로 통신하는 AGV/AMR의 특성을 고려해 AGV/AMR의 원활한 가동을 위한 최적의
                                        네트워크를 마련합니다. AP (Access Point) 위치, 수량, 채널을 최적 설계하고 시뮬레이션을 통해 신호
                                        감소, 채널 간섭 등 트러블을 예측합니다. 시뮬레이션을 통해 신호 감도가 낮은 음영 지역을 확인하고 신호 간섭에 대한 문제 해결 솔루션을 제공합니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="nav2-content" class="nav-content">
                        <h4>국제 표준 안전 시스템 준수</h4>
                        <div class="nav2-content-text">
                            <p>
                                한화로보틱스 AGV/AMR은 미국 UL (Underwriters Laboratories Inc.,)와 유럽 CE (Conformité Européenne) 인증을 획득한 부품을 사용하며 완제품에 대하여도 수출 국가의 안전 인증을 획득하고 있습니다.<br/>
                                또한 내장된 Safety system은 국제표준인 ISO (International Organization for Standardization), PL (Performance Level, 성능요구수준), SIL (Safety Integrity Level, 안전 무결성 등급) 인증을 획득했습니다.
                            </p>
                            <p>
                                안전 기능을 관장하는 Safety Controller는 3개의 비상 정지 버튼 외에도 Safety Laser Scanner를 통해 장애물을 인식하고, Safety Encoder에서 인식한 정보를 기반으로 모터에 STO (Safety Torque Off) 시그널을 보내 속도를 모니터링 및 조정합니다.<br/>
                                <br/>
                                SLS (Safely Limited Speed) 기능으로 가상의 안전 구역을 설정, 장애물이 설계된 경로 인근에 진입했을 때 속도를 낮추거나 멈춰 안전 사고를 예방합니다.
                            </p>
                        </div>
                    </div>
                    <div id="nav3-content" class="nav-content">
                        <h4>모바일 매니퓰레이터</h4>
                        <div class="nav3-content-text">
                            <p>
                                한화로보틱스는 협동로봇과 AGV/AMR 관련 기술력을 보유하여, 협동로봇과 AMR을 접목한 <br/>모바일 매니퓰레이터 (Mobile Manipulator)의 일원화된 설계와 어플리케이션을 지원함으로써 <br/>고객의 니즈에 부합하는 최적의 솔루션을 제공합니다.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <a href="/contact/inquiry" class="products-inquiry-link">
            <span>구매/견적 문의</span>
        </a>

    </main>



    <main class="sub products" th:unless="#{header.nation} == 'EN'">
        <section class="section_1">
            <div class="group group1">
                <div class="title" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">Products</div>
                <div class="txt1" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">
                    Hanwha Robotics’ mobility robots provide<br/>
                    customized services tailored to customer needs,<br/>
                    from design to customer service, in a turnkey manner.
                </div>
            </div>
            <button type="button" class="inquiry products" onclick="layerInquiryBtn(2)">
                Purchase Inquiry
                <span><strong>+</strong></span>
            </button>
        </section>

        <aside class="products-main-bg">
            <picture>
                <source srcset="../images/pc/products_main_bg_mobile@3x.webp" media="(max-width: 765px)" />
                <source srcset="../images/pc/products_main_bg_pad@3x.webp" media="(max-width: 1024px)" />
                <img src="../images/pc/products_main_bg@3x.webp" alt="" />
            </picture>
        </aside>

        <section class="products-section2">
            <div class="products-section2-title">
                <div class="products-section2-title-item">
                    <div>
                        <h2>AGV</h2>
                        <span>(Automated Guided Vehicle)</span>
                    </div>
                    <p>
                        AGVs are used in places such as factories or warehouses where logistics transportation is required. They navigate routes with the help of guide wires, devices, or other means, and communicate with other devices to safely transport and load/unload goods along the optimal path.
                    </p>
                </div>
                <div class="products-section2-title-item">
                    <div>
                        <h2>AMR</h2>
                        <span>(Autonomous Mobile Robot)</span>
                    </div>
                    <p>
                        AMRs are used in places like factories or warehouses where logistics transportation is required. Unlike AGVs, they do not require guidance devices and can autonomously recognize obstacles, navigating along the optimal path.
                    </p>
                </div>
            </div>
            <div class="products-section2-contents">
                <div class="products-section2-slider">
                    <a href="/agv-amr/reel-and-roll-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item_01.webp" alt="" />
                        <p>Reel & Roll Type</p>
                    </a>
                    <a href="/agv-amr/forklift-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item_02.webp" alt="" />
                        <p>Forklift Type</p>
                    </a>
                    <a href="/agv-amr/pallet-truck-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item_03.webp" alt="" />
                        <p>Pallet Truck Type</p>
                    </a>
                    <a href="/agv-amr/high-mast-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item_04.webp" alt="" />
                        <p>High-mast Type</p>
                    </a>
                    <a href="/agv-amr/conveyor-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item_05.webp" alt="" />
                        <p>Conveyor Type</p>
                    </a>
                    <a href="/agv-amr/glass-packaging-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item_06.webp" alt="" />
                        <p>Glass Packaging Type</p>
                    </a>
                    <a href="/agv-amr/wafer-production-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item_07.webp" alt="" />
                        <p>Wafer Production Type</p>
                    </a>
                    <a href="/agv-amr/semiconductor-production-type" class="products-section2-slider-item">
                        <img src="../images/pc/product_item_08.webp" alt="" />
                        <p>Semiconductor Production Type</p>
                    </a>
                    <a href="/agv-amr/amr" class="products-section2-slider-item">
                        <img src="../images/pc/product_item_09.webp" alt="" />
                        <p>AMR</p>
                    </a>
                </div>
            </div>
        </section>

        <section class="products-section3">
            <div class="products-section3-title">
                <h2>What’s good about Hanwha AGV/AMR?</h2>
                <p>Hanwha Robotics offers AGV/AMR solutions tailored to customer worksites<br/>
                    through turnkey services that encompass everything from design to customer support. </p>
            </div>
            <div>
                <div class="tab-nav">
                    <input type="radio" id="nav1" name="nav" checked />
                    <label for="nav1" class="products-nav1">
                        <span>Customized<br/> Solutions</span>
                    </label>

                    <input type="radio" id="nav2" name="nav" />
                    <label for="nav2" class="products-nav2">
                        <span>Safety</span>
                    </label>

                    <input type="radio" id="nav3" name="nav" />
                    <label for="nav3" class="products-nav3">
                        <span class="products-nav3-pc">AGV + Cobot</span>
                        <span class="products-nav3-mo">AGV + Cobot</span>
                    </label>

                    <div id="nav1-content" class="nav-content">
                        <div class="tab-sub-nav">
                            <input type="radio" id="nav1-1" name="nav1-1" value="nav1-1" checked />
                            <label for="nav1-1" class="products-nav1-1">
                                <div class="nav1-1-bg"></div>
                                <span>Location Recognition Technologies</span>
                            </label>
                            <input type="radio" id="nav1-2" name="nav1-1" value="nav1-2" />
                            <label for="nav1-2" class="products-nav1-2">
                                <div class="nav1-2-bg"></div>
                                <span>Diverse Battery Charging Methods</span>
                            </label>
                            <input type="radio" id="nav1-3" name="nav1-1" value="nav1-3" />
                            <label for="nav1-3" class="products-nav1-3">
                                <div class="nav1-3-bg"></div>
                                <span>Own ACS Solutions</span>
                            </label>
                            <input type="radio" id="nav1-4" name="nav1-1" value="nav1-4" />
                            <label for="nav1-4" class="products-nav1-4">
                                <div class="nav1-4-bg"></div>
                                <span>Wireless-network Simulation</span>
                            </label>
                        </div>
                        <div class="nav1-1-divider"></div>
                        <div id="nav1-1-content" class="nav1-1-content">
                            <div class="nav1-1-content-text-container">
                                <div class="nav1-1-content-text">
                                    <h4>1) Reflector-Guided Localization</h4>
                                    <p>Reflector-guided localization is a technology that uses 2D-LiDAR (Light Detection and Ranging) sensors to recognize three or more reflectors installed in the field. By calculating the distance and angle between reflectors, this technology accurately determines the robot's position. It is considered one of the most reliable positioning technologies available.</p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>2) SLAM (Simultaneously Localization and Mapping)</h4>
                                    <p>SLAM is a technology that utilizes laser scanners to create a map of the surrounding environment and simultaneously determine the robot's position without the need for reflectors. One of its advantages is that it does not require reflector installation.</p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>3) SLAM-Reflector-Guided Hybrid Localization</h4>
                                    <p>SLAM-reflector-guided hybrid localization combines both Reflector-Guided Localization and SLAM technologies. In this approach, regular positioning is conducted primarily using SLAM. However, in areas where precise positioning is required, reflectors are installed to enhance the precision of navigation and control.</p>
                                </div>
                            </div>
                        </div>
                        <div id="nav1-2-content" class="nav1-1-content">
                            <div class="nav1-1-content-text-container">
                                <div class="nav1-1-content-text">
                                    <h4>1) Contact-Based Charging</h4>
                                    <p>Contact-based charging is a method that involves charging the AGV by physically connecting its charging terminals to a charger.</p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>2) Contactless Charging</h4>
                                    <p>Through this method, charging is achieved without direct physical contact between the AGV and the charger. This is done using magnetic fields generated by charging stations, allowing for wireless charging.</p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>3) Battery Swap (Charging Station)</h4>
                                    <p>Charging stations equipped with batteries are set up to minimize charging and battery replacement time, thereby enhancing the efficiency of AGV/AMR usage.</p>
                                </div>
                            </div>
                        </div>
                        <div id="nav1-3-content" class="nav1-1-content">
                            <div class="nav1-1-content-text-container">
                                <div class="nav1-1-content-text">
                                    <p>
                                        Hanwha Robotics applies its proprietary ACS (AGV Control System) or implements the ACS requested by customers to provide the most effective control system at the customer site.
                                    </p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>1) Job Assignment &amp; Control</h4>
                                    <p>When a new task is initiated, the system allocates the task to the AGV that can reach the destination in the shortest time by exploring AGVs that have not been assigned tasks at that point.</p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>2) Optimal Pathfinding &amp; Traffic Prediction Algorithm</h4>
                                    <p>The system searches for the shortest path along the designated route (utilizing alternative routes if obstacles are present). It predicts the movement paths of multiple AGVs/AMRs to prevent traffic congestion at specific locations.
                                    </p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>3) Simulation</h4>
                                    <p>The system can anticipate the flow of goods through information-based preliminary simulations, such as predicting the volume of goods, the tact time (the time required to produce one item to meet demand), and the maximum throughput per unit time.</p>
                                </div>
                                <div class="nav1-1-content-text">
                                    <h4>4) Redundancy Solution</h4>
                                    <p>In case of failures in network, disk, power, etc., the system ensures the safety and continuity of service operation by real-time replication and recovery of data to backup servers.</p>
                                </div>
                            </div>
                        </div>
                        <div id="nav1-4-content" class="nav1-1-content">
                            <div class="nav1-1-content-text-container">
                                <div class="nav1-1-content-text">
                                    <p>
                                        Taking into account the characteristics of AGVs/AMRs communicating via a wireless network, Hanwha Robotics ensure the optimal network setup for seamless operation of the AGVs/AMRs. This includes optimizing the placement, quantity, and channels of access points (APs), predicting potential issues such as signal degradation, channel interference, and other issues through simulations. By simulating and identifying areas with low signal sensitivity, known as shadow zones, and provide solutions to resolve connectivity issues effectively.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="nav1-content-mobile">
                            <div class="nav1-content-mobile-title">
                                <h4>Location Recognition Technologies</h4>
                                <img src="../images/pc/ic_arrow_down.svg" alt="" />
                            </div>
                            <div class="nav1-content-mobile-content">
                                <div class="nav1-content-mobile-content-text">
                                    <h5>1) Reflector-Guided Localization</h5>
                                    <p>Reflector-guided localization is a technology that uses 2D-LiDAR (Light Detection and Ranging) sensors to recognize three or more reflectors installed in the field. By calculating the distance and angle between reflectors, this technology accurately determines the robot's position. It is considered one of the most reliable positioning technologies available.</p>
                                </div>
                                <div class="nav1-content-mobile-content-text">
                                    <h5>2) SLAM (Simultaneously Localization and Mapping)</h5>
                                    <p>SLAM is a technology that utilizes laser scanners to create a map of the surrounding environment and simultaneously determine the robot's position without the need for reflectors. One of its advantages is that it does not require reflector installation.</p>
                                </div>
                                <div class="nav1-content-mobile-content-text">
                                    <h5>3) SLAM-Reflector-Guided Hybrid Localization</h5>
                                    <p>SLAM-reflector-guided hybrid localization combines both Reflector-Guided Localization and SLAM technologies. In this approach, regular positioning is conducted primarily using SLAM. However, in areas where precise positioning is required, reflectors are installed to enhance the precision of navigation and control.</p>
                                </div>
                            </div>
                            <div class="nav1-content-mobile-title">
                                <h4>Diverse Battery Charging Methods</h4>
                                <img src="../images/pc/ic_arrow_down.svg" alt="" />
                            </div>
                            <div class="nav1-content-mobile-content">
                                <div class="nav1-content-mobile-content-text">
                                    <h5>1) Contact-Based Charging</h5>
                                    <p>Contact-based charging is a method that involves charging the AGV by physically connecting its charging terminals to a charger.</p>
                                </div>
                                <div class="nav1-content-mobile-content-text">
                                    <h5>2) Contactless Charging</h5>
                                    <p>Through this method, charging is achieved without direct physical contact between the AGV and the charger. This is done using magnetic fields generated by charging stations, allowing for wireless charging.</p>
                                </div>
                                <div class="nav1-content-mobile-content-text">
                                    <h5>3) Battery Swap (Charging Station)</h5>
                                    <p>Charging stations equipped with batteries are set up to minimize charging and battery replacement time, thereby enhancing the efficiency of AGV/AMR usage.</p>
                                </div>
                            </div>
                            <div class="nav1-content-mobile-title">
                                <h4>Own ACS Solutions</h4>
                                <img src="../images/pc/ic_arrow_down.svg" alt="" />
                            </div>
                            <div class="nav1-content-mobile-content">
                                <div class="nav1-content-mobile-content-text">
                                    <p>
                                        Hanwha Robotics applies its proprietary ACS (AGV Control System) or implements the ACS requested by customers to provide the most effective control system at the customer site.
                                    </p>
                                </div>
                                <div class="nav1-content-mobile-content-text">
                                    <h5>1) Job Assignment &amp; Control</h5>
                                    <p>When a new task is initiated, the system allocates the task to the AGV that can reach the destination in the shortest time by exploring AGVs that have not been assigned tasks at that point.</p>
                                </div>
                                <div class="nav1-content-mobile-content-text">
                                    <h5>2) Optimal Pathfinding &amp; Traffic Prediction Algorithm</h5>
                                    <p>The system searches for the shortest path along the designated route (utilizing alternative routes if obstacles are present). It predicts the movement paths of multiple AGVs/AMRs to prevent traffic congestion at specific locations.
                                    </p>
                                </div>
                                <div class="nav1-content-mobile-content-text">
                                    <h5>3) Simulation</h5>
                                    <p>The system can anticipate the flow of goods through information-based preliminary simulations, such as predicting the volume of goods, the tact time (the time required to produce one item to meet demand), and the maximum throughput per unit time.</p>
                                </div>
                                <div class="nav1-content-mobile-content-text">
                                    <h5>4) Redundancy Solution</h5>
                                    <p>In case of failures in network, disk, power, etc., the system ensures the safety and continuity of service operation by real-time replication and recovery of data to backup servers.</p>
                                </div>
                            </div>
                            <div class="nav1-content-mobile-title">
                                <h4>Wireless-network Simulation</h4>
                                <img src="../images/pc/ic_arrow_down.svg" alt="" />
                            </div>
                            <div class="nav1-content-mobile-content">
                                <div class="nav1-content-mobile-content-text">
                                    <p>
                                        Taking into account the characteristics of AGVs/AMRs communicating via a wireless network, Hanwha Robotics ensure the optimal network setup for seamless operation of the AGVs/AMRs. This includes optimizing the placement, quantity, and channels of access points (APs), predicting potential issues such as signal degradation, channel interference, and other issues through simulations. By simulating and identifying areas with low signal sensitivity, known as shadow zones, and provide solutions to resolve connectivity issues effectively.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="nav2-content" class="nav-content">
                        <h4>Compliance with International Safety Standards</h4>
                        <div class="nav2-content-text">
                            <p>
                                Hanwha Robotics AGV/AMRs utilize components certified by UL (Underwriters Laboratories Inc.) in the United States and CE (Conformité Européenne) certification in Europe. Additionally, the final products obtain safety certifications of the countries importing the products.<br/>
                                <br/>
                                Moreover, the built-in safety system is certified according to international standards such as ISO (International Organization for Standardization), PL (Performance Level), and SIL (Safety Integrity Level).
                            </p>
                            <p>
                                The safety controller, responsible for safety functions, utilizes not only three emergency stop buttons but also a safety laser scanner to detect obstacles. It sends STO (Safety Torque Off) signals to the motors based on information from the safety encoder to monitor and adjust speed.<br/>
                                <br/>
                                The SLS (Safely Limited Speed) function establishes virtual safety zones, reducing speed or stopping when entering areas near designed paths to prevent safety accidents.
                            </p>
                        </div>
                    </div>
                    <div id="nav3-content" class="nav-content">
                        <h4>Mobile Manipulators</h4>
                        <div class="nav3-content-text">
                            <p>
                                Hanwha Robotics possesses expertise in collaborative robots and AGV/AMR technologies. By integrating collaborative robots with AMRs, the company offers optimal solutions to meet customer needs through unified design and applications for mobile manipulators.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <a href="/contact/inquiry" class="products-inquiry-link">
            <span>Purchase Inquiry</span>
        </a>
    </main>





</div>
</body>

</html>