<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">

<!-- <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
  <meta name="google-site-verification" content="wqf8tEmY7_34-_37qAtBLT3-Sv-0DcLkfVzqEQSEXbQ" />

  <title>한화로보틱스</title>
  <link rel="shortcut icon" href="../images/favicon.png">

  <link rel="preconnect" href="https://ajax.googleapis.com" />
  <link rel="preconnect" href="https://cdn.jsdelivr.net" crossOrigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" crossOrigin="anonymous" />

  <meta name="description" content="한화로보틱스는 기술 품질과 신뢰를 경영의 제1원칙으로 설정해 미래를 내다보는 차별화된 기술과 솔루션을 제공하겠습니다." />
  <meta name="keywords" content="한화로보틱스" />

  <meta property="og:title" content="한화로보틱스" />
  <meta property="og:description" content="한화로보틱스는 기술 품질과 신뢰를 경영의 제1원칙으로 설정해 미래를 내다보는 차별화된 기술과 솔루션을 제공하겠습니다." />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />

  <link rel="stylesheet" rel="preload" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />
  <link rel="stylesheet" href="../css/aos.css" />
  <link rel="stylesheet" href="../css/common.css" />
  <link rel="stylesheet" href="../css/board.css" />
  <link rel="stylesheet" media="screen and (min-width: 1500px)"  href="../css/pc.css" />
  <link rel="stylesheet" media="screen and (max-width: 1499px)"  href="../css/tablet.css" />
  <link rel="stylesheet" media="screen and (max-width: 1024px)"  href="../css/mobile.css" />
</head> -->

<body>
  <div layout:fragment="content">

  <aside id="aside"></aside>

  <main class="sub cookie">
    <!-- <div class="title">쿠키 설정 센터</div> -->
    <div class="title" th:utext="#{cookiePop.titleSettingsCenter}"></div>

    <div class="scroll">
      <!-- <div class="desc2">
        한화로보틱스와 파트너는 웹사이트를 보다 원활하게 이용할 수 있는 사용자 환경 구성을 위해 쿠키 및 유사 기술을 사용하고 있습니다. 사용자는 필수 쿠키를 제외한 쿠키의 활용에 대하여 동의 및 <span class="orange">거부권을 가지고 있으며, 당사가 사용하는 기술에</span> 대한 자세한 내용을 확인하고, 선택 사항을 관리할 수 있습니다. 쿠키에 대한 자세한 정보는 <a onclick="layerPrivacyOpenBtn()">개인정보 처리방침</a>을 참고하시기 바랍니다.
      </div> -->
      <div class="desc2" th:utext="#{cookieSet.contentSettingCenter}"></div>

      <!-- <div class="title3">쿠키 설정 센터</div> -->
      <div class="title3" th:utext="#{cookiePop.titleSettingsCenter}"></div>

      <!-- <div class="desc2">
        방문하는 웹사이트의 정보가 브라우저에서 쿠키 형태로 저장되거나 수집될 수 있습니다. 쿠키에 담긴 정보는 사용자의 정보, 선호도, 기기 등에 대한 것으로 사용자에게 더욱 편리하고 효율적인 탐색 경험을 제공하고 사용자의 브라우징 습관, 기록을 바탕으로 관심 분야와 관련된 맞춤형 광고를 제공하기 위해 사용됩니다. 쿠키 정보는 사용자를 직접적으로 식별하지 않으며, 사용자는 플랫폼 운영을 위한 필수 쿠키를 제외한 쿠키를 허용 또는 차단할 수 있습니다. 그러나 일부 쿠키의 차단은 플랫폼에서의 사용자 경험과 플랫폼 운영에 영향을 미칠 수 있다는 사실에 유의하시기 바랍니다. 더 자세한 정보를 원하시는 경우, 당사의 <a onclick="layerPrivacyOpenBtn()">개인 정보 처리방침</a>을 참고하시기 바랍니다.
      </div> -->
      <div class="desc2" th:utext="#{cookiePop.contentSettingsCenter}"></div>

      <div class="block">
        <div class="checkbox">
          <input type="checkbox" id="chk1" name="chk1" checked="on" disabled />
          <!-- <label for="chk1">필수 쿠키</label> -->
          <label for="chk1" th:utext="#{cookiePop.titleNecessary}"></label>
        </div>

        <!-- <div class="desc2">
          웹사이트 운영을 위해 필수적인 쿠키로 차단할 수 없습니다. 일반적으로 개인정보 기본 설정, 웹사이트 로그인 또는 양식 작성과 같은 서비스를 받기 위해 사용자가 수행한 작업에 응답하기 위해 설정됩니다. 사용자는 이용하는 브라우저 설정을 통해 필수 쿠키를 차단하거나 쿠키 사용에
    대한 알림 설정을 받을 수는 있지만, 웹사이트 일부 기능이 동작하지 않을 수 있습니다.
        </div> -->
        <div class="desc2" th:utext="#{cookiePop.contentNecessary}"></div>
      </div>

      <div class="block">
        <div class="checkbox">
          <input type="checkbox" id="chk2" name="chk2" />
          <!-- <label for="chk2">분석 쿠키</label> -->
          <label for="chk2" th:utext="#{cookiePop.titleAnalytical}"></label>
        </div>

        <!-- <div class="desc2">
          이 쿠키는 방문자 수, 데이터 트래픽 정보를 확인해 회사 사이트의 성능을 측정하고 개선할 수 있도록 합니다. 또한 가장 인기가 많거나 인기가
    적은 페이지를 확인하며 방문자가 사이트를 이동하는 방법을 확인할 수 있도록 합니다. 쿠키가 수집하는 모든 정보는 누적되며 익명 처리됩니다. 쿠키를 허용하지 않으면 사용자가 회사 사이트에 방문한 시기와 소스를 확인할 수 없습니다.
        </div> -->
        <div class="desc2" th:utext="#{cookiePop.contentAnalytical}"></div>
      </div>

      <div class="block">
        <div class="checkbox">
          <input type="checkbox" id="chk3" name="chk3" />
          <!-- <label for="chk3">맞춤형 광고 쿠키</label> -->
          <label for="chk3" th:utext="#{cookiePop.titleAdvertising}"></label>
        </div>

        <!-- <div class="desc2">
          이 쿠키는 회사의 광고 파트너가 설정한 것입니다. 파트너는 사용자의 관심사에 대한 프로필을 만들고 다른 사이트에서도 관련 광고를 표시하기 위해 이 쿠키를 사용합니다. 이 쿠키는 사용자의 브라우저와 기기를 식별함으로써 동작합니다. 이 쿠키를 허용하지 않으면 다른 웹사이트에서 회사가 제공하는 맞춤형 광고를 경험할 수 없습니다.
        </div> -->
        <div class="desc2" th:utext="cookiePop.contentAdvertising"></div>
      </div>
    </div>

    <div class="btn_wrap">
      <div class="btn_left">
        <!-- <button class="save" onclick="saveCookie(2)">설정 저장</button> -->
        <button class="save" onclick="saveCookie(2)" th:utext="#{cookie.save}"></button>
        <!-- <button class="deny" onclick="denyCookie(2)">거부</button> -->
        <button class="deny" onclick="denyCookie(2)" th:utext="#{cookie.deny}"></button>
      </div>
      <div class="btn_right">
        <!-- <button class="agree" onclick="saveCookieAll(2)">모두 동의하고 저장</button> -->
        <button class="agree" onclick="saveCookieAll(2)" th:utext="#{cookie.allSave}"></button>
      </div>
    </div>
  </main>

  <!-- <footer id="footer">
  </footer>

  <div class="layer_wrap"></div>

  <script text="text/javascript" src="../js/jquery.min.js"></script>

  <script type="text/javascript" src="../js/aos.js"></script>

  <script text="text/javascript" src="../js/gsap.min.js"></script>
  <script text="text/javascript" src="../js/ScrollTrigger.min.js"></script>  -->

  <!-- 패럴렉스 -->
  <!-- <script type="text/javascript" src="../js/ScrollMagic.min.js"></script>
  <script type="text/javascript" src="../js/animation.gsap.js"></script>

  <script src="../js/library.js"></script>
  <script src="../js/common.js"></script>
  <script src="../js/sub.js"></script> -->
  </div>
</body>

</html>