<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">

    <br><br><br><br><br><br><br><br><br><br>

    <div class="content">

        <div class="content">

            비밀번호 찾기

            회원가입시 입력한 아이디를 ~~

            <label for="memberId">아이디 </label><input class="isStatusOnInput" id="memberId" type="text" >

            <button class="btn btn-light" onclick="sendTempPw()">이메일 발송 </button>

        </div>




    </div>

</div>

</body>
</html>

<script>


    function sendTempPw() {
        const memberId = $('#memberId').val();
        // const email = $('#email').val();

        const jsonData = {
            memberId: memberId
            // email: email
        };

        COMM.ajax({
            type: 'POST',
            url: '/password/reset-page',
            data: JSON.stringify(jsonData),
            contentType: 'application/json',
            success: function (data) {
                alert('재설정 링크가 발송되었습니다.')
                window.location.href = '/member/login';
            },

            error: function (xhr, textStatus) {
                console.error('전송 실패:', textStatus);
                if (xhr.responseJSON) {
                    const errorMessage = xhr.responseJSON.message;
                    alert(errorMessage);
                } else {
                    alert('비밀번호 재설정 링크 발송에 실패했습니다.');
                }
            }
        });
    }


</script>