<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">

  <main class="login">
    <div class="login-container">
      <h1 th:utext="#{login.login}"></h1>
      <section class="login-content">
        <article class="login-main">
          <form>
            <div class="login-main-container">
              <div class="login-info-wrapper">
                <div class="login-input-wrapper">
                  <input type="text" id="id" name="id" th:placeholder="#{signup.id}"/>
                  <input type="password" id="pw" name="pw" th:placeholder="#{signup.password}"/>
                </div>
                <button type="button" class="login-info-submit" onclick="login()" th:utext="#{login.login}"></button>
              </div>
              <div class="login-action-group">
                <a href="/signup/term" type="button" th:utext="#{login.signup}"></a>
                <a href="/find-id" type="button" th:utext="#{find.id}"></a>
                <a href="/find-pw" type="button" th:utext="#{find.pw}"></a>
              </div>
            </div>
          </form>
        </article>
      </section>
    </div>
  </main>

</div>
</body>
</html>

<script th:inline="javascript">

  function login() {
    const memberId = $('#id').val();
    const password = $('#pw').val();

    const jsonData = {
      memberId: memberId,
      password: password
    };

    if (!memberId || !password) {
      // alert('아이디, 패스워드를 입력해주세요.');
      alert([[#{login.message}]]);
      return;
    }

    $.ajax({
      type: 'POST',
      url: '/login',
      data: JSON.stringify(jsonData),
      contentType: 'application/json',
      success: function (data) {
        window.location.href = '/';
      },

      error: function (xhr, textStatus) {
        console.error('로그인 실패:', textStatus);
        if (xhr.responseJSON) {
          const errorMessage = xhr.responseJSON.message;
          alert(errorMessage);
        } else {
          alert('error');
        }
      }
    });
  }

</script>
