<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">


    <div style="text-align: center">

        <br><br><br><br><br><br><br><br><br><br>

        <h1>로그인</h1>
        <span>한화로보틱스 대리점을 위한 로그인 화면입니다.</span>
        <hr>

        <br><br><br><br><br><br>

        <h2>로그인</h2>
        아이디 <input type="text" id="memberId" name="memberId"/><br>
        비밀번호 <input type="password" id="password" name="password"/>
        <button type="button" onclick="login()">로그인</button>

        <br><br><br>

        <a href="/signup/term">회원가입</a><br>
        /
        <a href="/find-id">아이디 찾기</a>
        /
        <a href="/find-pw">비밀번호 찾기</a>

    </div>



</div>
</body>
</html>

<script th:inline="javascript">

    function login() {
        const memberId = $('#memberId').val();
        const password = $('#password').val();

        const jsonData = {
            memberId: memberId,
            password: password
        };

        if (!memberId || !password) {
            alert('아이디, 패스워드를 입력해주세요.');
            return;
        }

        $.ajax({
            type: 'POST',
            url: '/login',
            data: JSON.stringify(jsonData),
            contentType: 'application/json',
            success: function (data) {
                window.location.href = '/';
            },

            error: function (xhr, textStatus) {
                console.error('로그인 실패:', textStatus);
                if (xhr.responseJSON) {
                    const errorMessage = xhr.responseJSON.message;
                    alert(errorMessage);
                } else {
                    alert('로그인에 실패했습니다.');
                }
            }
        });
    }

</script>
