<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">

    <main class="login">
        <div class="login-container">
            <h1>아이디 찾기</h1>
            <section class="login-content">
                <article class="login-main">
                    <form>
                        <div class="login-main-container">
                            <p class="login-find-txt">
                                회원가입시 입력한 이메일 주소를 입력해주세요.<br/>
                                해당 메일 주소와 일치하는 아이디를 메일로 보내드립니다.
                            </p>
                            <div class="login-find-input-wrapper">
                                <input type="email" id="email" name="email" placeholder="이메일 주소" />
                                <button type="button" class="login-find-submit" onclick="sendId()">이메일 발송</button>
                            </div>
                        </div>
                    </form>
                </article>
            </section>
        </div>
    </main>

</div>

</body>
</html>

<script>

    // TODO: 디바운스
    // let debounceTimeout;
    //
    // function debouncedSendId() {
    //     clearTimeout(debounceTimeout);
    //     debounceTimeout = setTimeout(function () {
    //         sendId();
    //     }, 60000);
    // }


    function sendId() {
        const email = $('#email').val();

        const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;

        if (!emailRegex.test(email)) {
            alert('올바른 이메일 주소를 입력하세요.');
            return;
        }

        const jsonData = {
            email: email
        };

        COMM.ajax({
            type: 'POST',
            url: '/find-id',
            data: JSON.stringify(jsonData),
            contentType: 'application/json',
            success: function (data) {
                // alert('아이디가 발송되었습니다.')
                window.location.href = '/find-id/complete';
            },

            error: function (xhr, textStatus) {
                console.error('전송 실패:', textStatus);
                if (xhr.responseJSON) {
                    const errorMessage = xhr.responseJSON.message;
                    alert(errorMessage);
                } else {
                    alert('아이디 전송에 실패했습니다.');
                }
            }
        });
    }


</script>

