<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">


    <section class="inquiry_more"></section>

    <main class="login">
        <div class="login-container">
            <h1>아이디 찾기</h1>
            <section class="login-content">
                <article class="login-main find-complete">
                    <form>
                        <div class="login-main-container find-id-complete">
                            <div class="login-find-id-complete-msg">
                                <h3>회원님의 아이디가 메일로 발송되었습니다.</h3>
                                <p>
                                    입력하신 이메일 주소로 메일이 발송되었습니다. 메일을 통해 회원님의 아이디를 확인해주세요.<br/>
                                    (서버 상태에 따라 시간이 몇분 소요될 수 있습니다)
                                </p>
                            </div>
                            <div class="login-find-id-complete-btn-group">
                                <a class="login-find-id-complete-btn" href="/find-pw">비밀번호 찾기</a>
                                <a class="login-find-id-complete-btn color-orange" href="/login-page">로그인</a>
                            </div>
                        </div>
                    </form>
                </article>
            </section>
        </div>
    </main>

</div>

</body>
</html>
