<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">

    <div>
        <br><br><br><br><br><br><br><br><br><br>
        <h1>마이페이지</h1>

        <br>
        <hr>

        <form method="put" th:action="@{/member/edit}" modelAttribute="MemberRequest">


            아이디 <span th:text="${memberResponse.getMemberId()}"/>
            <br><br><hr>

            이메일 주소 <span th:text="${memberResponse.getEmail()}"/>

            <br><br><hr>

            업체명 <span th:text="${memberResponse.getCompanyNm()}"/>

            <br><br><hr>

            <div th:if="${memberResponse.getRegion()} != 'KR'" >
                Country/Region
                <span th:text="${memberResponse.getRegion()}"/>
                <br>
                City
                <span th:text="${memberResponse.getCity()}"/>
            </div>

            <br><br><hr>

            <div>

                우편번호 <span th:text="${memberResponse.getPostCd()}"/>

                <br>
                주소 <span th:text="${memberResponse.getAddress()}"/>
                <br>
                상세주소 <span th:text="${memberResponse.getAddressDetail()}"/>

            </div>

            <br><br><hr>


            로봇 구매처 / 대리점 <span th:text="${memberResponse.getStore()}"/>
            <br><br><hr>

            이름 <span th:text="${memberResponse.getMemberNm()}"/>
            <br><br><hr>

            직급 <span th:text="${memberResponse.getPosition()}"/>
            <br><br><hr>

            연락처 <span th:text="${memberResponse.getContact()}"/>
            <br><br><hr>

            <br><br>

            <a href="/member/profile/delete">회원탈퇴</a>
<!--            <a href="/member/change/password">비밀번호 재설정</a>-->
            <a href="/member/profile/edit">회원정보 수정</a>


            <br><br>

        </form>



    </div>


</div>


</body>
</html>
<script th:inline="javascript">





</script>
