<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>

<div layout:fragment="content">
    <main class="mypage edit">
        <form>
            <div class="mypage-container">
                <h1>회원정보 수정</h1>
                <section class="mypage-contents edit">
                    <div class="mypage-section">
                        <h2>아이디<strong>*</strong></h2>
                        <input name="id" id="id" type="text" readonly th:value="${memberResponse.getMemberId()}"/>
                    </div>
                    <div class="mypage-section">
                        <h2>비밀번호 변경</h2>
                        <button type="button" class="mypage-pwd-edit" onclick="layerMyPagePwdEditOpenBtn()">비밀번호 변경
                        </button>
                    </div>


                    <div class="mypage-section">
                        <h2>이메일<strong>*</strong></h2>

                        <div class="signup-main-email-container">
                            <div class="signup-main-email-wrapper">

                                <div class="mypage-edit-email">
                                    <input type="text" name="email-local" id="email-local" class="email_front"
                                           th:value="${#strings.substringBefore(memberResponse.getEmail(), '@')}"
                                           required
                                           placeholder="이메일"/>
                                    <!--                            <input type="text" id="email_front" name="email_front" th:value="${#strings.substringBefore(memberResponse.getEmail(), '@')}" required>-->
                                    <span>@</span>
                                    <select name="email-domain" id="email-domain" class="email_end">
                                        <option value="gmail.com">gmail.com</option>
                                        <option value="naver.com">naver.com</option>
                                        <option value="outlook.com">outlook.com</option>
                                        <option value="yahoo.com">yahoo.com</option>
                                        <option value="hotmail.com">hotmail.com</option>
                                        <option value="daum.net">daum.net</option>
                                        <option value="hanmail.net">hanmail.net</option>
                                        <option value="nate.com">nate.com</option>
                                        <option value="kakao.com">kakao.com</option>
                                    </select>
                                </div>

                                <button type="button" onclick="checkDuplicateEmail()">중복확인</button>
                            </div>

                            <label class="signup-message-warning check_text" id="email_check"
                                   style="display: none"></label>
                        </div>

                    </div>


                    <div class="mypage-section">
                        <h2>업체명<strong>*</strong></h2>
                        <input type="text" name="company_name" id="company_name" class="companyName"
                               th:value="${memberResponse.getCompanyNm()}" required placeholder="업체명"/>
                        <!--                        <input type="text" th:value="${memberResponse.getCompanyNm()}" id="companyName" name="companyName">-->
                    </div>


                    <!--                    <div th:if="${memberResponse.getRegion()} != 'KR'" >-->
                    <!--                        &lt;!&ndash;                <label for="selectCountry">Country/Region * </label>&ndash;&gt;-->

                    <!--                        &lt;!&ndash;                <select id="selectCountry">&ndash;&gt;-->
                    <!--                        &lt;!&ndash;                    <option th:each="country : ${countries}" th:value="${country['code']}" th:text="${country['code_en']}"></option>&ndash;&gt;-->
                    <!--                        &lt;!&ndash;                </select>&ndash;&gt;-->

                    <!--                        Country/Region-->
                    <!--                        <input th:value="${memberResponse.getRegion()}"/>-->

                    <!--                        <br>-->
                    <!--                        City *-->
                    <!--                        <input type="text" id="city" name="city" th:value="${memberResponse.getCity()}" >-->

                    <!--                    </div>-->


                    <div class="mypage-section">
                        <h2>우편번호<strong>*</strong></h2>
                        <div class="mypage-edit-zipcode">
                            <input type="text" name="zipcode" id="zipcode" th:value="${memberResponse.getPostCd()}"
                                   required readonly placeholder="우편번호"/>
                            <button type="button" th:if="${memberResponse.getRegion()} == 'KR'"
                                    onclick="daumPostcode()">우편번호 찾기
                            </button>
                        </div>
                    </div>


                    <div class="mypage-section">
                        <h2>주소<strong>*</strong></h2>
                        <input type="text" name="address" id="address" th:value="${memberResponse.getAddress()}"
                               required placeholder="주소"/>
                    </div>
                    <div class="mypage-section">
                        <h2>상세주소<strong>*</strong></h2>
                        <input type="text" name="address_detail" id="address_detail"
                               th:value="${memberResponse.getAddressDetail()}" required placeholder="상세주소"/>
                    </div>


                    <div class="mypage-section">
                        <h2>로봇구매처/대리점<strong>*</strong></h2>
                        <input type="text" name="agency" id="agency" th:value="${memberResponse.getStore()}" required
                               placeholder="로봇구매처/대리점"/>
                    </div>
                    <div class="mypage-section">
                        <h2>이름<strong>*</strong></h2>
                        <input type="text" name="name" id="name" th:value="${memberResponse.getMemberNm()}" required
                               placeholder="이름"/>
                    </div>
                    <div class="mypage-section">
                        <h2>직급</h2>
                        <input type="text" name="rank" id="rank" th:value="${memberResponse.getPosition()}" required
                               placeholder="직급"/>
                    </div>
                    <div class="mypage-section">
                        <h2>연락처<strong>*</strong></h2>
                        <div class="mypage-edit-phone"
                             th:with="contactParts=${#strings.setSplit(memberResponse.getContact(), ')')}">

                            <select id="phone_code" required>
                                <option th:each="phoneCode : ${phoneCodes}"
                                        th:value="${phoneCode['code_phone']}"
                                        th:selected="${phoneCode['code_phone'] == contactParts[0]}"
                                        th:text="${phoneCode['code_phone']}">
                                </option>
                            </select>

                            <input id="phone" name="phone" th:value="${contactParts[1]}" required>
                            <input id="contact" name="contact" style="display: none">

                        </div>
                    </div>
                </section>
            </div>
            <button type="button" class="mypage-btn color-orange edit" onclick="editConfirm()">수정 완료</button>
        </form>
    </main>

</div>

</body>
</html>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:inline="javascript">

    // $(document).ready(function() {
    //     updateEmailField();
    //     updatePhoneField();
    //     $("#email_front, #email_end").on("change", updateEmailField);
    //     $("#phone_code, #phone").on("change", updatePhoneField);
    //
    // });


    let isEmailChanged = false;
    let emailCheck = false;

    $('#email-local, #email-domain').on('change', function () {
        isEmailChanged = true;
    });

    // 이메일 중복확인
    function checkDuplicateEmail() {
        const email_front = $(".email_front").val();
        const email_end = $(".email_end").val();
        const email = email_front + "@" + email_end;

        const emailCheckElement = $('#email_check');

        if (email_front.length < 3) {
            emailCheckElement.text("이메일을 정확히 입력해 주세요");
            emailCheckElement.show();
        } else {
            $.ajax({
                type: 'GET',
                url: `/member/check/email`,
                data: {
                    email: email
                },
                success: function (data) {
                    if (data === true) {
                        emailCheckElement.text("이미 존재하는 이메일입니다.");
                        emailCheckElement.show();
                        emailCheck = true;
                        isEmailChanged = true;
                    } else {
                        emailCheckElement.text("사용 가능한 이메일 입니다.");
                        emailCheckElement.show();
                        emailCheck = false;
                        isEmailChanged = false;
                    }
                },
                error: function () {
                    alert('에러가 발생했습니다.');
                }
            });
        }
    }


    // 우편번호 검색
    function daumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                let addr = '';
                if (data.userSelectedType === 'R') { // 도로명 주소
                    addr = data.roadAddress;
                } else { // 지번 주소
                    addr = data.jibunAddress;
                }
                document.getElementById('zipcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                document.getElementById("address_detail").focus();
            }
        }).open();
    }


    // 연락처 숫자만 입력
    document.getElementById('phone').addEventListener('keyup', function () {
        checkNumericInput(this);
    });

    function checkNumericInput(inputElement) {
        const inputValue = inputElement.value;
        if (!/^[0-9]*$/.test(inputValue)) {
            inputElement.value = inputValue.replace(/[^0-9]/g, '');
        }
    }


    // 수정완료 버튼
    function editConfirm() {

        const companyNm = $('#company_name').val();
        const postCode = $('#zipcode').val();
        const address = $('#address').val();
        const addressDetail = $('#address_detail').val();
        const store = $('#agency').val();
        const memberNm = $('#name').val();
        const position = $('#rank').val();

        const email_front = $(".email_front").val();
        const email_end = $(".email_end").val();
        const email = email_front + "@" + email_end;

        const phone_code = $("#phone_code").val();
        const phone = $("#phone").val();
        const contact = phone_code + ")" + phone;

        if (isEmailChanged || emailCheck) {
            alert("이메일 중복확인을 해주세요.");
            return;
        }

        if (!email || !companyNm || !postCode || !address || !addressDetail || !store || !memberNm || !position || !contact) {
            alert('필수 입력 항목을 모두 입력해주세요.');
            return;
        }

        const temp = {
            companyNm: companyNm,
            // region: $('#region').val(),
            // city: $('#city').val(),
            postCd: postCode,
            address: address,
            addressDetail: addressDetail,
            store: store,
            memberNm: memberNm,
            position: position,
            email: email,
            contact: contact,
        };

        COMM.ajax({
            url: "/member/profile/edit",
            type: "PUT",
            headers: {'Content-Type': 'application/json'},
            data: JSON.stringify(temp),
            success: function (data) {
                if (data.code === 200) {
                    window.location.href = "/member/profile";
                }
            },
            error: function (jqXHR) {
                console.log(jqXHR.status, jqXHR);
            },
        });
    }

    // 기존 일치 체크
    function checkPasswordChange() {
        const password = $("#pwd").val();
        const requestData = {
            password: password
        };

        if (password == null || password === '') {
            alert("기존 비밀번호를 입력하세요.");
        } else {
            COMM.ajax({
                url: "/member/check/password",
                type: "POST",
                headers: {'Content-Type': 'application/json'},
                data: JSON.stringify(requestData),
                success: function (data) {
                    if (data.code === 200) {
                        // document.getElementById('passwordChange').style.display = 'none';
                        layerPwdEditBtn();
                        $("#pwd").val('');
                        // document.getElementById('passwordChange2').style.display = 'block';
                    }
                },
                error: function (jqXHR) {
                    const errorResponse = JSON.parse(jqXHR.responseText);
                    alert(errorResponse.message);
                    console.log(jqXHR.status, jqXHR);
                },
            });
        }
    }


    function changePassword() {
        const newPassword = $(".newPassword").val();
        const newPassword2 = $(".newPassword2").val();

        // 비밀번호 유효성 검증
        if (!isValidPassword(newPassword, newPassword2)) {
            return;
        }

        const requestData = {
            newPassword: newPassword
        };

        COMM.ajax({
            url: "/member/change/password",
            type: "PUT",
            headers: {'Content-Type': 'application/json'},
            data: JSON.stringify(requestData),
            success: function (data) {
                if (data.code === 200) {
                    layerPwdEditCompleteBtn();
                    $(".newPassword").val('');
                    $(".newPassword2").val('');
                }
            },
            error: function (jqXHR) {
                const errorResponse = JSON.parse(jqXHR.responseText);
                alert(errorResponse.message);
                console.log(jqXHR.status, jqXHR);
            },
        });
    }

    function isValidPassword(newPassword, newPassword2) {

        const passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
        if (!passwordRegex.test(newPassword)) {
            alert("비밀번호는 영문자와 숫자를 포함하는 8자 이상이어야 합니다.");
            return false;
        }

        if (newPassword !== newPassword2) {
            alert("비밀번호 확인이 일치하지 않습니다.");
            return false;
        }

        return true;
    }


</script>
