<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">

    <main class="login withdrawal-complete" th:if="#{header.nation} == 'EN'">
        <div class="login-container">
            <h1>회원탈퇴</h1>
            <section class="login-content">
                <div class="withdrawal-complete-img">
                    <img src="../images/pc/mypage_withdrawal@3x.webp" alt="" />
                </div>
                <div class="withdrawal-complete-textgroup">
                    <h2>회원탈퇴가 완료되었습니다.</h2>
                    <p>그동안 한화로보틱스와 함께해 주셔서 감사합니다.</p>
                </div>
            </section>
        </div>
    </main>


    <main class="login withdrawal-complete" th:unless="#{header.nation} == 'EN'">
        <div class="login-container">
            <h1>Withdrawal</h1>
            <section class="login-content">
                <div class="withdrawal-complete-img">
                    <img src="../images/pc/mypage_withdrawal@3x.webp" alt="" />
                </div>
                <div class="withdrawal-complete-textgroup">
                    <h2>Your membership withdrawal has been completed.</h2>
                    <p>
                        Thank you for being with Hanwha Robotics all this time.</p>
                </div>
            </section>
        </div>
    </main>



</div>


</body>
</html>


