<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">
    <main class="mypage main">
        <div class="mypage-container">
            <h1 th:utext="#{mypage.title}"></h1>
            <section class="mypage-contents">
                <div class="mypage-section">
                    <h2 th:utext="#{mypage.id}"></h2>
                    <span th:text="${memberResponse.getMemberId()}"/>
                </div>
                <div class="mypage-section">
                    <h2 th:utext="#{mypage.email}"></h2>
                    <span th:text="${memberResponse.getEmail()}"/>
                </div>
                <div class="mypage-section agency">
                    <h2 th:utext="#{mypage.company}"></h2>
                    <span th:text="${memberResponse.getCompanyNm()}"/>
                </div>
                <div class="mypage-section" th:if="${memberResponse.getRegion()} != 'KR'" >
                    <h2>Country/Region</h2>
                    <span th:text="${memberResponse.getRegion()}"/>
                </div>
                <div class="mypage-section" th:if="${memberResponse.getRegion()} != 'KR'" >
                    <h2>City</h2>
                    <span th:text="${memberResponse.getCity()}"/>
                </div>
                <div class="mypage-section agency">
                    <h2 th:utext="#{mypage.postCode}"></h2>
                    <span th:text="${memberResponse.getPostCd()}"/>
                </div>
                <div class="mypage-section">
                    <h2 th:utext="#{mypage.address}"></h2>
                    <span th:text="${memberResponse.getAddress()}"/>
                </div>
                <div class="mypage-section agency">
                    <h2 th:utext="#{mypage.addressD}"></h2>
                    <span th:text="${memberResponse.getAddressDetail()}"/>
                </div>
                <div class="mypage-section agency">
                    <h2 th:utext="#{mypage.robot}"></h2>
                    <span th:text="${memberResponse.getStore()}"/>
                </div>
                <div class="mypage-section">
                    <h2 th:utext="#{mypage.name}"></h2>
                    <span th:text="${memberResponse.getMemberNm()}"/>
                </div>
                <div class="mypage-section">
                    <h2 th:utext="#{mypage.position}"></h2>
                    <span th:text="${memberResponse.getPosition()}"/>
                </div>
                <div class="mypage-section">
                    <h2 th:utext="#{mypage.contact}"></h2>
                    <span th:text="${memberResponse.getContact()}"/>
                </div>
            </section>
        </div>
        <div class="mypage-btn-group">
            <a href="/member/profile/delete" class="mypage-btn" th:utext="#{mypage.withdrawal}"></a>
            <div>
                <a href="/member/logout" class="mypage-btn color-black" th:utext="#{mypage.logout}"></a>
                <a href="/member/profile/edit" class="mypage-btn color-orange" th:utext="#{mypage.editProfile}"></a>
            </div>
        </div>
    </main>
</div>


</body>
</html>
<script th:inline="javascript">



</script>
