<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">



    <section class="inquiry_more"></section>


    <main class="login withdrawal">
        <div class="login-container">
            <h1>회원탈퇴</h1>
            <section class="login-content">
                <article class="login-main find-complete">
                    <div class="login-main-container find-id-complete">
                        <div class="login-find-id-complete-msg">
                            <h3>회원을 탈퇴하시면 앞으로 Q&A 게시판을 이용하실 수 없습니다.</h3>
                            <p>
                                회원을 탈퇴하시는 즉시 회원님의 개인정보는 모두 삭제되며,<br/>
                                다시 회원가입시에는 동일한 아이디 및 이메일로 가입하실 수 없게됩니다.<br/>
                                회원님이 Q&A 게시판에 남긴 게시물과 댓글은 한화로보틱스의 자산이므로 삭제되지 않으나<br/>
                                다시 회원이 되시기 전까지는 모든 게시물 열람이 불가능합니다.
                            </p>
                            <strong>정말로 회원을 탈퇴하시겠습니까?</strong>
                        </div>
                        <div class="login-find-id-complete-btn-group">
                            <a class="login-find-id-complete-btn color-orange" href="/member/profile">아니오, 탈퇴를 취소하겠습니다.</a>
                            <a type="button" class="login-find-id-complete-btn" onclick="deleteMember()">예, 탈퇴하겠습니다.</a>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </main>

</div>


</body>
</html>

<script th:inline="javascript">

    function deleteMember() {

        COMM.ajax({
            type: 'DELETE',
            url: '/member/profile/delete',
            // data: JSON.stringify(jsonData),
            // contentType: 'application/json',
            success: function (data) {
                window.location.href = '/delete/complete';
            },

            error: function (xhr, textStatus) {
                console.error('전송 실패:', textStatus);
                if (xhr.responseJSON) {
                    const errorMessage = xhr.responseJSON.message;
                    alert(errorMessage);
                } else {
                    alert('실패했습니다.');
                }
            }
        });
    }




</script>
