<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">

    <br><br><br><br><br><br><br><br><br><br>

    <div>
        비밀번호 재설정 - 이메일로 전송되는 링크

        비밀번호 <input type="password" id="newPassword" name="password"/>

        재입력 <input type="password" id="newPassword2" name="password"/>

        <button type="button" onclick="resetPw()">확인</button>

    </div>


</div>
</body>
</html>

<script>



    // 비밀번호 체크
    function checkPasswordConditions() {
        const password = document.getElementById('password').value;
        const pwCheckElement = document.getElementById('pw_check');
        if (password.length < 8 || !/^(?=.*[a-zA-Z])(?=.*\d).+$/.test(password)) {
            pwCheckElement.textContent = '비밀번호는 8글자 이상의 영문과 숫자 조합이어야 합니다.';
        } else {
            pwCheckElement.textContent = '';
        }
    }

    // 비밀번호 재입력 일치 여부
    function checkPasswordMatch() {
        const password = document.getElementById('password').value;
        const password2 = document.getElementById('password2').value;
        const pw2CheckElement = document.getElementById('pw2_check');

        if (password !== password2) {
            pw2CheckElement.textContent = '비밀번호가 일치하지 않습니다.';
        } else {
            pw2CheckElement.textContent = '';
        }
    }

    function resetPw() {
        const newPassword = $('#newPassword').val();
        const urlParams = new URL(location.href).searchParams;
        const token = urlParams.get('token');
        const jsonData = {
            token: token,
            newPassword : newPassword
        };

        COMM.ajax({
            type: 'PUT',
            url: '/password/reset',
            data: JSON.stringify(jsonData),
            contentType: 'application/json',
            success: function (data) {
                alert('변경에 성공하였습니다.')
                window.location.href = '/login-page';
            },

            error: function (xhr, textStatus) {
                console.error('전송 실패:', textStatus);
                if (xhr.responseJSON) {
                    const errorMessage = xhr.responseJSON.message;
                    alert(errorMessage);
                } else {
                    alert('비밀번호 재설정에 실패했습니다.');
                }
            }
        });
    }
</script>