<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">

    <section class="inquiry_more"></section>


    <main class="login signup-terms">
        <div class="login-container">
            <h1>회원가입</h1>
            <section class="login-content">
                <article class="login-main">
                    <div class="signup-terms-text">
                        <h2>약관동의</h2>
                        <p>한화 로보틱스는 이용자의 문의 대응 및 더 나은 서비스 제공을 위한 이용 분석 등을 위해 이용자의 개인정보를 수집합니다. 아래 내용을 자세히 읽어 보시고 동의 여부를 체크하여 주시기 바랍니다.<br/>
                            수집의 목적 한화 로보틱스는 이용자의 문의 대응 및 더 나은 서비스 제공을 위한 이용 분석 등을 위해 이용자의 개인정보를 수집합니다. 아래 내용을 자세히 읽어 보시고 동의 여부를 체크하여 주시기 바랍니다.<br/>
                            한화 로보틱스는 이용자의 문의 대응 및 더 나은 서비스 제공을 위한 이용 분석 등을 위해 이용자의 개인정보를 수집합니다. 아래 내용을 자세히 읽어 보시고 동의 여부를 체크하여 주시기 바랍니다.<br/>
                            수집의 목적</p>
                    </div>
                </article>
            </section>
            <div class="signup-terms-btngroup">
                <div>
                    <label class="checkbox-common">
                        <input type="checkbox" name="agree" id="agree"/>
                        <span></span>
                        <p>개인정보 수집 및 이용동의를 자세히 읽어 보신 후 동의해 주시기 바랍니다.</p>
                    </label>
                </div>
                <button type="button" onclick="consentStatus()">동의하고 다음단계로</button>
            </div>
        </div>
    </main>


</div>


</body>
</html>

<script th:inline="javascript">

    // function consentStatus() {
    //     const agreeCheckbox = document.getElementById('agree');
    //     if (agreeCheckbox.checked) {
    //         $.ajax({
    //             type: 'GET',
    //             url: '/member/signup',
    //             data: { agree: 'Y' },
    //         });
    //     } else {
    //         alert('약관에 동의해야 합니다.');
    //     }
    // }

    function consentStatus() {
        const agreeCheckbox = document.getElementById('agree');
        if (agreeCheckbox.checked) {
            window.location.href = '/signup';
        } else {
            alert('약관에 동의해야 합니다.');
        }
    }




</script>
