<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">

    <div>
        <br><br><br><br><br><br><br><br><br><br>
        <h1>대리점 전용</h1><br>
        <h1>회원가입</h1><br>
        한화로보틱스 대리점을 위한 회원가입 화면입니다.

        약관동의


        <br><br><br><br>

        회원가입 신청이 완료되었습니다.

        <br><br>
    </div>


</div>


</body>
</html>

<script th:inline="javascript">




</script>
