<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">

    <section class="inquiry_more"></section>

    <main class="login signup-complete">
        <div class="login-container">
            <h1>회원가입</h1>
            <section class="login-content">
                <article class="login-main">
                    <div class="signup-complete-text">
                        <div class="signup-complete-img">
                            <img src="../images/pc/signup_complete@3x.webp" alt="" />
                        </div>
                        <h2>회원가입 신청이 완료되었습니다.</h2>
                        <p>한화로보틱스 회원가입에 관심을 가져주셔서 감사합니다.<br/>
                            가입 승인이 완료되면 입력해주신 이메일 주소로 알림 메일이 발송됩니다.</p>
                        <span>만약 승인이 거절될 경우, 입력해주신 정보는 즉시 삭제되며,<br/>
              입력해주신 이메일 주소로 알림 메일이 발송됩니다.</span>
                    </div>
                </article>
            </section>
            <a class="signup-complete-link" href="#">
                <div>
          <span>한화로보틱스의 새로운 소식을<br/>
            확인하고 싶으시다면</span>
                    <img src="../images/pc/signup_complete_arrow.svg" alt="" />
                </div>
            </a>
        </div>
    </main>



</div>


</body>
</html>

<script th:inline="javascript">




</script>
