<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">

    <div>
        <br><br><br><br><br><br><br><br><br><br>
        <h1>회원가입</h1><br>
        한화로보틱스 대리점을 위한 회원가입 화면입니다.
        <hr>

        회원가입 신청이 완료되었습니다. <br><br>
        한화로보틱스 회원가입에 관심을 가져주셔서 감사합니다.<br>
        가입 승인이 완료되면 입력해주신 이메일 주소로 알림 메일이 발송됩니다.<br>

        <br>
        만약 승인이 거절될 경우, 입력해주신 정보는 즉시 삭제되며, <br>
        입력해주신 이메일 주소로 알림 메일이 발송됩니다.

        <br><br><br>
        한화로보틱스의 새로운 소식을 확인하고 싶으시다면
        <a>Notice</a>


        <br><br>
    </div>


</div>


</body>
</html>

<script th:inline="javascript">




</script>
