<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
    <div layout:fragment="content">

        <div>
            <br><br><br><br><br><br><br><br><br><br>
            <h1>회원가입</h1>
            한화로보틱스 고객 및 대리점을 위한 회원가입 화면입니다.
            <hr>

<!--            <form method="post" th:action="@{/signup}" modelAttribute="MemberRequest" onsubmit="return validateForm();">-->

                <label for="memberId">아이디 * </label><input type="text" id="memberId" name="memberId" required/>
                <button type="button" onclick="checkDuplicateId()">중복확인</button>
                <br>
                <span id="id_check" class="check_text" style="color: #ff0000;"></span>
                <br><br>


                <label for="password">비밀번호 * </label><input type="password" id="password" name="password" onkeyup="checkPasswordConditions()" required/>
                영문과 숫자를 조합하여 만들어주세요.
                <span id="pw_check" class="check_text" style="color: #ff0000;"></span><br>
                <label for="password2">비밀번호 다시입력 * </label><input type="password" id="password2" name="password2" onkeyup="checkPasswordMatch()" required/><br>
                <span id="pw2_check" class="check_text" style="color: #ff0000;"></span>
                <br><br>


                <label for="email_front">이메일 주소 *</label>
                <input type="text" id="email_front" name="email_front" required>
                <label>
                    @
                    <select id="email_end" name="email_end">
                        <option value="gmail.com">gmail.com</option>
                        <option value="naver.com">naver.com</option>
                        <option value="hotmail.com">hotmail.com</option>
                        <option value="nate.com">nate.com</option>
                        <option value="kakao.com">kakao.com</option>
<!--                        <option value="">직접입력</option>-->
                    </select>
                </label>
                <input id="email" name="email" style="display: none"></input>

                <button type="button" onclick="checkDuplicateEmail()">중복확인</button>
<!--                <input type="text" id="custom_email" name="custom_email" style="display: none;" placeholder="이메일인풋창">-->
                <br>
                <span id="email_check" class="check_text" style="color: #ff0000;"></span>
                <br><br>


                <label for="companyNm">업체명 * </label><input type="text" id="companyNm" name="companyNm">
                <br><br>


                <div th:if="#{header.nation} == 'KR'" >
                    <label for="selectCountry">Country/Region * </label>

                    <select id="selectCountry">
                        <option th:each="country : ${countries}" th:value="${country['code']}" th:text="${country['code_en']}"></option>
                    </select>

                    <br>
                    <label for="city">City * </label><input type="text" id="city" name="city">
                </div>
                <br><br>


                <div>

                    <label for="postcode">우편번호 *</label><input type="text" id="postcode" name="postcode">

                    <span th:if="#{header.nation} != 'KR'">
                        <button type="button" onclick="daumPostcode()">우편번호 찾기</button>
                    </span>

                    <br>

                    <label for="address">주소 *</label><input type="text" id="address" name="address">
                    <br>

                    <label for="addressDetail">상세주소 *</label><input type="text" id="addressDetail" name="addressDetail">
                </div>
                <br><br>


                <label for="store">로봇 구매처 / 대리점 * </label><input type="text" id="store" name="store" required>
                <br><br>

                <label for="memberNm">이름 * </label><input type="text" id="memberNm" name="memberNm" required>
                <br><br>

                <label for="position">직급 * </label><input type="text" id="position" name="position" required>
                <br><br>





                <label>
                    연락처 *
                    <select id="phone_code">
                        <option th:each="phoneCode : ${phoneCodes}" th:value="${phoneCode['code_phone']}" th:text="${phoneCode['code_phone']}"></option>
                    </select>

                    <input id="phone" name="phone" required>

                    <input id="contact" name="contact" style="display: none">

                </label>

                <br><br><br><br>

<!--                <button type="reset">취소</button>-->
                <button type="button" onclick="register()">회원가입 신청</button>
<!--                <button type="submit">회원가입 신청</button>-->



                <br><br>

<!--            </form>-->



        </div>


    </div>


</body>
</html>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:inline="javascript">

    // 아이디 중복확인
    function checkDuplicateId() {
        const memberId = $('#memberId').val();
        const idCheckElement = $('#id_check');

        if(!(/^[a-zA-Z0-9]*$/).test(memberId) || /[ㄱ-ㅎㅏ-ㅣ가-힣]/.test(memberId)) {
            idCheckElement.text("아이디는 영문 소문자 및 숫자만 허용되며, 한글은 입력할 수 없습니다.");
        } else if (memberId.length < 5 ) {
            idCheckElement.text("아이디는 4~12 글자 이어야 합니다.");
        } else {
            $.ajax({
                type: 'GET',
                url: `/check/id?memberId=${encodeURIComponent(memberId)}`,
                success: function(data) {

                    if (data === true) {
                        idCheckElement.text("이미 존재하는 아이디입니다.");
                    } else {
                        idCheckElement.text("사용 가능한 아이디입니다.");
                    }
                },
                error: function() {
                    alert('서버 에러');
                }
            });
        }
    }

    // 비밀번호 체크
    function checkPasswordConditions() {
        const password = document.getElementById('password').value;
        const pwCheckElement = document.getElementById('pw_check');
        if (password.length < 8 || !/^(?=.*[a-zA-Z])(?=.*\d).+$/.test(password)) {
            pwCheckElement.textContent = '비밀번호는 8글자 이상의 영문과 숫자 조합이어야 합니다.';
        } else {
            pwCheckElement.textContent = '';
        }
    }

    // 비밀번호 재입력 일치 여부
    function checkPasswordMatch() {
        const password = document.getElementById('password').value;
        const password2 = document.getElementById('password2').value;
        const pw2CheckElement = document.getElementById('pw2_check');

        if (password !== password2) {
            pw2CheckElement.textContent = '비밀번호가 일치하지 않습니다.';
        } else {
            pw2CheckElement.textContent = '';
        }
    }




    // $(document).ready(function() {
    //     updateEmailField();
    //     updatePhoneField();
    //     $("#email_front, #email_end").on("change", updateEmailField);
    //     $("#phone_front, #phone_middle, #phone_end").on("change", updatePhoneField);
    //
    // });
    //
    // function updateEmailField() {
    //     const email_front = $("#email_front").val();
    //     const email_end = $("#email_end").val();
    //     const email = email_front + "@" + email_end;
    //     $("#email").val(email);
    // }


    // TODO: 직접입력
    // $(document).ready(function() {
    //     $("#email_end").on("change", function() {
    //         const selectedOption = $(this).val();
    //         const customEmailInput = $("#custom_email");
    //         if (selectedOption === "직접입력") {
    //             customEmailInput.show();
    //         } else {
    //             customEmailInput.hide();
    //         }
    //     });
    // });



    // 이메일 중복확인
    function checkDuplicateEmail() {
        const email_front = $("#email_front").val();
        const email = $('#email').val();
        const emailCheckElement = $('#email_check');

        if (email_front.length < 3 ) {
            emailCheckElement.text("이메일을 정확히 입력해 주세요");
        } else {
            $.ajax({
                type: 'GET',
                url: `/check/email?email=${encodeURIComponent(email)}`,
                success: function(data) {

                    if (data === true) {
                        emailCheckElement.text("이미 존재하는 이메일입니다.");
                    } else {
                        emailCheckElement.text("사용 가능한 이메일 입니다.");
                    }
                },
                error: function() {
                    alert('서버 에러');
                }
            });
        }
    }






    // 우편번호
    function daumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                let addr = '';

                if (data.userSelectedType === 'R') { // 도로명 주소
                    addr = data.roadAddress;
                } else { // 지번 주소
                    addr = data.jibunAddress;
                }

                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                document.getElementById("addressDetail").focus();
            }
        }).open();
    }


    // 연락처 숫자만 입력
    document.getElementById('phone').addEventListener('keyup', function() {
        checkNumericInput(this);
    });

    function checkNumericInput(inputElement) {
        const inputValue = inputElement.value;
        if (!/^[0-9]*$/.test(inputValue)) {
            inputElement.value = inputValue.replace(/[^0-9]/g, '');
        }
    }


    // function updatePhoneField() {
    //     const phone_code = $("phone_code").val();
    //     const phone = $("phone_front").val();
    //     // const phone_middle = $("phone_middle").val();
    //     // const phone_last = $("phone_end").val();
    //     const contact = phone_code + ")" + phone;
    //     $("#contact").val(contact);
    // }





    function validateForm() {
        const memberId = $('#memberId').val();
        const idCheckElement = $('#id_check');
        const password = document.getElementById('password').value;
        const pwCheckElement = document.getElementById('pw_check');
        const password2 = document.getElementById('password2').value;
        const pw2CheckElement = document.getElementById('pw2_check');

        // const submitButton = document.getElementById('submit_button');

        // 아이디 체크
        if (memberId.length < 6 ) {
            idCheckElement.text("아이디는 5~12글자 이어야 합니다.");
            return false;
        } else if(!(/^[a-zA-Z0-9]*$/).test(memberId) || /[ㄱ-ㅎㅏ-ㅣ가-힣]/.test(memberId)) {
            idCheckElement.text("아이디는 영문 소문자 및 숫자만 허용되며, 한글은 입력할 수 없습니다.");
            return false;
        }

        // 비밀번호 체크
        if (password.length < 8 || !/^(?=.*[a-zA-Z])(?=.*\d).+$/.test(password)) {
            pwCheckElement.textContent = '비밀번호는 8글자 이상의 영문과 숫자 조합이어야 합니다.';
            return false;
        }

        // 비밀번호 재입력 체크
        if (password !== password2) {
            pw2CheckElement.textContent = '비밀번호가 일치하지 않습니다.';
            return false;
        }

        // submitButton.textContent = '입력한 정보가 정확합니다';


        return true;
    }


    function register(){

        const email_front = $("#email_front").val();
        const email_end = $("#email_end").val();
        const email = email_front + "@" + email_end;


        const memberId = $('#memberId').val();
        const idCheckElement = $('#id_check');
        if (!memberId) {
            alert("아이디 중복 확인을 해주세요.");
            return;
        } else if (idCheckElement.text() !== "사용 가능한 아이디입니다.") {
            alert("사용 가능한 아이디로 확인해주세요.");
            return;
        }

        // 이메일 중복 확인
        const emailCheckElement = $('#email_check');
        if (!email) {
            alert("이메일 중복 확인을 해주세요.");
            return;
        } else if (emailCheckElement.text() !== "사용 가능한 이메일 입니다.") {
            alert("사용 가능한 이메일로 확인해주세요.");
            return;
        }



        validateForm();

        const selectedRegion = $('#selectCountry').val();




        const phone_code = $("#phone_code").val();
        const phone = $("#phone").val();
        const contact = phone_code + ")" + phone;

        const temp = {
            memberId: $('#memberId').val(),
            password: $('#password').val(),
            companyNm: $('#companyNm').val(),
            region: selectedRegion ? selectedRegion : 'KR',
            city: $('#city').val(),
            postCode: $('#postcode').val(),
            address: $('#address').val(),
            addressDetail: $('#addressDetail').val(),
            store: $('#store').val(),
            memberNm: $('#memberNm').val(),
            position: $('#position').val(),
            email: email,
            contact: contact,
        };

        COMM.ajax({
            url : "/signup",
            type: "POST",
            headers: {'Content-Type': 'application/json'},
            data: JSON.stringify(temp),
            success : function(data) {
                if(data.code === 200){
                    window.location.href="/signup/complete";
                }
            },
            error : function(jqXHR){
                console.log(jqXHR.status, jqXHR);
            },
        });

    }











</script>
