<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
    <div layout:fragment="content">

            <main class="mypage signup-main">
                <form>
                    <div class="mypage-container">
                        <h1>회원가입</h1>
                        <section class="mypage-contents edit">

                            <div class="mypage-section">
                                <h2>아이디<strong>*</strong></h2>
                                <div>
                                    <div>
                                        <input type="text" name="id" id="memberId" required />
                                        <button type="button" class="signup-main-id-check" onclick="checkDuplicateId()">중복확인</button>
                                    </div>
                                    <!-- 중복확인 결과 메시지 -->
                                     <label class="signup-message-warning check_text" id="id_check" style="display: none"></label>
                                </div>
                            </div>

                            <div class="mypage-section">
                                <h2>비밀번호<strong>*</strong></h2>
<!--                                <input type="password" name="pwd1" id="password" onkeyup="checkPasswordConditions()" required placeholder="영문과 숫자를 조합하여 만들어주세요." />-->
<!--                                <label class="signup-message-warning check_text" id="pw_check"></label>-->
                                <input type="password" name="pwd1" id="password" required placeholder="영문과 숫자를 조합하여 만들어주세요." />
                            </div>

                            <div class="mypage-section">
                                <h2>비밀번호 재입력<strong>*</strong></h2>
<!--                                <input type="password" name="pwd2" id="password2" value="" onkeyup="checkPasswordMatch()" required />-->
<!--                                <label class="signup-message-warning check_text" id="pw2_check"></label>-->
                                <input type="password" name="pwd2" id="password2" required />
                            </div>

                            <div class="mypage-section">
                                <h2>이메일<strong>*</strong></h2>
                                <div class="signup-main-email-container">
                                    <div class="signup-main-email-wrapper">
                                        <div class="mypage-edit-email">
                                            <input type="text" name="email-local" id="email-local" class="email_front" required />
                                            <span>@</span>
                                            <select name="email-domain" id="email-domain" class="email_end">
                                                <option value="gmail.com">gmail.com</option>
                                                <option value="naver.com">naver.com</option>
                                                <option value="outlook.com">outlook.com</option>
                                                <option value="yahoo.com">yahoo.com</option>
                                                <option value="hotmail.com">hotmail.com</option>
                                                <option value="daum.net">daum.net</option>
                                                <option value="hanmail.net">hanmail.net</option>
                                                <option value="nate.com">nate.com</option>
                                                <option value="kakao.com">kakao.com</option>
                                                <option value="">직접 입력</option>
                                            </select>
                                        </div>
                                        <button type="button" onclick="checkDuplicateEmail()">중복확인</button>
                                    </div>
                                    <input id="email" name="email" style="display: none" />
                                    <!-- 중복확인 결과 메시지 -->
                                     <label class="signup-message-warning check_text" id="email_check" style="display: none"></label>
                                </div>
                            </div>

                            <div class="mypage-section">
                                <h2>업체명<strong>*</strong></h2>
                                <input type="text" name="company_name" id="company_name" class="companyNm" required />
                            </div>

                            <div class="mypage-section"  th:if="#{header.nation} == 'KR'" >
                                <h2>Country/Region<strong>*</strong></h2>

                                <select class="signup-select-country" name="email-domain" id="selectCountry">
                                    <option th:each="country : ${countries}" th:value="${country['code']}" th:text="${country['code_en']}"></option>
                                </select>
                            </div>

                            <div class="mypage-section"  th:if="#{header.nation} == 'KR'" >
                                <h2>City<strong>*</strong></h2>
                                <input type="text" name="city" id="city" value="" required />
                            </div>

                            <div class="mypage-section">
                                <h2>우편번호<strong>*</strong></h2>
                                <div class="mypage-edit-zipcode">
                                    <input type="text" name="zipcode" id="postcode" required th:if="#{header.nation} == 'KR'"/>
                                    <input type="text" name="zipcode" id="postcode" required readonly th:if="#{header.nation} != 'KR'"/>
                                    <button type="button" onclick="daumPostcode()" th:if="#{header.nation} != 'KR'">우편번호 찾기</button>
                                </div>
                            </div>

                            <div class="mypage-section">
                                <h2>주소<strong>*</strong></h2>
                                <input type="text" name="address" id="address" required />
                            </div>

                            <div class="mypage-section">
                                <h2>상세주소<strong>*</strong></h2>
                                <input type="text" name="address_detail" id="address_detail" required />
                            </div>

                            <div class="mypage-section">
                                <h2>로봇구매처/대리점<strong>*</strong></h2>
                                <input type="text" name="agency" id="agency" class="store" value="" required />
                            </div>

                            <div class="mypage-section">
                                <h2>이름<strong>*</strong></h2>
                                <input type="text" name="name" id="name" class="memberNm" required />
                            </div>

                            <div class="mypage-section">
                                <h2>직급</h2>
                                <input type="text" name="rank" id="rank" class="position" value="" required />
                            </div>

                            <div class="mypage-section">
                                <h2>연락처<strong>*</strong></h2>
                                <div class="mypage-edit-phone signup-main-phone">
<!--                                    <select name="telecom" id="telecom" class="phone_code">-->
<!--                                        <option th:each="phoneCode : ${phoneCodes}" th:value="${phoneCode['code_phone']}" th:text="${phoneCode['code_phone']}"></option>-->
<!--                                    </select>-->

                                    <select name="telecom" id="telecom" class="phone_code">
                                        <option value="+82" th:each="phoneCode : ${phoneCodes}" th:value="${phoneCode['code_phone']}"
                                                th:text="${phoneCode['code_phone']}" th:selected="${phoneCode['code_phone'] == '+82'}"></option>
                                    </select>

                                    <input type="text" name="phone" id="phone" required />
                                    <input id="contact" name="contact" style="display: none">
                                </div>
                            </div>

                        </section>
                    </div>


                    <button type="button" class="mypage-btn color-orange edit" id="openMessage" onclick="openRegisterMessage()">회원가입 신청</button>

                    <div class="signup-done-message" id="signupMessage" style="display: none;">
                        <p>회원가입 신청을 완료하시겠습니까?<br/>
                            입력하신 정보가 모두 정확한지 다시한번 확인해주세요.</p>
                        <button type="button" class="mypage-btn color-orange edit signup-done" onclick="register()">입력한 정보가 정확합니다</button>
                    </div>

                </form>
            </main>


    </div>


</body>



</html>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:inline="javascript">


    // 아이디, 이메일 변경 확인
    let isIdChanged = false;
    let isIdCheck = false;

    let isEmailChanged = false;
    let isEmailCheck = false;

    $('#memberId').on('change', function () {
        isIdChanged = true;
    });

    // $('#email-local, #email-domain').on('change', function () {
    $(document).on('change', '#email-local, #email-domain', function () {
        if($('#email-domain').val() === '') {
            console.log("이프 조건문 탔음~~~~");
            // TODO 
            // 인풋창으로 바꾸기, 셀렉트 값 빼고 인풋창 값을 넣기
            $( 'select' ).remove( '#email-domain' );
            $('.mypage-edit-email').append("<input type='text' name='email-domain' id='email-domain' class='email_end' required></input>");
            // 유효성 검사
            isEmailChanged = false;

        }
         else {
            console.log("엘스 조건문 탔음")
            isEmailChanged = true;
        }
        // console.log("온체인지~!!")
        // isEmailChanged = true;

    });


    // 아이디 중복확인
    function checkDuplicateId() {
        const memberId = $('#memberId').val();
        const idCheckElement = $('#id_check');

        if(!(/^[a-zA-Z0-9]*$/).test(memberId) || /[ㄱ-ㅎㅏ-ㅣ가-힣]/.test(memberId)) {
            idCheckElement.text("아이디는 영문 소문자 및 숫자만 허용되며, 한글은 입력할 수 없습니다.");
            idCheckElement.show();
        } else if (memberId.length < 5 ) {
            idCheckElement.text("아이디는 4~12 글자 이어야 합니다.");
            idCheckElement.show();
        } else {
            $.ajax({
                type: 'GET',
                url: `/check/id?memberId=${encodeURIComponent(memberId)}`,
                success: function(data) {
                    if (data === true) {
                        idCheckElement.text("이미 존재하는 아이디입니다.");
                        idCheckElement.show();
                        isIdCheck = true;
                        isIdChanged = true;
                    } else {
                        idCheckElement.text("사용 가능한 아이디입니다.");
                        idCheckElement.show();
                        isIdCheck = false;
                        isIdChanged = false;
                    }
                },
                error: function() {
                    alert('에러가 발생했습니다.');
                }
            });
        }
    }


    // 비밀번호 체크
    // function checkPasswordConditions() {
    //     const password = $('#password').val();
    //     const pwCheckElement = $('#pw_check');
    //     if (password.length < 8 || !/^(?=.*[a-zA-Z])(?=.*\d).+$/.test(password)) {
    //         pwCheckElement.text('비밀번호는 8글자 이상의 영문과 숫자 조합이어야 합니다.');
    //     } else {
    //         pwCheckElement.text('');
    //     }
    // }

    // 비밀번호 재입력 일치 여부
    // function checkPasswordMatch() {
    //     const password = $('#password').val();
    //     const password2 = $('#password2').val();
    //     const pw2CheckElement = $('#pw2_check');
    //
    //     if (password !== password2) {
    //         pw2CheckElement.text('비밀번호가 일치하지 않습니다.');
    //     } else {
    //         pw2CheckElement.text('');
    //     }
    // }



    // 형식 연결
    $(document).ready(function() {
        updateEmailField();
        updatePhoneField();
        $(".email_front, .email_end").on("change", updateEmailField);
        $(".phone_code, #phone").on("change", updatePhoneField);

    });

    // 이메일 형식 연결
    function updateEmailField() {
        const email_front = $(".email_front").val();
        const email_end = $(".email_end").val();
        const email = email_front + "@" + email_end;
        $("#email").val(email);
    }

    // 연락처 형식 연결
    function updatePhoneField() {
        const phone_code = $(".phone_code").val();
        const phone = $("#phone").val();
        const contact = phone_code + ")" + phone;
        $("#contact").val(contact);
    }


    // 이메일 중복확인
    function checkDuplicateEmail() {
        const email_front = $(".email_front").val();
        const email_end = $(".email_end").val();
        const emailPattern = /^[a-zA-Z]{2,}\.[a-zA-Z]{2,}$/;
        const email = $('#email').val();
        const emailCheckElement = $('#email_check');

        if (email_front.length < 3 || !emailPattern.test(email_end)) {
            console.log(email_end.match("."), "이메일매치");
            emailCheckElement.text("이메일을 정확히 입력해 주세요");
            emailCheckElement.show();
        } else {
            $.ajax({
                type: 'GET',
                url: `/check/email`,
                data: {
                    email : email
                },
                success: function(data) {

                    if (data === true) {
                        emailCheckElement.text("이미 존재하는 이메일입니다.");
                        emailCheckElement.show();
                        isEmailCheck = true;
                        isEmailChanged = true;
                    } else {
                        emailCheckElement.text("사용 가능한 이메일 입니다.");
                        emailCheckElement.show();
                        isEmailCheck = false;
                        isEmailChanged = false;
                    }
                },
                error: function() {
                    alert('에러가 발생했습니다.');
                }
            });
        }
    }



    // 숫자만 입력 가능하게 체크
    function checkNumericInput(inputElement) {
        const inputValue = inputElement.value;
        if (!/^[0-9]*$/.test(inputValue)) {
            inputElement.value = inputValue.replace(/[^0-9]/g, '');
        }
    }

    document.getElementById('phone').addEventListener('keyup', function() {
        checkNumericInput(this);
    });

    document.getElementById('postcode').addEventListener('keyup', function() {
        checkNumericInput(this);
    });


    // 우편번호
    function daumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                let addr = '';

                if (data.userSelectedType === 'R') { // 도로명 주소
                    addr = data.roadAddress;
                } else { // 지번 주소
                    addr = data.jibunAddress;
                }

                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                document.getElementById("address_detail").focus();
            }
        }).open();
    }


    // 회원가입 버튼 전환
    function openRegisterMessage() {
        $('#openMessage').hide();
        $('#signupMessage').show();
    }

    // 회원가입 등록
    function register(){

        const memberId = $('#memberId').val();
        const idCheckElement = $('#id_check');
        const password = $('#password').val();
        const password2 = $('#password2').val();
        const email = $("#email").val();
        const emailCheckElement = $('#email_check');
        const selectedRegion = $('#selectCountry').val();

        const city = $('#city').val()
        const companyNm = $('.companyNm').val();
        const postCode = $('#postcode').val();
        const address = $('#address').val();
        const addressDetail = $('#address_detail').val();
        const store = $('.store').val();
        const memberNm = $('.memberNm').val();
        const position = $('.position').val();
        const contact = $("#contact").val();

        // 아이디 체크
        if (memberId.length < 6 ) {
            idCheckElement.text("아이디는 5~12글자 이어야 합니다.").show();
            $('#memberId').focus();
            return;
        } else if(!(/^[a-zA-Z0-9]*$/).test(memberId) || /[ㄱ-ㅎㅏ-ㅣ가-힣]/.test(memberId)) {
            idCheckElement.text("아이디는 영문 소문자 및 숫자만 허용되며, 한글은 입력할 수 없습니다.").show();
            $('#memberId').focus();
            return;
        }
        // else if (!memberId) {
        //     idCheckElement.text("아이디 중복 확인을 해주세요.").show();
        //     $('#memberId').focus();
        //     return;
        // } else if (idCheckElement.text() !== "사용 가능한 아이디입니다.") {
        //     idCheckElement.text("사용 가능한 아이디를 입력해주세요.").show();
        //     $('#memberId').focus();
        //     return;
        // }


        if (isIdChanged || isIdCheck) {
            alert("아이디 중복확인을 해주세요.");
            $('#memberId').focus();
            return;
        }

        // 비밀번호 체크
        if (password.length < 8 || !/^(?=.*[a-zA-Z])(?=.*\d).+$/.test(password)) {
            alert('비밀번호는 8글자 이상의 영문과 숫자 조합이어야 합니다.');
            $('#password').focus();
            return;
        }

        // 비밀번호 재입력 체크
        if (password !== password2) {
            alert('비밀번호가 일치하지 않습니다.');
            $('#password2').focus();
            return;
        }

        // 이메일 체크
        // if (!email) {
        //     idCheckElement.text("이메일 중복 확인을 해주세요.");
        //     $('#email_front').focus();
        //     return;
        // }
        // else if (emailCheckElement.text() !== "사용 가능한 이메일 입니다.") {
        //     idCheckElement.text("사용 가능한 이메일을 입력해주세요.");
        //     $('#email_front').focus();
        //     return;
        // }


        if (isEmailChanged || isEmailCheck) {
            alert("이메일 중복확인을 해주세요.");
            $('#email_front').focus();
            return;
        }



        // 필수 입력 항목
        if (!memberId || !password || !email || !companyNm || !postCode || !address || !addressDetail || !store || !memberNm || !contact) {
            alert('필수 입력 항목을 모두 입력해주세요.');
            return;
        }

        const temp = {
            memberId: memberId,
            password: password,
            companyNm: companyNm,
            region: selectedRegion ? selectedRegion : 'KR',
            city: city,
            postCd: postCode,
            address: address,
            addressDetail: addressDetail,
            store: store,
            memberNm: memberNm,
            position: position,
            email: email,
            contact: contact,
        };

        COMM.ajax({
            url : "/signup",
            type: "POST",
            headers: {'Content-Type': 'application/json'},
            data: JSON.stringify(temp),
            success : function(data) {
                if(data.code === 200){
                    window.location.href="/signup/complete";
                }
            },
            error : function(jqXHR){
                if(jqXHR.responseJSON && jqXHR.responseJSON.message) {
                    alert(jqXHR.responseJSON.message);
                } else {
                    alert("에러가 발생했습니다.");
                }
            }
        });

    }



</script>
