<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body data-gnb-target="eco">
<div layout:fragment="content" class="ecosystem-template-01 type2">

  <main>
    <section class="ecosystem-template-01-title">
      <a href="/eco/main">
        <img src="../images/pc/products_detail_arrow.svg" />
      </a>
      <h1>Ecosystem</h1>
    </section>

    <section class="ecosystem-template-01-info">
      <div class="ecosystem-template-01-info-slider-wrapper">
        <div class="ecosystem-template-01-info-slider">
          <div class="ecosystem-template-01-info-slider-item">
            <img src="../images/pc/ecosystem_main_40.jpg" alt="" />
          </div>
          <div class="ecosystem-template-01-info-slider-item">
            <img src="../images/pc/ecosystem_main_40_02.jpg" alt="" />
          </div>
          <div class="ecosystem-template-01-info-slider-item">
            <img src="../images/pc/ecosystem_main_40_03.png" alt="" />
          </div>
        </div>
      </div>
      <span class="ecosystem-template-01-info-badge">그리퍼</span>
      <div class="ecosystem-template-01-info-content">
        <h2>Hand-E</h2>
        <h3>ROBOTIQ</h3>
        <p>
          <strong>Description</strong><br/>
          Hand-E's high accuracy and 50mm parallel stroke make it ideal for precision assembly tasks, while its sealed design ensures reliability even in the most demanding manufacturing conditions. The design of Robotiq Hand-E complies with ISO/TS 15066 standard best practices, featuring maximum force control, rounded edges, self-locking functionalities, and more, making it the optimal gripper for collaborative robots.
          <br/><br/>
          <strong>Suitable applications</strong><br/>
          > Pick-and-place<br/>
          > Inspection<br/>
          > Assembly<br/>
          > Machine Tending
        </p>
        <img class="ecosystem-template-01-info-arrow" src="../images/pc/ic_arrow_down.svg" alt=""></img>
      </div>
    </section>

    <section class="ecosystem-template-01-spec">
      <div class="ecosystem-template-01-spec-item1">
        <h2>Specifications</h2>
        <div class="ecosystem-template-01-spec-item1-table type2">
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title bold type2" style="width: 50%; margin-right: 0;">Items</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1 bold" style="width: 50%;">Value</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%; margin-right: 0;">Stroke (adjustable)</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">50 mm</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%; margin-right: 0;">Grip force (adjustable)</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">20 to 185 N</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%; margin-right: 0;">Form-fit grip payload</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">5 kg</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%; margin-right: 0;">Friction grip payload</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">4.7 kg</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%; margin-right: 0;">Gripper mass</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">1 kg</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%; margin-right: 0;">Position resolution (fingertip)</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">0.2 mm</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%; margin-right: 0;">Closing speed (adjustable)</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">20 to 150 mm/s</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%; margin-right: 0;">Communication protocol</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">Modbus RTU RS-485, USB</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%; margin-right: 0;">Ingress protection (IP) rating</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">1P67</p>
          </div>
        </div>
      </div>

      <div class="ecosystem-template-01-spec-item-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YMjc9Cy65jQ?si=ziWkt4SQwlBbD05y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>

      <div class="ecosystem-template-01-spec-item1" style="margin-top: 60px;">
        <h2>호환 수준</h2>
        <div class="ecosystem-template-01-spec-item1-table type2">
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title bold type2" style="width: 50%; margin-right: 0;">Items</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1 bold" style="width: 50%;">HCR</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%; margin-right: 0;">Compatible Robots</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">HCR-3, HCR-5, HCR-12</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%; margin-right: 0;">Coupling</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">Included in the box</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%; margin-right: 0;">Hardware</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">Included in the box</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%; margin-right: 0;">Connectors</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%; line-height: 1.43;">
              • High-Flex device cable<br/>
              • USB to RS485 adapter
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%; margin-right: 0;">Quick start guide</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%; line-height: 1.43;">
              • Included in the box<br/>
              • Available at robotiq.com
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%; margin-right: 0;">Rodi-X Plug-in</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">Available at robotiq.com</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%; margin-right: 0;">Power</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">From robot controller</p>
          </div>
        </div>
      </div>
      <div class="ecosystem-template-01-spec-item1-table-content type3 margin-top">
        <p>Rodi-X plug-in examples</p>
      </div>

      <div class="ecosystem-template-01-spec-item3">
        <div class="ecosystem-template-01-spec-item3-section">
          <p>Gripper Setting</p>
          <img src="../images/pc/ecosystem_main_40_content_01.png" alt="" />
        </div>
        <div class="ecosystem-template-01-spec-item3-section">
          <p>Gripper Command</p>
          <img src="../images/pc/ecosystem_main_40_content_01.png" alt="" />
        </div>
      </div>

      <p class="ecosystem-template-01-spec-item-info">* Rodi-X supports single gripper usage with a plug-in. For dual gripper usage, script programming is required.</p>

      <div class="ecosystem-template-01-spec-item2">
        <div class="ecosystem-template-01-spec-item2-video"></div>
        <a href="https://robotiq.com/products/hand-e-adaptive-robot-gripper" target="_blank" rel="noreferrer noopener" class="ecosystem-template-01-spec-item2-info">
          <span>For more information, Please visit ROBOTIQ.com</span>
          <img src="../images/pc/ecosystem-link-arrow.svg" alt="" />
        </a>
      </div>

      <div class="ecosystem-template-01-spec-item-link">
        <img src="../images/pc/ecosystem_main_40_link_01.png" alt="" width="200" />
      </div>

      <div class="ecosystem-template-01-spec-divider"></div>

      <div class="ecosystem-template-01-spec-inquiry">
        <button type="button" onclick="layerInquiryBtn(2)" class="inquiry eco">
          제품 문의하기
          <span><strong>+</strong></span>
        </button>
      </div>
    </section>

    <section class="ecosystem-template-01-section">
      <div class="tab-nav">
        <div class="tab-nav-wrapper">
          <input type="radio" id="nav1" name="nav" checked />
          <label for="nav1" class="ecosystem-nav1">
            <span>전체</span>
          </label>
          <input type="radio" id="nav2" name="nav" />
          <label for="nav2" class="ecosystem-nav2">
            <span>그리퍼</span>
          </label>
          <input type="radio" id="nav3" name="nav" />
          <label for="nav3" class="ecosystem-nav3">
            <span>비전</span>
          </label>
          <input type="radio" id="nav4" name="nav" />
          <label for="nav4" class="ecosystem-nav4">
            <span>기능 확장</span>
          </label>
          <input type="radio" id="nav5" name="nav" />
          <label for="nav5" class="ecosystem-nav5">
            <span>기타</span>
          </label>

          <select class="tab-nav-mobile">
            <option value="nav1" selected>전체</option>
            <option value="nav2">그리퍼</option>
            <option value="nav3">비전</option>
            <option value="nav4">기능 확장</option>
            <option value="nav5">기타</option>
          </select>

          <div class="tab-content-wrapper">
            <div id="nav1-content" class="nav-content">
              <div class="ecosystem-template-01-slider1" id="ecosystem-template-01-slider1">
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="/eco/screwdriver" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_02_thumb.jpeg" alt="" />
                  </div>
                  <p>Screwdriver</p>
                  <span>OnRobot</span>
                </a>
                <a href="/eco/magbot" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_03_thumb.png" alt="" />
                  </div>
                  <p>Magbot Automatic Tool Changer</p>
                  <span>UND</span>
                </a>
                <a href="/eco/phd" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_04_thumb.png" alt="" />
                  </div>
                  <p>PHD Pneu-Connect X2 Dual Pneumatic Grippers</p>
                  <span>PHD, Inc.</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_05_thumb.png" alt="" />
                  </div>
                  <p>Pickit M-HD</p>
                  <span>Pickit 3D</span>
                </a>
                <a href="/eco/hct1200" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_06_thumb.jpeg" alt="" />
                  </div>
                  <p>HCT-1200</p>
                  <span>Dymato Automation</span>
                </a>
                <a href="/eco/rodi-x" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_07.png" alt="" />
                  </div>
                  <p>Rodi-X software applications for ecosystem integration</p>
                  <span>Airgate</span>
                </a>
                <a href="/eco/vacuum" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_08.png" alt="" />
                  </div>
                  <p>Vacuum Gripper Unit ZXP-X1(Compatible with HCR-3A)</p>
                  <span>SMC Korea, Co.,Ltd</span>
                </a>
                <a href="/eco/pickit-m" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_09_thumb.png" alt="" />
                  </div>
                  <p>Pickit M</p>
                  <span>Pickit 3D</span>
                </a>
                <a href="/eco/srp" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_10.jpg" alt="" />
                  </div>
                  <p>SRP Cobot Palletiser</p>
                  <span>RCO Mechatronics BV</span>
                </a>
                <a href="/eco/mt01-mt02" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_11.png" alt="" />
                  </div>
                  <p>MT01, MT02</p>
                  <span>Mactech</span>
                </a>
                <a href="/eco/air" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_12.jpg" alt="" />
                  </div>
                  <p>Air Gripper Unit for Hanwha Collaborative Robots (JMHZ2-HWRB01)</p>
                  <span>SMC Korea, Co.,Ltd</span>
                </a>
                <a href="/eco/cognex" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_13_thumb.png" alt="" />
                  </div>
                  <p>Cognex In-Sight Vision Systems</p>
                  <span>Cognex Corporation</span>
                </a>
                <a href="/eco/mt05" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_14.jpg" alt="" />
                  </div>
                  <p>MT05 Loading Table</p>
                  <span>Mactech</span>
                </a>
                <a href="/eco/screen-protector" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_15.jpg" alt="" />
                  </div>
                  <p>Screen Protector</p>
                  <span>Drim Robotics Sp.z.o.o.</span>
                </a>
                <a href="/eco/soft-grippers" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_16.jpg" alt="" />
                  </div>
                  <p>Soft Grippers</p>
                  <span>OnRobot</span>
                </a>
                <a href="/eco/mt04" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_17.jpg" alt="" />
                  </div>
                  <p>MT04 CNC ASSISTANT</p>
                  <span>Mactech</span>
                </a>
                <a href="/eco/robotmaster-v7" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_18_thumb.jpeg" alt="" />
                  </div>
                  <p>Robotmaster V7</p>
                  <span>Hypertherm Robotic Software Inc.</span>
                </a>
                <a href="/eco/3fg15" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_19_thumb.png" alt="" />
                  </div>
                  <p>3FG15</p>
                  <span>OnRobot</span>
                </a>
                <a href="/eco/hi400p" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_20_thumb.jpeg" alt="" />
                  </div>
                  <p>Hi400P</p>
                  <span>현대종합금속(주)</span>
                </a>
                <a href="/eco/automappers" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_21_thumb.png" alt="" />
                  </div>
                  <p>AUTOMAPPPPS</p>
                  <span>Convergent Information Technologies GmbH</span>
                </a>
                <a href="/eco/gecko-sp" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_22_thumb.png" alt="" />
                  </div>
                  <p>Gecko SP</p>
                  <span>OnRobot</span>
                </a>
                <a href="/eco/ati-axia80" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_23_thumb.jpeg" alt="" />
                  </div>
                  <p>ATI Axia80 Force/Torque Sensor Kit</p>
                  <span>ATI Industrial Automation</span>
                </a>
                <a href="/eco/robotdk-simulation" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_24_thumb.jpeg" alt="" />
                  </div>
                  <p>RoboDK Simulation Software</p>
                  <span>RoboDK</span>
                </a>
                <a href="/eco/vgc10" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_25_thumb.png" alt="" />
                  </div>
                  <p>VGC10</p>
                  <span>OnRobot</span>
                </a>
                <a href="/eco/asycube50-asycube80" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_26_thumb.png" alt="" />
                  </div>
                  <p>Asycube 50 & Asycube 80</p>
                  <span>Asyril SA</span>
                </a>
                <a href="/eco/sbot-speed" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_27_thumb.jpeg" alt="" />
                  </div>
                  <p>sBot-Speed</p>
                  <span>SICK</span>
                </a>
                <a href="/eco/gecko-gripper" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_28_thumb.png" alt="" />
                  </div>
                  <p>Gecko Gripper</p>
                  <span>OnRobot</span>
                </a>
                <a href="/eco/asycube240" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_29_thumb.png" alt="" />
                  </div>
                  <p>Asycube 240</p>
                  <span>Asyril SA</span>
                </a>
                <a href="/eco/quick-changer" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_30_thumb.png" alt="" />
                  </div>
                  <p>Quick Changer</p>
                  <span>OnRobot</span>
                </a>
                <a href="/eco/rg2-ft" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_31_thumb.png" alt="" />
                  </div>
                  <p>RG2-FT</p>
                  <span>OnRobot</span>
                </a>                <a href="/eco/asycube380-asycube530" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_32_thumb.png" alt="" />
                  </div>
                  <p>Asycube 380 & Asycube 530</p>
                  <span>Asyril SA</span>
                </a>
                <a href="/eco/coprotect" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_33.jpg" alt="" />
                  </div>
                  <p>CoPROTECT</p>
                  <span>CoRobotics</span>
                </a>
                <a href="/eco/vg10" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_34_thumb.png" alt="" />
                  </div>
                  <p>VG10</p>
                  <span>OnRobot</span>
                </a>
                <a href="/eco/smart2" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_35_thumb.jpeg" alt="" />
                  </div>
                  <p>스마트 피더 에이브 2.0/3.0</p>
                  <span>주식회사 에이아이엠</span>
                </a>
                <a href="/eco/hcr-dresspack" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_36.jpg" alt="" />
                  </div>
                  <p>HCR_Dresspack_2M/3M</p>
                  <span>만희기전</span>
                </a>
                <a href="/eco/rg2-rg6" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_37_thumb.png" alt="" />
                  </div>
                  <p>RG2, RG6</p>
                  <span>OnRobot</span>
                </a>
                <a href="/eco/abirob-w-300" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_38.jpg" alt="" />
                  </div>
                  <p>ABIROB W 300</p>
                  <span>Abicor Binzel</span>
                </a>
                <a href="/eco/1a-cobot-dress-pack" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_39_thumb.jpeg" alt="" />
                  </div>
                  <p>1A CoBot Dress Pack</p>
                  <span>REIKU GmbH</span>
                </a>

                <a href="/eco/fhs-sh-set-hcr-series" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_41.jpg" alt="" />
                  </div>
                  <p>FHS-SH-Set HCR Series</p>
                  <span>Murrplastik Systemtechnik GmbH</span>
                </a>
                <a href="/eco/2f-85-2f-140" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_42_thumb.jpeg" alt="" />
                  </div>
                  <p>2F-85, 2F-140</p>
                  <span>Robotiq</span>
                </a>
                <a href="/eco/nt-50-re-en" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_43.jpg" alt="" />
                  </div>
                  <p>NT 50-RS-EN</p>
                  <span>Hilscher Gesellschaft für Systemautomation mbH</span>
                </a>
                <a href="/eco/ag-95-adaptive-gripper" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_44_thumb.jpeg" alt="" />
                  </div>
                  <p>AG-95 Adaptive Gripper</p>
                  <span>DH-Robotics Technology Co.,Ltd</span>
                </a>
                <a href="/eco/nt-100-re-en" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_45.jpg" alt="" />
                  </div>
                  <p>NT 100-RE-EN</p>
                  <span>Hilscher Gesellschaft für Systemautomation mbH</span>
                </a>
                <a href="/eco/phd-pneu-connect-s1-pneumatic-grippers" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_46_thumb.png" alt="" />
                  </div>
                  <p>PHD Pneu-Connect X1 Pneumatic Grippers</p>
                  <span>PHD, Inc.</span>
                </a>
                <a href="/eco/nt-50-cc-en" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_47.jpg" alt="" />
                  </div>
                  <p>NT 50-CC-EN</p>
                  <span>Hilscher Gesellschaft für Systemautomation mbH</span>
                </a>
                <a href="/eco/co-act-egp-c" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_48_thumb.png" alt="" />
                  </div>
                  <p>Co-act EGP-C</p>
                  <span>SCHUNK GmbH & Co. KG</span>
                </a>
                <a href="/eco/hrc-03-086003" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_49.png" alt="" />
                  </div>
                  <p>HRC-03-086003</p>
                  <span>Zimmer Group</span>
                </a>
                <a href="/eco/hrc-03-099507" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_50.png" alt="" />
                  </div>
                  <p>HRC-03-099507</p>
                  <span>Zimmer Group</span>
                </a>
                <a href="/eco/jegb-4140" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_51.jpg" alt="" />
                  </div>
                  <p>JEGB-4140/485</p>
                  <span>주강로보테크</span>
                </a>
                <a href="/eco/cogrip-drim-robotics" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_52_thumb.jpeg" alt="" />
                  </div>
                  <p>Respiro</p>
                  <span>Drim Robotics Sp.z.o.o.</span>
                </a>
                <a href="/eco/cogrip-8" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_53.jpg" alt="" />
                  </div>
                  <p>CoGrip-8/4</p>
                  <span>CoRobotics</span>
                </a>
                <a href="/eco/v-grip-system" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_54_thumb.jpeg" alt="" />
                  </div>
                  <p>V-Grip System</p>
                  <span>한국뉴매틱(VMECA)</span>
                </a>
                <a href="/eco/magic-grippers" class="ecosystem-template-01-slider-item">
                 <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_55_thumb.jpeg" alt="" />
                  </div>
                  <p>Magic Grippers</p>
                  <span>한국뉴매틱(VMECA)</span>
                </a>
                <a href="/eco/fxcb-fmcb" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_56.jpg" alt="" />
                  </div>
                  <p>FXCB / FMCB : Vacuum Area Gripping Systems</p>
                  <span>Schmalz</span>
                </a>
                <a href="/eco/cobot-pump-ecbpi" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_57.jpg" alt="" />
                  </div>
                  <p>Cobot Pump ECBPi</p>
                  <span>Schmalz</span>
                </a>
                <a href="/eco/jpgb-3285" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_58.jpg" alt="" />
                  </div>
                  <p>JPGB-3285/32140</p>
                  <span>주강로보테크</span>
                </a>
              </div>
            </div>
            <div id="nav2-content" class="nav-content">
              <div class="ecosystem-template-01-slider1" id="ecosystem-template-01-slider2">
                <a href="/eco/phd" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_04_thumb.png" alt="" />
                  </div>
                  <p>PHD Pneu-Connect X2 Dual Pneumatic Grippers</p>
                  <span>PHD, Inc.</span>
                </a>
                <a href="/eco/vacuum" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_08.png" alt="" />
                  </div>
                  <p>Vacuum Gripper Unit ZXP-X1(Compatible with HCR-3A)</p>
                  <span>SMC Korea, Co.,Ltd</span>
                </a>
                <a href="/eco/air" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_12.jpg" alt="" />
                  </div>
                  <p>Air Gripper Unit for Hanwha Collaborative Robots (JMHZ2-HWRB01)</p>
                  <span>SMC Korea, Co.,Ltd</span>
                </a>

                <a href="/eco/soft-grippers" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_16.jpg" alt="" />
                  </div>
                  <p>Soft Grippers</p>
                  <span>OnRobot</span>
                </a>

                <a href="/eco/3fg15" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_19_thumb.png" alt="" />
                  </div>
                  <p>3FG15</p>
                  <span>OnRobot</span>
                </a>

                <a href="/eco/gecko-sp" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_22_thumb.png" alt="" />
                  </div>
                  <p>Gecko SP</p>
                  <span>OnRobot</span>
                </a>

                <a href="/eco/vgc10" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_25_thumb.png" alt="" />
                  </div>
                  <p>VGC10</p>
                  <span>OnRobot</span>
                </a>

                <a href="/eco/gecko-gripper" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_28_thumb.png" alt="" />
                  </div>
                  <p>Gecko Gripper</p>
                  <span>OnRobot</span>
                </a>

                <a href="/eco/rg2-ft" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_31_thumb.png" alt="" />
                  </div>
                  <p>RG2-FT</p>
                  <span>OnRobot</span>
                </a>
                <a href="/eco/vg10" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_34_thumb.png" alt="" />
                  </div>
                  <p>VG10</p>
                  <span>OnRobot</span>
                </a>

                <a href="/eco/rg2-rg6" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_37_thumb.png" alt="" />
                  </div>
                  <p>RG2, RG6</p>
                  <span>OnRobot</span>
                </a>

                <a href="/eco/2f-85-2f-140" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_42_thumb.jpeg" alt="" />
                  </div>
                  <p>2F-85, 2F-140</p>
                  <span>Robotiq</span>
                </a>

                <a href="/eco/ag-95-adaptive-gripper" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_44_thumb.jpeg" alt="" />
                  </div>
                  <p>AG-95 Adaptive Gripper</p>
                  <span>DH-Robotics Technology Co.,Ltd</span>
                </a>

                <a href="/eco/phd-pneu-connect-s1-pneumatic-grippers" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_46_thumb.png" alt="" />
                  </div>
                  <p>PHD Pneu-Connect X1 Pneumatic Grippers</p>
                  <span>PHD, Inc.</span>
                </a>

                <a href="/eco/co-act-egp-c" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_48_thumb.png" alt="" />
                  </div>
                  <p>Co-act EGP-C</p>
                  <span>SCHUNK GmbH & Co. KG</span>
                </a>
                <a href="/eco/hrc-03-086003" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_49.png" alt="" />
                  </div>
                  <p>HRC-03-086003</p>
                  <span>Zimmer Group</span>
                </a>
                <a href="/eco/hrc-03-099507" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_50.png" alt="" />
                  </div>
                  <p>HRC-03-099507</p>
                  <span>Zimmer Group</span>
                </a>
                <a href="/eco/jegb-4140" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_51.jpg" alt="" />
                  </div>
                  <p>JEGB-4140/485</p>
                  <span>주강로보테크</span>
                </a>
                <a href="/eco/cogrip-drim-robotics" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_52_thumb.jpeg" alt="" />
                  </div>
                  <p>Respiro</p>
                  <span>Drim Robotics Sp.z.o.o.</span>
                </a>
                <a href="/eco/cogrip-8" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_53.jpg" alt="" />
                  </div>
                  <p>CoGrip-8/4</p>
                  <span>CoRobotics</span>
                </a>
                <a href="/eco/v-grip-system" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_54_thumb.jpeg" alt="" />
                  </div>
                  <p>V-Grip System</p>
                  <span>한국뉴매틱(VMECA)</span>
                </a>
                <a href="/eco/magic-grippers" class="ecosystem-template-01-slider-item">
                 <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_55_thumb.jpeg" alt="" />
                  </div>
                  <p>Magic Grippers</p>
                  <span>한국뉴매틱(VMECA)</span>
                </a>
                <a href="/eco/fxcb-fmcb" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_56.jpg" alt="" />
                  </div>
                  <p>FXCB / FMCB : Vacuum Area Gripping Systems</p>
                  <span>Schmalz</span>
                </a>
                <a href="/eco/cobot-pump-ecbpi" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_57.jpg" alt="" />
                  </div>
                  <p>Cobot Pump ECBPi</p>
                  <span>Schmalz</span>
                </a>
                <a href="/eco/jpgb-3285" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_58.jpg" alt="" />
                  </div>
                  <p>JPGB-3285/32140</p>
                  <span>주강로보테크</span>
                </a>
              </div>
            </div>
            <div id="nav3-content" class="nav-content">
              <div class="ecosystem-template-01-slider1" id="ecosystem-template-01-slider3">
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_05_thumb.png" alt="" />
                  </div>
                  <p>Pickit M-HD</p>
                  <span>Pickit 3D</span>
                </a>

                <a href="/eco/pickit-m" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_09_thumb.png" alt="" />
                  </div>
                  <p>Pickit M</p>
                  <span>Pickit 3D</span>
                </a>

                <a href="/eco/cognex" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_13_thumb.png" alt="" />
                  </div>
                  <p>Cognex In-Sight Vision Systems</p>
                  <span>Cognex Corporation</span>
                </a>
              </div>
            </div>
            <div id="nav4-content" class="nav-content">
              <div class="ecosystem-template-01-slider1" id="ecosystem-template-01-slider4">
                <a href="/eco/screwdriver" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_02_thumb.jpeg" alt="" />
                  </div>
                  <p>Screwdriver</p>
                  <span>OnRobot</span>
                </a>

                <a href="/eco/hct1200" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_06_thumb.jpeg" alt="" />
                  </div>
                  <p>HCT-1200</p>
                  <span>Dymato Automation</span>
                </a>

                <a href="/eco/srp" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_10.jpg" alt="" />
                  </div>
                  <p>SRP Cobot Palletiser</p>
                  <span>RCO Mechatronics BV</span>
                </a>

                <a href="/eco/mt05" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_14.jpg" alt="" />
                  </div>
                  <p>MT05 Loading Table</p>
                  <span>Mactech</span>
                </a>

                <a href="/eco/mt04" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_17.jpg" alt="" />
                  </div>
                  <p>MT04 CNC ASSISTANT</p>
                  <span>Mactech</span>
                </a>

                <a href="/eco/hi400p" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_20_thumb.jpeg" alt="" />
                  </div>
                  <p>Hi400P</p>
                  <span>현대종합금속(주)</span>
                </a>

                <a href="/eco/ati-axia80" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_23_thumb.jpeg" alt="" />
                  </div>
                  <p>ATI Axia80 Force/Torque Sensor Kit</p>
                  <span>ATI Industrial Automation</span>
                </a>

                <a href="/eco/asycube50-asycube80" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_26_thumb.png" alt="" />
                  </div>
                  <p>Asycube 50 & Asycube 80</p>
                  <span>Asyril SA</span>
                </a>

                <a href="/eco/asycube240" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_29_thumb.png" alt="" />
                  </div>
                  <p>Asycube 240</p>
                  <span>Asyril SA</span>
                </a>

                <a href="/eco/asycube380-asycube530" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_32_thumb.png" alt="" />
                  </div>
                  <p>Asycube 380 & Asycube 530</p>
                  <span>Asyril SA</span>
                </a>

                <a href="/eco/smart2" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_35_thumb.jpeg" alt="" />
                  </div>
                  <p>스마트 피더 에이브 2.0/3.0</p>
                  <span>주식회사 에이아이엠</span>
                </a>

                <a href="/eco/abirob-w-300" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_38.jpg" alt="" />
                  </div>
                  <p>ABIROB W 300</p>
                  <span>Abicor Binzel</span>
                </a>
              </div>
            </div>
            <div id="nav5-content" class="nav-content">
              <div class="ecosystem-template-01-slider1" id="ecosystem-template-01-slider5">
                <a href="/eco/magbot" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_03_thumb.png" alt="" />
                  </div>
                  <p>Magbot Automatic Tool Changer</p>
                  <span>UND</span>
                </a>

                <a href="/eco/rodi-x" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_07.png" alt="" />
                  </div>
                  <p>Rodi-X software applications for ecosystem integration</p>
                  <span>Airgate</span>
                </a>

                <a href="/eco/mt01-mt02" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_11.png" alt="" />
                  </div>
                  <p>MT01, MT02</p>
                  <span>Mactech</span>
                </a>

                <a href="/eco/screen-protector" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_15.jpg" alt="" />
                  </div>
                  <p>Screen Protector</p>
                  <span>Drim Robotics Sp.z.o.o.</span>
                </a>

                <a href="/eco/robotmaster-v7" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_18_thumb.jpeg" alt="" />
                  </div>
                  <p>Robotmaster V7</p>
                  <span>Hypertherm Robotic Software Inc.</span>
                </a>

                <a href="/eco/automappers" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_21_thumb.png" alt="" />
                  </div>
                  <p>AUTOMAPPPPS</p>
                  <span>Convergent Information Technologies GmbH</span>
                </a>

                <a href="/eco/robotdk-simulation" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_24_thumb.jpeg" alt="" />
                  </div>
                  <p>RoboDK Simulation Software</p>
                  <span>RoboDK</span>
                </a>

                <a href="/eco/sbot-speed" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_27_thumb.jpeg" alt="" />
                  </div>
                  <p>sBot-Speed</p>
                  <span>SICK</span>
                </a>

                <a href="/eco/quick-changer" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_30_thumb.png" alt="" />
                  </div>
                  <p>Quick Changer</p>
                  <span>OnRobot</span>
                </a>

                <a href="/eco/coprotect" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_33.jpg" alt="" />
                  </div>
                  <p>CoPROTECT</p>
                  <span>CoRobotics</span>
                </a>

                <a href="/eco/hcr-dresspack" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_36.jpg" alt="" />
                  </div>
                  <p>HCR_Dresspack_2M/3M</p>
                  <span>만희기전</span>
                </a>

                <a href="/eco/1a-cobot-dress-pack" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_39_thumb.jpeg" alt="" />
                  </div>
                  <p>1A CoBot Dress Pack</p>
                  <span>REIKU GmbH</span>
                </a>


                <a href="/eco/fhs-sh-set-hcr-series" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_41.jpg" alt="" />
                  </div>
                  <p>FHS-SH-Set HCR Series</p>
                  <span>Murrplastik Systemtechnik GmbH</span>
                </a>
                <a href="/eco/nt-50-re-en" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_43.jpg" alt="" />
                  </div>
                  <p>NT 50-RS-EN</p>
                  <span>Hilscher Gesellschaft für Systemautomation mbH</span>
                </a>

                <a href="/eco/nt-100-re-en" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_45.jpg" alt="" />
                  </div>
                  <p>NT 100-RE-EN</p>
                  <span>Hilscher Gesellschaft für Systemautomation mbH</span>
                </a>

                <a href="/eco/nt-50-cc-en" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_47.jpg" alt="" />
                  </div>
                  <p>NT 50-CC-EN</p>
                  <span>Hilscher Gesellschaft für Systemautomation mbH</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

</div>

</body>

</html>