<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body data-gnb-target="eco">
<div layout:fragment="content">

  <main class="ecosystem">
    <section class="ecosystem-title">
      <h1>Ecosystem</h1>
      <p>한화로보틱스 제품과 결합하여 사용할 수 있는 <br/>제품과 솔루션을 만나보세요.</p>
    </section>
    
    <section class="ecosystem-section">
      <div class="tab-nav">
        <div class="tab-nav-wrapper">
          <input type="radio" id="nav1" name="nav" checked />
          <label for="nav1" class="ecosystem-nav1">
            <span>전체</span>
          </label>
          <input type="radio" id="nav2" name="nav" />
          <label for="nav2" class="ecosystem-nav2">
            <span>그리피</span>
          </label>
          <input type="radio" id="nav3" name="nav" />
          <label for="nav3" class="ecosystem-nav3">
            <span>비전</span>
          </label>
          <input type="radio" id="nav4" name="nav" />
          <label for="nav4" class="ecosystem-nav4">
            <span>기능 확장</span>
          </label>
          <input type="radio" id="nav5" name="nav" />
          <label for="nav5" class="ecosystem-nav5">
            <span>기타</span>
          </label>

          <select class="tab-nav-mobile">
            <option value="nav1" selected>전체</option>
            <option value="nav2">그리피</option>
            <option value="nav3">비전</option>
            <option value="nav4">기능 확장</option>
            <option value="nav5">기타</option>
          </select>

          <div class="tab-content-wrapper">
            <div id="nav1-content" class="nav-content">
              <div class="ecosystem-main-slider1">
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_02.png" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_03.png" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_04.png" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
              </div>
            </div>
            <div id="nav2-content" class="nav-content">
              222222
            </div>
            <div id="nav3-content" class="nav-content">
              333333
            </div>
            <div id="nav4-content" class="nav-content">
              44444
            </div>
            <div id="nav5-content" class="nav-content">
              55555
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

</div>
</body>

</html>