<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
  <meta name="google-site-verification" content="wqf8tEmY7_34-_37qAtBLT3-Sv-0DcLkfVzqEQSEXbQ" />
  
  <title>한화로보틱스</title>
  <link rel="shortcut icon" href="../images/favicon.png">

  <link rel="preconnect" href="https://ajax.googleapis.com" />
  <link rel="preconnect" href="https://cdn.jsdelivr.net" crossOrigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" crossOrigin="anonymous" />

  <meta name="description" content="한화로보틱스는 기술 품질과 신뢰를 경영의 제1원칙으로 설정해 미래를 내다보는 차별화된 기술과 솔루션을 제공하겠습니다." />
  <meta name="keywords" content="한화로보틱스" />

  <meta property="og:title" content="한화로보틱스" />
  <meta property="og:description" content="한화로보틱스는 기술 품질과 신뢰를 경영의 제1원칙으로 설정해 미래를 내다보는 차별화된 기술과 솔루션을 제공하겠습니다." />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  
  <link rel="stylesheet" rel="preload" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />
  <link rel="stylesheet" href="../css/aos.css" />
  <link rel="stylesheet" href="../css/common.css" />
  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="../css/board.css" />
  <link rel="stylesheet" media="screen and (min-width: 1500px)"  href="../css/pc.css" />
  <link rel="stylesheet" media="screen and (max-width: 1499px)"  href="../css/tablet.css" />
  <link rel="stylesheet" media="screen and (max-width: 1023px)"  href="../css/mobile.css" />
  <link rel="stylesheet" href="../css/slick.css" />
</head>

<body data-gnb-target="robot">
  <section class="inquiry_more"></section>
  
  <header id="header" class="sub_header">
  </header>

  <main class="ecosystem-template-01">
    <section class="ecosystem-template-01-title">
      <a href="#">
        <img src="../images/pc/products_detail_arrow.svg" />
      </a>
      <h1>Ecosystem</h1>
    </section>

    <section class="ecosystem-template-01-info">
      <div class="ecosystem-template-01-info-slider-wrapper">
        <div class="ecosystem-template-01-info-slider">
          <div class="ecosystem-template-01-info-slider-item">
            <img src="../images/pc/ecosystem_main_03.png" alt="" />
          </div>
          <div class="ecosystem-template-01-info-slider-item">
            <img src="../images/pc/ecosystem_main_03_02.png" alt="" />
          </div>
          <div class="ecosystem-template-01-info-slider-item">
            <img src="../images/pc/ecosystem_main_03_03.png" alt="" />
          </div>
        </div>
      </div>
      <span class="ecosystem-template-01-info-badge">기타</span>
      <div class="ecosystem-template-01-info-content">
        <h2>Magbot Automatic Tool Changer</h2>
        <h3>UND</h3>
        <p>
          로봇 자동 툴체인져 맥봇은 한화 /기계 로보틱스에 최적화 된 세계 최초의 완전 무선 툴 체인징 시스템입니다.<br/>
<br/>
한대의 로봇은 멀티 공정과 서비스를 위해 다양한 로봇 엔드이펙터(툴)들이 필요합니다. 다양한 툴들을 자동으로 교환하기 위한 로봇 자동 툴체인져는 무인화 및 자동화를 위한 로봇의 필수 제품 입니다. 맥봇은 강력한 가격경쟁력과 함께 초고속, 초강력 스위칭 마그네틱 기술기반의 초간편 로봇 툴 자동 교환 시스템을 제공합니다. 컴팩트한 사이즈에 강력한 내구성과 고신뢰성으로 고객에 안정적인 품질을 보장합니다.<br/>
<br/>
맥봇의 TCV1, TCV2와 TCW1 3종 모델은 한화/기계 로보틱스의 모든 협동 로봇 제품에 최적화 된 ATC(자동 툴체인져) 입니다. 가반하중 10Kg의 세계 최초 완전 무선 로봇 자동 툴체인져 TCW1과 함께, 외부 전원 및 공압선이 전혀 필요치 않고 한화/기계 로보틱스의 자체 시스템 전원(24V@2A)으로 구동 되는 가반하중 10Kg의 TCV1, 가반하중 16Kg의 TCV2는 세계 최고의 협동로봇, 한화/기계 로보틱스의 모든 협동로봇과 호환됩니다. 멀티 공정을 위해 다양한 툴들의 수량만큼 필요한 툴사이드 툴체인져는 경쟁사의 공압식/기계식 볼락킹의 고가의 결합시스템 대비해서 강력한 가격 경쟁력의 초간단 초강력 맥봇 툴사이드 툴체인져를 제공하며 로봇 사용자에게 혁신적인 확장성을 제공합니다.<br/>
<br/>
맥봇은 로봇 자동 툴체인져 뿐만아니라, 픽&플레이스 이 공정을 위한 마그네틱 그리퍼로 확대 적용, 고객에게 독보적인 가치를 제공합니다.
        </p>
        <img class="ecosystem-template-01-info-arrow" src="../images/pc/ic_arrow_down.svg" alt="" />
      </div>
    </section>

    <section class="ecosystem-template-01-spec">
      
      <div class="ecosystem-template-01-spec-item1 hidden">
        <h2>Specifications</h2>
        <div class="ecosystem-template-01-spec-item7">
          <p>
            <strong>Features & Benefits</strong><br/>
*로봇 자동 툴체인져(ATC) 특징<br/>
초고속 맥봇 ATC : 최고 수준의 반복 재현성과 함께 0.2초 이내에 툴을 초고속으로 교환하는 시스템<br/>
초간편 맥봇 ATC : 외부 전원 및 공압선이 전혀 필요 없는 초간단 및 초간편 툴 교체 시스템<br/>
TCV1과 TCV2는 한화/기계 로보틱스의 자체 시스템 전원를 0.2초만 사용합니다.<br/>
TCW1은 내장 된 충전식 배터리와 무선 통신 시스템으로 구동 됩니다.<br/>
초강력 맥봇 ATC : 가반하중 16Kg의 TCV2, 그리고 TCV1과 TCW1은 가반하중 10Kg을 제공합니다.<br/>
*고객과 제품의 안정성을 위해서 맥봇은 내부 품질 기준을 TCV1, TCW1은 안전계수 3배, TCV2는 안전계수 2.5배로 관리합니다.<br/>
완전 무선 시스템 : TCW1은 세계 최초 완전 무선 스위칭 마그네틱 툴체인징 시스템입니다.<br/>
*마그네틱 그리퍼 특징<br/>
맥봇은 마그네틱 그리퍼로 확대 사용, 독보적인 가치를 제공합니다.<br/>
TCV1과 TCW1은 10Kg 그리고 TCV2는16Kg의 강자성체(예, 철판 등)를 강력한 인장력(흡착력)으로 이동공정을 수행합니다.<br/>
고르지 못한 철판면, 0.5mm 이상의 박판 등 다양한 종류의 강자성체 부품 및 제품의 픽&플레이스 공정에 적용 가능합니다.<br/>
<br/>
<strong>HOW DOES IT WORK?</strong><br/>
맥봇 로봇 자동 툴체인져는 로봇사이드 툴체인져와 툴사이드 툴체인져로 구성되어 있습니다.<br/>
- 툴사이드 툴체인져는 다양한 툳(엔드이펙터)들과 먼저 체결되어서 맥봇 툴 스탠드에 안착합니다.<br/>
- 로봇사이드 툴체인져의<br/>
1)TCV1과 TCV2는 한화/기계 로보틱스의 자체 시스템 전원을 사용하여 구동하며,<br/>
2)TCW1은 자체 내장된 충전식 배터리로 구동되며 무선 시스템으로 제어됩니다.<br/>
내장된 충전식 배터리는 1회 만충으로 1만회 사용가능하며, 빨간 LED가 켜지면 충전 시켜주면 됩니다.<br/>
빨간 LED가 켜진 이후에도 2천회 구동이 가능합니다.<br/>
맥봇은 고객이 자동화 및 무인화를 위하여 필요한 모든 툴체인져 시스템을 기본 제공합니다.<br/>
<br/>
<strong>What’s in the box</strong><br/>
1)툴체인져 (1EA)<br/>
2)툴 플레이트 (3EA)<br/>
3)툴 레일 브라켓 (3EA)<br/>
4)케이블 (2EA)<br/>
5)체결 볼트 (28EA)<br/>
6)악세서리 (2EA)<br/>
7)USB 메모리 (1EA)<br/>
8)퀵 스타트 가이드 (1EA)<br/>
9)툴 스탠드 (1EA)<br/>
*상세한 사항은 각 제품의 사용자 매뉴얼을 확인해주십시요.
          </p>
        </div>
      </div>

      <div class="ecosystem-template-01-spec-item1 hidden" style="margin-top: 60px;">
        <h2>호환 수준</h2>
        <div class="ecosystem-template-01-spec-item7 type2">
          <p>
            Compatibility<br/>
 #  HCR - 3A<br/>
 <br/>
 #  HCR - 5A<br/>
 <br/>
 #  HCR - 12A<br/>
 <br/>
Dimensions<br/>
TCV1 1)사이즈 : Ø63 x 60mm [2.48 in x 2.32 in] 2)무게 : 660g [1.46lbs]<br/>
TCV2 1)사이즈 : Ø80 x 70.5mm [3.15 in x 2.78 in] 2)무게 : 1450g [3.20lbs]<br/>
TCW1 1)사이즈 : Ø95 x 86.5mm [3.74 in x 3.41 in] 2)무게 : 1,162g [2.56lbs]<br/>
*상세한 사항은 각 제품의 사용자 매뉴얼을 확인해주십시요.<br/>
<br/>
Certifications & Standards<br/>
 -. ISO 9001<br/>
 -. ISO14001<br/>
 -. TCV1 - FCC   CE<br/>
 -. TCV2 - FCC   CE<br/>
 -. TCW1 - FCC  CE<br/>
 <br/>
Homepage : https://www.magbot.kr<br/>
Inquiry : sales@unde.co.kr
          </p>
        </div>
      </div>


      <div class="ecosystem-template-01-spec-divider"></div>

      <div class="ecosystem-template-01-spec-inquiry">
        <button type="button" class="inquiry eco">  
          제품 문의하기
          <span><strong>+</strong></span>
        </button>
      </div>
    </section>
    
    <section class="ecosystem-template-01-section">
      <div class="tab-nav">
        <div class="tab-nav-wrapper">
          <input type="radio" id="nav1" name="nav" checked />
          <label for="nav1" class="ecosystem-nav1">
            <span>전체</span>
          </label>
          <input type="radio" id="nav2" name="nav" />
          <label for="nav2" class="ecosystem-nav2">
            <span>그리피</span>
          </label>
          <input type="radio" id="nav3" name="nav" />
          <label for="nav3" class="ecosystem-nav3">
            <span>비전</span>
          </label>
          <input type="radio" id="nav4" name="nav" />
          <label for="nav4" class="ecosystem-nav4">
            <span>기능 확장</span>
          </label>
          <input type="radio" id="nav5" name="nav" />
          <label for="nav5" class="ecosystem-nav5">
            <span>기타</span>
          </label>

          <select class="tab-nav-mobile">
            <option value="nav1" selected>전체</option>
            <option value="nav2">그리피</option>
            <option value="nav3">비전</option>
            <option value="nav4">기능 확장</option>
            <option value="nav5">기타</option>
          </select>

          <div class="tab-content-wrapper">
            <div id="nav1-content" class="nav-content">
              <div class="ecosystem-template-01-slider1">
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
              </div>
            </div>
            <div id="nav2-content" class="nav-content">
              222222
            </div>
            <div id="nav3-content" class="nav-content">
              333333
            </div>
            <div id="nav4-content" class="nav-content">
              44444
            </div>
            <div id="nav5-content" class="nav-content">
              55555
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer id="footer">
  </footer>

  <div class="layer_wrap"></div>

  <script text="text/javascript" src="../js/jquery.min.js"></script>

  <script type="text/javascript" src="../js/aos.js"></script>

  <script text="text/javascript" src="../js/gsap.min.js"></script>
  <script text="text/javascript" src="../js/ScrollTrigger.min.js"></script> 
  
  <!-- Slick -->
  <script src="../js/slick.min.js"></script>

  <!-- 패럴렉스 -->
  <script type="text/javascript" src="../js/ScrollMagic.min.js"></script>
  <script type="text/javascript" src="../js/animation.gsap.js"></script>

  <script src="../js/library.js"></script>
  <script src="../js/common.js"></script>
  <script src="../js/sub.js"></script>

</body>

</html>