<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body data-gnb-target="eco">
<div layout:fragment="content">

  <main class="ecosystem-template-01">
    <section class="ecosystem-template-01-title">
      <a href="#">
        <img src="../images/pc/products_detail_arrow.svg" />
      </a>
      <h1>Ecosystem</h1>
    </section>

    <section class="ecosystem-template-01-info">
      <div class="ecosystem-template-01-info-slider-wrapper">
        <div class="ecosystem-template-01-info-slider">
          <div class="ecosystem-template-01-info-slider-item">
            <img src="../images/pc/ecosystem_main_04.png" alt="" />
          </div>
          <div class="ecosystem-template-01-info-slider-item">
            <img src="../images/pc/ecosystem_main_04_02.png" alt="" />
          </div>
          <div class="ecosystem-template-01-info-slider-item">
            <img src="../images/pc/ecosystem_main_04_03.png" alt="" />
          </div>
        </div>
      </div>
      <span class="ecosystem-template-01-info-badge">그리퍼</span>
      <div class="ecosystem-template-01-info-content">
        <h2>PHD Pneu-Connect X2 Dual Pneumatic Grippers</h2>
        <h3>PHD, Inc.</h3>
        <p>
          PHD Pneu-Connect X2 is a cost-effective system providing easy pneumatic end-effector integration for collaborative robots. Pneu-Connect features embedded directional control valves for control of an end-effector through the robot’s tool port. The system easily attaches to the robot arm and allows for interfacing with the robot peripherals programming.<br/>
Additionally, an analog sensor choice is available for the Series GRH kits. The analog sensor provides jaw position feedback for increased programming functionality.

The power density of pneumatics allows for a superior performance to weight ratio when compared to some electric alternatives. This inherent property allows for lighter, non-payload robbing end-effectors, ideal for robotic applications. Additionally, when properly controlled, the compressibility of air provides intrinsically safe, back-drivable actuation capability.
        </p>
        <img class="ecosystem-template-01-info-arrow" src="../images/pc/ic_arrow_down.svg" alt=""></img>
      </div>
    </section>

    <section class="ecosystem-template-01-spec">
      <div class="ecosystem-template-01-spec-item1">
        <h2>Specifications</h2>
        <div class="ecosystem-template-01-spec-item1-table">
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title bold">Item</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 142px;">
              Pneu-Connect X2<br/>- Dual GRT Grippers
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 88px;">
              Pneu-Connect X2<br/>- Dual GRH Grippers
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              Pneu-Connect X2<br/>- (1) GRH and (1) GRT Gripper
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title bold" style="margin-right: 50px;">Images</span>
            <div class="ecosystem-template-01-spec-item1-table-content-img" style="margin-right: 20px;">
              <img src="../images/pc/ecosystem_main_04_content_01.png" alt="" />
            </div>
            <div class="ecosystem-template-01-spec-item1-table-content-img" style="margin-right: 40px;">
              <img src="../images/pc/ecosystem_main_04_content_02.png" alt="" />
            </div>
            <div class="ecosystem-template-01-spec-item1-table-content-img">
              <img src="../images/pc/ecosystem_main_04_content_03.png" alt="" />
            </div>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title bold">Gripper</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1 bold" style="margin-right: 107px; width: 155px;">
              GRT532 3-Jaw
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1 bold" style="margin-right: 71px; width: 140px;">
              GRH12 Analog Sensors
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1 bold" style="margin-right: 26px; min-width: 135px;">
              GRH12 Analog Sensor
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1 bold">
              GRT532 3-Jaw
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title">Jaw Travel</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 107px; min-width: 155px;">
              12 mm (diametrical)
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 71px; min-width: 140px;">
              75 mm
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 26px; min-width: 135px;">
              75 mm
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              12 mm (diametrical)
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title">Weight</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 107px; min-width: 155px;">
              0.85 kg
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 71px; min-width: 140px;">
              1.31 kg
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 26px; min-width: 135px;">
              1.31 kg
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              0.35 kg
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title">Max. Tooling Length</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 107px; min-width: 155px;">
              65 mm
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 71px; min-width: 140px;">
              100 mm
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 26px; min-width: 135px;">
              100 mm
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              65 mm
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content multi">
            <span class="ecosystem-template-01-spec-item1-table-content-title">Operating Pressure</span>
            <div class="ecosystem-template-01-spec-item1-table-content-multi-wrapper">
              <div class="ecosystem-template-01-spec-item1-table-content-multi" style="padding-bottom: 15px;">
                <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-left: 20px; margin-right: 40px; min-width: 30px;">
                  Min.
                </p>
                <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 107px; min-width: 155px;">
                  2 bar
                </p>
                <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 71px; min-width: 140px;">
                  1.4 bar
                <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 26px; min-width: 135px;">
                  1.4 bar
                </p>
                <p class="ecosystem-template-01-spec-item1-table-content-item1">
                  7 bar
                </p>
              </div>
              <div class="ecosystem-template-01-spec-item1-table-content-multi" style="padding-top: 15px;">
                <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-left: 20px; margin-right: 40px; min-width: 30px;">
                  Max.
                </p>
                <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 107px; min-width: 155px;">
                  7 bar
                </p>
                <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 71px; min-width: 140px;">
                  6.9 bar
                <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 26px; min-width: 135px;">
                  6.9 bar
                </p>
                <p class="ecosystem-template-01-spec-item1-table-content-item1">
                  7 bar
                </p>
              </div>
            </div>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title">Operating Temperature</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 107px; min-width: 155px;">
              - 28 to 82° C
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title">Gripper Repeatability</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 107px; min-width: 155px;">
              ≤ 0.05 mm
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 71px; min-width: 140px;">
              0.05 mm
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 26px; min-width: 135px;">
              0.05 mm
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              ÷ 0.05 mm
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title">Lubrication</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 107px; min-width: 155px;">
              Factory lubricated for life
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title">Close or Open Time</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 107px; min-width: 155px;">
              0.04 sec
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 71px; min-width: 140px;">
              0.215 sec
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 26px; min-width: 135px;">
              0.215 sec
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              0.04 sec
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title">Rated Life</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 107px; min-width: 155px;">
              10 million cycles
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 71px; min-width: 140px;">
              5 million cycles
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 26px; min-width: 135px;">
              5 million cycles
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              10 million cycles
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title">Total Grip Force at 6 bar</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 107px; min-width: 155px;">
              125 N
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 71px; min-width: 140px;">
              20 N
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 26px; min-width: 135px;">
              20 N
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              125 N
            </p>
          </div>
        </div>
      </div>
      <div class="ecosystem-template-01-spec-item1" style="margin-top: 60px;">
        <h2>호환 수준</h2>
        <div class="ecosystem-template-01-spec-item1-table type2">
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title bold type2" style="width: 50%;">Item</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1 bold" style="width: 50%;">Status</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%;">All Gripper Models</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">HCR-3, HCR-5, HCR-12</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%;">FLANGE</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">Compatible</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%;">Control Method</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">Digital IO of Tool IO</p>
          </div>
        </div>
      </div>
      <div class="ecosystem-template-01-spec-inquiry">
        <button type="button" class="inquiry eco">  
          제품 문의하기
          <span><strong>+</strong></span>
        </button>
      </div>
    </section>
    
    <section class="ecosystem-template-01-section">
      <div class="tab-nav">
        <div class="tab-nav-wrapper">
          <input type="radio" id="nav1" name="nav" checked />
          <label for="nav1" class="ecosystem-nav1">
            <span>전체</span>
          </label>
          <input type="radio" id="nav2" name="nav" />
          <label for="nav2" class="ecosystem-nav2">
            <span>그리피</span>
          </label>
          <input type="radio" id="nav3" name="nav" />
          <label for="nav3" class="ecosystem-nav3">
            <span>비전</span>
          </label>
          <input type="radio" id="nav4" name="nav" />
          <label for="nav4" class="ecosystem-nav4">
            <span>기능 확장</span>
          </label>
          <input type="radio" id="nav5" name="nav" />
          <label for="nav5" class="ecosystem-nav5">
            <span>기타</span>
          </label>

          <select class="tab-nav-mobile">
            <option value="nav1" selected>전체</option>
            <option value="nav2">그리피</option>
            <option value="nav3">비전</option>
            <option value="nav4">기능 확장</option>
            <option value="nav5">기타</option>
          </select>

          <div class="tab-content-wrapper">
            <div id="nav1-content" class="nav-content">
              <div class="ecosystem-template-01-slider1">
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
              </div>
            </div>
            <div id="nav2-content" class="nav-content">
              222222
            </div>
            <div id="nav3-content" class="nav-content">
              333333
            </div>
            <div id="nav4-content" class="nav-content">
              44444
            </div>
            <div id="nav5-content" class="nav-content">
              55555
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

</div>
</body>

</html>