<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body data-gnb-target="eco">
<div layout:fragment="content">


  <main class="ecosystem-template-01 type3">
    <section class="ecosystem-template-01-title">
      <a href="#">
        <img src="../images/pc/products_detail_arrow.svg" />
      </a>
      <h1>Ecosystem</h1>
    </section>

    <section class="ecosystem-template-01-info">
      <div class="ecosystem-template-01-info-slider-wrapper">
        <div class="ecosystem-template-01-info-slider">
          <div class="ecosystem-template-01-info-slider-item">
            <img src="../images/pc/ecosystem_main_55.jpg" alt="" />
          </div>
          <div class="ecosystem-template-01-info-slider-item">
            <img src="../images/pc/ecosystem_main_55_02.jpg" alt="" />
          </div>
        </div>
      </div>
      <span class="ecosystem-template-01-info-badge type2">기능 확장</span>
      <div class="ecosystem-template-01-info-content">
        <h2>Magic Grippers</h2>
        <h3>한국뉴매틱(VMECA)</h3>
        <p>
          The Magic Grippers are a general purpose, all-in-one vacuum system that covers most applications. The Magic Gripper has eliminated the need to purchase separate fittings, connection hoses, filters, and suction cups as they come as a one-piece standard. The ultra-lightweight and compact design allows for easy mounting options. Easy to use, and no tools required when replacing spare parts. A variety of sealing lip options allow for the Magic Gripper to grasp all different kinds of objects.
        </p>
      </div>
    </section>

    <section class="ecosystem-template-01-spec">
      
      <div class="ecosystem-template-01-spec-item1">
        <h2>Specifications</h2>
        <div class="ecosystem-template-01-spec-item4">
          <p>
            Magic Gripper is a vacuum generator with VMECA micro multi-stage vacuum cartridge installed. The Magic Grippers are a general-purpose, all-in-one vacuum system that covers most applications. The Magic Gripper has eliminated the need to purchase separate fittings, connection hoses, filters, and suction cups as they come as a one-piece standard.
          </p>
          <img src="../images/pc/ecosystem_main_55_content_01.jpg" alt="" style="min-width: 804px;" />
        </div>
        <div class="ecosystem-template-01-spec-item1-table">
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title bold" style="margin-right: 100px; min-width: 120px;">Series</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1 bold" style="margin-right: 85px; min-width: 125px;">
              MC10
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1 bold" style="margin-right: 100px; min-width: 110px;">
              MC20
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1 bold" style="margin-right: 100px; min-width: 110px;">
              MC23
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1 bold">
              MC25
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="margin-right: 65px; min-width: 100px;">Images</span>
            <div class="ecosystem-template-01-spec-item1-table-content-imgs">
              <img src="../images/pc/ecosystem_main_55_content_02.jpeg" alt="" />
              <img src="../images/pc/ecosystem_main_55_content_03.jpeg" alt="" />
              <img src="../images/pc/ecosystem_main_55_content_04.jpeg" alt="" />
              <img src="../images/pc/ecosystem_main_55_content_05.jpeg" alt="" />
            </div>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="margin-right: 100px; min-width: 120px;">Max. Vacuum Level</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 85px; min-width: 125px;">
              -83 kPa
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 100px; min-width: 110px;">
              -92 kPa
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 100px; min-width: 110px;">
              -91 kPa
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              -94.5 kPa
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="margin-right: 100px; min-width: 120px;">Open Vacuum Flow</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 85px; min-width: 125px;">
              14 NI/min
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 100px; min-width: 110px;">
              42.2 NI/min
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 100px; min-width: 110px;">
              85 NI/min
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              164 NI/min
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="margin-right: 100px; min-width: 120px;">Air Consumption</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 85px; min-width: 125px;">
              9.9 Nl/min@ 2.2 bar
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 100px; min-width: 110px;">
              32 Nl/min@ 4 bar
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 100px; min-width: 110px;">
              32 Nl/min@ 4 bar
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              83.5 NI/min @ 6 bar
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="margin-right: 100px; min-width: 120px;">Vacuum cartridge</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 85px; min-width: 125px;">
              Micro 2-stage
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 100px; min-width: 110px;">
              Mini 2-stage
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 100px; min-width: 110px;">
              Mini 3-stage
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              Mini premium 2-stage
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="margin-right: 100px; min-width: 120px;">Top Bellows</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 85px; min-width: 125px;">
              20 mm, 40 mm
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 100px; min-width: 110px;">
              40 mm, 60 mm
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 100px; min-width: 110px;">
              40 mm, 60 mm
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              40 mm, 60 mm
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="margin-right: 100px; min-width: 120px;">Available Type</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 85px; min-width: 125px;">
              A, B, C, D
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 100px; min-width: 110px;">
              A, B, C, D
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 100px; min-width: 110px;">
              A, B, C, D
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              A, B, C
            </p>
          </div>
        </div>
      </div>

      <div class="ecosystem-template-01-spec-item1 hidden" style="margin-top: 60px;">
        <h2>호환 수준</h2>
        <div class="ecosystem-template-01-spec-item1-table per-100">
          <div class="ecosystem-template-01-spec-item1-table-content">
            <p style="line-height: 1.63;">- Compatible Robots : HCR-3, HCR-5, HCR-12<br/>
              - Adapter Plate for Tool Flange : Provided</p>
          </div>
        </div>
      </div>
      
      <div class="ecosystem-template-01-spec-item6">
        <p>* ISO robot tool flange compatible (ISO 9409-1-50-4-M6)<br/>
          For more information, please visit VMECA, VMECA YouTube, and VMECA blog.</p>
      </div>

      <div class="ecosystem-template-01-spec-item-link type2">
        <div>
          <img src="../images/pc/ecosystem_main_55_link_01.png" alt="" />
        </div>
        <div>
          <img src="../images/pc/ecosystem_main_55_link_02.png" alt="" />
        </div>
        <div>
          <img src="../images/pc/ecosystem_main_55_link_03.png" alt="" />
        </div>
      </div>

      <div class="ecosystem-template-01-spec-divider"></div>

      <div class="ecosystem-template-01-spec-inquiry">
        <button type="button" class="inquiry eco">  
          제품 문의하기
          <span><strong>+</strong></span>
        </button>
      </div>
    </section>
    
    <section class="ecosystem-template-01-section">
      <div class="tab-nav">
        <div class="tab-nav-wrapper">
          <input type="radio" id="nav1" name="nav" checked />
          <label for="nav1" class="ecosystem-nav1">
            <span>전체</span>
          </label>
          <input type="radio" id="nav2" name="nav" />
          <label for="nav2" class="ecosystem-nav2">
            <span>그리피</span>
          </label>
          <input type="radio" id="nav3" name="nav" />
          <label for="nav3" class="ecosystem-nav3">
            <span>비전</span>
          </label>
          <input type="radio" id="nav4" name="nav" />
          <label for="nav4" class="ecosystem-nav4">
            <span>기능 확장</span>
          </label>
          <input type="radio" id="nav5" name="nav" />
          <label for="nav5" class="ecosystem-nav5">
            <span>기타</span>
          </label>

          <select class="tab-nav-mobile">
            <option value="nav1" selected>전체</option>
            <option value="nav2">그리피</option>
            <option value="nav3">비전</option>
            <option value="nav4">기능 확장</option>
            <option value="nav5">기타</option>
          </select>

          <div class="tab-content-wrapper">
            <div id="nav1-content" class="nav-content">
              <div class="ecosystem-template-01-slider1">
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
              </div>
            </div>
            <div id="nav2-content" class="nav-content">
              222222
            </div>
            <div id="nav3-content" class="nav-content">
              333333
            </div>
            <div id="nav4-content" class="nav-content">
              44444
            </div>
            <div id="nav5-content" class="nav-content">
              55555
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

</div>

</body>

</html>