<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body data-gnb-target="eco">
<div layout:fragment="content">

  <main class="ecosystem-template-01">
    <section class="ecosystem-template-01-title">
      <a href="#">
        <img src="../images/pc/products_detail_arrow.svg" />
      </a>
      <h1>Ecosystem</h1>
    </section>

    <section class="ecosystem-template-01-info">
      <div class="ecosystem-template-01-info-slider-wrapper">
        <div class="ecosystem-template-01-info-slider">
          <div class="ecosystem-template-01-info-slider-item">
            <img src="../images/pc/ecosystem_main_23.jpg" alt="" />
          </div>
          <div class="ecosystem-template-01-info-slider-item">
            <img src="../images/pc/ecosystem_main_23_02.jpg" alt="" />
          </div>
        </div>
      </div>
      <span class="ecosystem-template-01-info-badge type2">기능 확장</span>
      <div class="ecosystem-template-01-info-content">
        <h2>ATI Axia80 Force/Torque Sensor Kit</h2>
        <h3>ATI Industrial Automation</h3>
        <p>
          Axia80 힘/토크 센서는 모든 방향의 힘과 토크를 측정할 수 있는 저비용, 고성능의 6축 센서입니다. 높은 분해능과 정확도 및 강성을 제공하며 당신의 COBOT이 환경에 맞는 터치 감각을 제공해 줍니다.<br/>
          <br/>
모든 전자 장치는 센서 본체 내부에 내장되어 있어서 가격 절감과 설치 공간을 줄일 수 있고, 정확도, 분해능 및 견고함이 뛰어납니다. 또한 AXIA80은 높은 신호 대 잡음비와 높은 과부하 보호 기능을 갖추고 있습니다.<br/>
          <br/>
Axia80 Force/Torque Sensor Kit는 추적 가능한 보정 인증서와 센서를 한화 로봇에 신속하게 연결하는 데 필요한 인터페이스 플레이트와 케이블이 포함되어 있습니다.
        </p>
        <img class="ecosystem-template-01-info-arrow" src="../images/pc/ic_arrow_down.svg" alt=""></img>
      </div>
    </section>

    <section class="ecosystem-template-01-spec">
      <div class="ecosystem-template-01-spec-item1">
        <h2>Specifications</h2>
        <div class="ecosystem-template-01-spec-item1-table">
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title bold" style="margin-left: 140px; margin-right: 0; min-width: 0;">SENSING RANGES</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1 bold" style="margin-left: 295px;">RESOLUTION</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title bold" style="min-width: 70px; margin-right: 70px;">Calibration</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              Fx,Fy
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              Fz
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              Tx, Ty
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              Tz
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              Fx,Fy
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              Fz
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 60px;">
              Tx, Ty
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              Tz
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title bold" style="min-width: 70px; margin-right: 70px;">SI-200-8</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              200 N
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              360 N
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              8 Nm
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              8 Nm
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              0.10 N
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              0.10 N
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 60px;">
              0.005 Nm
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              0.005 Nm
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title bold" style="min-width: 70px; margin-right: 70px;">SI-500-20</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              500 N
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              900 N
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              20 Nm
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              20 Nm
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              0.10 N
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              0.10 N
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 60px;">
              0.005 Nm
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              0.005 Nm
            </p>
          </div>
        </div>
      </div>

      <div class="ecosystem-template-01-spec-item1" style="margin-top: 60px;">
        <div class="ecosystem-template-01-spec-item1-table type2">
          <div class="ecosystem-template-01-spec-item1-table-content type2">
            <span class="ecosystem-template-01-spec-item1-table-content-title bold" style="width: 50%;">Measurement Uncertainty</span>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content type2">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 50%;">All Axes</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">±2% FS</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content type2">
            <span class="ecosystem-template-01-spec-item1-table-content-title bold" style="width: 50%;">Single-Axis Overload</span>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content type2">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 50%;">Fxy</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">+2500 N</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content type2">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 50%;">Fz</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">+4500 N</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content type2">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 50%;">Txy</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">100 Nm</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content type2">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 50%;">Tz</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">100 Nm</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content type2">
            <span class="ecosystem-template-01-spec-item1-table-content-title bold" style="width: 50%;">Physical Specifications</span>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content type2">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 50%;">Weight</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">0.3 kg</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content type2">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 50%;">Diameter</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">82 mm</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content type2">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 50%;">Height</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">25.4mm</p>
          </div>
        </div>
      </div>

      <div class="ecosystem-template-01-spec-item1 hidden" style="margin-top: 60px;">
        <h2>호환 수준</h2>
        <div class="ecosystem-template-01-spec-item1-table">
          <div class="ecosystem-template-01-spec-item1-table-content type3">
            <p>Connection Method</p>
          </div>
        </div>
      </div>

      <div class="ecosystem-template-01-spec-item3" style="margin-top: 60px; margin-bottom: 73.5px;">
        <div class="ecosystem-template-01-spec-item3-section">
          <img src="../images/pc/ecosystem_main_23_content_01.jpg" alt="" />
        </div>
        <div class="ecosystem-template-01-spec-item3-section">
          <img src="../images/pc/ecosystem_main_23_content_02.jpg" alt="" />
        </div>
      </div>

      <div class="ecosystem-template-01-spec-item1" style="margin-top: 60px;">
        <div class="ecosystem-template-01-spec-item1-table type3">
          <div class="ecosystem-template-01-spec-item1-table-content type3">
            <p>Technical Information</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title bold type2" style="width: 50%;">Items</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1 bold" style="width: 50%;">Status</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%;">The kit part number</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">9105-HCR-AXIA80</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%;">Compatible Robot</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">HCR-3, HCR-5, HCR-12</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%;">Flange</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">Adapter plate is included</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%;">Tool |/0 Connector</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">15cm EtherCAT plug&play cable included
              <br/>* ATI part no. : 9105-C-ZC22-ZC39-0.155</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%;">EtherCAT connection</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">Built-in GUI for Axia80 connection at HCR controller</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%;">Manual for HCR</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">Coming soon for HCR</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%;">Script Samples</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">Available from Hanwha</p>
          </div>
        </div>
      </div>

      <div class="ecosystem-template-01-spec-item5" style="margin-bottom: 0;">
        <a href="#" class="ecosystem-template-01-spec-item2-info">
          <span>Fore more information, please contact FT_support@ati-ia.com</span>
          <img src="../images/pc/ecosystem-link-arrow.svg" alt="" />
        </a>
      </div>

      <div class="ecosystem-template-01-spec-item-link">
        <img src="../images/pc/ecosystem_main_23_link_01.png" alt="" />
      </div>

      <div class="ecosystem-template-01-spec-divider"></div>

      <div class="ecosystem-template-01-spec-inquiry">
        <button type="button" class="inquiry eco">  
          제품 문의하기
          <span><strong>+</strong></span>
        </button>
      </div>
    </section>
    
    <section class="ecosystem-template-01-section">
      <div class="tab-nav">
        <div class="tab-nav-wrapper">
          <input type="radio" id="nav1" name="nav" checked />
          <label for="nav1" class="ecosystem-nav1">
            <span>전체</span>
          </label>
          <input type="radio" id="nav2" name="nav" />
          <label for="nav2" class="ecosystem-nav2">
            <span>그리피</span>
          </label>
          <input type="radio" id="nav3" name="nav" />
          <label for="nav3" class="ecosystem-nav3">
            <span>비전</span>
          </label>
          <input type="radio" id="nav4" name="nav" />
          <label for="nav4" class="ecosystem-nav4">
            <span>기능 확장</span>
          </label>
          <input type="radio" id="nav5" name="nav" />
          <label for="nav5" class="ecosystem-nav5">
            <span>기타</span>
          </label>

          <select class="tab-nav-mobile">
            <option value="nav1" selected>전체</option>
            <option value="nav2">그리피</option>
            <option value="nav3">비전</option>
            <option value="nav4">기능 확장</option>
            <option value="nav5">기타</option>
          </select>

          <div class="tab-content-wrapper">
            <div id="nav1-content" class="nav-content">
              <div class="ecosystem-template-01-slider1">
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
              </div>
            </div>
            <div id="nav2-content" class="nav-content">
              222222
            </div>
            <div id="nav3-content" class="nav-content">
              333333
            </div>
            <div id="nav4-content" class="nav-content">
              44444
            </div>
            <div id="nav5-content" class="nav-content">
              55555
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

</div>


</body>


</html>