<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
  <meta name="google-site-verification" content="wqf8tEmY7_34-_37qAtBLT3-Sv-0DcLkfVzqEQSEXbQ" />
  
  <title>한화로보틱스</title>
  <link rel="shortcut icon" href="../images/favicon.png">

  <link rel="preconnect" href="https://ajax.googleapis.com" />
  <link rel="preconnect" href="https://cdn.jsdelivr.net" crossOrigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" crossOrigin="anonymous" />

  <meta name="description" content="한화로보틱스는 기술 품질과 신뢰를 경영의 제1원칙으로 설정해 미래를 내다보는 차별화된 기술과 솔루션을 제공하겠습니다." />
  <meta name="keywords" content="한화로보틱스" />

  <meta property="og:title" content="한화로보틱스" />
  <meta property="og:description" content="한화로보틱스는 기술 품질과 신뢰를 경영의 제1원칙으로 설정해 미래를 내다보는 차별화된 기술과 솔루션을 제공하겠습니다." />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  
  <link rel="stylesheet" rel="preload" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />
  <link rel="stylesheet" href="../css/aos.css" />
  <link rel="stylesheet" href="../css/common.css" />
  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="../css/board.css" />
  <link rel="stylesheet" media="screen and (min-width: 1500px)"  href="../css/pc.css" />
  <link rel="stylesheet" media="screen and (max-width: 1499px)"  href="../css/tablet.css" />
  <link rel="stylesheet" media="screen and (max-width: 1023px)"  href="../css/mobile.css" />
  <link rel="stylesheet" href="../css/slick.css" />
</head>

<body data-gnb-target="robot">
  <section class="inquiry_more"></section>
  
  <header id="header" class="sub_header">
  </header>

  <main class="ecosystem-template-01 type2">
    <section class="ecosystem-template-01-title">
      <a href="#">
        <img src="../images/pc/products_detail_arrow.svg" />
      </a>
      <h1>Ecosystem</h1>
    </section>

    <section class="ecosystem-template-01-info">
      <div class="ecosystem-template-01-info-slider-wrapper">
        <div class="ecosystem-template-01-info-slider">
          <div class="ecosystem-template-01-info-slider-item">
            <img src="../images/pc/ecosystem_main_20.jpeg" alt="" />
          </div>
          <div class="ecosystem-template-01-info-slider-item">
            <img src="../images/pc/ecosystem_main_20_02.jpeg" alt="" />
          </div>
          <div class="ecosystem-template-01-info-slider-item">
            <img src="../images/pc/ecosystem_main_20_03.jpeg" alt="" />
          </div>
        </div>
      </div>
      <span class="ecosystem-template-01-info-badge type2">기능 확장</span>
      <div class="ecosystem-template-01-info-content">
        <h2>Hi400P</h2>
        <h3>현대종합금속(주)</h3>
        <p>
          자동차, 파이프, 박판 및 알루미늄 용접에 탁월한 프리미엄 용접기<br/>
          <br/>
          - 스틸 및 비철용 박판 용접용 용접기<br/>
          - 저입열, 저스패터 용접기능 SAC, SPC 기법 내장<br/>
          - Pulse 시너직 기능 내장(40개, 30개 사용자 개발 시너직 10개)<br/>
          - 갭브릿지 성능 및 저스패터 우수
        </p>
      </div>
    </section>

    <section class="ecosystem-template-01-spec">
      <div class="ecosystem-template-01-spec-item1">
        <h2>Specifications</h2>
        <div class="ecosystem-template-01-spec-item1-table type2">
          <div class="ecosystem-template-01-spec-item1-table-content type3">
            <p>Hi400P 본체</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title bold type2" style="width: 50%;">종류</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1 bold" style="width: 50%;">내용</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%;">정격입력</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">400V, 3P (±15%)</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%;">주파수</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">50/60Hz</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%;">로봇 통신</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">I/O 접점, CAN, DeviceNet, UDP</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%;">용접 기법</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">MAG, MIG, Pulse MIG</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%;">중량</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">40kg</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title type2" style="width: 50%;">외형</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">320mm x 580mm x 590mm</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <p>&nbsp;</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content type3">
            <p>Hi400P 와이어 피더</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title bold" style="width: 50%;">종류</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1 bold" style="width: 50%;">내용</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 50%;">입력전압</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">DC 24V, 3A</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 50%;">모터제조사</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">Ankarsrum</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 50%;">모터기어박스</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">감속비(24:1)</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 50%;">모터 모델명</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">PM4228/181 DC242V</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 50%;">통신</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">CAN 2.0A 250kbps</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 50%;">중량</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">11.8kg 이하</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 50%;">외형</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="width: 50%;">518 mm x 220 mm x 235 mm</p>
          </div>
        </div>
      </div>
      <div class="ecosystem-template-01-spec-item1" style="margin-top: 60px;">
        <h2>호환 수준</h2>
        <div class="ecosystem-template-01-spec-item1-table">
          <div class="ecosystem-template-01-spec-item1-table-content type3">
            <p>테스트용 용접셀</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content type3-img">
            <img src="../images/pc/ecosystem_main_20_content_01.jpg" alt="" />
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content type3">
            <p>용접 로봇과 스테이지</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content type4-img">
            <img src="../images/pc/ecosystem_main_20_content_02.jpg" alt="" />
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content type3">
            <p>HCR - Hi400P 연결 예제</p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title bold" style="width: 161px; margin-right: 105px;">Item</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1 bold" style="margin-right: 60px; min-width: 40px;">
              HCR
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1 bold" style="margin-right: 60px; min-width: 50px;">
              HF400R
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1 bold" style="margin-right: 74px; min-width: 110px;">
              Remark
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1 bold">
              Description
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 161px; margin-right: 105px;">ARC ON</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              DOO
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 50px;">
              DIN
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 74px; min-width: 110px;">
              
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              ARC ON Request
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 161px; margin-right: 105px;">SIMULATION MODE</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              DO1
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 50px;">
              DIN
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 74px; min-width: 110px;">
              
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              To test program
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 161px; margin-right: 105px;">WIRE ()</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              DO2
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 50px;">
              DIN
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 74px; min-width: 110px;">
              
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              Wire Jog
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 161px; margin-right: 105px;">WIRE (-)</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              DO3
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 50px;">
              DIN
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 74px; min-width: 110px;">
              
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              Wire Jog -
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 161px; margin-right: 105px;">GAS CHECK</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              D04
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 50px;">
              DIN
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 74px; min-width: 110px;">
              
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              GAS CHECK before start
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 161px; margin-right: 105px;">TOUCH SENSING</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              DO5
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 50px;">
              DIN
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 74px; min-width: 110px;">
              Reserved
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              TOUCH SENSING Request
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 161px; margin-right: 105px;">EMERGENCY</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              D06
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 50px;">
              DIN
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 74px; min-width: 110px;">
              Reserved
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              Emergency Stop
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 161px; margin-right: 105px;">ARC CURRENT TRIGGER</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              DIO
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 50px;">
              DOUT
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 74px; min-width: 110px;">
              
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              ARC ON feedback
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 161px; margin-right: 105px;">TOUCH SENSING TRIGGER</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              DI1
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 50px;">
              DOUT
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 74px; min-width: 110px;">
              Reserved
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              TOUCH SENSING ON feedback
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 161px; margin-right: 105px;">SHOCK TRIGGER</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              DI2
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 50px;">
              DOUT
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 74px; min-width: 110px;">
              Reserved
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              Collision detection feedback from Torch & Welder
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 161px; margin-right: 105px;">WELDING ERROR TRIGGER</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              DI3
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 50px;">
              DOUT
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 74px; min-width: 110px;">
              Reserved
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              Error feedback
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 161px; margin-right: 105px;">ARC Voltage Command</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              AO0
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 50px;">
              AIN
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 74px; min-width: 110px;">
              0~10V
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              To set welding voltage
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 161px; margin-right: 105px;">ARC Current Command</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              A01
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 50px;">
              AIN
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 74px; min-width: 110px;">
              0~10V
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              To set welding current
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 161px; margin-right: 105px;">ARC Voltage FEEDBACK</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              AIO
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 50px;">
              AOUT
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 74px; min-width: 110px;">
              0~10V(Reserved)
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              Welding voltage feedback
            </p>
          </div>
          <div class="ecosystem-template-01-spec-item1-table-content">
            <span class="ecosystem-template-01-spec-item1-table-content-title" style="width: 161px; margin-right: 105px;">ARC Current FEEDBACK</span>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 40px;">
              All
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 60px; min-width: 50px;">
              AOUT
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1" style="margin-right: 74px; min-width: 110px;">
              0~10V(Reserved)
            </p>
            <p class="ecosystem-template-01-spec-item1-table-content-item1">
              Welding current feedback
            </p>
          </div>
        </div>
      </div>
      <div class="ecosystem-template-01-spec-inquiry">
        <button type="button" class="inquiry eco">  
          제품 문의하기
          <span><strong>+</strong></span>
        </button>
      </div>
    </section>
    
    <section class="ecosystem-template-01-section">
      <div class="tab-nav">
        <div class="tab-nav-wrapper">
          <input type="radio" id="nav1" name="nav" checked />
          <label for="nav1" class="ecosystem-nav1">
            <span>전체</span>
          </label>
          <input type="radio" id="nav2" name="nav" />
          <label for="nav2" class="ecosystem-nav2">
            <span>그리피</span>
          </label>
          <input type="radio" id="nav3" name="nav" />
          <label for="nav3" class="ecosystem-nav3">
            <span>비전</span>
          </label>
          <input type="radio" id="nav4" name="nav" />
          <label for="nav4" class="ecosystem-nav4">
            <span>기능 확장</span>
          </label>
          <input type="radio" id="nav5" name="nav" />
          <label for="nav5" class="ecosystem-nav5">
            <span>기타</span>
          </label>

          <select class="tab-nav-mobile">
            <option value="nav1" selected>전체</option>
            <option value="nav2">그리피</option>
            <option value="nav3">비전</option>
            <option value="nav4">기능 확장</option>
            <option value="nav5">기타</option>
          </select>

          <div class="tab-content-wrapper">
            <div id="nav1-content" class="nav-content">
              <div class="ecosystem-template-01-slider1">
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>
              </div>
            </div>
            <div id="nav2-content" class="nav-content">
              222222
            </div>
            <div id="nav3-content" class="nav-content">
              333333
            </div>
            <div id="nav4-content" class="nav-content">
              44444
            </div>
            <div id="nav5-content" class="nav-content">
              55555
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer id="footer">
  </footer>

  <div class="layer_wrap"></div>

  <script text="text/javascript" src="../js/jquery.min.js"></script>

  <script type="text/javascript" src="../js/aos.js"></script>

  <script text="text/javascript" src="../js/gsap.min.js"></script>
  <script text="text/javascript" src="../js/ScrollTrigger.min.js"></script> 
  
  <!-- Slick -->
  <script src="../js/slick.min.js"></script>

  <!-- 패럴렉스 -->
  <script type="text/javascript" src="../js/ScrollMagic.min.js"></script>
  <script type="text/javascript" src="../js/animation.gsap.js"></script>

  <script src="../js/library.js"></script>
  <script src="../js/common.js"></script>
  <script src="../js/sub.js"></script>

</body>

</html>