
header .menu {
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

/* header .gnb_menu .header__nav__items a {
	display: block;
	height: 58px;
	margin: 38px 49px 0 0;
	font-size: 50px;
} */


header .more_btn {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 70px;
	right: 60px;
	gap: 3px;
}

header .more_btn  a.distributor {
	background-color: #000;
}

.main .pc {
	visibility: hidden;
	height: 100vw;
	overflow: hidden;
}

.main .tablet {
	visibility: hidden;
	height: 100vw;
	overflow: hidden;
}

.main .mobile {
	visibility: hidden;
	height: 100vw;
	overflow: hidden;
}

.section1 {
	position: relative;
	max-width: 1920px;
	min-width: 335px;
	margin: 0 auto;
	/* height: 1180px; */
}

.section1 .bg_section {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: url('../images/pc/main_section1_bg@3x.jpg') no-repeat 50% 50%;
	background-size: cover;
  /* background-attachment: fixed; */
}

.section1 .contents {
	z-index: 2;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 100vh;
	padding: 97px 60px 0;
}

.section1 .contents {
	padding: 187px 60px 0;
}

.section1 .contents .main_txt .title{
  font-family: HanwhaGothicB_OTF;
  font-size: 218px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: left;
  color: #f37321;
}

.section1 .contents .main_txt .txt {
	font-family: HanwhaGothicB_OTF;
  font-size: 97px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #eaeaea;
}

.section1 .contents .main_txt .move_to_intro a {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 50px;

  font-family: HanwhaGothicB_OTF;
  font-size: 29px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.section1 .contents .main_txt .move_to_intro span {
	display: inline-block;
  width: 148px;
  height: 148px;
	margin: 0 0 0 27px;
	background: url('../images/pc/ic_round_arrow.svg') no-repeat 0 0;
}

.section1 .contents .update {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: 66px;
	gap: 20px;
}

.section1 .contents .update .title {
	font-family: HanwhaGothicR_OTF;
  font-size: 34px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #f60;
}

.section1 .contents .update .txt {
	font-family: HanwhaGothicEL_OTF;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.section_bottom {
	position: relative;
	z-index: 5;
	padding-top: 75px;
	padding-bottom: 60px;
	background-color: #fff;
}
.section2 {
	display: flex;
	flex-direction: row;
	max-width: 1920px;	
	margin: 0 auto 0;
	padding: 0 60px;
	gap: 60px;
	background-color: #fff;
}

.section2 .box {
	display: flex;
	width: 100%;
}

.section2 .box a {
	display: block;
	position: relative;
	width: 100%;
	padding: 73px 0 24px 62px;
	border-radius: 15%;
	border-top-left-radius: 0;
	background-color: #f3f3f3;
}

.section2 .box .contents {
	padding: 20% 0;
}
.section2 .second_box {
	position: relative;
	top: 140px;
}

.section2 .primary_box .contents {
	background: url('../images/pc/thumb_1@3x.webp') no-repeat 100% 100%/contain;
}

.section2 .second_box .contents {
	background: url('../images/pc/thumb_2@3x.webp') no-repeat 100% 100%/contain;
}

.section2 .box .title {
	display: none;
}

.section2 .box .pc_title {
	display: block;
  font-family: HanwhaGothicB_OTF;
  font-size: 40px;
  color: #000;
}

.section2 .box .txt {
	margin-top: 6px;
  font-family: HanwhaGothicL_OTF;
  font-size: 20px;
  line-height: 1.4;
  color: #000;
}

.section2 .box .pc_txt {
	display: none;
}

.section2 .box .not_pc_txt {
	display: block;
  font-size: 16px;
}

.section2 .box .pc_txt {
	display: block;
}

.section2 .box .not_pc_txt {
	display: none;
}

.section2 .box .detail {
	margin-top: 50px;
}

.section2 .box .detail {
	display: flex;
	align-items: center;
	justify-content: space-between;
  width: 246px;
  height: 58px;
  padding: 8px 8px 8px 29px;
  border-radius: 29px;
  background-color: #000;


  font-family: HanwhaGothicL_OTF;
  font-size: 16px;
  line-height: 2.19;
  color: #fff;
	box-sizing: border-box;
}

.section2 .box .detail span {
	display: flex;
	justify-content: center;
	align-items: center;
  width: 42px;
  height: 42px;
  margin: 0 0 0 92px;
  padding: 14px;
	border-radius: 50%;
  border: solid 2px #f60;

	background: url('../images/pc/ic_sub_more.svg') no-repeat 50% 50%;
}

.section3 {
	display: flex;
	flex-direction: row;
	max-width: 1920px;
	margin: 290px auto 0;
	padding: 0 60px;

	gap: 45px;
}

.section3 .recruit {
	display: flex;
	width: 100%;
	/* height: 229px; */
	/* padding: 0 0 19% 0; */
	background: url('../images/pc/bg_recruit_banner.webp') no-repeat 0 0/100% 100%;
}


.section3 .recruit a {
	display: block;
	width: 100%;
	/* height: 100%; */
	padding-bottom: 40%;
	background: url('../images/pc/ic_round_recruit.svg') no-repeat 90% 50%;
	background-size: 74px 74px;
}

.section3 .board_wrap {
	display: flex;
	width: 100%;
	height: 229px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.section3 .board_wrap .board {
	width: 100%;
	padding: 30px 0;
}

.section3 .board_wrap .board .title {
	margin: 0 0 12px 0;
	padding: 0 0 0 76px;
  font-family: HanwhaGothicL_OTF;
  font-size: 34px;
  line-height: 1.29;
  text-align: left;
  color: #f60;
	background-size: 45px 45px;
}

.section3 .board_wrap .board.news .title {
	background: url('../images/pc/ic_news.svg') no-repeat 0 0;
}

.section3 .board_wrap .board.inquire .title {
	background: url('../images/pc/ic_inquire.svg') no-repeat 0 0;
}

.section3 .board_wrap .board .list {
	margin-bottom: 4px;
	padding: 0 0 0 76px;
}

.section3 .board_wrap .board .list a {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.section3 .board_wrap .board .list_title {
	width: 70%;
	height: 32px;
	overflow: hidden;
	text-overflow: ellipsis;
  font-family: HanwhaGothicL_OTF;
  font-size: 16px;
  line-height: 2;
  text-align: left;
  color: #000;
}

.section3 .board_wrap .board .list_date {
  font-family: HanwhaGothicL_OTF;
  font-size: 16px;
  line-height: 2;
  text-align: left;
  color: #000;
}


@media (max-width: 1500px) {

	header .more_btn {
		right: 15px;
	}	

	.section1 .contents {
		padding: 167px 30px 0;
	}

	.section2 .box .pc_title {
		display: none;
	}
	.section2 .box .mobile_title {
		display: block;
		font-family: HanwhaGothicB_OTF;
		font-size: 26px;
		color: #000;
	
	}

	.section2 .box .pc_txt {
		display: none;
	}
	.section2 .box .not_pc_txt {
		display: block;
	
	}

	.section2 .box a {
		display: block;
		position: relative;
		width: 100%;
		padding: 43px 0 24px 32px;
		border-radius: 15%;
		border-top-left-radius: 0;
		background-color: #f3f3f3;
	}

	.section3 .board_wrap .board .title {
		padding: 0 0 0 36px;
		background-position: 0 50%;
		background-size: 30px 30px;
	}

	.section3 .board_wrap .board.news .title {
		background-position: 0 50%;
		background-size: 30px 30px;
	}
	
	.section3 .board_wrap .board.inquire .title {
		background-position: 0 50%;
		background-size: 30px 30px;
	}
	.section3 .board_wrap .board .list {
		padding: 0 0 0 36px;
	}

	.section3 .board_wrap .board .list_title {
		width: auto;
	}
	
	.section3 .board_wrap {
		height: 209px;
	}

	.section2 .box .detail {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 166px;
		height: 38px;
		padding: 8px 8px 8px 15px;
		border-radius: 29px;
		background-color: #000;


		font-family: HanwhaGothicL_OTF;
		font-size: 13px;
		line-height: 2.19;
		color: #fff;
		box-sizing: border-box;
	}

	.section2 .box .detail span {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 22px;
		height: 22px;
		margin: 0 0 0 52px;
		padding: 12px;
		border-radius: 50%;
		border: solid 2px #f60;

		background: url('../images/pc/ic_sub_more.svg') no-repeat 50% 50%;
	}

}

@media (max-width: 743px) {

	.section3 {
		flex-direction: column;
		max-width: none;
		margin: 0 auto 0;
		margin: 50px auto 0;
		padding: 0 15px;
		gap: 0;
	}

	.section3 .board_wrap .board .title {
		margin: 0 0 10px 0;
		padding: 0 0 0 0;
		font-size: 30px;
		background: none;
	}
	
	.section3 .board_wrap .board .list {
		padding: 0 0 0 0;
	}
	
	
	.section2 .second_box {
		top: 0 !important;
	}

	.section3 .board_wrap .board .title {
		background: none !important;
	}
	.section3 .board_wrap .board.news .list_title {
		width: 100%;
	}
	
	.section3 .board_wrap .board.news .list_date {
		display: none;
	}
	
	.section3 .board_wrap:first-child {
		border-bottom: 0;
	}
		
	.section3 .recruit {
		display: flex;
		width: 100%;
		margin-top: 40px;
		padding-bottom: 7%;
		background: url('../images/mobile/bg_recruit_banner.svg') no-repeat 0 0/100%;
	}

	.section3 .recruit a {
		display: block;
		width: 100%;
		height: 100%;
		background: none;
	}

	.section2 .box .detail {
		display: none;
	}
	
	header .more_btn {
		right: 15px;
	}

	.section2 {
		flex-direction: column;
		max-width: none;
		margin: 20px auto 0;
		padding: 0 15px;

		gap: 10px;
	}

	.section1 .contents {
		padding: 127px 15px 0;
	}
	.section2 .primary_box .contents {
		background: url('../images/mobile/thumb_1@3x.webp') no-repeat 100% 100%/contain;
	}

	.section2 .second_box .contents {
		background: url('../images/mobile/thumb_2@3x.webp') no-repeat 100% 100%/contain;
	}

	.section2 .box .contents {
		padding: 10% 0 24%;
	}

	.section2 .box a {
		display: block;
		position: relative;
		width: 100%;
		padding: 45px 45px 19px 25px;
		border-radius: 15%;
		border-top-left-radius: 0;
		background-color: #f3f3f3;
	}

	.section2 .pc_title {
		display: none;
	}

}

@media (min-width: 1025px) {
	.main .tablet {
		visibility: hidden;
		height: 0;
	}
	.main .mobile {
		visibility: hidden;
		height: 0;
	}

	.main .pc {
		/* visibility: visible; */
		height: auto;
		overflow: visible;
	}

	main.main .pc {
		position: relative;
		padding: 0;
	}

	header .logo .txt {
		display: none;
	}

	header .gnb_menu .header__nav__items li.inquiry {
		display: none;
	}

	.section1 .contents {
		/* padding: 127px 15px 0; */
	}
	
	.section1 .contents .main_txt .title{
		font-family: HanwhaGothicB_OTF;
		font-size: 178px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.41;
		letter-spacing: normal;
		text-align: left;
		color: #f37321;
	}

	.section1 .contents .main_txt .txt {
		font-family: HanwhaGothicB_OTF;
		font-size: 67px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.18;
		letter-spacing: normal;
		text-align: left;
		color: #eaeaea;
	}

	.section1 .contents .main_txt .move_to_intro a {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 50px;

		font-family: HanwhaGothicB_OTF;
		font-size: 28px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.24;
		letter-spacing: normal;
		text-align: left;
		color: #fff;
	}

	.section1 .contents .main_txt .move_to_intro span {
		display: inline-block;
		width: 148px;
		height: 148px;
		margin: 0 0 0 27px;
		background: url('../images/pc/ic_round_arrow.svg') no-repeat 0 0;
	}

	.section1 .contents .update .title {
		font-family: HanwhaGothicR_OTF;
		font-size: 34px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.29;
		letter-spacing: normal;
		text-align: left;
		color: #f60;
	}

	.section1 .contents .update .txt {
		font-family: HanwhaGothicEL_OTF;
		font-size: 18px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.67;
		letter-spacing: normal;
		text-align: left;
		color: #fff;
	}

	footer {
		z-index: 2;
		position: relative;
		display: flex;
		justify-content: space-between;
		margin-top: 0;
		padding: 52px 64px 52px;
		background-color: #000;
	}

	footer .column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	footer .address {
		display: none;
		margin-top: 35px;
		font-family: HanwhaGothicL_OTF;
		font-size: 15px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.6;
		letter-spacing: normal;
		text-align: left;
		color: #fff;
	}

	footer .pc.address {
		display: block;
	}

	footer .copyright {
		margin-top: 20px;
		font-family: HanwhaGothicL_OTF;
		font-size: 15px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.6;
		letter-spacing: normal;
		text-align: left;
		color: #fff;
		opacity: 0.7;
	}

	footer .copyright br {
		display: none;
	}
	footer .column1 {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}

	footer .column1 .sitemap {
		display: flex;
		flex-direction: column;
		gap: 6px;
	}
	footer .column1 .sitemap a {
		font-family: HanwhaGothicR_OTF;
		font-size: 15px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 2.67;
		letter-spacing: normal;
		text-align: left;
		color: #fff;
	}

	footer .column1 .link {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 168px;
		margin-left: 65px;
	}

	footer .column1 .link .select_wrap {
		border-bottom: 1px solid #fff;
	}

	footer .column1 .link .select_wrap select {
		padding-right: 104px;
		font-family: HanwhaGothicR_OTF;
		font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 2.5;
		letter-spacing: normal;
		text-align: left;
		color: #fff;
		outline: 0;
		border: 0;
		background: url('../images/pc/ico_arrow_down.svg') no-repeat 100% 38%;
		background-size: 12px;
	}

	footer .column1 .sns {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}

}


@media (min-width: 1550px) {
	header .logo {
		width: auto;
	}

	header .logo .txt {
		display: flex;
	}

	header .logo .txt a {
		display: flex;
		align-items: center;
		margin-left: 58px;
		font-family: HanwhaGothicB_OTF;
		font-size: 16px;
		color: #fff;
	}

	header .logo .txt span {
		display: flex;
		align-items: center;
		margin: -4px 0 0 13px;
		font-family: HanwhaGothicB_OTF;
		font-size: 20px;
		color: #f37321;
	}

	header .logo .txt span strong {
		display: flex;
		align-items: center;
		width: 14px;
		height: 14px;
		margin: 5px 0 3px 7px;
		object-fit: contain;
		background: url('../images/pc/ic_main_more.svg') no-repeat 0 0;
	}

	/* header .btn_menu {
		display: none;
	} */


	header .gnb_menu .header__nav__items {
		display: flex;
		flex-direction: row;
		margin: 0;
	}

	header .gnb_menu .header__nav__items li.inquiry {
		display: block;
	}

	header .gnb_menu .header__nav__items a {
		display: flex;
		align-items: center;
		margin: 0;
		font-family: HanwhaGothicL_OTF;
		font-size: 19px;
		color: #fff;
	}

	header .more_btn {
		display: none;
	}

	header .btn_close {
		display: none;
	}

}

@media (max-width: 1755px) {

	footer {
		padding: 40px 50px 54px 50px;
	}

	footer .copyright {
		margin-top: 20px;
		font-family: HanwhaGothicL_OTF;
		font-size: 15px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.6;
		letter-spacing: normal;
		text-align: left;
		color: #fff;
		opacity: 0.7;
	}

	footer .mobile.address {
		display: none;
	}
	footer .pc.address {
		display: none;
	}
	footer .tablet.address {
		/* margin-top: 77px; */
		margin-top: 35px;
		display: block;
	}

	footer .copyright br {
		display: block;
	}


	footer .column1 .sitemap {
		position: absolute;
		top: 115px;
		left: 50px;
		display: flex;
		flex-direction: row;
		gap: 20px;
		margin-top: 0;
	}


	footer .column1 .link {
		/* margin-top: 72px; */
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 132px;
		margin-left: 0;
	}
}

@media (max-width: 1190px) {
	header .logo .txt {
		display: none;
	}

	header .gnb_menu .header__nav__items li.inquiry {
		display: none;
	}


	.section1 .contents .main_txt .title{
		font-size: 158px;
	}

	.section1 .contents .main_txt .txt {
		font-size: 60px;
	}

	.section1 .contents .main_txt .move_to_intro a {
		font-size: 28px;
	}

	.section1 .contents .update .title {
		font-size: 30px;
	}

	.section1 .contents .update .txt {
		font-size: 15px;
	}
	footer .address {
		font-size: 15px;
	}

	footer .address br {
		display: block;
	}


	footer .copyright br {
		display: block;
	}
	footer .column1 .sitemap a {
		font-size: 15px;
	}

	footer .column1 .link {
		margin-left: 35px;
	}

	
}

@media (max-width: 1025px) {
	.main .pc {
		visibility: hidden;
		height: 0;
	}
	.main .mobile {
		visibility: hidden;
		height: 0;
	}
	.tablet .tablet {
		/* visibility: visible; */
		height: auto;
		overflow: visible;
	}

	.main .tablet {
		padding: 0 50px;
	}

	header .logo .txt {
		display: none;
	}

	header .gnb_menu .header__nav__items li.inquiry {
		display: none;
	}

	.fixed {display:none;}

	.section1 {
		/* height: 960px; */
	}

	.section1 .contents {
		flex-direction: column;
		max-width: none;
		padding: 202px 15px 0;
	}

	.section1 .contents .main_txt .title {
		font-size: 124px;
		line-height: 1.42;
	}

	.section1 .contents .main_txt .txt {
		font-size: 67px;
		line-height: 1.19;
	}

	.section1 .contents .main_txt .move_to_intro a {
		margin-top: 32px;
		font-size: 20px;
		line-height: 1.25;
	}

	.section1 .contents .main_txt .move_to_intro a br {
		display: none;
	}

	.section1 .contents .main_txt .move_to_intro a span {
		width: 88px;
		height: 87px;
		background: url('../images/pc/ic_round_arrow_mobile.svg') no-repeat 0 0;
    background-size: 88px 87px;
	}
	.section1 .contents .update {
		
	}
	.section1 .contents .update .title {
		display: none;
	}

	.section1 .contents .update .txt div {
		display: none;
	}

	.section1 .contents .update .txt div:first-child {
		display: block;
		padding: 0 0 0 33px;
		opacity: 0.7;
		font-family: HanwhaGothicEL_OTF;
		font-size: 16px;
		line-height: 1.25;
		text-align: left;
		color: #fff;
		background: url('../images/pc/ic_speaker.svg') no-repeat 0 0;
		background-size: 24px 20px;
	}

	footer {
		position: relative;
		display: flex;
		justify-content: space-between;
		margin-top: 0;
		padding: 42px 50px 42px;
		background-color: #000;
	}

	footer .column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	footer .address {
		display: none;
		margin-top: 35px;
		font-family: HanwhaGothicL_OTF;
		font-size: 15px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.6;
		letter-spacing: normal;
		text-align: left;
		color: #fff;
	}

	footer .pc.address {
		display: block;
	}

	footer .copyright {
		margin-top: 20px;
		font-family: HanwhaGothicL_OTF;
		font-size: 15px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.6;
		letter-spacing: normal;
		text-align: left;
		color: #fff;
		opacity: 0.7;
	}

	footer .copyright br {
		display: none;
	}
	footer .column1 {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}

	footer .column1 .sitemap {
		display: flex;
		flex-direction: row;
		gap: 16px;
	}
	footer .column1 .sitemap a {
		font-family: HanwhaGothicR_OTF;
		font-size: 15px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 2.67;
		letter-spacing: normal;
		text-align: left;
		color: #fff;
	}

	footer .column1 .link {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 168px;
		margin-left: 65px;
	}

	footer .column1 .link .select_wrap {
		border-bottom: 1px solid #fff;
	}

	footer .column1 .link .select_wrap select {
		padding-right: 104px;
		font-family: HanwhaGothicR_OTF;
		font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 2.5;
		letter-spacing: normal;
		text-align: left;
		color: #fff;
		outline: 0;
		border: 0;
		background: url('../images/pc/ico_arrow_down.svg') no-repeat 100% 38%;
		background-size: 12px;
	}

	footer .column1 .sns {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}

	footer .address {
		font-size: 14px;
	}

	footer .address br {
		display: block;
	}


	footer .copyright {
		font-size: 14px;
	}

	footer .copyright br {
		display: block;
	}
	footer .column1 .sitemap a {
		font-size: 15px;
	}

	footer .column1 .link {
		margin-left: 35px;
	}


	footer .mobile.address {
		display: none;
	}
	footer .pc.address {
		display: none;
	}
	footer .tablet.address {
		display: block;
	}

}

@media (max-width: 950px) {

	header .logo .txt {
		display: none;
	}

	header .gnb_menu .header__nav__items li.inquiry {
		display: none;
	}

	.section1 {
		/* height: 760px; */
	}

	.section1 .contents .main_txt .title {
		font-size: 84px;
		line-height: 1.42;
	}

	.section1 .contents .main_txt .txt {
		font-size: 37px;
		line-height: 1.19;
	}

	.section1 .contents .main_txt .move_to_intro a {
		margin-top: 22px;
		font-size: 16px;
		line-height: 1.25;
	}

	.section1 .contents .main_txt .move_to_intro a span {
		width: 68px;
		height: 67px;
		background: url('../images/pc/ic_round_arrow_mobile.svg') no-repeat 0 0;
    background-size: 68px 67px;
	}

	footer .address {
		font-size: 14px;
	}

	footer .mobile.address {
		display: none;
	}
	footer .mobile1.address {
		/* margin-top: 77px; */
		margin-top: 35px;
		display: block;
	}
	footer .pc.address {
		display: none;
	}
	footer .tablet.address {
		display: none;
	}

	footer .address br {
		display: block;
	}

	footer .copyright br {
		display: block;
	}
	footer .column1 .sitemap a {
		font-size: 15px;
	}

	footer .column1 .link {
		margin-top: 61px;
		margin-left: 35px;
	}

}

@media (max-width: 840px) {

	header .logo .txt {
		display: none;
	}

	header .gnb_menu .header__nav__items li.inquiry {
		display: none;
	}
	footer {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		height: auto;
		margin-top: 60px;
		padding: 42px 50px 42px;
		background-color: #000;
		overflow: hidden;
	}
	footer .address {
		font-size: 14px;
	}

	footer .mobile.address {
		display: none;
	}
	footer .mobile2.address {
		/* margin-top: 77px; */
		margin-top: 35px;
		display: block;
	}
	footer .pc.address {
		display: none;
	}
	footer .tablet.address {
		display: none;
	}

	footer .address br {
		display: block;
	}

	footer .copyright br {
		display: block;
	}
	footer .column1 .sitemap a {
		font-size: 15px;
	}


	footer .column1 .link {
		display: flex;
		justify-content: flex-start;
		width: 100%;
		height: auto;
		margin: 40px 0 0 0;
	}

	footer .column1 .link .select_wrap {
		width: 210px;
		border-bottom: 1px solid #fff;
	}

	footer .column1 .link .select_wrap select {
		width: 100%;
		padding-right: 0;
		font-family: HanwhaGothicR_OTF;
		font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 2.5;
		letter-spacing: normal;
		text-align: left;
		color: #fff;
		outline: 0;
		border: 0;
		background: url('../images/pc/ico_arrow_down.svg') no-repeat 100% 38%;
		background-size: 12px;
	}

	footer .column1 .sns {
		display: flex;
		flex-direction: row;
		gap: 20px;
		margin-top: 62px;
	}

}
@media (min-width: 335px) and (max-width: 743px) {
	header {
		/* padding: 18px 20px; */
	}
	.main .pc {
		visibility: hidden;
		height: 0;
	}
	.main .tablet {
		visibility: hidden;
		height: 0;
	}
	.main .mobile {
		/* visibility: visible; */
		height: auto;
		overflow: visible;
	}

	.main .mobile {
		padding: 85px 25px 0;
	}

	header .logo .txt {
		display: none;
	}
	
	header .gnb_menu .header__nav__items li.inquiry {
		display: none;
	}

	.fixed {display:none;}
	
	.section_bottom {
		position: relative;
		z-index: 1;
		padding-bottom: 60px;
		background-color: #fff;
	}
	.section {
		height: auto;
		margin-bottom: 60px;
		align-items: flex-start;
	}
	
	.section .title {
		font-family: HanwhaGothicB_OTF;
		font-size: 19vw;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.43;
		letter-spacing: normal;
		text-align: left;
		color: #000;
	}
	.section .title .line {
		width: 88vw;
		margin-top: 3px;
	}

	.section .txt {
		font-family: HanwhaGothicB_OTF;
		font-size: 8vw;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.12;
		letter-spacing: normal;
		text-align: left;
		color: #cecece;
	}

	.section .img1 {
		top: 44vw;
	}
	.section .img2 {
		top: 55vw;
	}
	.section .img3 {
		position: static;
		margin-top: 37vw;
		.image {
			width: 100%;
			height: 100%;
		}
	}
	
	.about {
		margin: 0 0 0 45px;
		font-size: 18px;
	}

	.about a {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		gap: 24px;
	}
	.about a img {
		height: 88px;
	}

	footer {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		height: auto;
		padding: 50px 20px 50px;
		background-color: #000;
		overflow: hidden;
	}

	footer .column {
		display: flex;
		flex-direction: column;
	}

	footer .address {
		/* margin-top: 218px; */
		margin-top: 30px;
		/* padding-top: 200px; */
		font-family: HanwhaGothicL_OTF;
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.71;
		letter-spacing: normal;
		text-align: left;
		color: #fff;
	}

	footer .mobile.address {
		display: none;
	}
	footer .mobile3.address {
		display: block;
	}

	footer .column1 .sitemap {
		position: absolute;
		top: 128px;
		left: 20px !important;
		display: flex;
		flex-direction: column;
		gap: 0;
		margin-top: 0;
	}


	footer .column1 .sitemap a {
		font-family: HanwhaGothicR_OTF;
		font-size: 18px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 2.33;
		letter-spacing: normal;
		text-align: left;
		color: #fff;
	}

	footer .column1 .link {
		display: flex;
		justify-content: flex-start;
		width: 100%;
		height: auto;
		margin: 40px 0 0 0;
	}

	footer .column1 .link .select_wrap {
		width: 210px;
		border-bottom: 1px solid #fff;
	}

	footer .column1 .link .select_wrap select {
		width: 100%;
		padding-right: 0;
		font-family: HanwhaGothicR_OTF;
		font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 2.5;
		letter-spacing: normal;
		text-align: left;
		color: #fff;
		outline: 0;
		border: 0;
		background: url('../images/pc/ico_arrow_down.svg') no-repeat 100% 38%;
		background-size: 12px;
	}

	footer .column1 .sns {
		display: flex;
		flex-direction: row;
		gap: 20px;
		margin-top: 40px;
	}

}