@keyframes closeUpMove {
  0% {
    transform: scale(1); /* 시작 크기 */
  }
  50% {
    transform: scale(1.5); /* 중간 크기 */
  }
  100% {
    transform: scale(1); /* 끝 크기 */
  }
}

header {
	height: 70px;
	padding: 18px 20px;
	background-color: #f60;
}

header .header {
	max-width: 1024px;
}

header .logo {
	width: auto;
	height: 35px;
}
header .logo img{
	height: 35px;
}

header .menu {
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/* gap: 40px; */
}

header .menu .disabled a {
	opacity: 0.8;
}

header .menu a {
	font-family: HanwhaGothicB_OTF;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.72px;
  text-align: left;
  color: #fff;
}
header .btn_menu .icon-top {
  background-color: #fff;
}

header .btn_menu .icon-bottom {
  background-color: #fff;
}

main .main {
	width: 100%;
	max-width: 1024px;
	min-width: 335px;
}

main.about {
  padding: 170px 0 0 0;
}

div.main {
	padding: 123px 0 0 0;
}

.about .section_1 {
	position: relative; /* 위치 지정을 위해 상대 위치 설정 */
	padding: 0 20px;
	max-width: 768px;
	margin: 0 auto;
	z-index: 3;
}

.about .section_1 {
	display: flex;
	flex-direction: column;
}

.about .section_1 .group {
	width: 100%;
  transform: translateZ(1) !important;
}

.about .section_1 .group1 .title {
  font-family: HanwhaGothicB_OTF;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.about .section_1 .group1 .txt1 {
	margin-top: 15px;
	font-family: HanwhaGothicEL_OTF;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000;

}

.about .section_1 .group2 {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	margin-top: 36px;
	padding: 0;
}

.about .section_1 .group2 .img1 {
  width: 100%;
  height: 100%;
  overflow: hidden; /* 이미지가 컨테이너를 벗어나지 않게 합니다. */
	border-radius: 7px 147px 157px 7px;
}
.about .section_1 .group2 .clip-image {
  animation: closeUpMove 3s forwards; /* 애니메이션 이름, 지속시간, 무한반복, 정방향과 역방향으로 진행 */
  transform: scale(1); /* 초기 크기 */
}
.about .section_1 .group2 img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	vertical-align: top;
}

.about .section_1 .group2 .title {
  width: 100%;
	margin-top: 38px;
	font-family: HanwhaGothicR_OTF;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}


.about .section_1 .group2 .txt1 {
  width: 100%;
	margin: 20px 0 0 0;
	font-family: HanwhaGothicEL_OTF;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.about .section_1 .group3 {
	margin-top: 70px;
}

.about .section_1 .group3 .txt1 {
	font-family: HanwhaGothicEL_OTF;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.about .section_1 .group3 .txt2 {
	margin-top: 30px;
	font-family: HanwhaGothicR_OTF;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.about .section_1 .group4 {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	margin: 30px 0 0 0;
}

.about .section_1 .group4 img {
  width: 157px;
  height: 207px;
  object-fit: contain;
  border-radius: 20px;
}

.about .section_2 {
	margin-top: 90px;
  padding: 90px 20px 19px;
  background-color: #f0e6de;
}

.about .section_2 .row {
	display: flex;
	flex-direction: column;
  align-items: center;
	gap: 40px;
}

.about .section_2 .row .box {
	position: relative;
  width: 296px;
  height: 413px;
  padding: 41px 0 0 39px;
  border-radius: 10px 60px 60px 60px;
  border: solid 1px #000;
}


.about .section_2 .row .mission {
	top: 0;
  margin: 40px 0 0 0;
}

.about .section_2 .row .box .title{
	font-family: HanwhaGothicB_OTF;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.37;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.about .section_2 .row .box .txt1 {
	width: 100%;
	margin-top: 10px;
	font-family: HanwhaGothicEL_OTF;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.about .section_2 .row img {
	position:absolute;
	bottom: -5px;
	right: -5px;
  width: 156px;
  height: 200px;
  object-fit: fill;
}

.about .section_2 .column {
	margin-top: 95px;
}

.about .section_2 .column .title_top {
	font-family: HanwhaGothicB_OTF;
  font-size: 43px;
  font-weight: normal;
  font-stretch: bold;
  font-style: normal;
  line-height: 1.37;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.about .section_2 .column .list_wrap {
	position:relative;
	-webkit-transform: translateY(0%);
  transform: translateY(0%);
	margin-top: 2vw;
}

.about .section_2 .column .imageScroll {
  display: none;
	position: absolute;
	top: 205px;
	left: 188px;
}

.about .section_2 .column .imageScroll_inner {
	position: relative;
	-webkit-transform: translate(-2%);
	transform: translate(-1%);
	transition: all 0.3s ease; /* 애니메이션 효과 */
}

.about .section_2 .column .list {
	/* position: relative; */
	display: flex;
	flex-direction: column;
	padding: 41px 0 41px 0;
	border-top: 1px solid #000;
}

.about .section_2 .column .list .title_round {
	display: flex;
	width: 81px;
	height: 81px;
	font-family: HanwhaGothicB_OTF;
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 81px;
  letter-spacing: normal;
  text-align: center;
  color: #000;
	justify-content: center;
  border: solid 1px #000;
	border-radius: 50%;
}

.about .section_2 .column .list .thumb {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 0;
}

.about .section_2 .column .list .thumb .title {
	margin-top: 8px;
	font-family: HanwhaGothicB_OTF;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.about .section_2 .column .list .thumb .txt {
	font-family: HanwhaGothicB_OTF;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.about .section_2 .column .list .img {
  display: block;
}

.about .section_2 .column .img {
	position: static;
  top: 20px;
	right: 0;
  margin-top: 20px;
	-webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
	clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
	transition: -webkit-clip-path .4s cubic-bezier(.215,.61,.355,1);
	transition: clip-path .4s cubic-bezier(.215,.61,.355,1);
	transition: clip-path .4s cubic-bezier(.215,.61,.355,1),-webkit-clip-path .4s cubic-bezier(.215,.61,.355,1);
}
.about .section_2 .column .img.hideTop {
	-webkit-clip-path: polygon(0 0,100% 0,100% 0,0 0);
	clip-path: polygon(0 0,100% 0,100% 0,0 0);
}
.about .section_2 .column .img.hideBottom {
	-webkit-clip-path: polygon(0 100%,100% 100%,100% 100%,0 100%);
	clip-path: polygon(0 100%,100% 100%,100% 100%,0 100%);
}

.about .section_2 .column img {
	width: 188px;
  height: 132px;
	transform: translate3d(0px, 0px, 0px, 0px);
	content-visibility: visible;
}

