@keyframes closeUpMove {
  0% {
    transform: scale(1); /* 시작 크기 */
  }
  50% {
    transform: scale(1.5); /* 중간 크기 */
  }
  100% {
    transform: scale(1); /* 끝 크기 */
  }
}

.en .inquiry_more .bg {
  background-color: #666;
}
header.active {
  background-color: #000;
}
header.active .header_inner{
}
header .header_wrapper {
  background-color: #f60;
  padding-left: 50px;
  padding-right: 50px;
}
header.active .header_wrapper {
  background-color: #000;
}

header .menu {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 40px; */
}

header .menu .disabled a {
  opacity: 0.8;
}

header .menu a {
  font-family: HanwhaGothicB_OTF;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.72px;
  text-align: left;
  color: #fff;
}
header .btn_menu .icon-top {
  background-color: #fff;
}

header .btn_menu .icon-bottom {
  background-color: #fff;
}

header .gnb_menu .header__nav__items {
  margin: 169px 0 0 115px;
}

header .gnb_menu .header__nav__items .strike {
  position: absolute;
  top: 46%;
  left: 0;
  width: 211px;
  height: 1px;
  margin: 0;
  background-color: #707070;
}
header .gnb_menu .header__nav__items .txt {
  margin: 0 27px 38px 0;
  opacity: 0.3;
  font-size: 50px;
}

header .gnb_menu .header__nav__items .temp {
  top: 18px;
  left: 220px;
  font-size: 18px;
}
header .gnb_menu .header__nav__items a {
}

header .gnb_menu .btn_close{
  cursor: pointer;
  position: absolute;
  top: 31px;
  right: 40px;
}

header .gnb_menu .footer {
  bottom: 135px;
  left: 118px;
}


header .gnb_menu{
  display: flex;
}

header .logo {
  width: auto;
}

header .logo .txt {
  display: flex;
}

header .logo .txt a {
  display: flex;
  align-items: center;
  margin-left: 58px;
  font-family: HanwhaGothicB_OTF;
  font-size: 16px;
  color: #fff;
}

header .logo .txt span {
  display: flex;
  align-items: center;
  margin: -4px 0 0 13px;
  font-family: HanwhaGothicB_OTF;
  font-size: 20px;
  color: #fff;
}

header .logo .txt span strong {
  display: flex;
  align-items: center;
  width: 14px;
  height: 14px;
  margin: 5px 0 3px 7px;
  object-fit: contain;
  background: url('../images/pc/ic_sub_more.svg') no-repeat 0 0;
}

header .btn_menu {
  display: none;
}

header .gnb_menu {
  visibility: visible;
  z-index: 1;
  position: static;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  transform: translateX(0%);
  background-color: transparent;
}

header .gnb_menu .header__nav__items {
  display: flex;
  margin: 0;
}

header .gnb_menu .header__nav__items .header__nav__link {
  display: block;
  height: 22px;
  margin: 0 0 0 0;
  font-family: HanwhaGothicR_OTF;
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
}

header .gnb_menu .header__nav__items .header__nav__items_sub {
  display: none;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  top: 55px;
  left: 0;
}
header .gnb_menu .header__nav__items .header__nav__items_sub.active {
  display: flex;
}

header .gnb_menu .header__nav__items li.inquiry {
  display: block;
}

header .gnb_menu .header__nav__items a {
  display: flex;
  align-items: center;
  margin: 0;
  font-family: HanwhaGothicL_OTF;
  font-size: 19px;
  color: #fff;
}

header .gnb_menu .header__nav__items_right .sales-inquiry {
  background: transparent
}

/* header .gnb_menu .header__nav__items_right .sales-inquiry {
  background-color:#f60;
} */

header button.inquiry {
  cursor: pointer;
  font-family: HanwhaGothicB_OTF;
  font-size: 16px;
  color: #fff;
  justify-content: center;
  border-radius: 21px;
  background-color: transparent;
  box-sizing: border-box;
}

header .more_btn a, header button.inquiry {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18.5px;
  background-color: #000;
  opacity: 1;
  font-family: HanwhaGothicB_OTF;
  font-size: 16px;
  letter-spacing: 0.52px;
  color: #fff;
  box-sizing: border-box;
}

header.active button.inquiry {
  background-color: #f60;
}

header .more_btn  a.distributor {
  background-color: #000;
}

header .more_btn {
  display: none;
}

header .btn_close {
  display: none;
}

main.about, main.management-policy, main.products {
  padding: 190px 0 0 0;
  max-width: none;
}

main .main {
  width: 100%;
}

.about .section_1, .management-policy .section_1 {
  position: relative; /* 위치 지정을 위해 상대 위치 설정 */
  padding: 0 60px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  z-index: 3;
}

.about .section_1, .management-policy .section_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about .section_1 .group, .management-policy .section_1 .group {
  width: 100%;
}

.about .section_1 .group1 .title, .management-policy .section_1 .group1 .title {
  font-family: HanwhaGothicB_OTF;
  font-size: 113px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.about .section_1 .group1 .txt1, .management-policy .section_1 .group1 .txt1 {
  margin-top: 15px;
  font-family: HanwhaGothicEL_OTF;
  font-size: 31px;
  line-height: 1.39;
  letter-spacing: normal;
  color: #000;
}

.products .section_1, .management-policy .section_1 {
  position: relative; /* 위치 지정을 위해 상대 위치 설정 */
  padding: 0 60px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  z-index: 3;
}

.products .section_1 .group, .management-policy .section_1 .group {
  width: 100%;
}

.products .section_1 .group1 .title, .management-policy .section_1 .group1 .title {
  font-family: HanwhaGothicB_OTF;
  font-size: 113px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.products .section_1 .group1 .txt1, .management-policy .section_1 .group1 .txt1 {
  margin-top: 15px;
  font-family: HanwhaGothicEL_OTF;
  font-size: 31px;
  line-height: 1.39;
  letter-spacing: normal;
  color: #000;
}

.en .about .section_1 .group1 .txt1 {
  line-height: 1.2;
  letter-spacing: -0.01em;

}

.about .section_1 .group2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  width: 1080px;
  margin-top: 80px;
}

.about .section_1 .group2 .img1 {
  width: 1080px;
  height: 631px;
  overflow: hidden; /* 이미지가 컨테이너를 벗어나지 않게 합니다. */
  border-radius: 20px 315px 315px 20px;
}
.about .section_1 .group2 .clip-image {
  animation: closeUpMove 3s forwards; /* 애니메이션 이름, 지속시간, 무한반복, 정방향과 역방향으로 진행 */
  transform: scale(1); /* 초기 크기 */
}
.about .section_1 .group2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about .section_1 .group2 .title {
  display: flex;
  align-self: flex-start;
  width: 800px;
  margin-top: 70px;
  font-family: HanwhaGothicR_OTF;
  font-size: 31px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}


.en .about .section_1 .group2 .title {
  font-size: 30px;
  line-height: 42px;
}

.about .section_1 .group2 .txt1 {
  display: flex;
  align-self: flex-start;
  width: 800px;
  margin: 32px 0 0 0;
  font-family: HanwhaGothicEL_OTF;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.en .about .section_1 .group2 .txt1 {
  line-height: 1.4;
  letter-spacing: -0.01em;
}

.about .section_1 .group3 {
  width: 626px;
  margin-top: 250px;
  padding: 0 0 0 193px;
}

.about .section_1 .group3 .txt1 {
  font-family: HanwhaGothicEL_OTF;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.about .section_1 .group3 .txt2 {

  margin-top: 50px;
  font-family: HanwhaGothicR_OTF;
  font-size: 42px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.en .about .section_1 .group3 .txt2 {
  font-size: 38px;
  line-height:1.2;
}

.about .section_1 .group4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: -287px 0 0 0;
  padding-right: 210px;
}

.about .section_1 .group4 img {
  width: 370px;
  height: 487px;
  object-fit: contain;
  border-radius: 20px;
}

.about .section_2 {
  margin-top: 250px;
  padding: 238px 0 209px;
  background-color: #f0e6de;
}

.about .section_2_inner {
  max-width: 1400px;
  margin: 0 auto;
}

.about .section_2 .row {
  display: flex;
  flex-direction: row;
  padding-bottom: 121px;
  gap: 55px;
}

.about .section_2 .row .box {
  position: relative;
  width: 50%;
  height: 756px;
  margin: 0 0 0 0;
  padding: 78px 0 0 84px;
  border-radius: 20px 100px 100px 100px;
  border: solid 1px #000;
}


.about .section_2 .row .mission {
  top: 100px;
  /* transition: top 0.5s linear;  */
  /* 애니메이션 효과 */
}

.about .section_2 .row .box .title{
  font-family: HanwhaGothicB_OTF;
  font-size: 81px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.37;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.about .section_2 .row .box .txt1 {
  width: 90%;
  margin-top: 10px;
  font-family: HanwhaGothicEL_OTF;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 28px;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.en .about .section_2 .row .box .txt1 {
  line-height: 1.4;
}

.about .section_2 .row img {
  position:absolute;
  bottom: -21px;
  right: -21px;
  width: 341px;
  height: 434px;
  object-fit: contain;
}

.about .section_2 .column {
  margin-top: 260px;
}

.about .section_2 .column .title_top {
  font-family: HanwhaGothicB_OTF;
  font-size: 81px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.37;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.about .section_2 .column .list_wrap {
  position:relative;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  margin-top: 2vw;
}

.about .section_2 .column .imageScroll {
  z-index: 1;
  position: sticky;
  top: 60vh;
  left: 0;
}

.about .section_2 .column .imageScroll_inner {
  position: relative;
  -webkit-transform: translate(-1%);
  transform: translate(-1%);
  transition: all 0.3s ease; /* 애니메이션 효과 */
}

.about .section_2 .column .list {
  display: flex;
  flex-direction: row;
  padding: 56px 0 56px 0;
  border-top: 1px solid #000;
}

.about .section_2 .column .list .title_round {
  display: flex;
  width: 177px;
  height: 177px;
  font-family: HanwhaGothicB_OTF;
  font-size: 81px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 177px;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  justify-content: center;
  border: solid 1px #000;
  border-radius: 50%;
}

.about .section_2 .column .list .thumb {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.about .section_2 .column .list .thumb .title {
  font-family: HanwhaGothicB_OTF;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.about .section_2 .column .list .thumb .text {
  font-family: HanwhaGothicB_OTF;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.about .section_2 .column .img {
  position: absolute;
  top: 20px;
  right: 0;
  -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
  clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
  transition: -webkit-clip-path .4s cubic-bezier(.215,.61,.355,1);
  transition: clip-path .4s cubic-bezier(.215,.61,.355,1);
  transition: clip-path .4s cubic-bezier(.215,.61,.355,1),-webkit-clip-path .4s cubic-bezier(.215,.61,.355,1);
}
.about .section_2 .column .img.hideTop {
  -webkit-clip-path: polygon(0 0,100% 0,100% 0,0 0);
  clip-path: polygon(0 0,100% 0,100% 0,0 0);
}
.about .section_2 .column .img.hideBottom {
  -webkit-clip-path: polygon(0 100%,100% 100%,100% 100%,0 100%);
  clip-path: polygon(0 100%,100% 100%,100% 100%,0 100%);
}

.about .section_2 .column img {
  width: 540px;
  height: 381px;
  transform: translate3d(0px, 0px, 0px, 0px);
  content-visibility: visible;
}

.about .section_2 .column .list .img {
  display: none;
}

.sub.cookie {
  max-width: 840px;
  justify-content: center;
  flex-direction: column;
  margin-top: 258px;
}

.sub.cookie .title {
  display: flex;
  font-family: HanwhaGothicB_OTF;
  font-size: 50px;
  line-height: 2;
  color: #000;
}

.sub.cookie .desc2 {
  font-family: HanwhaGothicEL_OTF;
  font-size: 15px;
  line-height: 1.67;
  color: #000;
}

.sub.cookie .desc2 .orange {
  font-family: HanwhaGothicB_OTF;
  color: #f60;
}

.sub.cookie .desc2 a {
  font-family: HanwhaGothicB_OTF;
  font-size: 15px;
  line-height: 1.67;
  color: #000;
  text-decoration: underline;
}

.sub.cookie .title3 {
  display: flex;
  margin-top: 40px;
  font-family: HanwhaGothicB_OTF;
  font-size: 24px;
  line-height: 2.92;
  color: #000;
}


.sub.cookie .block {
  margin-top: 30px;
  padding-top: 25px;
  border-top: solid 1px #707070;
}

.sub.cookie .block [type=checkbox] {
  width: 26px;
  height: 26px;
  border-radius: 2px;
  border: solid 1px #707070;
  vertical-align: middle;
}


.sub.cookie .block [type=checkbox]:checked {
  background: url('../images/pc/ic_checkbox.svg') no-repeat center center;
}

.sub.cookie .block .checkbox label {
  font-family: HanwhaGothicR_OTF;
  font-size: 18px;
  line-height: 3;
  color: #000;
}

.sub.cookie .btn_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-top: 30px;
  border-top: solid 1px #707070;
}

.sub.cookie .btn_wrap .btn_left button.save {
  min-width: 135px;
  height: 43px;
  padding: 14px 20px 13px 21px;
  font-family: HanwhaGothicB_OTF;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  border-radius: 21.5px;
  background-color: #000;
  box-sizing: border-box;
}

.sub.cookie .btn_wrap .btn_left button.deny {
  min-width: 135px;
  height: 43px;
  padding: 14px 20px 13px 21px;
  font-family: HanwhaGothicB_OTF;
  font-size: 14px;
  line-height: 1;
  color: #000;
  border-radius: 21.5px;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
}

.sub.cookie .btn_wrap .btn_right button.agree {
  height: 43px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: HanwhaGothicB_OTF;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  padding: 14px 20px 13px 21px;
  border-radius: 21.5px;
  background-color: #f37321;
  box-sizing: border-box;
}



