<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout.html}">
<body>
      <div layout:fragment="content">
          <main class="main">
            <section class="section1">
              <div class="bg_section"></div>
              <div class="contents">

                <div class="main_txt">

                  <div class="title">Quality & Trust</div>
                  <!-- <div class="txt">
                    품질과 신뢰성을 기반으로<br />
                    차별화된 기술과 솔루션을<br />
                    제공합니다.
                  </div> -->
                  <div class="txt" th:utext="#{main.quality}"></div>
                  <div class="move_to_intro">
                    <!-- <a href="/about">
                      한화로보틱스 소개<br />보러가기
                      <span></span>
                    </a> -->
                    <a href="/about" th:utext="#{main.trust}"></a>
                  </div>

                </div>
              </div>

              <div class="update updatesDiv">
                <div class="title">Updates</div>
                <div class="txt updatesContentDiv">
                      <!-- <div>조회결과가 없습니다.</div> -->
                      <div th:utext="#{main.noUpdates}"></div>
                </div>
              </div>
            </section>

            <section class="section_bottom">
              <section class="section2">
                <div class="primary_box box">
                  <a href="https://o.hanwharobotics.com/" target="_blank">
                    <div class="contents">
                      <div class="pc_title title">Robots</div>
                      <div class="mobile_title title">Robots</div>
                      <!-- <div class="pc_txt txt">
                        사람과 함께 일하는 협동 로봇
                      </div> -->
                      <div class="pc_txt txt" th:utext="#{main.robots1}"></div>
                      <!-- <div class="not_pc_txt txt">
                        사람과 함께 일하는<br />협동 로봇
                      </div> -->
                      <div class="not_pc_txt txt" th:utext="#{main.robots2}"></div>
                      <!-- <div class="detail">
                        자세히 보기
                        <span></span>
                      </div> -->
                      <div class="detail" th:utext="#{main.learnMore}"></div>
                    </div>
                  </a>
                </div>

                <div class="second_box box">
                  <a href="https://www.hanwhacorp.co.kr/momentum/business/logistics.jsp" target="_blank">
                    <div class="contents">
                      <div class="pc_title title">AGV/AMR</div>
                      <div class="mobile_title title">AGV/AMR</div>
                      <!-- <div class="pc_txt txt">
                        안전하고 효율적인 모빌리티 솔루션
                      </div> -->
                      <div class="pc_txt txt" th:utext="#{main.agv1}"></div>
                      <!-- <div class="not_pc_txt txt">
                        안전하고 효율적인<br />모빌리티 솔루션
                      </div> -->
                      <div class="not_pc_txt txt" th:utext="#{main.agv2}"></div>
                      <!-- <div class="detail">
                        자세히 보기
                        <span></span>
                      </div> -->
                      <div class="detail" th:utext="#{main.learnMore}"></div>
                    </div>
                  </a>
                </div>

              </section>

              <section class="section3">

                <section class="section3_inner">
                  <div class="board_wrap">
                    <div class="board news">
                      <div class="title">Newsroom</div>
                      <div class="newsroomDiv">
                          <div class="list">
                                <!-- <div class="list_title">
                                      조회 결과가 없습니다.
                                </div> -->
                                <div class="list_title" th:utex="#{main.noLists}"></div>
                          </div>
                      </div>
                    </div>
                  </div>

                  <div class="recruit">
                    <a href="/contact/inquiry">
                      <strong>INQUIRIES</strong>
                      <!-- <span class="pc">한화로보틱스 제품 및 대리점 모집 관련<br />궁금한 점을 문의해주세요.</span> -->
                      <span class="pc" th:utext="#{main.inquiryPc}"></span>
                      <!-- <span class="tablet">한화로보틱스 제품 및<br />대리점 모집 관련<br />궁금한 점을 문의해주세요.</span> -->
                      <span class="tablet" th:utext="#{main.inquiryTablet}"></span>
                    </a>
                  </div>
                </section>
              </section>
            </section>
          </main>



          <script id="updates-tmpl" type="x-tmpl-mustache">
                {{#list}}
                      <div onclick="location.href='/newsroom/notice/{{newsroomNo}}?to=main'" style="cursor:pointer">{{title}}</div>
                {{/list}}
          </script>


          <script id="newsroom-tmpl" type="x-tmpl-mustache">
                {{#list}}
                      <div class="list">
                        <a href="{{href}}" >
                          <div class="list_title">
                            {{title}}
                          </div>
                          <div class="list_date">
                            {{createDt}}
                          </div>
                        </a>
                      </div>
                {{/list}}
          </script>
      </div>

</body>
      <th:block layout:fragment="script">
            <script>

                  // document.addEventListener('DOMContentLoaded', function () {
                  //     if(localStorage.chk1Yn == undefined || localStorage.chk1Yn == null) {
                  //         layerCookieOpenBtn();
                  //     }
                  // });

                  $(document).ready(function () {
                        getMainUpdates();
                        getMainNewsroom();
                  });

                  function getMainUpdates(){
                        COMM.ajax({
                              url : "/main/updates",
                              success : function(data) {
                                    if(data.code === 200 &&  data.data != null  && data.data.length > 0){
                                          // console.log(data)
                                        var template = $("#updates-tmpl").html();
                                        var rendered = Mustache.render(template, {'list' : data.data});
                                        $('.updatesContentDiv').html(rendered);
                                    }
                              },
                              error : function(jqXHR, textStatus, errorThrown){
                                    console.log(jqXHR.status, jqXHR);

                              }
                        });
                  }

                  function getMainNewsroom(){
                        COMM.ajax({
                              url : "/main/newsroom",
                              success : function(data) {
                                    if(data.code === 200 &&  data.data != null && data.data.length > 0){
                                          $(data.data).map(function(i, e){
                                              var typeCdNm =  e.typeCdNm != null ? e.typeCdNm.toLowerCase() : 'notice';
                                              e.href = "newsroom" + "/" + typeCdNm;
                                              if(typeCdNm != 'ir') e.href += "/" + e.newsroomNo + '?to=main'
                                              e.createDt = e.createDt ? e.createDt.replaceAll('-','.') : e.createDt;
                                          });
                                          var template = $("#newsroom-tmpl").html();
                                          var rendered = Mustache.render(template, {'list' : data.data});
                                          $('.newsroomDiv').html(rendered);

                                    }
                              },
                              error : function(jqXHR, textStatus, errorThrown){
                                    console.log(jqXHR.status, jqXHR);

                              }
                        });
                  }
            </script>
      </th:block>
</html>