<!DOCTYPE html>
<html lang="ko">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
  <meta name="google-site-verification" content="wqf8tEmY7_34-_37qAtBLT3-Sv-0DcLkfVzqEQSEXbQ" />

  <title>한화로보틱스</title>
  <link rel="shortcut icon" href="./images/favicon.png">

  <link rel="preconnect" href="https://ajax.googleapis.com" />
  <link rel="preconnect" href="https://cdn.jsdelivr.net" crossOrigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" crossOrigin="anonymous" />

  <meta name="description" content="한화로보틱스는 기술 품질과 신뢰를 경영의 제1원칙으로 설정해 미래를 내다보는 차별화된 기술과 솔루션을 제공하겠습니다." />
  <meta name="keywords" content="한화로보틱스" />

  <meta property="og:title" content="한화로보틱스" />
  <meta property="og:description" content="한화로보틱스는 기술 품질과 신뢰를 경영의 제1원칙으로 설정해 미래를 내다보는 차별화된 기술과 솔루션을 제공하겠습니다." />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />

  <link rel="stylesheet" rel="preload" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />
  <link rel="stylesheet" href="./css/common.css" />
  <link rel="stylesheet" href="./css/main.css" />
</head>

<body class="pc">
  <header id="header" class="main_header">
  </header>


  <main class="main">
    <section class="section1">
      <div class="bg_section"></div>
      <div class="contents">

        <div class="main_txt">

          <div class="title">Quality & Trust</div>
          <div class="txt">
            품질과 신뢰성을 기반으로<br />
            차별화된 기술과 솔루션을<br />
            제공합니다.
          </div>
          <div class="move_to_intro">
            <a href="/about">
              한화로보틱스 소개<br />보러가기
              <span></span>
            </a>
          </div>

        </div>
      </div>

      <!-- <div class="contents">
        <div class="main_txt">

          <div class="title">Together</div>
          <div class="txt">
            한화로보틱스는<br />
            함께 일하는 세상을<br />
            꿈꿉니다.
          </div>
          <div class="move_to_intro">
            <a href="/about">
              한화로보틱스 소개<br />보러가기
              <span></span>
            </a>
          </div>

        </div>
      </div>

      <div class="contents">
        <div class="main_txt">

          <div class="title">Safe</div>
          <div class="txt">
            한화로보틱스는<br />
            더 안전한 세상을<br />
            꿈꿉니다.
          </div>
          <div class="move_to_intro">
            <a href="/about">
              한화로보틱스 소개<br />보러가기
              <span></span>
            </a>
          </div>

        </div>
      </div>

      <div class="contents">
        <div class="main_txt">

          <div class="title">Flexible</div>
          <div class="txt">
            한화로보틱스는<br />
            변화를 두려워하지 않는<br />
            세상을 꿈꿉니다.
          </div>
          <div class="move_to_intro">
            <a href="/about">
              한화로보틱스 소개<br />보러가기
              <span></span>
            </a>
          </div>

        </div>
      </div> -->

      <div class="update">
        <div class="title">Updates</div>
        <div class="txt">
          <div>소프트웨어 1.4 업데이트 버전이 배포되었습니다.</div>
          <div>신제품 HCR-8A가 출시되었습니다.</div>
          <div>소프트웨어 1.35 업데이트 버전이 배포되었습니다.</div>
        </div>
      </div>
    </section>

    <section class="section_bottom">
      <section class="section2">
        <div class="primary_box box">
          <a href="https://o.hanwharobotics.com/" target="_blank">
            <div class="contents">
              <div class="pc_title title">Robots</div>
              <div class="mobile_title title">Robots</div>
              <div class="pc_txt txt">
                사람과 로봇이 함께, 또는 따로 하는<br />완벽한 업무수행
              </div>
              <div class="not_pc_txt txt">
                사람과 로봇이 함께,<br />또는 따로 하는<br />완벽한 업무수행
              </div>
              <div class="detail">
                자세히 보기
                <span></span>
              </div>
            </div>
          </a>
        </div>

        <div class="second_box box">
          <a href="https://www.hanwhacorp.co.kr/momentum/business/logistics.jsp" target="_blank">
            <div class="contents">
              <div class="pc_title title">AGV/AMR</div>
              <div class="mobile_title title">AGV/AMR</div>
              <div class="pc_txt txt">
                경험과 기술력으로 만들어지는<br />최적화된 물류 솔루션
              </div>
              <div class="not_pc_txt txt">
                경험과 기술력으로<br />만들어지는<br />최적화된 물류 솔루션
              </div>
              <div class="detail">
                자세히 보기
                <span></span>
              </div>
            </div>
          </a>
        </div>

      </section>

      <section class="section3">
        <section class="section3_inner">
          <div class="board_wrap">
            <div class="board news">
              <div class="title"><a href="#" target="_blank">Newsroom</a></div>
              <div class="list">
                <a href="#" target="_blank">
                  <div class="list_title">
                    (주)한화, 협동로봇 신제품 출시로 시장 공략 강화
                  </div>
                  <div class="list_date">
                    2023.08.23
                  </div>
                </a>
              </div>
              <div class="list">
                <a href="#" target="_blank">
                  <div class="list_title">
                    EMO 2019 전시회 참가(9/16 ~ 21)
                  </div>
                  <div class="list_date">
                    2023.08.23
                  </div>
                </a>
              </div>
              <div class="list">
                <a href="#" target="_blank">
                  <div class="list_title">
                    중국 CIIF 전시회(19.9.17 ~ 21)
                  </div>
                  <div class="list_date">
                    2023.08.23
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="board_wrap">
            <div class="board inquire">
              <div class="title"><a href="#" target="_blank">Inquire</a></div>
              <div class="list">
                <a href="#" target="_blank">
                  <div class="list_title">
                    유선문의
                  </div>
                  <div class="list_date">
                    031 . 8092 . 5627
                  </div>
                </a>
              </div>
              <div class="list">
                <a href="#" target="_blank">
                  <div class="list_title">
                    이메일 문의
                  </div>
                  <div class="list_date">
                    robot_inquiry@hanwha.com
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section>

        <div class="recruit">
          <a href="#">
            <strong>RECRUIT</strong>
            <span class="pc">한화로보틱스와 함께 로봇산업을 이끌어 갈<br />패기와 열정을 가진 여러분을 환영합니다.</span>
            <span class="tablet">한화로보틱스와 함께<br />로봇산업을 이끌어 갈<br />패기와 열정을 가진 여러분을<br />환영합니다.</span>
          </a>
        </div>
      </section>
    </section>
  </main>

  <footer id="footer">
  </footer>

  <div class="layer_wrap"></div>

  <script text="text/javascript" src="./js/jquery.min.js"></script>
  <script type="text/javascript" src="./js/aos.js"></script>

  <script text="text/javascript" src="./js/gsap.min.js"></script>
  <script text="text/javascript" src="./js/ScrollTrigger.min.js"></script>

  <!-- 패럴렉스 -->
  <script type="text/javascript" src="./js/ScrollMagic.min.js"></script>
  <script type="text/javascript" src="./js/animation.gsap.js"></script>

  <script src="./js/library.js"></script>
  <script src="./js/common.js"></script>
  <script src="./js/main.js"></script>

</body>

</html>