<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout/main_layout.html}">
<body>
      <div layout:fragment="content">   
            
            <main class="main">
                  <section class="section1">
                  <div class="bg_section"></div>
            
                  <div class="contents">
                  <div class="main_txt">
            
                        <div class="title">Together</div>
                        <div class="txt">
                        한화로보틱스는<br />
                        함께 일하는 세상을<br />
                        꿈꿉니다.
                        </div>
                        <div class="move_to_intro">
                        <a href="/about">
                        한화로보틱스 소개<br />보러가기
                        <span></span>
                        </a>
                        </div>
            
                  </div>
            
                  <div class="update">
                        <div class="title">Updates</div>
                        <div class="txt">
                        <div>소프트웨어 1.4 업데이트 버전이 배포되었습니다.</div>
                        <div>신제품 HCR-8A가 출시되었습니다.</div>
                        <div>소프트웨어 1.35 업데이트 버전이 배포되었습니다.</div>
                        </div>
                  </div>
                  </div>
            
                  <div class="contents">
                  <div class="main_txt">
            
                        <div class="title">Safe</div>
                        <div class="txt">
                        한화로보틱스는<br />
                        더 안전한 세상을<br />
                        꿈꿉니다.
                        </div>
                        <div class="move_to_intro">
                        <a href="/about">
                        한화로보틱스 소개<br />보러가기
                        <span></span>
                        </a>
                        </div>
            
                  </div>
            
                  <div class="update">
                        <div class="title">Updates</div>
                        <div class="txt">
                        <div>소프트웨어 1.4 업데이트 버전이 배포되었습니다.</div>
                        <div>신제품 HCR-8A가 출시되었습니다.</div>
                        <div>소프트웨어 1.35 업데이트 버전이 배포되었습니다.</div>
                        </div>
                  </div>
                  </div>
            
                  <div class="contents">
                  <div class="main_txt">
            
                        <div class="title">Flexible</div>
                        <div class="txt">
                        한화로보틱스는<br />
                        변화를 두려워하지 않는<br />
                        세상을 꿈꿉니다.
                        </div>
                        <div class="move_to_intro">
                        <a href="/about">
                        한화로보틱스 소개<br />보러가기
                        <span></span>
                        </a>
                        </div>
            
                  </div>
            
                  <div class="update">
                        <div class="title">Updates</div>
                        <div class="txt">
                        <div>소프트웨어 1.4 업데이트 버전이 배포되었습니다.</div>
                        <div>신제품 HCR-8A가 출시되었습니다.</div>
                        <div>소프트웨어 1.35 업데이트 버전이 배포되었습니다.</div>
                        </div>
                  </div>
                  </div>
                  </section>
            
                  <section class="section2">
                  <div class="primary_box box">
                  <a href="https://o.hanwharobotics.com/" target="_blank">
                        <div class="contents">
                        <div class="pc_title title">Robots</div>
                        <div class="mobile_title title">Robots</div>
                        <div class="pc_txt txt">
                        사람과 로봇이 함께, 또는 따로 하는<br />완벽한 업무수행
                        </div>
                        <div class="not_pc_txt txt">
                        사람과 로봇이 함께,<br />또는 따로 하는<br />완벽한 업무수행
                        </div>
                        <div class="detail">
                        자세히 보기
                        <span></span>
                        </div>
                        </div>
                  </a>
                  </div>
            
                  <div class="second_box box">
                  <a href="https://www.hanwhacorp.co.kr/momentum/business/logistics.jsp" target="_blank">
                        <div class="contents">
                        <div class="pc_title title">AGVs</div>
                        <div class="mobile_title title">AGVs</div>
                        <div class="pc_txt txt">
                        경험과 기술력으로 만들어지는<br />최적화된 물류 솔루션
                        </div>
                        <div class="not_pc_txt txt">
                        경험과 기술력으로<br />만들어지는<br />최적화된 물류 솔루션
                        </div>
                        <div class="detail">
                        자세히 보기
                        <span></span>
                        </div>
                        </div>
                  </a>
                  </div>
                  
                  </section>
            
                  <section class="section3">
                  <div class="board_wrap">
                  <div class="board news">
                        <div class="title"><a href="#" target="_blank">Newsroom</a></div>
                        <div class="list">
                        <a href="#" target="_blank">
                        <div class="list_title">
                              (주)한화, 협동로봇 신제품 출시로 시장 공략 강화
                        </div>
                        <div class="list_date">
                              2023.08.23
                        </div>
                        </a>
                        </div>
                        <div class="list">
                        <a href="#" target="_blank">
                        <div class="list_title">
                              EMO 2019 전시회 참가(9/16 ~ 21)
                        </div>
                        <div class="list_date">
                              2023.08.23
                        </div>
                        </a>
                        </div>
                        <div class="list">
                        <a href="#" target="_blank">
                        <div class="list_title">
                              중국 CIIF 전시회(19.9.17 ~ 21)
                        </div>
                        <div class="list_date">
                              2023.08.23
                        </div>
                        </a>
                        </div>
                  </div>
                  </div>
            
                  <div class="board_wrap">
                  <div class="board inquire">
                        <div class="title"><a href="#" target="_blank">Inquire</a></div>
                        <div class="list">
                        <a href="#" target="_blank">
                        <div class="list_title">
                              유선문의
                        </div>
                        <div class="list_date">
                              031 . 8092 . 5627
                        </div>
                        </a>
                        </div>
                        <div class="list">
                        <a href="#" target="_blank">
                        <div class="list_title">
                              이메일 문의
                        </div>
                        <div class="list_date">
                              robot_inquiry@hanwha.com
                        </div>
                        </a>
                        </div>
                  </div>
                  </div>
            
                  <div class="recruit">
                  <a href="#"></a>
                  </div>
                  </section>
            </main>
      </div>


</body>
</html>