<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body data-gnb-target="cobot">

<main layout:fragment="content" class="robot-introduce" th:if="#{header.nation} == 'EN'">

<!--  <main class="robot-introduce" th:if="#{header.nation} == 'EN'">-->
    <section class="title">
      <h2>협동로봇</h2>
      <h1>제품소개</h1>
      <p>한화로보틱스의 HCR 시리즈는 정밀 설계, 제어 기술 기반의 고품격<br/>
        협동로봇 브랜드입니다.<br/>
        다양한 산업군에 사용될 수 있는 HCR 시리즈를 만나보세요.</p>

      <div class="btn_question" onclick="layerInquiryBtn(2)">구매/견적 문의<span class="circle"></span></div>


    </section>

    <section class="visual">
      <img src="../images/pc/robot_intro_banner.webp" alt=""/>
    </section>

    <section class="contents">
      <div class="desc">
        <div class="cobot">
          <h2>Cobot</h2>
          <div class="txt">
            협동로봇은 사람과 같은 작업 공간을 공유할 수 있는 로봇입니다. 작업자 보호를 위해 안전펜스를 설치해야 하는 산업용 로봇과 달리 협동로봇은 펜스 설치가
            최소화되거나 필요하지 않아 작업의 공간, 공정 및 시간 효율성을 높일 수 있습니다.
          </div>
        </div>
        <div class="hcr">
          <h2>HCR<span>(Hanwha Collaborative Robots)</span></h2>
          <div class="txt">
            한화로보틱스의 HCR은 한화로보틱스의 정밀 설계, 제어 기술 기반의 고품격 협동로봇 브랜드입니다.
            다양한 산업 분야에서 자동화를 지원하는 신뢰성 높은 제품과 솔루션을 제공하고 있습니다.
          </div>
        </div>
      </div>

      <div class="robot-slide">
        <div class="slide-item">
          <div class="item-img"><img src="../images/product/HCR-3A.webp"/></div>
          <div class="item-desc">
            <h3>HCR-3A</h3>
            <div><span>가반하중</span> | 3kg</div>
            <div><span>구동번위</span> | 1420mm</div>
          </div>
        </div>
        <div class="slide-item">
          <div class="item-img"><img src="../images/product/HCR-5A.webp"/></div>
          <div class="item-desc">
            <h3>HCR-5A</h3>
            <div><span>가반하중</span> | 2kg</div>
            <div><span>구동번위</span> | 420mm</div>
          </div>
        </div>
        <div class="slide-item">
          <div class="item-img"><img src="../images/product/HCR-5A.webp"/></div>
          <div class="item-desc">
            <h3>HCR-5W</h3>
            <div><span>가반하중</span> | 2kg</div>
            <div><span>구동번위</span> | 420mm</div>
          </div>
        </div>
        <div class="slide-item">
          <div class="item-img"><img src="../images/product/HCR-10L.webp"/></div>
          <div class="item-desc">
            <h3>HCR-10L</h3>
            <div><span>가반하중</span> | 2kg</div>
            <div><span>구동번위</span> | 420mm</div>
          </div>
        </div>
        <div class="slide-item">
          <div class="item-img"><img src="../images/product/HCR-12.webp"/></div>
          <div class="item-desc">
            <h3>HCR-12</h3>
            <div><span>가반하중</span> | 2kg</div>
            <div><span>구동번위</span> | 420mm</div>
          </div>
        </div>
        <div class="slide-item">
          <div class="item-img"><img src="../images/product/HCR-14.webp"/></div>
          <div class="item-desc">
            <h3>HCR-14</h3>
            <div><span>가반하중</span> | 2kg</div>
            <div><span>구동번위</span> | 420mm</div>
          </div>
        </div>
      </div>

      <div class="txt-why">
        왜 한화 HCR을 선택해야 할까요?
      </div>

      <div class="box-why">
        <div class="box-col">
          <h4>품질 및 내구성</h4>
          <div>하이엔드 감속기, 검증된 부품 및 메탈 소재를 적용하여 높은 신뢰성 확보</div>
        </div>
        <div class="box-col">
          <h4>높은 정밀도 및 사용성</h4>
          <div>자체 개발한 제어 및 운영 SW를 기반으로 높은 제어
            성능과 유연한 운용 환경 제공
          </div>
        </div>
        <div class="box-col">
          <h4>안전/환경 인증</h4>
          <div>국내외 안전 인증 및 협동로봇 중 가장 높은 등급
            (ISO Class 2)의 클린룸 인증 획득
          </div>
        </div>
      </div>

      <div class="box-reason">
        <div class="tit-reason"><span>한화로보틱스,</span> 선택의 이유</div>
        <p class="txt-reason">HCR과 함께 제공하는 한화로보틱스의 첨단 기술력을 적용해 자동화 효율을 높여 보세요.</p>
        <div class="reasons">
          <div class="reason-col">
            <div class="tit">RAIV<br/><span>(Robot AI Vision)</span></div>
            <div>AI 및 딥러닝 기반의 3D Vision 솔루션으로<br/>
              다양한 크기와 형태의 물체 인식 가능
            </div>
          </div>
          <div class="reason-col">
            <div class="tit">Visual Safety</div>
            <div>이중화된 3D 카메라와 기능 안전을 기반으로<br/>
              펜스 없이 안전하게 로봇 구동
            </div>
          </div>
          <div class="reason-col">
            <div class="tit">2D Marker<br/>Positioning</div>
            <div>2D 비전과 마커를 기반으로 이동식 협동로봇<br/>에서 로봇암의 위치 보정</div>
          </div>
        </div>
      </div>

      <div class="box-app">
        <h2>Application</h2>
        <ul>
          <li>
            <img src="../images/product/thumb_app1.webp"/>
            <div class="app-tit">Assembly</div>
            <div class="app-desc">조립</div>
          </li>
          <li>
            <img src="../images/product/thumb_app2.webp"/>
            <div class="app-tit">Dispensing</div>
            <div class="app-desc">분배</div>
          </li>
          <li>
            <img src="../images/product/thumb_app3.webp"/>
            <div class="app-tit">Food & Beverage</div>
            <div class="app-desc">식음료 제조</div>
          </li>
          <li>
            <img src="../images/product/thumb_app4.webp"/>
            <div class="app-tit">Inspection</div>
            <div class="app-desc">검사</div>
          </li>
          <li>
            <img src="../images/product/thumb_app5.webp"/>
            <div class="app-tit">Machine Tending</div>
            <div class="app-desc">공작기계 머신텐딩</div>
          </li>
          <li>
            <img src="../images/product/thumb_app6.webp"/>
            <div class="app-tit">Mold Handling</div>
            <div class="app-desc">금형 처리(몰드처리)</div>
          </li>
          <li>
            <img src="../images/product/thumb_app7.webp"/>
            <div class="app-tit">Packaging</div>
            <div class="app-desc">포장</div>
          </li>
          <li>
            <img src="../images/product/thumb_app8.webp"/>
            <div class="app-tit">Palletizing</div>
            <div class="app-desc">팔레타이징</div>
          </li>
          <li>
            <img src="../images/product/thumb_app9.webp"/>
            <div class="app-tit">Pick & Place</div>
            <div class="app-desc">선택 및 배치</div>
          </li>
          <li>
            <img src="../images/product/thumb_app10.webp"/>
            <div class="app-tit">Polishing/Grinding</div>
            <div class="app-desc">폴리싱/그라인딩</div>
          </li>
          <li>
            <img src="../images/product/thumb_app11.webp"/>
            <div class="app-tit">Welding</div>
            <div class="app-desc">용접</div>
          </li>
        </ul>
        <div class="app-button">
          <a href="/contact/inquiry">
            <span>구매/견적 문의</span>
          </a>
        </div>


      </div>
    </section>


<!--  </main>-->


</main>
</body>

<th:block layout:fragment="script">
  <script type="text/javascript">
    $(document).ready(function(){
      $('.robot-slide').slick({
        centerMode: true,
        centerPadding: '60px',
        slidesToShow: 3,
        infinite: true,
        speed: 500,
        dots: true,
        prevArrow: "<button type='button' class='slick-prev'><img src='../images/pc/robots_slider_arrow_left.svg' alt='' /></button>",
        nextArrow: "<button type='button' class='slick-next'><img src='../images/pc/robots_slider_arrow_right.svg' alt='' /></button>",
        responsive: [
          {
            breakpoint: 764,
            settings: {
              arrows: false,
              centerMode: false,
              centerPadding: '0px',
              slidesToShow: 1
            }
          },
        ],
        customPaging: function(slider, i) {
          if (i === 0) {
            return 'HCR-3A';
          } else if (i === 1) {
            return 'HCR-5A';
          } else if (i === 2) {
            return 'HCR-5W';
          } else if (i === 3) {
            return 'HCR-10L';
          } else if (i === 4) {
            return 'HCR-12';
          } else if (i === 5) {
            return 'HCR-14';
          }
        }
      });

    });
  </script>
</th:block>

</html>
