<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body data-gnb-target="contact">
<div layout:fragment="content">


  <main class="ecosystem-template-01 type2">
    <section class="ecosystem-template-01-title">
      <a href="/cobot/modulesystem">
        <img src="../images/pc/products_detail_arrow.png" />
      </a>
      <h1>자동화 시스템</h1>
    </section>

    <section class="product-info">
      <!-- 카테고리 -->
      <div class="product-category">
        <span th:utext="${robotResponse.categoryNm}"></span>
      </div>
      <!-- 타이틀 -->
      <div class="product-title" th:utext="${robotResponse.robotNm}"></div>
      <!-- 설명 -->
      <div class="product-desc" th:utext="${robotResponse.description}"></div>
    </section>


    <section class="product-image">
      <!-- 썸네일 or 동영상 -->
      <th:block th:each="file : ${robotFileList}">
        <img th:src="@{${file.filePath}}" alt="로봇 이미지" />
      </th:block>
    </section>



    <section class="product-app">
      <!-- 어플리케이션 정보 -->
      <div class="left" th:utext="${robotResponse.applicationInfo}"></div>
      <!-- 시나리오 -->
      <div class="right" th:utext="${robotResponse.scenario}"></div>
    </section>

    <section class="product-spec">
      <h2>Specifications</h2>
      <span th:utext="${robotResponse.productSpac}"></span>
    </section>

    <section class="ecosystem-template-01-section">
      <div class="tab-nav">
        <div class="tab-nav-wrapper">


          <input type="radio" id="nav0" name="nav" checked/>
          <label for="nav0">전체</label>
          <th:block th:each="robotCategory, stat : ${robotCategory}">
            <input type="radio" th:id="'nav' + ${stat.index + 1}"
                   th:data-category-no="${robotCategory.categoryNo}"
                   name="nav"/>
            <label th:for="'nav' + ${stat.index + 1}" th:text="${robotCategory.categoryNm}"></label>
          </th:block>

          <select class="tab-nav-mobile">
            <option value="nav_all" th:selected="true">전체</option>
            <th:block th:each="robotCategory, stat : ${robotCategory}">
              <option th:value="'nav' + ${stat.index}"
                      th:text="${robotCategory.categoryNm}"
                      th:onclick="'changeCategory(' + ${robotCategory.categoryNo} + ')'"
              ></option>
            </th:block>
          </select>


          <div class="tab-content-wrapper">

            <div id="nav1-content" class="nav-content">
              <div class="ecosystem-template-01-slider1" id="ecosystem-template-01-slider1">
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_02_thumb.jpeg" alt="" />
                  </div>
                  <p>Screwdriver</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_03_thumb.png" alt="" />
                  </div>
                  <p>Magbot Automatic Tool Changer</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_04_thumb.png" alt="" />
                  </div>
                  <p>PHD Pneu-Connect X2 Dual Pneumatic Grippers</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_05_thumb.png" alt="" />
                  </div>
                  <p>Pickit M-HD</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_06_thumb.jpeg" alt="" />
                  </div>
                  <p>HCT-1200</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_07.png" alt="" />
                  </div>
                  <p>Rodi-X software applications for ecosystem integration</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_08.png" alt="" />
                  </div>
                  <p>Vacuum Gripper Unit ZXP-X1(Compatible with HCR-3A)</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_09_thumb.png" alt="" />
                  </div>
                  <p>Pickit M</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_10.jpg" alt="" />
                  </div>
                  <p>SRP Cobot Palletiser</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_11.png" alt="" />
                  </div>
                  <p>MT01, MT02</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_12.jpg" alt="" />
                  </div>
                  <p>Air Gripper Unit for Hanwha Collaborative Robots (JMHZ2-HWRB01)</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_13_thumb.png" alt="" />
                  </div>
                  <p>Cognex In-Sight Vision Systems</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_14.jpg" alt="" />
                  </div>
                  <p>MT05 Loading Table</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_15.jpg" alt="" />
                  </div>
                  <p>Screen Protector</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_16.jpg" alt="" />
                  </div>
                  <p>Soft Grippers</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_17.jpg" alt="" />
                  </div>
                  <p>MT04 CNC ASSISTANT</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_18_thumb.jpeg" alt="" />
                  </div>
                  <p>Robotmaster V7</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_19_thumb.png" alt="" />
                  </div>
                  <p>3FG15</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_20_thumb.jpeg" alt="" />
                  </div>
                  <p>Hi400P</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_21_thumb.png" alt="" />
                  </div>
                  <p>AUTOMAPPPPS</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_22_thumb.png" alt="" />
                  </div>
                  <p>Gecko SP</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_23_thumb.jpeg" alt="" />
                  </div>
                  <p>ATI Axia80 Force/Torque Sensor Kit</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_24_thumb.jpeg" alt="" />
                  </div>
                  <p>RoboDK Simulation Software</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_25_thumb.png" alt="" />
                  </div>
                  <p>VGC10</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_26_thumb.png" alt="" />
                  </div>
                  <p>Asycube 50 & Asycube 80</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_27_thumb.jpeg" alt="" />
                  </div>
                  <p>sBot-Speed</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_28_thumb.png" alt="" />
                  </div>
                  <p>Gecko Gripper</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_29_thumb.png" alt="" />
                  </div>
                  <p>Asycube 240</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_30_thumb.png" alt="" />
                  </div>
                  <p>Quick Changer</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_31_thumb.png" alt="" />
                  </div>
                  <p>RG2-FT</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_32_thumb.png" alt="" />
                  </div>
                  <p>Asycube 380 & Asycube 530</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_33.jpg" alt="" />
                  </div>
                  <p>CoPROTECT</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_34_thumb.png" alt="" />
                  </div>
                  <p>VG10</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_35_thumb.jpeg" alt="" />
                  </div>
                  <p>스마트 피더 에이브 2.0/3.0</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_36.jpg" alt="" />
                  </div>
                  <p>HCR_Dresspack_2M/3M</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_37_thumb.png" alt="" />
                  </div>
                  <p>RG2, RG6</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_38.jpg" alt="" />
                  </div>
                  <p>ABIROB W 300</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_39_thumb.jpeg" alt="" />
                  </div>
                  <p>1A CoBot Dress Pack</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_40_thumb.png" alt="" />
                  </div>
                  <p>Hand-E</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_41.jpg" alt="" />
                  </div>
                  <p>FHS-SH-Set HCR Series</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_42_thumb.jpeg" alt="" />
                  </div>
                  <p>2F-85, 2F-140</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_43.jpg" alt="" />
                  </div>
                  <p>NT 50-RS-EN</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_44_thumb.jpeg" alt="" />
                  </div>
                  <p>AG-95 Adaptive Gripper</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_45.jpg" alt="" />
                  </div>
                  <p>NT 100-RE-EN</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_46_thumb.png" alt="" />
                  </div>
                  <p>PHD Pneu-Connect X1 Pneumatic Grippers</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_47.jpg" alt="" />
                  </div>
                  <p>NT 50-CC-EN</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_48_thumb.png" alt="" />
                  </div>
                  <p>Co-act EGP-C</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_49.png" alt="" />
                  </div>
                  <p>HRC-03-086003</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_50.png" alt="" />
                  </div>
                  <p>HRC-03-099507</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_51.jpg" alt="" />
                  </div>
                  <p>JEGB-4140/485</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_52_thumb.jpeg" alt="" />
                  </div>
                  <p>Respiro</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_53.jpg" alt="" />
                  </div>
                  <p>CoGrip-8/4</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_54_thumb.jpeg" alt="" />
                  </div>
                  <p>V-Grip System</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_55_thumb.jpeg" alt="" />
                  </div>
                  <p>Magic Grippers</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_56.jpg" alt="" />
                  </div>
                  <p>FXCB / FMCB : Vacuum Area Gripping Systems</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_57.jpg" alt="" />
                  </div>
                  <p>Cobot Pump ECBPi</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_58.jpg" alt="" />
                  </div>
                  <p>JPGB-3285/32140</p>
                </a>
              </div>
            </div>
            <div id="nav2-content" class="nav-content">
              <div class="ecosystem-template-01-slider1" id="ecosystem-template-01-slider2">
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_04_thumb.png" alt="" />
                  </div>
                  <p>PHD Pneu-Connect X2 Dual Pneumatic Grippers</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_08.png" alt="" />
                  </div>
                  <p>Vacuum Gripper Unit ZXP-X1(Compatible with HCR-3A)</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_12.jpg" alt="" />
                  </div>
                  <p>Air Gripper Unit for Hanwha Collaborative Robots (JMHZ2-HWRB01)</p>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_16.jpg" alt="" />
                  </div>
                  <p>Soft Grippers</p>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_19_thumb.png" alt="" />
                  </div>
                  <p>3FG15</p>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_22_thumb.png" alt="" />
                  </div>
                  <p>Gecko SP</p>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_25_thumb.png" alt="" />
                  </div>
                  <p>VGC10</p>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_28_thumb.png" alt="" />
                  </div>
                  <p>Gecko Gripper</p>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_31_thumb.png" alt="" />
                  </div>
                  <p>RG2-FT</p>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_34_thumb.png" alt="" />
                  </div>
                  <p>VG10</p>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_37_thumb.png" alt="" />
                  </div>
                  <p>RG2, RG6</p>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_40_thumb.png" alt="" />
                  </div>
                  <p>Hand-E</p>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_42_thumb.jpeg" alt="" />
                  </div>
                  <p>2F-85, 2F-140</p>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_44_thumb.jpeg" alt="" />
                  </div>
                  <p>AG-95 Adaptive Gripper</p>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_46_thumb.png" alt="" />
                  </div>
                  <p>PHD Pneu-Connect X1 Pneumatic Grippers</p>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_48_thumb.png" alt="" />
                  </div>
                  <p>Co-act EGP-C</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_49.png" alt="" />
                  </div>
                  <p>HRC-03-086003</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_50.png" alt="" />
                  </div>
                  <p>HRC-03-099507</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_51.jpg" alt="" />
                  </div>
                  <p>JEGB-4140/485</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_52_thumb.jpeg" alt="" />
                  </div>
                  <p>Respiro</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_53.jpg" alt="" />
                  </div>
                  <p>CoGrip-8/4</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_54_thumb.jpeg" alt="" />
                  </div>
                  <p>V-Grip System</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_55_thumb.jpeg" alt="" />
                  </div>
                  <p>Magic Grippers</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_56.jpg" alt="" />
                  </div>
                  <p>FXCB / FMCB : Vacuum Area Gripping Systems</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_57.jpg" alt="" />
                  </div>
                  <p>Cobot Pump ECBPi</p>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_58.jpg" alt="" />
                  </div>
                  <p>JPGB-3285/32140</p>
                </a>
              </div>
            </div>
            <div id="nav3-content" class="nav-content">
              <div class="ecosystem-template-01-slider1" id="ecosystem-template-01-slider3">
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_05_thumb.png" alt="" />
                  </div>
                  <p>Pickit M-HD</p>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_09_thumb.png" alt="" />
                  </div>
                  <p>Pickit M</p>
                  <span>Pickit 3D</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_13_thumb.png" alt="" />
                  </div>
                  <p>Cognex In-Sight Vision Systems</p>
                  <span>Cognex Corporation</span>
                </a>
              </div>
            </div>
            <div id="nav4-content" class="nav-content">
              <div class="ecosystem-template-01-slider1" id="ecosystem-template-01-slider4">
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_02_thumb.jpeg" alt="" />
                  </div>
                  <p>Screwdriver</p>
                  <span>OnRobot</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_06_thumb.jpeg" alt="" />
                  </div>
                  <p>HCT-1200</p>
                  <span>Dymato Automation</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_10.jpg" alt="" />
                  </div>
                  <p>SRP Cobot Palletiser</p>
                  <span>RCO Mechatronics BV</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_14.jpg" alt="" />
                  </div>
                  <p>MT05 Loading Table</p>
                  <span>Mactech</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_17.jpg" alt="" />
                  </div>
                  <p>MT04 CNC ASSISTANT</p>
                  <span>Mactech</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_20_thumb.jpeg" alt="" />
                  </div>
                  <p>Hi400P</p>
                  <span>현대종합금속(주)</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_23_thumb.jpeg" alt="" />
                  </div>
                  <p>ATI Axia80 Force/Torque Sensor Kit</p>
                  <span>ATI Industrial Automation</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_26_thumb.png" alt="" />
                  </div>
                  <p>Asycube 50 & Asycube 80</p>
                  <span>Asyril SA</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_29_thumb.png" alt="" />
                  </div>
                  <p>Asycube 240</p>
                  <span>Asyril SA</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_32_thumb.png" alt="" />
                  </div>
                  <p>Asycube 380 & Asycube 530</p>
                  <span>Asyril SA</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_35_thumb.jpeg" alt="" />
                  </div>
                  <p>스마트 피더 에이브 2.0/3.0</p>
                  <span>주식회사 에이아이엠</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_38.jpg" alt="" />
                  </div>
                  <p>ABIROB W 300</p>
                  <span>Abicor Binzel</span>
                </a>
              </div>
            </div>
            <div id="nav5-content" class="nav-content">
              <div class="ecosystem-template-01-slider1" id="ecosystem-template-01-slider5">
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_03_thumb.png" alt="" />
                  </div>
                  <p>Magbot Automatic Tool Changer</p>
                  <span>UND</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_07.png" alt="" />
                  </div>
                  <p>Rodi-X software applications for ecosystem integration</p>
                  <span>Airgate</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_11.png" alt="" />
                  </div>
                  <p>MT01, MT02</p>
                  <span>Mactech</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_15.jpg" alt="" />
                  </div>
                  <p>Screen Protector</p>
                  <span>Drim Robotics Sp.z.o.o.</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_18_thumb.jpeg" alt="" />
                  </div>
                  <p>Robotmaster V7</p>
                  <span>Hypertherm Robotic Software Inc.</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_21_thumb.png" alt="" />
                  </div>
                  <p>AUTOMAPPPPS</p>
                  <span>Convergent Information Technologies GmbH</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_24_thumb.jpeg" alt="" />
                  </div>
                  <p>RoboDK Simulation Software</p>
                  <span>RoboDK</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_27_thumb.jpeg" alt="" />
                  </div>
                  <p>sBot-Speed</p>
                  <span>SICK</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_30_thumb.png" alt="" />
                  </div>
                  <p>Quick Changer</p>
                  <span>OnRobot</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_33.jpg" alt="" />
                  </div>
                  <p>CoPROTECT</p>
                  <span>CoRobotics</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_36.jpg" alt="" />
                  </div>
                  <p>HCR_Dresspack_2M/3M</p>
                  <span>만희기전</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_39_thumb.jpeg" alt="" />
                  </div>
                  <p>1A CoBot Dress Pack</p>
                  <span>REIKU GmbH</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_41.jpg" alt="" />
                  </div>
                  <p>FHS-SH-Set HCR Series</p>
                  <span>Murrplastik Systemtechnik GmbH</span>
                </a>
                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_43.jpg" alt="" />
                  </div>
                  <p>NT 50-RS-EN</p>
                  <span>Hilscher Gesellschaft für Systemautomation mbH</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_45.jpg" alt="" />
                  </div>
                  <p>NT 100-RE-EN</p>
                  <span>Hilscher Gesellschaft für Systemautomation mbH</span>
                </a>

                <a href="#" class="ecosystem-template-01-slider-item">
                  <div class="ecosystem-template-01-slider-item-img">
                    <img src="../images/pc/ecosystem_main_47.jpg" alt="" />
                  </div>
                  <p>NT 50-CC-EN</p>
                  <span>Hilscher Gesellschaft für Systemautomation mbH</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>



</div>
</body>


<th:block layout:fragment="script">


  <script>




  </script>
</th:block>
</html>

