<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">

<body data-gnb-target="contact">


<div layout:fragment="content">

  <main class="ecosystem">
    <section class="ecosystem-title">
      <h1>자동화 시스템</h1>
      <p>한화로보틱스의 최첨단 기술력으로 만들어진 다양한 자동화 <br/>시스템 모듈 솔루션을 만나보세요.</p>
    </section>

    <section class="ecosystem-section">
      <div class="tab-nav">

        <div class="tab-nav-wrapper">
          <input type="radio" id="nav0" name="nav" checked/>
          <label for="nav0">전체</label>
          <th:block th:each="robotCategory, stat : ${robotCategory}">
            <input type="radio" th:id="'nav' + ${stat.index + 1}"
                   th:data-category-no="${robotCategory.categoryNo}"
                   name="nav"/>
            <label th:for="'nav' + ${stat.index + 1}" th:text="${robotCategory.categoryNm}"></label>
          </th:block>

          <select class="tab-nav-mobile">
            <option value="nav_all" th:selected="true">전체</option>
            <th:block th:each="robotCategory, stat : ${robotCategory}">
              <option th:value="'nav' + ${stat.index}"
                      th:text="${robotCategory.categoryNm}"
                      th:onclick="'changeCategory(' + ${robotCategory.categoryNo} + ')'"
              ></option>
            </th:block>
          </select>


          <div class="tab-content-wrapper">

            <div id="nav1-content00" class="nav-content00">
              <div class="ecosystem-main-slider100" id="ecosystem-main-slider100">
                <div th:each="robot : ${robotResponseList}">
                  <a th:href="@{/cobot/modulesystem/{robotNo}(robotNo=${robot.robotNo})}" class="ecosystem-main-slider-item">
                    <div class="ecosystem-main-slider-item-img">
                       <img th:src="@{${robot.thumbnailUrl}}" alt="" />
                    </div>
                    <p th:text="${robot.robotNm}"></p>
                    <span th:text="${robot.description}"></span>
                  </a>
                </div>
              </div>
            </div>


            <!--            <div id="nav1-content" class="nav-content">-->
            <!--              <div class="ecosystem-main-slider1" id="ecosystem-main-slider1">-->
            <!--                <a href="#" class="ecosystem-main-slider-item">-->
            <!--                  <div class="ecosystem-main-slider-item-img">-->
            <!--                    <img src="../images/pc/ecosystem_main_01.jpg" alt="" />-->
            <!--                  </div>-->
            <!--                  <p>EYES</p>-->
            <!--                  <span>OnRobot</span>-->
            <!--                </a>-->
            <!--                <a href="#" class="ecosystem-main-slider-item">-->
            <!--                  <div class="ecosystem-main-slider-item-img">-->
            <!--                    <img src="../images/pc/ecosystem_main_02_thumb.jpeg" alt="" />-->
            <!--                  </div>-->
            <!--                  <p>Screwdriver</p>-->
            <!--                  <span>OnRobot</span>-->
            <!--                </a>-->

            <!--              </div>-->
            <!--            </div>-->

            <div id="nav2-content" class="nav-content">
              <div class="ecosystem-main-slider1" id="ecosystem-main-slider2">
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_04_thumb.png" alt=""/>
                  </div>
                  <p>PHD Pneu-Connect X2 Dual Pneumatic Grippers</p>
                  <span>PHD, Inc.</span>
                </a>
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_08.png" alt=""/>
                  </div>
                  <p>Vacuum Gripper Unit ZXP-X1(Compatible with HCR-3A)</p>
                  <span>SMC Korea, Co.,Ltd</span>
                </a>
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_12.jpg" alt=""/>
                  </div>
                  <p>Air Gripper Unit for Hanwha Collaborative Robots (JMHZ2-HWRB01)</p>
                  <span>SMC Korea, Co.,Ltd</span>
                </a>
              </div>
            </div>

            <div id="nav3-content" class="nav-content">
              <div class="ecosystem-main-slider1" id="ecosystem-main-slider3">
                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_01.jpg" alt=""/>
                  </div>
                  <p>EYES</p>
                  <span>OnRobot</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_05_thumb.png" alt=""/>
                  </div>
                  <p>Pickit M-HD</p>
                  <span>Pickit 3D</span>
                </a>

              </div>
            </div>

            <div id="nav4-content" class="nav-content">
              <div class="ecosystem-main-slider1" id="ecosystem-main-slider4">

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_02_thumb.jpeg" alt=""/>
                  </div>
                  <p>Screwdriver</p>
                  <span>OnRobot</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_06_thumb.jpeg" alt=""/>
                  </div>
                  <p>HCT-1200</p>
                  <span>Dymato Automation</span>
                </a>


              </div>
            </div>

            <div id="nav5-content" class="nav-content">
              <div class="ecosystem-main-slider1" id="ecosystem-main-slider5">

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_03_thumb.png" alt=""/>
                  </div>
                  <p>Magbot Automatic Tool Changer</p>
                  <span>UND</span>
                </a>

                <a href="#" class="ecosystem-main-slider-item">
                  <div class="ecosystem-main-slider-item-img">
                    <img src="../images/pc/ecosystem_main_07.png" alt=""/>
                  </div>
                  <p>Rodi-X software applications for ecosystem integration</p>
                  <span>Airgate</span>
                </a>

              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </main>


</div>

</body>

<th:block layout:fragment="script">
  <script>





  </script>
</th:block>
</html>



