<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">

<body data-gnb-target="contact">


<div layout:fragment="content">

  <main class="ecosystem">
    <section class="ecosystem-title">
      <h1>자동화 시스템</h1>
      <p>한화로보틱스의 최첨단 기술력으로 만들어진 다양한 자동화 <br/>시스템 모듈 솔루션을 만나보세요.</p>
    </section>

    <section class="ecosystem-section">
      <div class="tab-nav">

        <div class="tab-nav-wrapper">
          <input type="radio" id="nav1" name="nav" checked />
          <label for="nav1" class="ecosystem-nav1">
            <span>전체</span>
          </label>
          <th:block th:each="robotCategory : ${robotCategory}">
            <input type="radio" th:id="'nav' + ${robotCategory.categoryNo}" name="nav" />
            <label th:for="'nav' + ${robotCategory.categoryNo}">
              <a th:href="@{/cobot/modulesystem(categoryNo=${robotCategory.categoryNo})}">
                <span th:text="${robotCategory.categoryNm}"></span>
              </a>
            </label>
          </th:block>

          <select class="tab-nav-mobile">
            <option value="nav_all" th:selected="true">전체</option>
            <th:block th:each="robotCategory, stat : ${robotCategory}">
              <option th:value="'nav' + ${stat.index}"
                      th:text="${robotCategory.categoryNm}"
              ></option>
            </th:block>
          </select>


          <div class="tab-content-wrapper">
            <div id="nav1-content00" class="nav-content00">
              <div class="ecosystem-main-slider100" id="ecosystem-main-slider100">
                <div th:each="robot : ${robotResponseList}">
                  <a th:href="@{/cobot/modulesystem/{robotNo}(robotNo=${robot.robotNo})}" class="ecosystem-main-slider-item">
                    <div class="ecosystem-main-slider-item-img">
                       <img th:src="@{${robot.thumbnailUrl}}" alt="" />
                    </div>
                    <p th:text="${robot.robotNm}"></p>
                    <span th:text="${robot.description}"></span>
                  </a>
                </div>
              </div>
            </div>




          </div>
        </div>
      </div>
    </section>
  </main>


</div>

</body>

<th:block layout:fragment="script">
  <script>


    function changeCategory(categoryNo) {
      console.log('여기')
      window.location.href = '/cobot/case-studies?categoryNo=' + categoryNo;
    }




  </script>
</th:block>
</html>



