<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
    <div layout:fragment="content">
      <aside id="aside"></aside>
      <main class="sub about">
        <section class="section_1">
          <div class="group group1">
            <!-- <div class="title" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">한화로보틱스</div> -->
            <div class="title" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear" th:utext="#{hanwharobotics.large}"></div>
            <div class="txt1" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear" th:utext="#{about.description1}"></div>
            <!-- <div class="txt1" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">
              인간과 로봇의 조화로운 공존을<br />앞당기는 한화로보틱스
            </div> -->
          </div>

          <div class="group group2">
            <div class="img1" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">
              <img src="/images/pc/earth@3x.webp" alt="" class="clip-image" />
            </div>

            <div class="title" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear" th:utext="#{about.description2}"></div>
            <!-- <div class="title" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">
              2017년 국내에서 협동로봇을 처음 출시한 한화 로봇사업부가 로보틱스 솔루션의 글로벌 리더로 성장하기 위해 가슴 뛰는 비전과 목표로 새롭게 출발합니다.
            </div> -->
            <div class="txt1" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear" th:utext="#{about.description3}"></div>
            <!-- <div class="txt1" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">
              한화로보틱스는 첨단 정밀기계/자동화 분야에서 축적한 고도화된 설계 및 스마트 기술 레퍼런스를 기반으로 우수한 품질과 신뢰도를 보유한 협동로봇, 모빌리티(AGV/AMR) 기술을 개발하고 있습니다.<br />
              첨단산업 등 B2B 고객 대상으로는 스마트 팩토리 등 고부가 가치의 솔루션 제공을 통해 고객의 지속적인 성장에 함께하겠습니다. 나아가 서비스, 푸드테크 등 B2C 분야에서 인간과 로봇이 조화롭게 공존하는 자동화 기술과 제품 구현을 통해 인간이 더 편리하고 자유로울 수 있는 디지털 시대로의 전환(Digital Transformation)에 기여하고자 합니다.
            </div> -->
          </div>

          <div class="group group3">
            <div class="txt1" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear" th:utext="#{about.description4}"></div>
            <!-- <div class="txt1" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">
              한화로보틱스는 기술 품질과 신뢰를 경영의 제1원칙으로 설정해 고객이 안심하고 사용할 수 있는 제품과 솔루션을 제공하고, 미래를 내다보는 차별화된 기술과 솔루션을 제공하겠습니다. 또한 고객 입장을 먼저 생각하는 고객 지향적인 태도와 사회에 책임감 있는 행동을 통해 고객가치 창출에 부응하겠습니다.
            </div> -->
            <div class="txt2" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear" th:utext="#{about.description5}"></div>
            <!-- <div class="txt2" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">
              또한 고객 입장을 먼저 생각하는
              고객 지향적인 태도와
              사회에 책임감 있는 행동을
              통해 고객가치 창출에 부응하겠습니다.
            </div> -->
          </div>

          <div class="group group4" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">
            <img src="/images/pc/ssj@3x.webp" alt="" />
          </div>
        </section>

        <section class="section_2">
          <div class="section_2_inner">
            <div class="row" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">
              <div class="vision box">
                <div class="title">Vision</div>
                <div class="txt1" th:utext="#{about.vision}"></div>
                <!-- <div class="txt1">
                  품질과 신뢰성 기반의 스마트 기술과<br />
                  혁신적 로보틱스 솔루션 제공을 통해<br />
                  인간이 더 자유로운 미래 디지털 시대로의 <br />
                  변화와 발전에 기여
                </div> -->

                <img src="/images/pc/fantasy1@3x.webp" alt="" />
              </div>
              <div class="mission box">
                <div class="title">Mission</div>
                <div class="txt1" th:utext="#{about.mission}"></div>
                <!-- <div class="txt1">
                  로보틱스 산업을 선도하는 고부가 가치의<br />
                  기술과 솔루션을 제공하는 파트너
                </div> -->

                <img src="/images/pc/fantasy2@3x.webp" alt="" />
              </div>
            </div>

            <div class="column">
              <div class="title_top" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">Core Values</div>

              <div class="list_wrap">
                <div class="imageScroll">
                  <div class="imageScroll_inner">

                    <div class="img img1 hideTop">
                      <img src="/images/pc/list_img1@3x.webp" alt="" />
                    </div>

                    <div class="img img2 hideTop">
                      <img src="/images/pc/list_img2@3x.webp" alt="" />
                    </div>

                    <div class="img img3 hideTop">
                      <img src="/images/pc/list_img3@3x.webp" alt="" />
                    </div>

                    <div class="img img4 hideTop">
                      <img src="/images/pc/list_img4@3x.webp" alt="" />
                    </div>

                    <div class="img img5 hideTop">
                      <img src="/images/pc/list_img5@3x.webp" alt="" />
                    </div>
                  </div>
                </div>

                <div class="list" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">
                  <div class="title_round">T</div>

                  <div class="thumb">
                    <div class="title">Technology</div>
                    <div class="txt" th:utext="#{about.technology}"></div>
                    <!-- <div class="txt">차별화된 기술력으로 고객 니즈에 신속하게 대응</div> -->

                    <div class="img">
                      <img src="/images/pc/list_img1@3x.webp" alt="" />
                    </div>
                  </div>
                </div>

                <div class="list" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">

                  <div class="title_round">R</div>

                  <div class="thumb">
                    <div class="title">Responsibility & Reliability</div>
                    <div class="txt" th:utext="#{about.responsibility}"></div>
                    <!-- <div class="txt">신뢰도 높은 제품과 책임감 있는 서비스 제공</div> -->

                    <div class="img">
                      <img src="/images/pc/list_img2@3x.webp" alt="" />
                    </div>
                  </div>
                </div>
                <div class="list" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">

                  <div class="title_round">U</div>

                  <div class="thumb">
                    <div class="title">Ultimate Safety</div>
                    <div class="txt" th:utext="#{about.ultimatesafety}"></div>
                    <!-- <div class="txt">고객과 직원의 안전을 최우선으로 하는 기업 문화</div> -->

                    <div class="img">
                      <img src="/images/pc/list_img3@3x.webp" alt="" />
                    </div>
                  </div>
                </div>
                <div class="list" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">

                  <div class="title_round">S</div>

                  <div class="thumb">
                    <div class="title">Super-growth</div>
                    <div class="txt" th:utext="#{about.supergrowth}"></div>
                    <!-- <div class="txt">예상을 뛰어넘는 성장성 추구</div> -->

                    <div class="img">
                      <img src="/images/pc/list_img4@3x.webp" alt="" />
                    </div>
                  </div>
                </div>
                <div class="list" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">

                  <div class="title_round">T</div>

                  <div class="thumb">
                    <div class="title">Together for a Better Future</div>
                    <div class="txt" th:utext="#{about.together}"></div>
                    <!-- <div class="txt">함께 미래를 준비하는 기업 문화</div> -->

                    <div class="img">
                      <img src="/images/pc/list_img5@3x.webp" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>

</body>

</html>