<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">

<body data-gnb-target="about">
  <div layout:fragment="content">
  <aside id="aside"></aside>
  <main class="sub management-policy">
    <section class="section_1">
      <div class="group group1">
        <div class="title" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear" th:utext="#{managementPolicy.title}"></div>
        <!-- <div class="title" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">경영방침</div> -->
        <div class="txt1" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear" th:utext="#{managementPolicy.content1}"></div>
        <!-- <div class="txt1" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">
          한화로보틱스는 인간이 더 편리하고 자유로운<br />
          미래를 위한 사회적 책임에 최선을 다하겠습니다.
        </div> -->
      </div>
    </section>

    <aside class="management-policy-main-bg">
      <picture>
        <source srcset="../images/pc/management_policy_bg_mo@3x.webp" media="(max-width: 765px)" />
        <img src="../images/pc/management_policy_bg@3x.webp" alt="" />
      </picture>
    </aside>

    <section class="management-policy-info-container">
      <div class="management-policy-info" th:utext="#{managementPolicy.policyInfo}"></div>
      <!-- <div class="management-policy-info">
        <h2>품질, 환경 및 안전보건 방침</h2>
        <p>당사는 산업용 협동로봇 및 AGV를 설계, 개발 및 생산 공급함에 있어서, 고객 및 법규 요구사항을 포함한 제반 요구사항을 파악하고,<br/>
          이를 당사에서 수행되는 제반 업무활동에 적용함으로써, 고객의 요구사항과 기대를 만족시킬 수 있는 제품을 공급함은 물론,<br/>
          제품 생산 및 관련 운영활동으로 인해 발생되는 환경영향과 안전보건 리스크를 최소화하고,<br/>
          각종 재해 등 비상상황 발생시 신속한 대응 및 복구를 통해, 환경오염 예방과 환경보호, 무재해 사업장 실현을 위해 다음사항을 지속적으로 추진한다.</p>
      </div> -->
      <ul class="management-policy-content" th:utext="#{managementPolicy.policyContent}"></ul>
      <!-- <ul class="management-policy-content">
        <li>
          <b>01</b>
          <span>제품, 환경 및 안전보건 관련 법규와 기타 규제 요구사항의 준수</span>
        </li>
        <li>
          <b>02</b>
          <span>제품 생산 공정의 철저한 관리 및 완벽한 사후관리를 통한 고객만족 극대화</span>
        </li>
        <li>
          <b>03</b>
          <span>지속적인 품질 및 생산 공정의 개선을 통한 시장 경쟁력 확보</span>
        </li>
        <li>
          <b>04</b>
          <span>환경청정기술의 지속적인 개발을 통한 환경오염물질의 배출량 최소화</span>
        </li>
        <li>
          <b>05</b>
          <span>에너지 및 천연자원의 효율적인 사용</span>
        </li>
        <li>
          <b>06</b>
          <span>환경 친화적 자재 및 제품의 개발, 조달 및 적용</span>
        </li>
        <li>
          <b>07</b>
          <span>제품 생산활동 및 관련 운영활동으로 인한 안전사고의 ZERO 화</span>
        </li>
        <li>
          <b>08</b>
          <span>쾌적한 작업환경 조성을 위한 안전보건 유해물질과 위험요인의 최소화</span>
        </li>
        <li>
          <b>09</b>
          <span>안전보건 리스크를 최소화 하기 위한 유해위험기구들의 개선, 개발 및 적용</span>
        </li>
        <li>
          <b>10</b>
          <span>기획, 실행, 평가 및 개선 전 단계에서 전직원의 참여와 협의를 통한 안전보건 성과의 극대화</span>
        </li>
      </ul> -->
      <!-- 2024.11.18 국문 수정 -->
      <div class="management-policy-sign">
        <p th:utext="#{managementPolicy.policySign1}">
        </p>
        <div>
          <span th:utext="#{managementPolicy.policySign2}"></span>
          <p th:utext="#{managementPolicy.policySign3}"> <div class="sign"><img src="../images/pc/sign-2024CEO.webp"/></div></p>
        </div>
      </div>
      <!-- 2024.11.18 국문 수정 -->
       
       <!-- 2024.11.18 영문 수정 -->
<!--      <div class="management-policy-sign">-->
<!--        <p>The heads of the quality department and environmental safety department must ensure that all employees understand and execute this policy through education and publication. They should establish and implement goals in line with this policy and continually improve the performance of the management system through regular internal audits and various improvement activities.</p>-->
<!--        <div>-->
<!--          <span>October 4, 2023</span>-->
<!--          <p>CEO Byeong-Chan Jeong <div class="sign"><img src="../images/pc/sign-2024CEO.webp"></div></p>-->
<!--        </div>-->
<!--      </div>-->
      <!-- 2024.11.18 영문 수정 -->
      <details class="management-policy-certification" open>
        <summary><span th:utext="#{managementPolicy.viewCertificate}"></span><img src="../images/pc/ic_arrow_down.svg" alt="" /></summary>
        <div>
          <div class="management-policy-certification-item">
            <img src="../images/pc/certification_01.webp" alt="" />
            <div class="management-policy-certification-item-info" th:utext="#{managementPolicy.certification01}"></div>
            <!-- <div class="management-policy-certification-item-info">
              <h5>ISO45001 안전보건경영시스템 인증서</h5>
              <p>인증기관 : 키와코리아㈜</p>
              <p>최초 인증일 : 2023-10-29</p>
            </div> -->
          </div>
          <div class="management-policy-certification-item">
            <img src="../images/pc/certification_02.webp" alt="" />
            <div class="management-policy-certification-item-info" th:utext="#{managementPolicy.certification02}"></div>
            <!-- <div class="management-policy-certification-item-info">
              <h5>ISO14001 환경경영시스템 인증서</h5>
              <p>인증기관 : 키와코리아㈜</p>
              <p>최초 인증일 : 2023-10-29</p>
            </div> -->
          </div>
          <div class="management-policy-certification-item">
            <img src="../images/pc/certification_03.webp" alt="" />
            <div class="management-policy-certification-item-info" th:utext="#{managementPolicy.certification03}"></div>
            <!-- <div class="management-policy-certification-item-info">
              <h5>ISO9001 품질경영시스템 인증서</h5>
              <p>인증기관 : 키와코리아㈜</p>
              <p>최초 인증일 : 2023-10-30</p>
            </div> -->
          </div>
        </div>
      </details>
    </section>
  </main>

</div>
</body>

</html>