<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">

    <br><br><br><br><br><br><br><br><br><br>

    <div class="content">

        <table th:align="center">
            <tr>
                <td class="td-main">
                    <p class="title-area">
                        <a href="/member/find-id">아이디 찾기</a>
                    </p>
                    <p  style="border-bottom: white solid 3px;"></p>
                </td>
                <td class="td-main">
                    <p class="title-area">
                        <a href="/member/find-pw">비밀번호 찾기</a>
                    </p>
                    <p  style="border-bottom: black solid 3px;"></p>
                </td>
            </tr>
        </table>

        <table th:align="center">
            <tr>
                <td class="td-title">아이디</td>
            </tr>
            <tr>
                <td class="td-input">
                    <div class="login_area"><input class="isStatusOnInput" id="name" type="text" placeholder="가입하신 아이디를 입력해 주세요"></div>
                </td>
            </tr>
            <tr>
                <td class="td-title" colspan="2">이메일</td>
            </tr>
            <tr>
                <td class="td-input">
                    <input class="isStatusOnInput" id="email" type="email" placeholder="가입하신 이메일을 입력해 주세요.">
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
            </tr>
            <tr>
                <td class="td-input">
                    <button class="btn btn-light">임시 비밀번호 발송</button>
                </td>
            </tr>
        </table>

    </div>

</div>

</body>
</html>

<script>


</script>