<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body data-gnb-target="contact">
<div layout:fragment="content">

    <main class="sub qna-write">
        <div class="board board-type1">
            <div class="column">
                <h1>Q<span>&</span>A</h1>
                <p class="desc" th:utext="#{qna.leftTitle}">
                </p>
            </div>

            <div class="column board_list">
                <div class="qna-write-form">

                    <div class="qna-write-form-section">
                        <span class="qna-write-form-section-title" th:utext="#{qna.author}"></span>
                        <!--                        <input id="memberId" th:value="${memberResponse.getMemberId()}" readonly>-->
                        <div class="qna-write-form-section-content">
                            <input class="qna-write-default-input" type="text" name="name" id="memberId" th:value="${memberResponse.getMemberId()}" readonly disabled/>
                        </div>
                    </div>

                    <div class="qna-write-form-section">
                        <span class="qna-write-form-section-title" th:utext="#{qna.email}"></span>
                        <div class="qna-write-form-section-content">
                            <input class="qna-write-custom-input" type="text" th:placeholder="#{qna.emailPlaceHolder}" name="email" id="email" th:value="${memberResponse.getEmail()}" />
                            <div class="qna-write-email-check">
                                <label class="checkbox-common">
                                    <input type="checkbox" id="emailReceiveYn" name="emailReceiveYn" value="Y"/>
                                    <span></span>
                                    <p th:utext="#{qna.emailCheckBox}"></p>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="qna-write-form-section">
                        <span class="qna-write-form-section-title" th:utext="#{qna.inquiryType}"> <strong>*</strong></span>
                        <div class="qna-write-form-section-content-wrapper">
                            <div class="qna-write-form-section-content qnaType1" id="qnaType1">
    <!--                            <span class="qnaType1" id="qnaType1"></span>-->
                            </div>

<!--                            <div class="qna-write-form-section">-->
<!--                                <span class="qna-write-form-section-title">문의유형 2<strong>*</strong></span>-->
                            <div class="qna-write-form-section-content">
                                <!--                            <div class="qna-write-custom-radio">-->
                                <div class="qna-write-custom-radio qnaType2" id="qnaType2"></div>
                                <!--                            </div>-->
                            </div>
<!--                            </div>-->

                        </div>
                    </div>



                    <div class="qna-write-form-section">
                        <span class="qna-write-form-section-title" th:utext="#{qna.inquiryProduct}"> <strong>*</strong></span>
                        <div class="qna-write-inquiry-product">
                            <div class="qna-write-inquiry-product-title">
                                <p th:utext="#{qna.modelName}"></p>
                                <p th:utext="#{qna.serialNo}"></p>
                                <p th:utext="#{qna.softwareVersion}"></p>
                                <p th:utext="#{qna.application}"></p>
                                <p th:utext="#{qna.addDelete}"></p>
                            </div>

                            <div class="qna-write-inquiry-product-box" >

                                <div class="qna-write-inquiry-product-item">

                                    <div id="modelCd" class="qna-write-inquiry-prodict-item-wrapper robotModel">
                                        <p th:utext="#{qna.modelName}"></p>
                                    </div>

                                    <div class="qna-write-inquiry-prodict-item-wrapper">
                                        <p>로봇암 시리얼넘버</p>
                                        <input class="qna-write-custom-input serialNo" type="text" name="serial1" id="serial1" />
                                    </div>

<!--                                    <input class="qna-write-custom-input serialNo" type="text" value="" name="serial1" id="serial1" />-->

                                    <!--                                    <input type="text" id="serialNo" class="serialNo" placeholder="로봇암 시리얼넘버">-->
                                    <!--                                    <input class="qna-write-custom-input swVersion" type="text" value="" name="software1" id="software1" />-->

                                    <div class="qna-write-inquiry-prodict-item-wrapper">
                                        <p th:utext="#{qna.softwareVersion}"></p>

                                        <div class="qna-write-software">
                                            <input class="qna-write-custom-input software" type="text" name="software1" id="software1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1)" />
                                            <span>.</span>
                                            <input class="qna-write-custom-input software" type="text" name="software1" id="software2" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1)" />
                                            <input class="qna-write-custom-input software" type="text" name="software1" id="software3" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1)" />
                                            <input class="qna-write-custom-input software" type="text" name="software1" id="software4" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1)" />
                                            <span>.</span>
                                            <input class="qna-write-custom-input software" type="text" name="software1" id="software5" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1)" />
                                            <input class="qna-write-custom-input software" type="text" name="software1" id="software6" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1)" />
                                            <input class="qna-write-custom-input software" type="text" name="software1" id="software7" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1)" />
                                            <span>.</span>
                                            <input class="qna-write-custom-input software" type="text" name="software1" id="software8" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1)" />
                                            <input class="qna-write-custom-input software" type="text" name="software1" id="software9" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1)" />
                                            <input class="qna-write-custom-input software" type="text" name="software1" id="software10" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1)" />
                                        </div>
                                    </div>

                                    <!--                                    <input type="text" id="swVersion" class="swVersion" placeholder="소프트웨어 버전">-->


                                    <!--                                    <select class="qna-write-custom-select app" name="inquiry3" id="inquiry3">-->
                                    <!--                                    </select>-->


                                    <div id="applicationCd" class="qna-write-inquiry-prodict-item-wrapper application">
                                        <p th:utext="#{qna.application}"></p>
                                    </div>

<!--                                    <span id="applicationCd" class="application" style="width: calc(22%);"></span>-->



                                    <div class="qna-write-inquiry-product-item-btn">
                                        <button type="button" class="qna-write-inquiry-product-item-add" onclick="addRobotInfo()">
                                            <img src="../images/pc/ic_plus2.svg" alt="" />
                                        </button>
                                        <button type="button" class="qna-write-inquiry-product-item-delete" onclick="removeRobotInfo()">
                                            <img src="../images/pc/ic_minus.svg" alt="" />
                                        </button>
                                    </div>
                                </div>





                            </div>
                        </div>
                    </div>

                    <!--                    문의제품-->
                    <!--                    모델명-->
                    <!--                    로봇암 시리얼넘버-->
                    <!--                    소프트웨어 버전-->
                    <!--                    어플리케이션-->
                    <!--                    <br>-->
                    <!--                    <div class="robotInfoContainer">-->
                    <!--                        <span id="modelCd" class="robotModel"></span>-->

                    <!--                        <input type="text" id="serialNo" class="serialNo" placeholder="로봇암 시리얼넘버">-->
                    <!--                        <input type="text" id="swVersion" class="swVersion" placeholder="소프트웨어 버전">-->

                    <!--                        <span id="applicationCd" class="application"></span>-->

                    <!--                        <button type="button" onclick="addRobotInfo()">+</button>-->
                    <!--                        <button type="button" onclick="removeRobotInfo()">-</button>-->
                    <!--                    </div>-->

                    <div class="qna-write-form-section">
                        <span class="qna-write-form-section-title" th:utext="#{qna.subject}"> <strong>*</strong></span>
                        <div class="qna-write-form-section-content">
                            <input class="qna-write-custom-input full" type="text" name="title" id="title" />
                        </div>
                    </div>

                    <div class="qna-write-form-section">
                        <span class="qna-write-form-section-title" th:utext="#{qna.content}"> <strong>*</strong></span>
                        <div class="qna-write-des-box">
                            <textarea class="qna-write-custom-textarea" name="description" id="content"></textarea>
                            <span th:utext="#{qna.description}"></span>
                        </div>
                    </div>

                    <div class="qna-write-form-section">
                        <span class="qna-write-form-section-title" th:utext="#{qna.attachFile}"></span>
                        <div class="qna-write-form-file-wrapper">

                            <div class="qna-write-custom-file">
                                <input type="file" name="file" id="fileInput" onchange="handleFileUpload()"/>
                                <label for="fileInput" th:utext="#{qna.findFile}"></label>
                            </div>

                            <div class="qna-write-file-list">
                                <div class="qna-write-file-list-item">

                                </div>
                            </div>

                            <span th:utext="#{qna.fileText}"></span>
                        </div>
                    </div>
                </div>

                <!-- <button type="button" class="qna-write-submit" onclick="register()">문의글 남기기</button> -->
                <div class="qna-write-button-group">
                    <!-- <button type="button" class="qna-write-cancel">취소</button> -->
                    <button type="button" class="qna-write-cancel" href="javascript:void(0)" onClick="goBack()" th:utext="#{qna.cancel}"></button>
                    <!-- <button type="submit" class="qna-write-submit">문의글 남기기</button> -->
                    <button type="button" class="qna-write-submit" onclick="register()" th:utext="#{qna.summitButton}"></button>

                </div>
<!--                    <button type="button" class="btn btn&#45;&#45;block btn&#45;&#45;gray"  onclick="toList()">취소</button>-->
                <!-- <a type="button" class="btn btn--block btn--gray" href="javascript:void(0)" onClick="goBack()">취소</a> -->



            </div>
        </div>
    </main>
</div>

</body>

<th:block layout:fragment="script">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const existingSoftwareInputs = document.querySelectorAll('.qna-write-custom-input.software');

            existingSoftwareInputs.forEach((input, index) => {
                if (index === existingSoftwareInputs.length - 1) return;
                input.addEventListener('input', function() {
                    if (this.value.length > 0) {
                        existingSoftwareInputs[index + 1].focus();
                    }
                });
            });
        });
        


        $(document).ready(function () {
            getCode();

            const emailReceiveYn = $('#emailReceiveYn').val();
            if (emailReceiveYn === 'Y') {
                $('#emailReceiveYn').prop('checked', true);
            }
        });



        function goBack(){
            var params = {};
            window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,
                function(str, key, value) {
                    params[key] = value;
                }
            );
            if(params["to"] != undefined && params["to"]=="main"){
                location.href="/newsroom/notice";
            }else{
                history.back();
            }
        }





        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        function getCode() {
            let lang = getCookie('lang');
            let url = "/qna/code";

            if (lang === 'en') {
                url = "/qna/code/en";
            }

            COMM.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    if(data.data != null) {
                        populateSelectBox(data.data["qnaType1List"], 'qnaType1');
                        populateRadioButtons(data.data["qnaType2List"], 'qnaType2');

                        populateSelectAndInputs(data.data["robotModelList"], 'robotModel');
                        populateSelectAndInputsApp(data.data["applicationList"], 'application');
                    }
                },
            });
        }




        // 코드 가져오기
        // function getCode() {
        //     COMM.ajax({
        //         type: 'GET',
        //         url: "/qna/code",
        //         success: function (data) {
        //             if(data.data != null) {
        //                 populateSelectBox(data.data["qnaType1List"], 'qnaType1');
        //                 populateRadioButtons(data.data["qnaType2List"], 'qnaType2');
        //
        //                 populateSelectAndInputs(data.data["robotModelList"], 'robotModel');
        //                 populateSelectAndInputsApp(data.data["applicationList"], 'application');
        //             }
        //         },
        //     });
        // }


        // 문의유형1
        function populateSelectBox(options, selectClass) {
            const selectBox = $('<select class="qna-write-custom-select">');
            selectBox.addClass(selectClass);

            $.each(options, function (index, option) {
                selectBox.append($('<option>', {
                    value: option.code,
                    text: option.description
                }));
            });

            $('.' + selectClass).html(selectBox);
        }


        // 문의유형2
        function populateRadioButtons(options, containerId) {
            const container = $('#' + containerId);
            container.empty();

            $.each(options, function (index, option) {

                const label = $('<label>', {
                    class: 'radio'
                })
                const radioBtn = $('<input>', {
                    type: 'radio',
                    name: 'qnaType2',
                    value: option.code
                });

                const span = $('<span>',{
                });

                const p = $('<p>', {
                    // for: option.code,
                    text: option.description
                });

                label.append(radioBtn).append(span).append(p);
                container.append(label);
            });
        }




        // 문의제품 - 모델명
        function populateSelectAndInputs(options, containerId) {
            const container = $('.' + containerId);
            container.empty();

            const selectBox = $('<select class="qna-write-custom-select" name="inquiry2" id="inquiry2">');
            container.append(selectBox);

            // selectBox.append($('<option>', {
            //     value: '',
            //     text: '선택'
            // }));

            $.each(options, function (index, option) {
                selectBox.append($('<option>', {
                    value: option.code,
                    text: option.description
                }));
            });
        }


        // 문의제품 - 어플리케이션
        function populateSelectAndInputsApp(options, containerId) {
            const container = $('.' + containerId);
            container.empty();

            const selectBox = $('<select class="qna-write-custom-select app" name="inquiry3" id="inquiry3">');
            container.append(selectBox);

            // selectBox.append($('<option>', {
            //     value: '',
            //     text: '선택'
            // }));

            $.each(options, function (index, option) {
                selectBox.append($('<option>', {
                    value: option.code,
                    text: option.description
                }));
            });
        }


        const formData = new FormData();

        let robotInfoCounter = 1;

        function addRobotInfo() {
            if (robotInfoCounter < 10) {
                const newRobotInfo = $('.qna-write-inquiry-product-item:first').clone();
                newRobotInfo.find('input').val('');
                $('.qna-write-inquiry-product-item:last').after(newRobotInfo);
                robotInfoCounter++;

                const newInputs = newRobotInfo.find('.software');
                for (const input of newInputs) {
                    input.addEventListener('input', function() {
                        if (this.value.length > 0) {
                            const nextIndex = Array.from(newInputs).indexOf(this) + 1;
                            if (nextIndex < newInputs.length) {
                                newInputs[nextIndex].focus();
                            }
                        }
                    });
                }
            } else {
                alert("[[#{qna.alertMax10}]]");
            }
        }


        function removeRobotInfo() {
            if (robotInfoCounter > 1) {
                $('.qna-write-inquiry-product-item:last').remove();
                robotInfoCounter--;
            }
        }




        var fileList = []; // 파일 목록을 저장할 배열

        // fileList에 파일을 추가하고 다시 그리기
        function handleFileUpload() {
            // console.log("업로드")

            const fileInput = document.getElementById('fileInput');

            // 파일이 선택되었는지 확인
            if (fileInput.files.length === 0) {
                alert("[[#{qna.alertSelectFile}]]");
                fileInput.value = null; // 파일 input 초기화
                return;
            }

            // 파일 추가 여부 및 최대 개수 확인
            if (fileList.length + fileInput.files.length > 5) {
                alert("[[#{qna.alertMax5}]]");
                fileInput.value = null; // 파일 input 초기화
                return;
            }

            // 파일 크기 확인
            for (var i = 0; i < fileInput.files.length; i++) {
                const fileSize = fileInput.files[i].size; // 파일 크기 (단위: bytes)
                const maxSize = 5 * 1024 * 1024; // 5MB

                if (fileSize > maxSize) {
                    alert("[[#{qna.alertMax5mb}]]");
                    fileInput.value = null; // 파일 input 초기화
                    return;
                }
            }

            // fileList에 파일 추가
            for (var i = 0; i < fileInput.files.length; i++) {
                fileList.push(fileInput.files[i]);
            }

            // 파일 그리기
            drawFileList();

            // console.log(fileList)
        }


        // fileList에 파일을 삭제하고 다시 그리기
        function removeFile(index) {

            //파일 제거
            if (index >= 0 && index < fileList.length) {
                fileList.splice(index, 1);
            }

            //파일 그리기
            drawFileList();
        }

        /* fileList를 참조하여 첨부 파일목록을 그린다. */
        function drawFileList(){
            // console.log("드로우")

            const fileDisplayContainer = document.querySelector('.qna-write-file-list');

            // 파일 목록을 싹 지우고 다시 그리기
            fileDisplayContainer.innerHTML = '';

            for (let i = 0; i < fileList.length; i++) {
                //다시 그리자
                const fileNameDiv = document.createElement('div');
                fileNameDiv.innerHTML =
                    `<div class="qna-write-file-list-item">
                        <button type="button" onclick="removeFile(${i})">
                            <img src="../images/pc/btn_close.svg" alt="" />
                        </button>
                        <span>${fileList[i].name}</span>
                    </div>`;
                fileDisplayContainer.appendChild(fileNameDiv);
                // formData.append(`files[]`, fileInput.files[i]);
            }

            const fileInput = document.getElementById('fileInput');
            fileInput.value = null; // 파일 input 초기화
        }






        // 등록
        // function register() {
        //
        //     const qnaType2Selected = $('.qnaType2 input:checked').length > 0;
        //     const title = $('#title').val();
        //     const content = $('#content').val();
        //
        //     if (!qnaType2Selected) {
        //         alert('문의 유형을 선택해주세요.');
        //         return;
        //     }
        //     if (!title) {
        //         alert('제목을 입력해주세요.');
        //         return;
        //     }
        //     if (!content) {
        //         alert('내용을 입력해주세요.');
        //         return;
        //     }
        //
        //     // const formData = new FormData();
        //     formData.append('email', $('#email').val());
        //     formData.append('emailReceiveYn', $('#emailReceiveYn').prop('checked') ? 'Y' : 'N');
        //     formData.append('title', title);
        //     formData.append('content', content);
        //     formData.append('memberId', $('#memberId').val());
        //
        //     formData.append('qnaType1Cd', $('.qnaType1').find('select').val());
        //     formData.append('qnaType2Cd', $('.qnaType2').find('input:checked').val());
        //
        //     const qnaRobots = [];
        //     $('.qna-write-inquiry-product-item').each(function () {
        //         const modelCd = $(this).find('.robotModel select').val();
        //         const serialNo = $(this).find('.serialNo').val();
        //
        //
        //
        //         // FIXME:
        //         let isEmpty = false;
        //         let swVersion = '';
        //         const vValues = [];
        //         for (let i = 1; i <= 10; i++) {
        //             const v = $(this).find(`#software${i}`).val();
        //             vValues.push(v);
        //
        //             if (v.trim() === '') {
        //                 isEmpty = true;
        //                 alert("제대로입력하세요")
        //                 return false;
        //             }
        //         }
        //
        //         if (!isEmpty) {
        //             swVersion = vValues[0]+"."+vValues[1]+vValues[2]+vValues[3]+"."+vValues[4]+vValues[5]+vValues[6]+"."+vValues[7]+vValues[8]+vValues[9];
        //         }
        //
        //
        //
        //         const applicationCd = $(this).find('.application select').val();
        //
        //         const robotInfo = {
        //             modelCd: modelCd,
        //             serialNo: serialNo,
        //             swVersion: swVersion,
        //             applicationCd: applicationCd
        //         };
        //         qnaRobots.push(robotInfo);
        //     });
        //
        //     for (let i = 0; i < qnaRobots.length; i++) {
        //         formData.append(`qnaRobots[${i}].modelCd`, qnaRobots[i].modelCd);
        //         formData.append(`qnaRobots[${i}].serialNo`, qnaRobots[i].serialNo);
        //         formData.append(`qnaRobots[${i}].swVersion`, qnaRobots[i].swVersion);
        //         formData.append(`qnaRobots[${i}].applicationCd`, qnaRobots[i].applicationCd);
        //     }
        //
        //     // files를 초기화
        //     formData.delete('files');
        //
        //     // fileList를 formData에 추가
        //     for (let i = 0; i < fileList.length; i++) {
        //         formData.append('files', fileList[i]);
        //     }
        //
        //
        //     $.ajax({
        //         type: 'POST',
        //         url: '/qna/register',
        //         data: formData,
        //         contentType: false,
        //         processData: false,
        //         success: function (data) {
        //             alert("게시글이 정상적으로 등록되었습니다.");
        //             window.location.href = '/qna/' + data;
        //         },
        //         error: function (xhr, textStatus) {
        //             alert("등록에 실패하였습니다." + xhr.responseText);
        //             console.error('Error:', xhr.responseText);
        //             console.error('Status:', xhr.status);
        //         }
        //     });
        // }



        function register() {
            const qnaType2Selected = $('.qnaType2 input:checked').length > 0;
            const title = $('#title').val();
            const content = $('#content').val();

            if (!qnaType2Selected || !title || !content) {
                if (!qnaType2Selected) {
                    alert("[[#{qna.alertSelectType}]]");

                } else if (!title) {
                    alert("[[#{qna.alertSubject}]]");

                } else {
                    alert("[[#{qna.alertContent}]]");
                }
                return;
            }

            const formData = new FormData();
            formData.append('email', $('#email').val());
            formData.append('emailReceiveYn', $('#emailReceiveYn').prop('checked') ? 'Y' : 'N');
            formData.append('title', title);
            formData.append('content', content);
            formData.append('memberId', $('#memberId').val());
            formData.append('qnaType1Cd', $('.qnaType1').find('select').val());
            formData.append('qnaType2Cd', $('.qnaType2').find('input:checked').val());

            const qnaRobots = [];
            const inquiryItems = $('.qna-write-inquiry-product-item');

            for (let i = 0; i < inquiryItems.length; i++) {
                const item = $(inquiryItems[i]);
                const modelCd = item.find('.robotModel select').val();
                const serialNo = item.find('.serialNo').val();
                let swVersion = '';
                const vValues = [];

                if(!serialNo) {
                    alert("[[#{qna.alertSerialNo}]]");
                    return;
                }

                for (let j = 1; j <= 10; j++) {
                    const v = item.find(`#software${j}`).val();
                    vValues.push(v);

                    if (vValues.some(value => value === '')) {
                        alert("[[#{qna.alertSoftwareVersion}]]");

                        return;
                    } else {
                        swVersion = vValues[0] + "." + vValues[1] + vValues[2] + vValues[3] + "." + vValues[4] + vValues[5] + vValues[6] + "." + vValues[7] + vValues[8] + vValues[9];
                    }
                }

                const applicationCd = item.find('.application select').val();

                const robotInfo = {
                    modelCd: modelCd,
                    serialNo: serialNo,
                    swVersion: swVersion,
                    applicationCd: applicationCd
                };
                qnaRobots.push(robotInfo);
            }

            for (let i = 0; i < qnaRobots.length; i++) {
                formData.append(`qnaRobots[${i}].modelCd`, qnaRobots[i].modelCd);
                formData.append(`qnaRobots[${i}].serialNo`, qnaRobots[i].serialNo);
                formData.append(`qnaRobots[${i}].swVersion`, qnaRobots[i].swVersion);
                formData.append(`qnaRobots[${i}].applicationCd`, qnaRobots[i].applicationCd);
            }

            // files를 초기화
            formData.delete('files');

            // fileList를 formData에 추가
            for (let i = 0; i < fileList.length; i++) {
                formData.append('files', fileList[i]);
            }

            $.ajax({
                type: 'POST',
                url: '/qna/register',
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    // alert("게시글이 정상적으로 등록되었습니다.");
                    window.location.href = '/qna/' + data;
                },
                error: function (xhr, textStatus) {
                    alert("error" + xhr.responseText);
                    console.error('Error:', xhr.responseText);
                    console.error('Status:', xhr.status);
                }
            });
        }



    </script>




</th:block>


</html>