<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">

<body>


<div layout:fragment="content">

    <main class="sub qna-list">
        <div class="board board-type1">
            <div class="column">
                <h1>Q<span>&</span>A</h1>
                <p class="desc">
                    한화로보틱스에 대해 궁금한 점이<br />있으시면 문의해주세요.
                </p>
            </div>

            <div class="column board_list">

                <div class="column-head">
                    <form class="search">
                        <input type="text" placeholder="검색어를 입력하세요." name="search" id="keyword" />
                        <button type="button" class="search-button" onclick="getList()">
                            <img src="../images/pc/ic_search.svg" alt="" />
                        </button>
                        <button type="button" class="search-close">
                            <img src="../images/pc/btn_close.svg" alt="" />
                        </button>
                    </form>

                    <button type="button" class="qna-mobile-search">
                        <img src="../images/pc/ic_search.svg" alt="" />
                    </button>

                    <button type="button" class="inquiry qna" onclick="layerQnaOpenBtn()">
                        문의하기
                        <span><strong>+</strong></span>
                    </button>
                </div>


                <div class="table">
                    <div class="thead">
                        <div class="th" th:text="#{no}"></div>
                        <div class="th">작성자</div>
                        <div class="th" th:text="#{title}"></div>
                        <div class="th">진행상황</div>
                        <div class="th">등록일</div>
                    </div>
                    <div class="tbody newsroomTbody">
                        <div class="tr">
                            <p class="empty" th:utext="#{main.noLists}"></p>
                        </div>
                    </div>
                </div>

                <div class="paging">

<!--                    <button type="button" class="inquiry qna" onclick="layerQnaOpenBtn()">-->
<!--                        문의하기-->
<!--                        <span><strong>+</strong></span>-->
<!--                    </button>-->

                </div>

            </div>
        </div>


    </main>



    <form id="form">
        <input type="hidden" name="size" id="size" value="10"/>
        <input type="hidden" name="page" id="page" value="1"/>
    </form>

    <script id="list-tmpl" type="x-tmpl-mustache" class="hide">
        {{#list}}
            <div class="tr">

                <a href="/qna/{{qnaNo}}">
<!--                <a onclick="goToQnaDetail('{{qnaNo}}')">-->

                    <div class="td">
                        {{#isFixed}}
                            <strong class="faq_notice">FAQ</strong>
                        {{/isFixed}}
                        {{^isFixed}}
                            {{no}}
                        {{/isFixed}}
                    </div>


                    <div class="td">{{memberId}}</div>

                    <div class="td">
                        <span class="contents">
                            {{title}}
                        </span>
                        <span class="endStatus">

                            {{#isExposure}}
                            {{/isExposure}}

                            {{^isExposure}}
                                <img class="qna_lock" src="../images/pc/ic_lock.svg" alt="" />
                            {{/isExposure}}


                        </span>
                    </div>

                    <div class="td">

                        {{#isAnswered}}
                            <span class="qna_badge qna_complete">답변 완료</span>
                        {{/isAnswered}}
                        {{^isAnswered}}
                            <span class="qna_badge qna_ing">답변 진행중</span>
                        {{/isAnswered}}

                    </div>
                    <div class="td">{{createDt}} </div>
                </a>


            </div>
        {{/list}}
        {{^list}}
            <div class="tr">
                <!-- <p class="empty">
                    조회 결과가 없습니다.
                </p> -->
                <p class="empty" th:text="#{main.noLists}"></p>
            </div>
        {{/list}}
    </script>

</div>


</body>

<th:block layout:fragment="script">
    <script>


        $(document).ready(function () {
            setQueryStringParams();
            getList();
        });


        function getList(page) {

            if (typeof page != "undefined" && page != null) $('#page').val(page);

            COMM.ajaxPagingList({
                    url: "/qna"
                },
                function success(data) {

                    data.contents.forEach(function (item) {
                        item.isExposure = (item.exposureStatus === 'Y');
                        item.isAnswered = (item.endStatus === 'Y');
                        item.isFixed = (item.fixedStatus === 'Y');
                    });

                    const template = $("#list-tmpl").html();
                    const rendered = Mustache.render(template, {'list': data.contents});
                    $('.tbody').html(rendered);

                    // if (data.totalElements !== 0) {
                        setPagination(data, $('.paging'));

                        // 문의하기 버튼 추가
                        const inquiryButton = document.createElement('button');
                        inquiryButton.setAttribute('type', 'button');
                        inquiryButton.classList.add('inquiry', 'qna');
                        inquiryButton.innerHTML = '문의하기 <span><strong>+</strong></span>';
                        inquiryButton.onclick = function() {
                            layerQnaOpenBtn();
                        };
                        $('.paging').append(inquiryButton);

                    // }
                }
            );
        }


        // const loginMemberNo =  Number("[[${#request.userPrincipal.getName()}]]");

        // function goToQnaDetail(qnaNo) {
        //     getList(function(data) {
        //         const qnaItem = data.contents.find(item => item.qnaNo === parseInt(qnaNo));
        //         if ((qnaItem.exposureStatus === 'Y') && (loginMemberNo !== qnaItem.memberNo)) {
        //             alert("비공개 게시글입니다.");
        //         } else {
        //             window.location.href = `/qna/${qnaNo}`;
        //         }
        //     });
        // }


        // function getList(callback, page) {
        //     if (typeof page != "undefined" && page != null) $('#page').val(page);
        //
        //     COMM.ajaxPagingList({
        //             url: "/qna"
        //         },
        //         function success(data) {
        //             if (typeof callback === 'function') {
        //                 callback(data);
        //             }
        //
        //             data.contents.forEach(function (item) {
        //                 item.isExposure = (item.exposureStatus === 'Y');
        //                 item.isAnswered = (item.endStatus === 'Y');
        //                 item.isFixed = (item.fixedStatus === 'Y');
        //             });
        //
        //             const template = $("#list-tmpl").html();
        //             const rendered = Mustache.render(template, {'list': data.contents});
        //             $('.tbody').html(rendered);
        //
        //             if (data.totalElements !== 0) {
        //                 setPagination(data, $('.paging'));
        //
        //                 // 문의하기 버튼 추가
        //                 const inquiryButton = document.createElement('button');
        //                 inquiryButton.setAttribute('type', 'button');
        //                 inquiryButton.classList.add('inquiry', 'qna');
        //                 inquiryButton.innerHTML = '문의하기 <span><strong>+</strong></span>';
        //                 inquiryButton.onclick = function() {
        //                     layerQnaOpenBtn();
        //                 };
        //                 $('.paging').append(inquiryButton);
        //             }
        //         }
        //     );
        // }


    </script>



</th:block>
</html>