<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">

<body>


<div layout:fragment="content">


    <main class="sub notice-list">
        <div class="board board-type1">
            <div class="column">
                <h1>Q&A</h1>
                한화로보틱스에 대해 궁금한 점이 있으시면 문의해주세요.
                <hr>
                <!-- <p class="desc">
                    한화로보틱스 제품과<br />서비스 업데이트 소식을<br />알려드립니다.
                </p> -->
                <!--                <p class="desc" th:utext="#{notice}">-->
                <!--                </p>-->
            </div>

            <input type="text" id="keyword" placeholder="검색어를 입력하세요">
            <button onclick="getList()">검색</button>

            <button class="openModalBtn">문의하기</button>


            <div class="column board_list">
                <div class="table">
                    <div class="thead">
                        <div class="th" th:text="#{no}"></div>

                        <div class="th">작성자</div>

                        <div class="th" th:text="#{title}"></div>

                        <div class="th">진행상황</div>

                        <div class="th">등록일</div>
                    </div>
                    <div class="tbody newsroomTbody">
                        <div class="tr">
                            <!-- <p class="empty">
                                조회 결과가 없습니다.
                            </p> -->
                            <p class="empty" th:utext="#{main.noLists}"></p>

                        </div>
                    </div>
                </div>

                <div class="paging">
                </div>
            </div>
        </div>

    </main>

    <button class="openModalBtn">문의하기</button>


    <form id="form">
        <input type="hidden" name="size" id="size" value="10"/>
        <input type="hidden" name="page" id="page" value="1"/>
    </form>

    <script id="list-tmpl" type="x-tmpl-mustache" class="hide">
        {{#list}}
            <div class="tr">
                <a href="/qna/{{qnaNo}}" >


                    <div class="td">

<!--                        {{no}}-->

                        {{#isFixed}}
                            FAQ
                        {{/isFixed}}
                        {{^isFixed}}
                            {{no}}
                        {{/isFixed}}

                    </div>



                    <div class="td">{{memberId}}</div>

                    <div class="td">
                        <span class="contents">
                            {{title}}
                        </span>
                        <span class="endStatus">

                            {{#isExposure}}
                            {{/isExposure}}

                            {{^isExposure}}
                                <span class="round td_notice" th:text="비공개"></span>
                            {{/isExposure}}


                        </span>
                    </div>

                    <div class="td">

                        {{#isAnswered}}
                            답변 완료
                        {{/isAnswered}}
                        {{^isAnswered}}
                            답변 진행중
                        {{/isAnswered}}

                    </div>
                    <div class="td">{{createDt}} </div>
                </a>


            </div>
        {{/list}}
        {{^list}}
            <div class="tr">
                <!-- <p class="empty">
                    조회 결과가 없습니다.
                </p> -->
                <p class="empty" th:text="#{main.noLists}"></p>
            </div>
        {{/list}}
    </script>


    <div id="qnaPopup" class="popup">
        <span class="close">&times;</span>
        <h2>FAQ 및 제품 매뉴얼을 확인하셨나요?</h2>
        <div id="qnaPopupForm">
            <a >제품 메뉴얼 확인</a>
            <a href="/qna/register" >문의글 남기기</a>
        </div>
    </div>

</div>


</body>

<th:block layout:fragment="script">
    <script>
        $(document).ready(function () {
            //뒤로가기 or 새로고침시 검색어 유지
            setQueryStringParams();
            getList();
        });



        document.querySelectorAll('.openModalBtn').forEach(function(btn) {
            btn.addEventListener('click', function() {
                document.getElementById('qnaPopup').style.display = 'block';
            });
        });

        document.querySelectorAll('.close').forEach(function(close) {
            close.addEventListener('click', function() {
                this.closest('.popup').style.display = 'none';
            });
        });




        function getList(page) {
            if (typeof page != "undefined" && page != null) $('#page').val(page);

            COMM.ajaxPagingList({
                    url: "/qna"
                },
                function success(data) {

                    data.contents.forEach(function (item) {
                        item.isExposure = (item.exposureStatus === 'Y');
                        item.isAnswered = (item.endStatus === 'Y');
                        item.isFixed = (item.fixedStatus === 'Y');
                    });


                    const template = $("#list-tmpl").html();
                    const rendered = Mustache.render(template, {'list': data.contents});
                    $('.tbody').html(rendered);

                    if (data.totalElements !== 0) {
                        setPagination(data, $('.paging'));
                    }
                }
            );
        }


    </script>




</th:block>


<style>
    .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        background-color: #ffffff;
        border: 1px solid #ddd;
        padding: 20px;
        display: none;
    }

</style>


</html>