<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">

    <main class="sub notice-view">
        <div class="board board-type1">
            <div class="column">
                <h1>Q&A</h1>
                <!-- <p class="desc">
                  한화로보틱스 제품과<br />서비스 업데이트 소식을<br />알려드립니다.
                </p> -->
<!--                <p class="desc" th:utext="#{notice}">-->
            </div>

            <div class="column">
                번호 <div class="board_no"></div>
                직성자 <div class="board_memberId"></div>
                진행상황 <div class="board_endStatus"></div>
                등록일 <div class="board_date"></div>
                제목 <div class="board_title"></div>
                <div class="board_exposureStatus"></div>
                내용 <div class="board_contents"></div>



                <div class="reply"></div>


                <script id="reply-html" type="text/template">
                    {{#list}}
                        <div class="reply-item">
                            <p>{{replyContent}}</p>
                            <p>{{replyType}}</p>
                            <p>{{createDt}}</p>
                        </div>
                    {{/list}}
                </script>


                <div>
                    <label>
                        답글
                        <div class="board_memberId"></div>
                        <input id="replyContent" type="text">
                    </label>
                    <button onclick="register()">답글 남기기 </button>
                </div>



<!--                <div class="board_prev" th:if="${previousQna != null}">-->
<!--                    <a th:href="@{'/qna/' + ${previousQna.qnaNo}}">&lt; 이전글</a>-->
<!--                </div>-->

<!--                <div class="board_prev" th:if="${nextQna != null}">-->
<!--                    <a th:href="@{'/qna/' + ${nextQna.qnaNo}}">다음글 &gt;</a>-->
<!--                </div>-->



                <div class="board_prev" th:if="${previousQna != null}">
                    <a th:href="@{'/qna/' + ${previousQna.qnaNo}}">&lt; 이전글</a>
                </div>

                <div class="board_next" th:if="${nextQna != null}">
                    <a th:href="@{'/qna/' + ${nextQna.qnaNo}}">다음글 &gt;</a>
                </div>



<!--                <div class="board_prev"></div>-->
<!--                <div class="board_next"></div>-->


                <div>
                    <a href="javascript:void(0)" onClick="goBack()" th:utext="#{toList}"></a>
                </div>



            </div>
        </div>





    </main>
</div>

</body>



<th:block layout:fragment="script">

    <script>
        $(document).ready(function () {
            getData();
        });



        function goBack(){
            var params = {};
            window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,
                function(str, key, value) {
                    params[key] = value;
                }
            );
            if(params["to"] !== undefined && params["to"]==="main"){
                // location.href="/newsroom/notice";
            }else{
                history.back();
            }
        }

        const paths = window.location.pathname.split('/');

        function getData(){
            // var paths = window.location.pathname.split('/')

            COMM.ajax({
                url : "/qna/" + paths[paths.length-1],
                success : function(data) {
                    if(data.code === 200){
                        console.log(data)
                        if(data.data == null){
                            alert("[[#{alert.postNotExist}]]");
                            window.history.back();
                        }else{
                            $('.board_no').html(data.data.qnaDetail.qnaNo);
                            $('.board_memberId').html(data.data.qnaDetail.memberId);
                            $('.board_endStatus').html(data.data.qnaDetail.endStatus);
                            $('.board_date').html(data.data.qnaDetail.createDt.replaceAll('-','.'));

                            $('.board_title').html(data.data.qnaDetail.title);
                            $('.board_exposureStatus').html(data.data.qnaDetail.exposureStatus);
                            $('.board_contents').html(data.data.qnaDetail.content);


                            if(data.data.qnaReplies != null && data.data.qnaReplies.length > 0){
                                const template = $("#reply-html").html();
                                const rendered = Mustache.render(template, {'list': data.data.qnaReplies});
                                $('.reply').html(rendered);
                            }

                            if (data.data.previousQna !== null) {
                                $('.board_prev a').attr('href', '/qna/' + data.data.previousQna.qnaNo);
                            }

                            if (data.data.nextQna !== null) {
                                $('.board_next a').attr('href', '/qna/' + data.data.nextQna.qnaNo);
                            }


                        }
                    }
                },
                error : function(jqXHR, textStatus, errorThrown){
                    console.log(jqXHR.status, jqXHR);
                    if(jqXHR.status === 403) {
                        alert("작성자만 열람할 수 있습니다.");
                        window.location.href = "/qna";
                    }
                }
            });
        }


        function register() {
            const replyContent = $('#replyContent').val();
            const qnaNo = paths[paths.length - 1];
            const jsonData = {
                replyContent: replyContent,
                qnaNo : qnaNo
            };

            COMM.ajax({
                type: 'POST',
                url: '/qna/reply',
                data: JSON.stringify(jsonData),
                contentType: 'application/json',
                success: function (data) {
                    alert('등록되었습니다.')
                    $('#replyContent').val('');
                    getData();
                },

                error: function (xhr, textStatus) {
                    console.error('전송 실패:', textStatus);
                    if (xhr.responseJSON) {
                        const errorMessage = xhr.responseJSON.message;
                        alert(errorMessage);
                    } else {
                        alert('등록에 실패했습니다.');
                    }
                }
            });

        }



    </script>
</th:block>
</html>