<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">


    <main class="sub notice-list">
        <div class="board board-type1">
            <div class="column">
                <h1>Q&A</h1>
                <!-- <p class="desc">
                    한화로보틱스 제품과<br />서비스 업데이트 소식을<br />알려드립니다.
                </p> -->
<!--                <p class="desc" th:utext="#{notice}">-->
<!--                </p>-->
            </div>


            <div class="column board_list">
                <div class="table">
                    <div class="thead">
                        <div class="th" th:text="#{no}"></div>

                        <div class="th">작성자</div>

                        <div class="th" th:text="#{title}"></div>

                        <div class="th">진행상황</div>

                        <div class="th">등록일</div>
                    </div>
                    <div class="tbody newsroomTbody">
                        <div class="tr">
                            <!-- <p class="empty">
                                조회 결과가 없습니다.
                            </p> -->
                            <p class="empty" th:utext="#{main.noLists}"></p>

                        </div>
                    </div>
                </div>

                <div class="paging">
                </div>
            </div>
        </div>

    </main>


<!--    <select>-->
<!--        <option value="title">제목</option>-->
<!--        <option value="content">내용</option>-->
<!--        <option value="name">작성자</option>-->
<!--    </select>-->
<!--    <input type="text" placeholder="검색어를 입력해주세요.">-->
<!--    <button onclick="search()">검색</button>-->

    <a href="/qna/register">문의하기</a>


    <form id="form" >
        <input type="hidden" name="size" id="size" value="10"/>
        <input type="hidden" name="page" id="page" value="1"/>
    </form>

    <script id="list-tmpl" type="x-tmpl-mustache" class="hide">
        {{#list}}
            <div class="tr">
                <a href="/qna/{{qnaNo}}" >


                    <div class="td">{{no}}</div>
                    <div class="td">{{memberId}}</div>

                    <div class="td">
                        <span class="contents">
                            {{title}}
                        </span>
                        <span class="endStatus">

                            {{#isExposure}}
                            {{/isExposure}}

                            {{^isExposure}}<span class="round td_notice" th:text="비공개"></span>{{/isExposure}}


                        </span>
                    </div>

                    <div class="td">

                        {{#isAnswered}}
                            답변 완료
                        {{/isAnswered}}
                        {{^isAnswered}}
                            답변 진행중
                        {{/isAnswered}}

                    </div>
                    <div class="td">{{createDt}} </div>
                </a>



            </div>
        {{/list}}
        {{^list}}
            <div class="tr">
                <!-- <p class="empty">
                    조회 결과가 없습니다.
                </p> -->
                <p class="empty" th:text="#{main.noLists}"></p>
            </div>
        {{/list}}
    </script>

</div>



</body>

<th:block layout:fragment="script">
    <script>
        $(document).ready(function () {
            //뒤로가기 or 새로고침시 검색어 유지
            setQueryStringParams();
            getList();
        });






        function getList(page){
            if(typeof page != "undefined" && page != null) $('#page').val(page);

            COMM.ajaxPagingList({
                    url : "/qna"
                },
                function success(data){

                    data.contents.forEach(function(item) {
                        item.isExposure = (item.exposureStatus === 'Y');
                    });

                    data.contents.forEach(function(item) {
                        item.isAnswered = (item.endStatus === 'Y');
                    });


                    var template = $("#list-tmpl").html();
                    var rendered = Mustache.render(template, {'list' : data.contents});
                    $('.tbody').html(rendered);

                    if(data.totalElements !== 0){
                        setPagination(data, $('.paging'));
                    }



                }
            );

        }











    </script>
</th:block>
</html>