<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">




    <main class="sub qna-view">
        <div class="board board-type1">
            <div class="column">
                <h1>Q<span>&</span>A</h1>
                <p class="desc">
                    한화로보틱스에 대해 궁금한 점이<br/>있으시면 문의해주세요.
                </p>
            </div>

            <div class="column board_list">
                <div class="qna-view-container">
                    <div class="qna-view-section pc">
                        <div class="qna-view-section-title">
                            <h4>번호</h4>
                            <span class="board_no"></span>
                        </div>

                        <div class="qna-view-section-content">
                            <div class="qna-view-writer-pc">
                                <h4>작성자</h4>
                                <span class="board_memberId"></span>
                            </div>
                            <div class="qna-view-section-content-right">
                                <div class="qna-view-title-badge board_endStatus"></div>
                                <span class="board_date"></span>
                            </div>
                        </div>
                    </div>


                    <div class="qna-view-section mobile">
                        <div class="qna-view-writer-mobile">
                            <div class="qna-view-section-title">
                                <h4>작성자</h4>
                            </div>
                            <div class="qna-view-section-content">
                                <span class="board_memberId"></span>
                            </div>
                        </div>
                        <div class="qna-view-title-badge board_endStatus"></div>
                    </div>





                    <div class="qna-view-section">
                        <div class="qna-view-section-title">
                            <h4>문의유형</h4>
                        </div>

                        <div class="qna-view-section-content-wrapper">
                            <div class="qna-view-section-content">
                                <span class="qna_type1"></span>
                            </div>
                            <div class="qna-view-section-content">
                                <span class="qna_type2"></span>
                            </div>
                        </div>
                    </div>


<!--                    <div class="qna-view-section">-->
<!--                        <div class="qna-view-section-title">-->
<!--                            <h4>문의유형 2</h4>-->
<!--                        </div>-->
<!--                        <div class="qna-view-section-content">-->
<!--                            <span class="qna_type2"></span>-->
<!--                        </div>-->
<!--                    </div>-->


                    <div class="qna-view-section">
                        <div class="qna-view-section-title">
                            <h4>문의제품</h4>
                        </div>

                        <div class="qna-view-section-content">
                            <ul class="qna-view-product-list" id="qna_robot">

                            </ul>
                        </div>
                    </div>


                    <div class="qna-view-section">
                        <div class="qna-viw-qna-wrapper">
                            <div class="qna-view-question">
                                <div>
                                    <div class="qna-view-question-text">
                                        <h4>제목</h4>
                                        <p class="board_title"></p>
                                    </div>
                                    <span class="board_exposureStatus"></span>
                                    <!--                                    <img src="../images/pc/ic_lock.svg" alt="" />-->
                                </div>
                                <div>
                                    <div class="qna-view-question-text">
                                        <h4>내용</h4>
                                        <p class="board_contents">
                                        </p>
                                    </div>
                                </div>
                            </div>



                            <span class="reply"></span>

                                <script id="reply-html" type="text/template">

                                    {{#list}}
                                    <span class="reply-item">

                                        {{#isUser}}

                                        <div class="qna-view-answer re">
                                            <div>
                                                <h4>답글</h4>
                                                <p class="qna-view-answer-my">{{memberId}}</p>
                                            </div>
                                            <div class="qna-view-answer-content">
                                                <div>
                                                    <h4 class="hidden-text">내용</h4>
                                                    <!--                                                <p>-->
                                                    <p id="reply-item-replyContent">{{replyContent}}</p>
                                                    <!--                                                </p>-->
                                                </div>
                                                <div class="qna-view-answer-my-btngroup">
                                                </div>
                                            </div>
                                        </div>

                                        {{/isUser}}


                                        {{#isAdmin}}
                                        <div class="qna-view-answer">
                                            <div>
                                                <h4>답변</h4>
                                                <p>
                                                    <strong>Admin<br/></strong>
                                                    <span id="reply-item-replyContent">{{replyContent}}</span>
                                                </p>
                                            </div>
                                        </div>
                                        {{/isAdmin}}

                                    </span>
                                    {{/list}}

                                </script>


                            <div class="qna-view-answer-disable">
                                <p>해당 문의글은 답변이 완료되었습니다.</p>
                                <p>더 이상 글을 남길 수 없습니다.</p>
                            </div>
                        </div>
                    </div>

                    <div class="qna-view-section reply-section">
                        <form class="qna-view-answer-wrapper">
                            <div class="qna-view-section-title">
                                <h4>답글</h4>
                                <span class="board_memberId"></span>
                            </div>
                            <textarea class="qna-view-answer-text" name="answer" id="replyContent_input"></textarea>
                            <button class="qna-view-answer-submit" type="button" onclick="register()">답글 남기기</button>
                        </form>
                    </div>

                </div>



                <a href="#" class="qna-view-nav board_prev">
                    <h4>이전글</h4>
                    <div>
                        <p class="boardPrevTitle"></p>
                        <span class="boardPrevWrap"></span>
                        <!--                        <img src="../images/pc/ic_lock.svg" alt="" />-->
                    </div>
                </a>
                <a href="#" class="qna-view-nav board_next">
                    <h4>다음글</h4>
                    <div>
                        <p class="boardNextTitle"></p>
                        <span class="boardNextWrap"></span>
                    </div>
                </a>


                <div class="qna-view-footer">
<!--                    <a href="javascript:void(0)" onClick="goBack()" class="qna-view-prev">-->
<!--                        <img src="../images/pc/btn_prev.svg" alt=""/>-->
<!--                        목록으로-->
<!--                    </a>-->
                    <a href="/qna" class="qna-view-prev">
                        <img src="../images/pc/btn_prev.svg" alt=""/>
                        목록으로
                    </a>

                    <div class="qna-view-footer-btngroup">
                        <button type="button" class="qna-view-footer-btn delete-button" onclick="deleteQna()">삭제
                        </button>
                        <a type="button" class="qna-view-footer-btn color-orange edit-button"
                           th:href="@{'/qna/edit/' + ${qnaNo}}">수정</a>
                    </div>
                </div>


            </div>
        </div>
    </main>
</div>

</body>


<th:block layout:fragment="script">

    <script>

        const loginMemberNo = Number("[[${#request.userPrincipal.getName()}]]");

        $(document).ready(function () {
            getData();
            getReply();
        });


        function goBack() {
            const params = {};
            window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,
                function (str, key, value) {
                    params[key] = value;
                }
            );
            if (params["to"] !== undefined && params["to"] === "main") {
                // location.href="/newsroom/notice";
            } else {
                history.back();
            }
        }

        const paths = window.location.pathname.split('/');


        function getData() {
            // var paths = window.location.pathname.split('/')

            COMM.ajax({
                url: "/qna/" + paths[paths.length - 1],
                success: function (data) {
                    if (data.code === 200) {
                        console.log(data)
                        if (data.data == null) {
                            alert("[[#{alert.postNotExist}]]");
                            window.history.back();
                        } else {

                            $('.board_no').html(data.data.qnaDetail.qnaNo);
                            $('.board_memberId').html(data.data.qnaDetail.memberId);

                            // $('.board_endStatus').html(data.data.qnaDetail.endStatus);
                            $('.board_endStatus').html(data.data.qnaDetail.endStatus === 'N' ? '답변 진행 중' : '답변 종료');
                            $('.board_date').html(data.data.qnaDetail.createDt.replaceAll('-', '.'));

                            $('.board_title').html(data.data.qnaDetail.title);
                            $('.board_exposureStatus').html(data.data.qnaDetail.exposureStatus === 'N' ? '<img src="../images/pc/ic_lock.svg" alt="" />' : '');
                            $('.board_contents').html(data.data.qnaDetail.content);

                            $('.qna_type1').html(data.data.qnaDetail.qnaType1Nm);
                            $('.qna_type2').html(data.data.qnaDetail.qnaType2Nm);


                            // 로봇리스트
                            data.data.qnaRobots.forEach(function (robot) {
                                const robotItem = $('<li></li>');
                                const modelDiv = $('<div></div>');

                                modelDiv.append('<h4>모델명 </h4><span>' + robot.modelCd + '</span>');
                                // const modelCdText = robot.modelCd !== null ? robot.modelCd : '-';
                                // modelDiv.append('<h4>모델명</h4><span>' + modelCdText + '</span>');

                                const softwareVersionDiv = $('<div></div>');

                                softwareVersionDiv.append('<h4>소프트웨어 버전</h4><span>' + robot.swVersion + '</span>');
                                // const swVersionText = robot.swVersion !== null ? robot.swVersion : '-';
                                // softwareVersionDiv.append('<h4>소프트웨어 버전</h4><span>' + swVersionText + '</span>');

                                const applicationDiv = $('<div></div>');

                                // applicationDiv.append('<h4>어플리케이션</h4><span>' + robot.applicationCd + '</span>');
                                const applicationCdText = robot.applicationCd !== null ? robot.applicationCd : '';
                                applicationDiv.append('<h4>어플리케이션</h4><span>' + applicationCdText + '</span>');


                                robotItem.append(modelDiv);
                                robotItem.append(softwareVersionDiv);
                                robotItem.append(applicationDiv);

                                $('#qna_robot').append(robotItem);
                            });


                            // if (data.data.qnaReplies != null && data.data.qnaReplies.length > 0) {
                            //     data.data.qnaReplies.forEach(function (reply) {
                            //         if (reply.replyType === 'USER') {
                            //             reply.isUser = true;
                            //             reply.isAdmin = false;
                            //         } else if (reply.replyType === 'ADMIN') {
                            //             reply.isUser = false;
                            //             reply.isAdmin = true;
                            //         }
                            //     });
                            //
                            //     const template = $("#reply-html").html();
                            //     const rendered = Mustache.render(template, {'list': data.data.qnaReplies});
                            //     $('.reply').html(rendered);
                            //
                            //
                            //     $('.reply-item:last-child').ready(function () {
                            //         const latestReply = data.data.qnaReplies[data.data.qnaReplies.length - 1];
                            //         if (latestReply.replyType === 'USER') {
                            //             const deleteButton = $('<button class="qna-view-answer-my-btn reply-delete-button" onclick="deleteReply(' + latestReply.replyNo + ')">삭제</button>');
                            //             const editButton = $('<button class="qna-view-answer-my-btn color-orange reply-edit-button" onclick="editReply(' + latestReply.replyNo + ')">수정</button>');
                            //             $('.reply-item:last-child .qna-view-answer-my-btngroup').append(deleteButton).append(editButton);
                            //         }
                            //     });
                            // }

                            // 이전글
                            if (data.data.previousQnaNo != null) {
                                $('.board_prev').show().attr('href', '/qna/' + data.data.previousQnaNo.qnaNo);
                                $('.boardPrevTitle').text(data.data.previousQnaNo.title);

                                if (data.data.previousQnaNo.exposureStatus === "N") {
                                    $('.boardPrevWrap').append('<img src="../images/pc/ic_lock.svg" alt="" />');
                                }

                            } else {
                                $('.board_prev').hide();
                            }

                            // 다음글
                            if (data.data.nextQnaNo != null) {
                                $('.board_next').show().attr('href', '/qna/' + data.data.nextQnaNo.qnaNo);
                                $('.boardNextTitle').text(data.data.nextQnaNo.title);

                                if (data.data.nextQnaNo.exposureStatus === "N") {
                                    $('.boardNextWrap').append('<img src="../images/pc/ic_lock.svg" alt="" />');
                                }

                            } else {
                                $('.board_next').hide();
                            }


                            // 수정,삭제 버튼 노출 체크
                            if ((loginMemberNo === data.data.qnaDetail.memberNo) && (!data.data.qnaReplies.some(reply => reply.replyType === 'ADMIN'))) {
                                $('.edit-button').show();
                                $('.delete-button').show();
                            } else {
                                $('.edit-button').hide();
                                $('.delete-button').hide();
                            }


                            if ((loginMemberNo === data.data.qnaDetail.memberNo) && (data.data.qnaDetail.endStatus === "N")) {
                                $('.reply-section').show();
                            } else {
                                $('.reply-section').hide();
                            }

                            if(data.data.qnaDetail.endStatus === 'Y') {
                                $('.reply-section').hide();
                                $('.qna-view-answer-disable').show();
                            } else {
                                $('.qna-view-answer-disable').hide();
                            }


                        }
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.status, jqXHR);
                    if (jqXHR.status === 403) {
                        alert("비공개 게시글 입니다.");
                        // window.location.href = "/qna";
                        goBack();
                    }
                }
            });
        }

        function getReply(qnaNo) {
            COMM.ajax({
                type: 'GET',
                url: '/qna/reply/' + paths[paths.length - 1],
                success: function (data) {
                    if (data.data.qnaReplies != null && data.data.qnaReplies.length > 0) {
                        data.data.qnaReplies.forEach(function (reply) {
                            if (reply.replyType === 'USER') {
                                reply.isUser = true;
                                reply.isAdmin = false;
                            } else if (reply.replyType === 'ADMIN') {
                                reply.isUser = false;
                                reply.isAdmin = true;
                            }
                        });

                        const template = $("#reply-html").html();
                        const rendered = Mustache.render(template, {'list': data.data.qnaReplies});
                        $('.reply').html(rendered);


                        $('.reply-item:last-child').ready(function () {
                            const latestReply = data.data.qnaReplies[data.data.qnaReplies.length - 1];
                            if (latestReply.replyType === 'USER') {
                                const deleteButton = $('<button class="qna-view-answer-my-btn reply-delete-button" onclick="deleteReply(' + latestReply.replyNo + ')">삭제</button>');
                                const editButton = $('<button class="qna-view-answer-my-btn color-orange reply-edit-button" onclick="editReply(' + latestReply.replyNo + ')">수정</button>');
                                $('.reply-item:last-child .qna-view-answer-my-btngroup').append(deleteButton).append(editButton);
                            }
                        });
                    }
                },

                error: function (xhr, textStatus) {
                    console.error('댓글 가져오기 실패:', textStatus);
                    if (xhr.responseJSON) {
                        const errorMessage = xhr.responseJSON.message;
                        alert(errorMessage);
                    } else {
                        alert('댓글 가져오기에 실패했습니다.');
                    }
                }
            });

        }



        function editReply(replyNo) {
            const editButton = $('.reply-edit-button');
            const replyItem = editButton.closest('.reply-item');
            const replyContent = replyItem.find('#reply-item-replyContent').text();

            replyItem.find('.qna-view-answer-content')
                .replaceWith(`
                    <form class="qna-view-answer-content">
                        <div>
                            <h4 class="hidden-text">내용</h4>
                            <textarea name="qna-answer" id="qna-answer" class="replyContent_edit" rows="3">${replyContent}</textarea>
                        </div>
                        <div class="qna-view-answer-my-btngroup">
                            <button type="button" class="qna-view-answer-my-btn" onclick="cancelEdit(${replyNo})">취소</button>
                            <button type="button" class="qna-view-answer-my-btn color-orange edit-complete" onclick="updateReply(${replyNo})">수정완료</button>
                        </div>
                    </form>`);
        }



        function cancelEdit() {
            getReply()
            // getData();
        }


        // Q&A 삭제
        function deleteQna() {
            alert("삭제하시겠습니까?");
            COMM.ajax({
                type: 'DELETE',
                url: '/qna/' + paths[paths.length - 1],
                success: function (data) {
                    alert("삭제되었습니다.")
                    window.location.href = "/qna";
                },
                error: function (xhr, textStatus) {
                    console.error('전송 실패:', textStatus);
                    if (xhr.responseJSON) {
                        const errorMessage = xhr.responseJSON.message;
                        alert(errorMessage);
                    } else {
                        alert('삭제 실패했습니다.');
                    }
                }
            });
        }




        // 답글 등록
        function register() {
            const replyContent = $('#replyContent_input').val();
            const qnaNo = paths[paths.length - 1];
            const jsonData = {
                replyContent: replyContent,
                qnaNo: qnaNo
            };

            COMM.ajax({
                type: 'POST',
                url: '/qna/reply',
                data: JSON.stringify(jsonData),
                contentType: 'application/json',
                success: function (data) {
                    getReply();
                    $('#replyContent_input').val('');
                    // alert('등록되었습니다.')
                },

                error: function (xhr, textStatus) {
                    console.error('전송 실패:', textStatus);
                    if (xhr.responseJSON) {
                        const errorMessage = xhr.responseJSON.message;
                        alert(errorMessage);
                    } else {
                        alert('등록에 실패했습니다.');
                    }
                }
            });
        }


        // 답글 수정 완료
        function updateReply(replyNo) {
            const replyContent = $('.replyContent_edit').val();
            const jsonData = {
                replyContent: replyContent,
            };

            COMM.ajax({
                type: 'PUT',
                url: '/qna/reply/' + replyNo,
                data: JSON.stringify(jsonData),
                contentType: 'application/json',
                success: function () {
                    getReply();
                },
                error: function (xhr, textStatus) {
                    console.error('전송 실패:', textStatus);
                    if (xhr.responseJSON) {
                        const errorMessage = xhr.responseJSON.message;
                        alert(errorMessage);
                    } else {
                        alert('댓글 수정에 실패했습니다.');
                    }
                }
            });
        }


        // 답글 삭제
        function deleteReply(replyNo) {
            if (!confirm('답글을 삭제 하시겠습니까?')) {
                return;
            }
            COMM.ajax({
                type: 'DELETE',
                url: '/qna/reply/' + replyNo,
                success: function () {
                    getReply();
                },
                error: function (xhr, textStatus) {
                    console.error('전송 실패:', textStatus);
                    if (xhr.responseJSON) {
                        const errorMessage = xhr.responseJSON.message;
                        alert(errorMessage);
                    } else {
                        alert('댓글 삭제에 실패했습니다.');
                    }
                }
            });
        }


    </script>
</th:block>
</html>

