<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">

    <main class="sub notice-view">
        <div class="board board-type1">
            <div class="column">
                <h1>Q&A</h1>
                <!-- <p class="desc">
                  한화로보틱스 제품과<br />서비스 업데이트 소식을<br />알려드립니다.
                </p> -->
                <!--                <p class="desc" th:utext="#{notice}">-->
            </div>

            <div class="column">



                <div>
                    작성자 <input id="memberId" th:value="${memberResponse.getMemberId()}" readonly>
                    <br>

                    <label for="email">이메일 </label><input id="email" name="email" type="text" th:value="${memberResponse.getEmail()}">
                    <input type="checkbox" id="emailReceiveYn" name="emailReceiveYn" style="appearance: auto" value="Y"> 관리자가 답변을 남기면 이메일로 알림을 받습니다.
                    <br>


                    <label for="title">제목 </label><input id="title" name="title" type="text">
                    <br>
                    <label for="content">내용 </label><input id="content" name="content" type="text">
                </div>
                <button type="button" onclick="register()">문의글 남기기</button>

            </div>


        </div>
    </main>
</div>

</body>

<th:block layout:fragment="script">
    <script>
        $(document).ready(function () {
            const emailReceiveYn = $('#emailReceiveYn').val();
            if (emailReceiveYn === 'Y') {
                $('#emailReceiveYn').prop('checked', true);
            }
        });


        function register() {
            const email = $('#email').val();
            const emailReceiveYn = $('#emailReceiveYn').prop('checked') ? 'Y' : 'N';
            const title = $('#title').val();
            const content = $('#content').val();
            const memberId = $('#memberId').val();

            const jsonData = {
                email: email,
                emailReceiveYn: emailReceiveYn,
                title: title,
                content: content,
                memberId: memberId
            };

            $.ajax({
                type: 'POST',
                url: '/qna/register',
                data: JSON.stringify(jsonData),
                contentType: 'application/json',
                success: function (data) {
                    window.location.href = '/qna/' + data;
                },
                error: function (xhr, textStatus) {
                    alert("등록에 실패하였습니다.");
                    console.error('Error:', xhr.responseText);
                    console.error('Status:', xhr.status);
                }
            });
        }






    </script>


</th:block>
</html>