<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/sub_layout.html}">
<body>
<div layout:fragment="content">

    <main class="sub notice-view">
        <div class="board board-type1">
            <div class="column">
                <h1>Q&A</h1>
                <!-- <p class="desc">
                  한화로보틱스 제품과<br />서비스 업데이트 소식을<br />알려드립니다.
                </p> -->
                <!--                <p class="desc" th:utext="#{notice}">-->
            </div>


            <div>

                <div>

                    작성자 <input id="memberId" th:value="${memberResponse.getMemberId()}" readonly>
                    <hr>

                    <label for="email">이메일 </label><input id="email" name="email" type="text" th:value="${memberResponse.getEmail()}">
                    <input type="checkbox" id="emailReceiveYn" name="emailReceiveYn" style="appearance: auto" value="Y"> 관리자가 답변을 남기면 이메일로 알림을 받습니다.
                    <hr>

                    문의유형 1 *
                    <div class="qnaType1" id="qnaType1"></div>
                    <hr>

                    문의유형 2 *
                    <div class="qnaType2" id="qnaType2"></div>
                    <hr>

                    문의제품
                    모델명
                    로봇암 시리얼넘버
                    소프트웨어 버전
                    어플리케이션
                    <br>
                    <div class="robotInfoContainer">
                        <span id="modelCd" class="robotModel"></span>

                        <input type="text" id="serialNo" class="serialNo" placeholder="로봇암 시리얼넘버">
                        <input type="text" id="swVersion" class="swVersion" placeholder="소프트웨어 버전">

                        <span id="applicationCd" class="application"></span>

                        <button type="button" onclick="addRobotInfo()">+</button>
                        <button type="button" onclick="removeRobotInfo()">-</button>
                    </div>

                    <hr>


                    <label for="title">제목 </label><input id="title" name="title" type="text">
                    <hr>
                    <label for="content">내용 </label><input id="content" name="content" type="text">

                    <br>
                    문의 내용에 따라 제품 로그, 제품 구동 영상, VOC 리포트 등을 추가로 요청할 수 있으며 메일을 통해 전달 부탁드립니다.


                    <hr>

                    첨부파일


                    <!-- 파일이 보여지는 영역 -->
                    <div class="fileDisplayContainer"></div>

                    <!-- 첨부파일 -->
                    <div class="fileContainer">
                        <input type="file" name="attachment" id="fileInput" onchange="handleFileUpload()">
                    </div>
                    첨부파일 개당 최대 5MB 이내, 최대 5개까지 첨부 가능합니다.<br>
                    exe, html 형식등 문제가 될 수 있는 파일은 압축파일 형태로 첨부해주세요.


                </div>

                <hr><br>
                <button type="button" onclick="register()">문의글 남기기</button>
<!--                <button type="submit">문의글 남기기</button>-->


            </div>


        </div>
    </main>
</div>

</body>

<th:block layout:fragment="script">
    <script>


        $(document).ready(function () {
            getCode();

            const emailReceiveYn = $('#emailReceiveYn').val();
            if (emailReceiveYn === 'Y') {
                $('#emailReceiveYn').prop('checked', true);
            }
        });

        // 코드 가져오기
        function getCode() {
            COMM.ajax({
                type: 'GET',
                url: "/qna/code",
                success: function (data) {
                    populateSelectBox(data.data.qnaType1List, 'qnaType1');
                    populateRadioButtons(data.data.qnaType2List, 'qnaType2');

                    populateSelectAndInputs(data.data.robotModelList, 'robotModel');
                    populateSelectAndInputs(data.data.applicationList, 'application');
                },
            });
        }

        // 문의유형1
        function populateSelectBox(options, selectClass) {
            const selectBox = $('<select>');
            selectBox.addClass(selectClass);

            $.each(options, function (index, option) {
                selectBox.append($('<option>', {
                    value: option.code,
                    text: option.description
                }));
            });

            $('.' + selectClass).html(selectBox);
        }


        // 문의유형2
        function populateRadioButtons(options, containerId) {
            const container = $('#' + containerId);
            container.empty();

            $.each(options, function (index, option) {
                const radioBtn = $('<input>', {
                    type: 'radio',
                    name: 'qnaType2',
                    value: option.code,
                    style: 'appearance: auto'
                });

                const label = $('<label>', {
                    for: option.code,
                    text: option.description
                });

                container.append(radioBtn).append(label);
            });
        }


        // 문의제품
        function populateSelectAndInputs(options, containerId) {
            const container = $('.' + containerId);
            container.empty();

            const selectBox = $('<select>');
            container.append(selectBox);

            $.each(options, function (index, option) {
                selectBox.append($('<option>', {
                    value: option.code,
                    text: option.description
                }));
            });

        }



        let robotInfoCounter = 1;

        function addRobotInfo() {
            if (robotInfoCounter < 10) {
                const newRobotInfo = $('.robotInfoContainer:first').clone();
                newRobotInfo.find('input').val('');
                $('.robotInfoContainer:last').after(newRobotInfo);
                robotInfoCounter++;
            }
        }

        function removeRobotInfo() {
            if (robotInfoCounter > 1) {
                $('.robotInfoContainer:last').remove();
                robotInfoCounter--;
            }
        }



        // 파일 선택
        function handleFileUpload() {
            const fileInput = document.getElementById('fileInput');
            const fileDisplayContainer = document.querySelector('.fileDisplayContainer');

            // 파일 개수 체크
            if (fileInput.files.length > 5) {
                alert('최대 5개까지만 첨부 가능합니다.');
                return;
            }

            // 파일이 선택되었을 때만 처리
            if (fileInput.files.length > 0) {
                // 파일명을 표시
                const fileNameDiv = document.createElement('div');
                fileNameDiv.innerHTML = `${fileInput.files[fileInput.files.length - 1].name} <button onclick="removeFile(${fileInput.files.length - 1})">x</button>`;
                fileDisplayContainer.appendChild(fileNameDiv);
            }
        }

        // 파일 삭제
        function removeFile(index) {
            const fileDisplayContainer = document.querySelector('.fileDisplayContainer');
            fileDisplayContainer.removeChild(fileDisplayContainer.childNodes[index]);

            // 파일 입력 초기화 (해당 파일 제거)
            const fileInput = document.getElementById('fileInput');
            const files = Array.from(fileInput.files);
            files.splice(index, 1);
            fileInput.files = new FileList({ items: files });
        }


        // 등록
        function register() {
            const formData = new FormData();
            formData.append('email', $('#email').val());
            formData.append('emailReceiveYn', $('#emailReceiveYn').prop('checked') ? 'Y' : 'N');
            formData.append('title', $('#title').val());
            formData.append('content', $('#content').val());
            formData.append('memberId', $('#memberId').val());

            formData.append('qnaType1Cd', $('.qnaType1').find('select').val());
            formData.append('qnaType2Cd', $('.qnaType2').find('input:checked').val());

            const qnaRobots = [];
            $('.robotInfoContainer').each(function () {
                const modelCd = $(this).find('.robotModel select').val();
                const serialNo = $(this).find('.serialNo').val();
                const swVersion = $(this).find('.swVersion').val();
                const applicationCd = $(this).find('.application select').val();

                const robotInfo = {
                    modelCd: modelCd,
                    serialNo: serialNo,
                    swVersion: swVersion,
                    applicationCd: applicationCd
                };
                qnaRobots.push(robotInfo);
            });

            for(let i = 0; i < qnaRobots.length; i++) {
                formData.append(`qnaRobots[${i}].modelCd`, qnaRobots[i].modelCd);
                formData.append(`qnaRobots[${i}].serialNo`, qnaRobots[i].serialNo);
                formData.append(`qnaRobots[${i}].swVersion`, qnaRobots[i].swVersion);
                formData.append(`qnaRobots[${i}].applicationCd`, qnaRobots[i].applicationCd);
            }

            const fileInput = document.getElementById('fileInput');
            for (let i = 0; i < fileInput.files.length; i++) {
                formData.append(`files[${i}]`, fileInput.files[i]);
            }

            $.ajax({
                type: 'POST',
                url: '/qna/register',
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    alert("게시글이 정상정으로 등록되었습니다.");
                    window.location.href = '/qna/' + data;
                },
                error: function (xhr, textStatus) {
                    alert("등록에 실패하였습니다.");
                    console.error('Error:', xhr.responseText);
                    console.error('Status:', xhr.status);
                }
            });
        }







    </script>


</th:block>
</html>