<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanwha.robotics.user.mapper.CodeMapper">




    <select id="selectQnaCode" resultType="com.hanwha.robotics.user.entity.code.Code">
        SELECT *
        FROM tb_code
        WHERE parent_code IN ('QNA_TYPE1', 'QNA_TYPE2', 'ROBOT_MODEL', 'ROBOT_APPLICATION')
    </select>

    <select id="selectQnaType1" resultType="com.hanwha.robotics.user.entity.code.Code">
        SELECT
            *
        FROM tb_code
        WHERE parent_code IN ('QNA_TYPE1')
    </select>

    <select id="selectQnaType2" resultType="com.hanwha.robotics.user.entity.code.Code">
        SELECT
            *
        FROM tb_code
        WHERE parent_code IN ('QNA_TYPE2')
    </select>

    <select id="selectRobotModel" resultType="com.hanwha.robotics.user.entity.code.Code">
        SELECT
            *
        FROM tb_code
        WHERE parent_code IN ('ROBOT_MODEL')
    </select>

    <select id="selectApplication" resultType="com.hanwha.robotics.user.entity.code.Code">
        SELECT
            *
        FROM tb_code
        WHERE parent_code IN ('ROBOT_APPLICATION')
    </select>



</mapper>