<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanwha.robotics.user.mapper.MainMapper">

    <select id="selectNewsroomList" parameterType="hashMap" resultType="Newsroom">
        SELECT
           tn.newsroom_no,
           tn.type_cd,
           tn.title,
           tn.create_dt,
           tn.content,
           tn.category_cd,
           tc.code_name as typeCdNm
        FROM
            tb_newsroom tn
            LEFT JOIN tb_code tc ON tn.type_cd = tc.code
        <where>
	        AND tn.show_yn = 'Y'
            <if test="typeCd != null and typeCd != '' ">
                AND tn.type_cd = #{typeCd}
            </if>
            <choose>
                <when test="lang !=null and lang != '' ">
                    AND tn.lang = #{lang}
                </when>
                <otherwise>
                    AND (tn.lang is null or tn.lang = '' or tn.lang = 'ko') 
                </otherwise>
            </choose>
		</where>
        ORDER BY tn.create_dt DESC
        LIMIT #{limit}
    </select>

</mapper>