<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanwha.robotics.user.mapper.MemberMapper">

  <!-- 회원가입 -->
  <insert id="insertMember" parameterType="com.hanwha.robotics.user.dto.MemberRequest">
    INSERT INTO tb_member
    (member_id, password, company_nm, region, city, post_cd, address, address_detail, store,
     member_nm, position, email, contact, accept_yn, create_dt)
    VALUES (#{memberId}, #{password}, #{companyNm}, #{region}, #{city}, #{postCd}, #{address},
            #{addressDetail}, #{store},
            #{memberNm}, #{position}, #{email}, #{contact}, (SELECT member_accept FROM tb_policy),
            current_timestamp)
  </insert>

  <!-- 비밀번호 재설정 -->
  <update id="updatePassword" parameterType="String">
    UPDATE tb_member
    SET password = #{password}
    WHERE member_id = #{memberId}
  </update>

  <!-- 아이디 중복확인-->
  <select id="checkMemberId" parameterType="String" resultType="int">
    SELECT COUNT(*)
    FROM (SELECT member_id
          FROM tb_member
          WHERE member_id = #{memberId}
          UNION
          SELECT member_id
          FROM tb_deleted_account
          WHERE member_id = #{memberId}) as member
  </select>

  <!-- 이메일 중복확인-->
  <select id="checkMemberEmail" parameterType="String" resultType="int">
    SELECT COUNT(*)
    FROM (SELECT email
          FROM tb_member
          WHERE email = #{email}
          UNION
          SELECT email
          FROM tb_deleted_account
          WHERE email = #{email}) as member
  </select>


  <select id="findEmailByMemberNo" parameterType="int" resultType="String">
    SELECT email
    FROM tb_member
    WHERE member_no = #{memberNo}
  </select>


  <!-- 로그인 , 비밀번호 찾기 -->
  <select id="selectByMemberId" parameterType="String"
    resultType="com.hanwha.robotics.user.entity.Member">
    SELECT *
    FROM tb_member
    WHERE member_id = #{memberId}
  </select>


  <select id="selectByMemberNo" parameterType="int"
    resultType="com.hanwha.robotics.user.entity.Member">
    SELECT *
    FROM tb_member
    WHERE member_no = #{memberNo}
  </select>


  <!-- 아이디 찾기 -->
  <select id="selectByEmail" parameterType="String"
    resultType="com.hanwha.robotics.user.entity.Member">
    SELECT *
    FROM tb_member
    WHERE email = #{email}
  </select>


  <select id="findByMemberNo" parameterType="int"
    resultType="com.hanwha.robotics.user.dto.MemberResponse">
    SELECT *
    FROM tb_member
    WHERE member_no = #{memberNo}
  </select>


  <select id="findRegionByMemberNo" parameterType="int" resultType="String">
    SELECT region
    FROM tb_member
    WHERE member_no = #{memberNo}
  </select>

  <select id="findEmailAndRegionByMemberNo"
    resultType="com.hanwha.robotics.user.entity.Member">
    SELECT email,
           region
    FROM tb_member
    WHERE member_no = #{memberNo}
  </select>


  <!-- 회원정보 수정 -->
  <update id="updateMember" parameterType="com.hanwha.robotics.user.dto.MemberRequest">
    UPDATE tb_member
    SET company_nm     = #{companyNm},
        post_cd        = #{postCd},
        address        = #{address},
        address_detail = #{addressDetail},
        store          = #{store},
        member_nm      = #{memberNm},
        position       = #{position},
        email          = #{email},
        contact        = #{contact},
        update_dt      = current_timestamp
    WHERE member_no = #{memberNo}
  </update>

  <delete id="deleteMember" parameterType="int">
    DELETE
    FROM tb_member
    WHERE member_no = #{memberNo}
  </delete>


</mapper>