<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanwha.robotics.user.mapper.MemberMapper">

    <insert id="insertMember" parameterType="com.hanwha.robotics.user.dto.MemberRequest">
        INSERT INTO tb_member (member_id, password, name, email, create_dt, accept_yn, use_yn)
        VALUES (#{memberId}, #{password}, #{name}, #{email}, current_timestamp, 'N', 'Y')
    </insert>

    <select id="checkMemberId" resultType="int" parameterType="String">
        SELECT COUNT(*)
        FROM tb_member
        WHERE member_id = #{ memberId }
    </select>
    
    <select id="selectByMemberId" resultType="com.hanwha.robotics.user.entity.Member" parameterType="String">
        SELECT *
        FROM tb_member
        WHERE member_id = #{memberId}
    </select>

</mapper>