<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanwha.robotics.user.mapper.NewsroomMapper">

	<sql id="newsroomWhere">
	        AND tn.show_yn = 'Y'
            <if test="typeCd != null and typeCd != '' ">
                AND tn.type_cd = #{typeCd}
            </if>
    </sql>

    <select id="selectNewsroomList" parameterType="hashMap" resultType="Newsroom">
        SELECT
           tn.newsroom_no,
           tn.type_cd,
           tn.title,
           tn.create_dt,
           tn.content,
           tn.category_cd,
           tnf.original_file_nm,
           tnf.file_path
        FROM 
            tb_newsroom tn
            LEFT JOIN tb_newsroom_file tnf on tnf.file_no = (SELECT file_no 
                                                                FROM tb_newsroom_file 
                                                                <where>
                                                                    and newsroom_no = tn.newsroom_no
                                                                    <choose>
                                                                        <when test="typeCd != null and typeCd != '' and typeCd == 'NEWSROOM_PRESS'">and thumnail_yn = 'Y'</when>
                                                                        <otherwise>and thumnail_yn != 'Y'</otherwise>
                                                                    </choose>
                                                                </where>
                                                                ORDER BY file_no DESC
                                                                limit 1)
		<where>
			<include refid="newsroomWhere" />
		</where>
        ORDER BY 
            FIELD(tn.category_cd, 'NOTICE') DESC, 
            tn.create_dt DESC
		LIMIT
			#{page.size}
		OFFSET
			#{page.offset}
    </select>


    <select id="selectNewsroomCnt" parameterType="hashMap" resultType="int">
        SELECT
           COUNT(*)
        FROM 
            tb_newsroom tn
		<where>
			<include refid="newsroomWhere" />
		</where>
    </select>


    <select id="selectNewsroomByNo" parameterType="int" resultType="Newsroom">
        SELECT
           newsroom_no,
           type_cd,
           title,
           create_dt,
           content,
           category_cd
        FROM 
            tb_newsroom
        WHERE 
            newsroom_no = #{no} and show_yn = 'Y'
    </select>

    <select id="selectNewsroomFileByNo" parameterType="int" resultType="NewsroomFile">
        SELECT 
            file_no,
            newsroom_no,
            original_file_nm,
            file_nm,
            type_cd,
            file_path
        FROM tb_newsroom_file
        WHERE 
            newsroom_no = #{no} 
            and thumnail_yn != 'Y'
    </select>
</mapper>