<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanwha.robotics.user.mapper.QnaMapper">

    <select id="countQnaList" resultType="int">
        SELECT count(*)
        FROM tb_qna
    </select>

    <select id="selectQnaList" parameterType="hashMap" resultType="com.hanwha.robotics.user.dto.QnaResponse">
        SELECT
            qna_no,
            title,
            content,
            end_status,
            exposure_status,
            create_dt,
            member_id
        FROM tb_qna q

        <!--        <where>-->
        <!--            <choose>-->
        <!--                <when test="searchType == 'TITLE'">-->
        <!--                    AND title LIKE '%' + #{keyword} + '%'-->
        <!--                </when>-->
        <!--                <when test="searchType == 'CONTENT'">-->
        <!--                    AND content LIKE '%' + #{keyword} + '%'-->
        <!--                </when>-->
        <!--            </choose>-->
        <!--        </where>-->

        ORDER BY q.qna_no desc
        LIMIT #{page.size}
        OFFSET #{page.offset}
    </select>

<!--    <select id="selectQnaList" parameterType="hashMap" resultType="com.hanwha.robotics.user.dto.QnaResponse">-->
<!--        SELECT-->
<!--            q.qna_no,-->
<!--            q.title,-->
<!--            q.content,-->
<!--            q.end_status,-->
<!--            q.exposure_status,-->
<!--            q.create_dt,-->
<!--        CASE WHEN m.member_id IS NOT NULL THEN m.member_id ELSE '*****' END AS member_id-->
<!--        FROM tb_qna q-->
<!--        LEFT JOIN tb_member m ON q.member_no = m.member_no-->

<!--        &lt;!&ndash;        <where>&ndash;&gt;-->
<!--        &lt;!&ndash;            <choose>&ndash;&gt;-->
<!--        &lt;!&ndash;                <when test="searchType == 'TITLE'">&ndash;&gt;-->
<!--        &lt;!&ndash;                    AND title LIKE '%' + #{keyword} + '%'&ndash;&gt;-->
<!--        &lt;!&ndash;                </when>&ndash;&gt;-->
<!--        &lt;!&ndash;                <when test="searchType == 'CONTENT'">&ndash;&gt;-->
<!--        &lt;!&ndash;                    AND content LIKE '%' + #{keyword} + '%'&ndash;&gt;-->
<!--        &lt;!&ndash;                </when>&ndash;&gt;-->
<!--        &lt;!&ndash;            </choose>&ndash;&gt;-->
<!--        &lt;!&ndash;        </where>&ndash;&gt;-->

<!--        ORDER BY q.create_dt desc-->
<!--        LIMIT #{page.size}-->
<!--        OFFSET #{page.offset}-->
<!--    </select>-->


    <select id="selectByQnaNo" parameterType="int" resultType="com.hanwha.robotics.user.dto.QnaResponse">
        SELECT
            qna_no,
            member_no,
            member_id,
            title,
            content,
            end_status,
            exposure_status,
            create_dt,
            member_id
        FROM tb_qna
        WHERE qna_no = #{qnaNo}
    </select>


<!--    <insert id="insertQna" parameterType="com.hanwha.robotics.user.dto.QnaRequest">-->
<!--        <selectKey keyProperty="qnaNo" resultType="int" order="AFTER">-->
<!--            SELECT LAST_INSERT_ID() AS qnaNo-->
<!--        </selectKey>-->

<!--        INSERT INTO-->
<!--            tb_qna (member_no, member_id, email, title, content, email_receive_yn, end_status, exposure_status, create_dt)-->
<!--        VALUES-->
<!--            (#{memberNo}, #{memberId}, #{email}, #{title}, #{content}, #{emailReceiveYn},'N', 'Y', current_timestamp)-->
<!--    </insert>-->






<!--    <insert id="insertQna" parameterType="com.hanwha.robotics.user.dto.QnaRequest">-->
<!--        INSERT INTO-->
<!--            tb_qna (member_no, member_id, email, email_receive_yn, title, content, qna_type1_cd, qna_type2_cd, end_status, exposure_status, create_dt)-->
<!--        VALUES-->
<!--            (#{memberNo}, #{memberId}, #{email}, #{emailReceiveYn}, #{title}, #{content}, #{qnaType1Cd}, #{qnaType2Cd}, 'N', 'Y', current_timestamp)-->
<!--        <selectKey keyProperty="qnaNo" resultType="int" order="AFTER">-->
<!--            SELECT LAST_INSERT_ID() AS qnaNo-->
<!--        </selectKey>-->
<!--    </insert>-->




    <insert id="insertQna" parameterType="com.hanwha.robotics.user.entity.Qna">
        INSERT INTO
        tb_qna (member_no, member_id, email, email_receive_yn, title, content, qna_type1_cd, qna_type2_cd, end_status, exposure_status, create_dt)
        VALUES
        (#{memberNo}, #{memberId}, #{email}, #{emailReceiveYn}, #{title}, #{content}, #{qnaType1Cd}, #{qnaType2Cd}, 'N', 'Y', current_timestamp)
        <selectKey keyProperty="qnaNo" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID() AS qnaNo
        </selectKey>
    </insert>





    <!--    <select id="selectQnaByQnaNo" parameterType="int" resultType="com.hanwha.robotics.user.dto.QnaResponse">-->
    <!--        SELECT-->
    <!--            *-->
    <!--        FROM tb_qna-->
    <!--        WHERE-->
    <!--            qna_no = #{qnaNO}-->
    <!--    </select>-->


    <select id="selectPrevQna" parameterType="int" resultType="com.hanwha.robotics.user.dto.QnaResponse">
        SELECT
            qna_no,
            title
        FROM tb_qna
        WHERE qna_no &lt; #{qnaNo}
        ORDER BY qna_no DESC
            LIMIT 1
    </select>

    <select id="selectNextQna" parameterType="int" resultType="com.hanwha.robotics.user.dto.QnaResponse">
        SELECT
            qna_no,
            title
        FROM tb_qna
        WHERE qna_no &gt; #{qnaNo}
        ORDER BY qna_no ASC
            LIMIT 1
    </select>


<!--    <select id="findPrevQna" parameterType="int" resultType="int">-->
<!--        SELECT-->
<!--            qna_no-->
<!--        FROM tb_qna-->
<!--        WHERE qna_no &lt; #{qnaNo}-->
<!--        ORDER BY qna_no DESC-->
<!--            LIMIT 1-->
<!--    </select>-->

<!--    <select id="findNextQna" parameterType="int" resultType="int">-->
<!--        SELECT-->
<!--            qna_no-->
<!--        FROM tb_qna-->
<!--        WHERE qna_no &gt; #{qnaNo}-->
<!--        ORDER BY qna_no ASC-->
<!--            LIMIT 1-->
<!--    </select>-->



    <insert id="insertQnaRobot" parameterType="com.hanwha.robotics.user.entity.QnaRobot">
        INSERT INTO
            tb_qna_robot (qna_no, model_cd, serial_no, sw_version, application_cd)
        VALUES
            (#{qnaNo}, #{modelCd}, #{serialNo}, #{swVersion}, #{applicationCd})
    </insert>









</mapper>
