<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanwha.robotics.user.mapper.QnaMapper">

    <select id="countQnaList" parameterType="hashMap" resultType="int">
        SELECT count(*)
        FROM tb_qna
        <where>
            <if test="page.keyword != null and page.keyword != ''">
                title LIKE CONCAT('%', #{page.keyword}, '%') OR content LIKE CONCAT('%', #{page.keyword}, '%')
            </if>
        </where>
    </select>


    <select id="selectQnaList" parameterType="hashMap" resultType="com.hanwha.robotics.user.dto.QnaResponse">
        SELECT
            q.qna_no,
            q.member_no,
            q.title,
            q.content,
            q.end_status,
            q.exposure_status,
            q.fixed_status,
            q.create_dt,
        CASE WHEN m.member_id IS NOT NULL THEN m.member_id ELSE '*****' END AS member_id
        FROM tb_qna q
        LEFT JOIN tb_member m ON q.member_no = m.member_no

        <where>
            <if test="page.keyword != null and page.keyword != ''">
                title LIKE CONCAT('%', #{page.keyword}, '%') OR content LIKE CONCAT('%', #{page.keyword}, '%')
            </if>
        </where>

--         ORDER BY q.create_dt desc
        ORDER BY
            CASE WHEN q.fixed_status = 'Y' THEN 0 ELSE 1 END,
            q.create_dt DESC

        LIMIT #{page.size}
        OFFSET #{page.offset}
    </select>

    <!-- Q&A 상세 -->
    <select id="selectByQnaNo" parameterType="int" resultType="com.hanwha.robotics.user.dto.QnaResponse">
        SELECT
            q.qna_no,
            q.member_no,
            q.member_id,
            q.title,
            q.content,
            c1.description as qna_type1_nm,
            c2.description as qna_type2_nm,
            q.end_status,
            q.exposure_status,
            q.fixed_status,
            q.create_dt
        FROM tb_qna q
        LEFT JOIN tb_code c1 ON q.qna_type1_cd = c1.code
        LEFT JOIN tb_code c2 ON q.qna_type2_cd = c2.code
        WHERE qna_no = #{qnaNo}
    </select>




    <!-- Q&A 상세2 (수정) -->
    <select id="selectQnaByQnaNo" parameterType="int" resultType="com.hanwha.robotics.user.entity.Qna">
        SELECT
            *
        FROM tb_qna
        WHERE qna_no = #{qnaNo}
    </select>



    <!-- Q&A 상세 - 문의제품 -->
    <select id="selectRobotByQnaNo" parameterType="int" resultType="com.hanwha.robotics.user.entity.QnaRobot">
        SELECT
            r.qna_robot_no,
            r.qna_no,
            r.model_cd,
--             r.serial_no,
            r.sw_version,
            c.description as application_cd
        FROM tb_qna_robot r
        LEFT JOIN tb_code c ON r.application_cd = c.code
        WHERE qna_no = #{qnaNo}
    </select>



    <!-- Q&A 수정 - 문의제품 -->
    <select id="selectEditRobotByQnaNo" parameterType="int" resultType="com.hanwha.robotics.user.entity.QnaRobot">
        SELECT
            r.qna_robot_no,
            r.qna_no,
            r.model_cd,
            r.serial_no,
            r.sw_version,
            c.description as application_cd
        FROM tb_qna_robot r
                 LEFT JOIN tb_code c ON r.application_cd = c.code
        WHERE qna_no = #{qnaNo}
    </select>




    <!-- FIXME: 이전글 다음글 한 쿼리로? -->
    <!-- Q&A 상세 - 이전글 -->
    <select id="selectPrevQna" parameterType="int" resultType="com.hanwha.robotics.user.dto.QnaResponse">
        SELECT
            qna_no,
            title,
            exposure_status
        FROM tb_qna
        WHERE qna_no &lt; #{qnaNo}
        ORDER BY qna_no DESC
            LIMIT 1
    </select>

    <!-- Q&A 상세 - 다음글 -->
    <select id="selectNextQna" parameterType="int" resultType="com.hanwha.robotics.user.dto.QnaResponse">
        SELECT
            qna_no,
            title,
            exposure_status
        FROM tb_qna
        WHERE qna_no &gt; #{qnaNo}
        ORDER BY qna_no ASC
            LIMIT 1
    </select>



    <!-- Q&A 등록 -->
    <insert id="insertQna" parameterType="com.hanwha.robotics.user.entity.Qna">
        INSERT INTO
        tb_qna (member_no, member_id, email, email_receive_yn, title, content, qna_type1_cd, qna_type2_cd, end_status, exposure_status, create_dt)
        VALUES
        (#{memberNo}, #{memberId}, #{email}, #{emailReceiveYn}, #{title}, #{content}, #{qnaType1Cd}, #{qnaType2Cd}, 'N', 'Y', current_timestamp)
        <selectKey keyProperty="qnaNo" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID() AS qnaNo
        </selectKey>
    </insert>

    <!-- Q&A 등록 - 로봇 모델명 insert -->
    <insert id="insertQnaRobot" parameterType="com.hanwha.robotics.user.entity.QnaRobot">
        INSERT INTO
            tb_qna_robot (qna_no, model_cd, serial_no, sw_version, application_cd)
        VALUES
            (#{qnaNo}, #{modelCd}, #{serialNo}, #{swVersion}, #{applicationCd})
    </insert>


    <!-- Q&A 수정 -->
    <update id="updateQna" parameterType="com.hanwha.robotics.user.dto.QnaRequest">
        UPDATE tb_qna
        SET
            email = #{email},
            email_receive_yn = #{emailReceiveYn},
            title = #{title},
            content = #{content},
            qna_type1_cd = #{qnaType1Cd},
            qna_type2_cd = #{qnaType2Cd},
            update_dt = current_timestamp
        WHERE qna_no = #{qnaNo}
    </update>


    <delete id="deleteRobotByQnaNo" parameterType="int">
        DELETE FROM tb_qna_robot
        WHERE qna_no = #{qnaNo}
    </delete>



    <!-- Q&A 삭제 -->
    <delete id="deleteQna" parameterType="int">
        DELETE FROM tb_qna
        WHERE qna_no = #{qnaNo}
    </delete>

    <delete id="deleteQnaRobotByQnaNo" parameterType="int">
        DELETE FROM tb_qna_robot
        WHERE qna_no = #{qnaNo}
    </delete>









</mapper>
