<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanwha.robotics.user.mapper.QnaReplyMapper">

    <insert id="insertQnaReply" parameterType="com.hanwha.robotics.user.dto.QnaReplyRequest">
        INSERT INTO
            tb_qna_reply (qna_no, reply_content, reply_type, create_dt)
        VALUES
            (#{qnaNo}, #{replyContent}, 'USER', current_timestamp)
    </insert>

    <select id="selectByQnaNo" parameterType="int" resultType="com.hanwha.robotics.user.dto.QnaReplyResponse">
        SELECT *
        FROM tb_qna_reply
        WHERE qna_no = #{qnaNo}
        ORDER BY create_dt
    </select>





</mapper>