<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanwha.robotics.user.mapper.QnaReplyMapper">

    <insert id="insertQnaReply" parameterType="com.hanwha.robotics.user.dto.QnaReplyRequest">
        INSERT INTO
            tb_qna_reply (qna_no, reply_content, reply_type, create_date)
        VALUES
            (#{qnaNo}, #{replyContent}, 'USER', current_timestamp)
    </insert>

    <select id="selectByQnaNo" parameterType="int" resultType="com.hanwha.robotics.user.dto.QnaReplyResponse">
        SELECT
            r.reply_no,
            r.qna_no,
            r.admin_id,
            r.reply_content,
            r.reply_type,
            r.create_date,
            q.member_id
        FROM tb_qna_reply r
        LEFT JOIN tb_qna q on r.qna_no = q.qna_no
        WHERE r.qna_no = #{qnaNo}
        ORDER BY create_date
    </select>





</mapper>