<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanwha.robotics.user.mapper.UploadFileMapper">


    <insert id="saveFile" parameterType="list">
        INSERT INTO tb_qna_file
            (qna_no, original_file_nm, file_nm, type_cd, create_dt, file_path)
        VALUES
        <foreach item="file" collection="list" separator=",">
            (
            #{file.qnaNo}
            , #{file.originalFileNm}
            , #{file.fileNm}
            , #{file.typeCd}
            , CURRENT_TIMESTAMP
            , #{file.filePath}
            )
        </foreach>
    </insert>

    <select id="selectByQnaNo" parameterType="int" resultType="com.hanwha.robotics.user.entity.UploadFile">
        SELECT *
        FROM tb_qna_file
        WHERE qna_no = #{qnaNo}
    </select>

    <select id="selectByIds" parameterType="list" resultType="com.hanwha.robotics.user.entity.UploadFile">
        SELECT *
        FROM tb_qna_file
        WHERE file_no = #{deleteFileIds}
    </select>

<!--    <delete id="deleteByIds" parameterType="int">-->
<!--        DELETE FROM tb_qna_file-->
<!--        WHERE file_no = #{deleteFileIds}-->
<!--    </delete>-->

    <delete id="deleteByIds" parameterType="java.util.List">
        DELETE FROM tb_qna_file
        WHERE file_no IN
        <foreach collection="list" item="deleteFileIds" open="(" separator="," close=")">
            #{deleteFileIds}
        </foreach>
    </delete>






</mapper>